/*section:nth-of-type(1) .container.container-slider, section .container.container-slider {
  width: 90%!important;
  max-width: 90%!important
}


.slick-list.draggable {
  margin: 6px 0px;
}*/
.home-products-section.section-padding-space[section-id="87313f8f-58e5-413d-9d5d-ad6e87c7ecc3"]:before {
    content: '';
    background: url(https://media.zid.store/35cc7795-8826-46e9-854b-974334c4ac8f/dbb20f5a-6183-48fb-9655-1ada8d3cba9b.svg);
    background-repeat-y: no-repeat;
    background-position-x: 0;
    animation: scrollBrands 500s linear alternate both infinite;
    background-size: contain;
    background-size: cover;
    height: 50px;
    /* width: 32rem; */
    display: block;
    background-color: #222;
    background-position: center;
}

@keyframes scrollBrands {
    0% {
        background-position-x: 0px;
    }

    50% {
        background-position-x: 50000px;
    }

    100% {
        background-position-x: 0px;
    }
}

@media (max-width: 767px) {
    .home-products-section.section-padding-space[section-id="87313f8f-58e5-413d-9d5d-ad6e87c7ecc3"]:before {
        background-size: 386%;
        height: 59px;
        background-position: center;
    }
}

@media (min-width: 767px) {
    .home-categories-section.section-padding-space[section-id="a767ef2c-b658-4f65-b4cb-ebb316277130"] .slick-track {
        display: grid !important;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        transform: none !important;
        position: static !important;
        width: 100% !important;    justify-items: start;
    }

    .home-categories-section.section-padding-space[section-id="a767ef2c-b658-4f65-b4cb-ebb316277130"] div:before {
        display: none;
    }

    .home-categories-section.section-padding-space[section-id="a767ef2c-b658-4f65-b4cb-ebb316277130"] span.icon-keyboard_arrow_right, .home-categories-section.section-padding-space[section-id="a767ef2c-b658-4f65-b4cb-ebb316277130"] span.icon-keyboard_arrow_left {
        display: none;
    }
}

/* .categories-slider .category-item a img {
    content: url(https://media.zid.store/35cc7795-8826-46e9-854b-974334c4ac8f/bcf42991-9ebd-469d-9c3f-a5eb4fb76088.png);
     
} */
@media (min-width: 767px) {
    .category-page-slider .products-slider .prod-col, .categories-slider .cat-col {
        padding: 0;
    }

    .categories-slider .category-item {
        width: 100%;
        max-width: unset;
    }

    .categories-slider .category-item a img:hover {
        border: 1px solid #036fa4;
        box-shadow: 0 4px 20px 0 rgba(65, 64, 66, .12);
    }
}

.home-categories-section[section-id="a767ef2c-b658-4f65-b4cb-ebb316277130"] .categories-slider .category-item a h3 {
    display: none;
}

img[src*="https://media.zid.store/cdn-cgi/image/w=400,q=100,f=auto/https://media.zid.store/35cc7795-8826-46e9-854b-974334c4ac8f/d9cd3a69-657b-4111-895d-da7ff9bb75dd.jpg"] {
    content: url(https://media.zid.store/35cc7795-8826-46e9-854b-974334c4ac8f/bcf42991-9ebd-469d-9c3f-a5eb4fb76088.png);
}

img[src*="https://media.zid.store/cdn-cgi/image/w=400,q=100,f=auto/https://media.zid.store/35cc7795-8826-46e9-854b-974334c4ac8f/2bf9f46c-bee1-47e7-839b-bf4c680e0c3f.jpg"] {
    content: url(https://media.zid.store/35cc7795-8826-46e9-854b-974334c4ac8f/5ef0b403-2f8f-417b-84de-40fc1452e850.png);
}

img[src*="https://media.zid.store/cdn-cgi/image/w=400,q=100,f=auto/https://media.zid.store/35cc7795-8826-46e9-854b-974334c4ac8f/0965a1bb-0536-4562-9a25-cb13502b6683.jpg"] {
    content: url(https://media.zid.store/35cc7795-8826-46e9-854b-974334c4ac8f/59a59f21-88dd-40ce-82dc-c944fe045792.png);
}

img[src*="https://media.zid.store/cdn-cgi/image/w=400,q=100,f=auto/https://media.zid.store/35cc7795-8826-46e9-854b-974334c4ac8f/847d4404-062d-4cdf-aa73-273621292290.jpg"] {
    content: url(https://media.zid.store/35cc7795-8826-46e9-854b-974334c4ac8f/70d9cd27-3e2d-4ceb-b3d9-b5c178565850.png);
}

img[src*="https://media.zid.store/cdn-cgi/image/w=400,q=100,f=auto/https://media.zid.store/35cc7795-8826-46e9-854b-974334c4ac8f/92a909fd-393c-41d2-8d0f-4877cf65fa9d.jpg"] {
    content: url(https://media.zid.store/35cc7795-8826-46e9-854b-974334c4ac8f/af85539f-78e7-4964-a952-d487317ea9e2.png);
}

img[src*="https://media.zid.store/cdn-cgi/image/w=400,q=100,f=auto/https://media.zid.store/35cc7795-8826-46e9-854b-974334c4ac8f/099db46e-5565-4f3a-8dde-1f91289c0334.jpg"] {
    content: url(https://media.zid.store/35cc7795-8826-46e9-854b-974334c4ac8f/ea8342f1-96dc-4408-926c-0d630d147d3b.png);
}

img[src*="https://media.zid.store/cdn-cgi/image/w=400,q=100,f=auto/https://media.zid.store/35cc7795-8826-46e9-854b-974334c4ac8f/91f486e3-ad41-40eb-b011-842304644505.png"] {
    content: url(https://media.zid.store/35cc7795-8826-46e9-854b-974334c4ac8f/480b010d-c235-4d5b-bd35-d7966120bde3.png);
}

img[src*="https://media.zid.store/cdn-cgi/image/w=400,q=100,f=auto/https://media.zid.store/35cc7795-8826-46e9-854b-974334c4ac8f/592ea90d-3788-48f4-80e8-37e59e4688e3.jpg"] {
    content: url(https://media.zid.store/35cc7795-8826-46e9-854b-974334c4ac8f/0f00c212-dc8b-4727-aef6-a1c63af0b114.png);
}

img[src*="https://media.zid.store/cdn-cgi/image/w=400,q=100,f=auto/https://media.zid.store/35cc7795-8826-46e9-854b-974334c4ac8f/8b9c92e5-fc9d-4727-b011-f9f8ccadee00.jpg"] {
    content: url(https://media.zid.store/35cc7795-8826-46e9-854b-974334c4ac8f/d479b68b-8096-4498-b836-0493e6b012d6.png);
}

img[src*="https://media.zid.store/cdn-cgi/image/w=400,q=100,f=auto/https://media.zid.store/35cc7795-8826-46e9-854b-974334c4ac8f/f211d332-84d6-4d2b-b1b1-c7a2a2885e90.jpg"] {
    content: url(https://media.zid.store/35cc7795-8826-46e9-854b-974334c4ac8f/95a71faa-a43c-4e30-b65f-85c83ff0c380.png);
}

img[src*="https://media.zid.store/cdn-cgi/image/w=400,q=100,f=auto/https://media.zid.store/35cc7795-8826-46e9-854b-974334c4ac8f/217af13e-c8e3-46ac-8a7b-41aea61a138b.jpg"] {
    content: url(https://media.zid.store/35cc7795-8826-46e9-854b-974334c4ac8f/4fb37fcf-8ac5-471e-9ec3-33a3c7cbe95d.png);
}

img[src*="https://media.zid.store/cdn-cgi/image/w=400,q=100,f=auto/https://media.zid.store/35cc7795-8826-46e9-854b-974334c4ac8f/0a01edf5-0e1c-440c-bbf1-7db4c77a79eb.jpg"] {
    content: url(https://media.zid.store/35cc7795-8826-46e9-854b-974334c4ac8f/fb14f363-2067-4f11-a55a-eb896941533b.png);
}

img[src*="https://media.zid.store/cdn-cgi/image/w=400,q=100,f=auto/https://media.zid.store/35cc7795-8826-46e9-854b-974334c4ac8f/e1d7b8a3-fd93-4a13-b2c6-6cf8b453c437.jpg"] {
    content: url(https://media.zid.store/cdn-cgi/image/w=400,q=100,f=auto/https://media.zid.store/35cc7795-8826-46e9-854b-974334c4ac8f/91f486e3-ad41-40eb-b011-842304644505.png);
}

img[src*="https://media.zid.store/cdn-cgi/image/w=400,q=100,f=auto/https://media.zid.store/35cc7795-8826-46e9-854b-974334c4ac8f/ed8d627c-bd91-479b-81c5-b9d3adba54a2.jpg"] {
    content: url(https://media.zid.store/cdn-cgi/image/w=400,q=100,f=auto/https://media.zid.store/35cc7795-8826-46e9-854b-974334c4ac8f/a2eafeca-ec79-4362-b860-0e4473afe255.png);
}

img[src*="https://media.zid.store/cdn-cgi/image/w=400,q=100,f=auto/https://media.zid.store/35cc7795-8826-46e9-854b-974334c4ac8f/05e2b8a5-0ec1-4c5c-8291-a29c62ea9938.jpg"] {
    content: url(https://media.zid.store/cdn-cgi/image/w=400,q=100,f=auto/https://media.zid.store/35cc7795-8826-46e9-854b-974334c4ac8f/667df9a6-5538-4d98-a511-e44a399108f3.png);
}
 

img[src*="https://media.zid.store/cdn-cgi/image/w=400,q=100,f=auto/https://media.zid.store/35cc7795-8826-46e9-854b-974334c4ac8f/fe2a707b-3e80-41b9-b5e4-b0f912b972b8.png"] {
    content: url(https://media.zid.store/cdn-cgi/image/w=400,q=100,f=auto/https://media.zid.store/35cc7795-8826-46e9-854b-974334c4ac8f/848608f5-6f2a-448c-857d-dc72055528e8.png);
}

img[src*=""] {
    content: url();
}

img[src*=""] {
    content: url();
}
