@media only screen and (max-width: 992px) {
    .main {
        margin-top:20px
    }

    .main-container, .main-container-row {
        padding-left: 2.5px;
        padding-right: 2.5px
    }
}

.main {
    margin-bottom: 20px
}

@media only screen and (max-width: 992px) {
    [dir=rtl] .footer .top-area .footer-links {
        margin-right:50px;
        margin-left: 0px
    }
}

.main>div:first-child {
    margin-top: 1.5rem!important;
    margin-bottom: unset!important
}

@keyframes breath {
    0% {
        background-size: 140%auto
    }

    100% {
        background-size: 100%auto
    }
}

.slider-container.noselect .slide {
    border-radius: unset;
    animation: breath 5s ease;
    animation-delay: 1s;
    background-size: 100%auto!important
}

header .logo-center a {
    display: block;
    content: "";
    width: 120px!important;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat!important;
    background-position: center!important;
    background: var(--logo);
    margin: auto
}

header .logo-center a img {
    display: none !important;
}

.header .header-mobile-search>button {
    padding: unset!important
}

.header .header-mobile-search>button>svg>path, div.product-categories {
    display: none
}

.product-name-price .product-title a {
    display: block
}

.header .header-cart path {
    display: none
}

.header .header-cart svg {
    display: block;
    content: "";
    width: 20px!important;
    height: 20px;
    background-size: contain!important;
    background-repeat: no-repeat!important;
    background-position: center!important;
    background: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 166.63 210'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23284553; stroke-width: 0px; %7D %3C/style%3E%3C/defs%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1-2'%3E%3Cg id='Layer_2-2' data-name='Layer 2-2'%3E%3Cpath class='cls-1' d='m83.3,117.7c-20,0-37.3-14.1-41.2-33.7-.5-3.9,2.2-7.4,6.1-8,3.7-.5,7.2,2,7.9,5.7,3.2,15.1,18,24.9,33.2,21.7,10.9-2.3,19.4-10.8,21.7-21.7.6-3.9,4.2-6.5,8.1-5.9,3.9.7,6.5,4.2,5.9,8.1-4.1,19.9-21.6,34-41.7,33.8Z'/%3E%3Cpath class='cls-1' d='m145.6,210H21c-11.6,0-21-9.4-21-21h0v-1.1l5.6-120.6c.5-11.2,9.8-20.1,21-20.1h113.3c11.2,0,20.5,8.8,21,20.1l5.7,120.7c.6,11.6-8.4,21.4-19.9,22h-1.1ZM26.6,61.2c-3.9,0-7,3.2-7,7l-5.7,120.4c-.2,3.9,2.8,7.1,6.7,7.4h125c3.9,0,7-3.2,7-7v-.4l-5.7-120.6c0-3.9-3.2-7-7-7l-113.3.2Z'/%3E%3Cpath class='cls-1' d='m125.3,54.2h-14v-12.2c0-15.4-12.6-28-28-28s-28,12.6-28,28v12.3h-14v-12.3C41.3,18.8,60.1,0,83.3,0s42,18.8,42,42v12.2Z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.header .header-cart .badge {
    border-radius: 50%;
    width: 20px!important;
    height: 20px!important;
    background-color: var(--1) !important;
    color: #fff;
    padding: unset!important;
}

header.sticky {
    opacity: .97
}

.slider-container.noselect .slide {
    border-radius: unset;
    animation: breath 5s ease;
    animation-delay: 1s;
    background-size: 100%auto!important
}

.video-container {
    margin-top: 2rem
}

.products-section {
    margin-top: 2rem!important;
    margin-bottom: unset!important
}

.section-title {
    margin: 1rem 1rem 2rem!important
}

.mobile-bottom-menu button:hover, .mobile-bottom-menu a:hover {
    background-color: #fff!important
}

.products-catalog-home {
    display: flex!important;
    justify-content: start!important;
    gap: 15px!important;
    overflow-x: auto;
    overflow-y: hidden
}

.products-catalog-home .product-wrapper, .products-catalog-home .product-wrapper img {
    max-width: 150px;
    min-width: 150px
}

.product-image-btns .product-quickview svg path {
    display: none
}

.product-image-btns .product-quickview svg {
    display: block;
    content: "";
    width: 20px!important;
    height: 20px;
    background-size: contain!important;
    background-repeat: no-repeat!important;
    background-position: center!important;
    background: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 273.05 256.93'%3E%3Cdefs%3E%3Cstyle%3E .cls-1, .cls-2 %7B fill: %23fff; %7D .cls-3 %7B clip-path: url(%23clippath-2); %7D .cls-4 %7B clip-path: url(%23clippath-1); %7D .cls-2 %7B stroke-width: 0px; %7D .cls-5 %7B clip-path: url(%23clippath); %7D .cls-6 %7B clip-path: url(%23clippath-3); %7D %3C/style%3E%3CclipPath id='clippath'%3E%3Crect class='cls-2' x='238.04' y='70.49' width='34.42' height='130.77'/%3E%3C/clipPath%3E%3CclipPath id='clippath-1'%3E%3Crect class='cls-2' x='75.36' y='71.92' width='34.42' height='130.77'/%3E%3C/clipPath%3E%3CclipPath id='clippath-2'%3E%3Crect class='cls-2' x='238.63' y='68.76' width='34.42' height='130.77'/%3E%3C/clipPath%3E%3CclipPath id='clippath-3'%3E%3Crect class='cls-2' x='75.95' y='70.19' width='34.42' height='130.77'/%3E%3C/clipPath%3E%3C/defs%3E%3Cpath class='cls-2' d='m190.6,236.86c-2,2.42-5.02,3.83-8.23,3.83h-94.74c-3.2,0-6.23-1.41-8.23-3.83l-59.07-71.65c-2-2.42-2.74-5.59-2.03-8.61l21.08-89.34c.71-3.02,2.81-5.56,5.69-6.9l85.36-39.76c2.88-1.34,6.25-1.34,9.13,0l26.61,12.39h38.7L140.27,2.89c-3.33-1.55-7.21-1.55-10.54,0L31.21,48.79c-3.33,1.55-5.75,4.48-6.57,7.97L.3,159.88c-.82,3.49.04,7.14,2.35,9.94l68.18,82.7c2.3,2.79,5.8,4.42,9.49,4.42h109.35c3.7,0,7.19-1.63,9.49-4.42l23.01-27.91h-21.48l-10.11,12.26Z'/%3E%3Cg%3E%3Crect class='cls-1' x='238.04' y='70.49' width='34.42' height='130.77'/%3E%3Cg class='cls-5'%3E%3Crect class='cls-2' x='77.57' y='70.49' width='194.88' height='130.95'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Crect class='cls-1' x='75.36' y='71.92' width='34.42' height='130.77'/%3E%3Cg class='cls-4'%3E%3Crect class='cls-2' x='74.99' y='71.56' width='194.88' height='130.95'/%3E%3C/g%3E%3C/g%3E%3Cpolygon class='cls-2' points='237.55 71.44 128.45 176.97 131.18 202.45 215.29 202.93 237.55 71.44'/%3E%3Cpolygon class='cls-2' points='109.77 71.92 131.18 202.45 215.29 202.93 219.47 182.47 109.77 71.92'/%3E%3Cpath class='cls-2' d='m191.2,235.13c-2,2.42-5.02,3.83-8.23,3.83h-94.74c-3.2,0-6.23-1.41-8.23-3.83l-59.07-71.65c-2-2.42-2.74-5.59-2.03-8.61l21.08-89.34c.71-3.02,2.81-5.56,5.69-6.9l85.36-39.76c2.88-1.34,6.25-1.34,9.13,0l26.61,12.39h38.7L140.87,1.16c-3.33-1.55-7.21-1.55-10.54,0L31.81,47.06c-3.33,1.55-5.75,4.48-6.57,7.97L.9,158.15c-.82,3.49.04,7.14,2.35,9.94l68.18,82.7c2.3,2.79,5.8,4.42,9.49,4.42h109.35c3.7,0,7.19-1.63,9.49-4.42l23.01-27.91h-21.48l-10.11,12.26Z'/%3E%3Cg%3E%3Crect class='cls-1' x='238.63' y='68.76' width='34.42' height='130.77'/%3E%3Cg class='cls-3'%3E%3Crect class='cls-2' x='78.17' y='68.76' width='194.88' height='130.95'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Crect class='cls-1' x='75.95' y='70.19' width='34.42' height='130.77'/%3E%3Cg class='cls-6'%3E%3Crect class='cls-2' x='75.59' y='69.83' width='194.88' height='130.95'/%3E%3C/g%3E%3C/g%3E%3Cpolygon class='cls-2' points='238.14 69.71 129.04 175.24 131.78 200.72 215.89 201.2 238.14 69.71'/%3E%3Cpolygon class='cls-2' points='110.37 70.19 131.78 200.72 215.89 201.2 220.07 180.74 110.37 70.19'/%3E%3C/svg%3E");
}

.product-image-btns .add-to-cart-sm svg path {
    display: none
}

.product-image-btns .add-to-cart-sm svg {
    display: block;
    content: "";
    width: 20px!important;
    height: 20px;
    background-size: contain!important;
    background-repeat: no-repeat!important;
    background-position: center!important;
    background: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 166.63 210'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23fff; stroke-width: 0px; %7D %3C/style%3E%3C/defs%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1-2'%3E%3Cg id='Layer_2-2' data-name='Layer 2-2'%3E%3Cpath class='cls-1' d='m83.3,117.7c-20,0-37.3-14.1-41.2-33.7-.5-3.9,2.2-7.4,6.1-8,3.7-.5,7.2,2,7.9,5.7,3.2,15.1,18,24.9,33.2,21.7,10.9-2.3,19.4-10.8,21.7-21.7.6-3.9,4.2-6.5,8.1-5.9,3.9.7,6.5,4.2,5.9,8.1-4.1,19.9-21.6,34-41.7,33.8Z'/%3E%3Cpath class='cls-1' d='m145.6,210H21c-11.6,0-21-9.4-21-21h0v-1.1l5.6-120.6c.5-11.2,9.8-20.1,21-20.1h113.3c11.2,0,20.5,8.8,21,20.1l5.7,120.7c.6,11.6-8.4,21.4-19.9,22h-1.1ZM26.6,61.2c-3.9,0-7,3.2-7,7l-5.7,120.4c-.2,3.9,2.8,7.1,6.7,7.4h125c3.9,0,7-3.2,7-7v-.4l-5.7-120.6c0-3.9-3.2-7-7-7l-113.3.2Z'/%3E%3Cpath class='cls-1' d='m125.3,54.2h-14v-12.2c0-15.4-12.6-28-28-28s-28,12.6-28,28v12.3h-14v-12.3C41.3,18.8,60.1,0,83.3,0s42,18.8,42,42v12.2Z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.product-item .product-categories * {
    color: #000;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: -.01em;
    margin-bottom: .3rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 1.2rem
}

.product-quickview-modal>.product-quickview-imgslider {
    margin: unset!important
}

.product-quickview-modal>.product-quickview-imgslider img {
    max-width: 200px;
    min-width: 200px
}

.product-pg .product-slider__thumbnails-slider {
    margin-top: unset!important;
    gap: 20px;
    max-width: 100%
}

.product-pg .product-slider__thumbnails img {
    min-width: 80px;
    max-width: 80px;
    min-height: 80px;
    max-height: 80px
}

.products-section .text-center {
    margin: unset!important
}

.products-section .c-btn-more {
    font-size: 1.2rem;
    padding: .5rem 2rem 1rem
}

.categories-section {
    margin-top: 2rem!important;
    margin-bottom: unset!important
}

.category-home-card {
    width: 100%;
    min-height: unset;
    position: relative
}

.name-wrapper {
    position: absolute;
    bottom: 0
}

.name-wrapper>.flip-icon.mx-4 * {
    display: none!important
}

.name-wrapper>.name {
    color: #fff;
    font-size: 3.5rem!important;
    font-weight: 700;
    text-align: center!important;
    width: 100%;
    line-height: 3;
    z-index: 9;
    bottom: 65px!important;
    position: absolute
}

.category-home-card .img-wrapper img {
    min-height: auto;
    min-width: auto
}

.name-wrapper>.mx-4 {
    height: 200px;
    width: 0%;
    background: linear-gradient(to bottom,#000,transparent)!important;
    opacity: .7;
    position: absolute;
    bottom: 0;
    z-index: 0
}

:lang(en) .name-wrapper>.mx-4 {
    height: 240px;
    width: 0%;
    background: linear-gradient(to top,#000,transparent)!important;
    opacity: .7;
    position: absolute;
    bottom: 0;
    z-index: 0
}

[dir=ltr] .category-home-card .name-wrapper svg {
    display: none!important
}

.name-wrapper:hover>.mx-4 {
    background: 0 0!important
}

.category-home-card:hover img {
    transform: unset
}

.categories-catalog {
    gap: 10px;
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center
}

.category-home-card>.name-wrapper {
    width: 100%;
    flex-direction: column
}

.gallery-container {
    margin-top: 2rem!important;
    margin-bottom: unset!important
}

.gallery-low-bottom {
    margin-top: unset
}

.gallery .flex-wrap {
    flex-direction: row-reverse!important;
    flex-wrap: nowrap!important;
    gap: 10px
}

.gallery-group {
    margin-top: unset;
    gap: 10px
}

.gallery-group div:first-child {
    flex-grow: unset!important
}

.gallery-low-bottom div:last-child {
    margin-top: unset
}

.gallery-title {
    font-size: 2rem
}

.gallery-btn-md, .btn-border-bottom {
    min-width: 7rem
}

.features-container {
    margin-top: 2rem!important;
    margin-bottom: unset!important
}

.features-container>div {
    margin-top: 2rem!important;
    margin-bottom: unset!important
}

.features-container .mt-4 {
    color: #000!important;
    font-weight: 700
}

.instagram-container {
    margin-top: 2rem!important;
    margin-bottom: unset!important
}

.instagram .line {
    margin: unset!important
}

.instagram-gallery {
    flex-wrap: wrap;
    overflow: hidden;
    width: 100%;
    gap: 5px;
    justify-content: center!important
}

.instagram-gallery .instagram-image {
    margin: unset;
    flex: 0 0 30.33333%
}

.instagram-gallery .instagram-image>a>img {
    width: 100%;
    height: 100%
}

.testimonial-section {
    margin-top: 2rem!important;
    margin-bottom: unset!important;
    padding: unset!important
}

.card-body.testimonial-card>svg {
    display: none
}

.card-body.testimonial-card>p:before {
    display: block;
    content: "";
    width: 70px!important;
    height: 60px;
    background-size: contain;
    background-repeat: no-repeat!important;
    background-position: center!important;
    background: var(--logo);
    margin: auto auto 1rem
}

.footer-wrapper>.top-area>.footer__col--newsletter>.footer__title {
    display: none
}

.footer-wrapper>.top-area>.footer__col--newsletter:before {
    display: block;
    content: "";
    width: 140px!important;
    height: 100px;
    background-size: contain!important;
    background-repeat: no-repeat!important;
    background-position: center!important;
    background: var(--logo);
    margin: auto
}

.footer-wrapper>.top-area>.footer__col--newsletter>p {
    text-align: center
}

@keyframes scrollAfterAds {
    0% {
        background-position: 0 100%
    }

    100% {
        background-position: -2146px 100%
    }
}

.footer__social.w-100 {
    margin-top: 10px
}

.footer__list--social {
    justify-content: center;
    margin: unset!important
}

.footer .top-area .footer-links {
    margin-top: 1rem;
    padding-top: unset;
    border-top: unset;
    justify-content: center;
    align-items: center
}

.footer__title {
    font-weight: 700;
    margin-bottom: 1rem;
    text-align: center;
    justify-content: center!important;
    align-items: center!important;
    font-size: 1.7rem
}

.footer__list.w-100 {
    justify-content: center!important;
    align-items: center
}

.footer .bottom-area {
    margin: unset;
    border: unset;
    padding-top: unset
}

.payments-shipping-section, .vat-section {
    min-height: 60px
}

.payments-shipping-icons a>img {
    max-width: 40px;
    object-fit: contain
}

.custom-modal .close-section {
    top: 0;
    background: #fffvar(--logo);
    background-size: 18%!important;
    background-repeat: no-repeat!important;
    background-position: center!important
}

.custom-modal, .filter__side-container {
    bottom: 25px
}

.mobile-bottom-menu button:hover, .mobile-bottom-menu a:hover {
    background-color: #000
}

@media(min-width: 992px) {
    .slider-container.noselect .slide {
        background-size:contain!important
    }

    .products-catalog-home .product-wrapper, .products-catalog-home .product-wrapper img {
        max-width: 250px;
        min-width: 250px
    }

    header .nav .navlink {
        margin-left: 10px
    }

    [dir=rtl] .header-menu ul li:first-child a {
        padding: 1.5rem 1rem 1.1rem
    }

    .subsubmenu-wrapper:hover, .navlink a:hover, a.navlink:hover, button.navlink:hover, .has-submenu-desktop:hover .main-navlink-with-drop {
        filter: unset;
        color: #000
    }

    .category-home-card .img-wrapper img {
        min-height: auto;
        min-width: auto;
        object-fit: contain!important
    }

    .category-home-card:hover img {
        transform: unset
    }

    .categories-catalog {
        display: flex;
        overflow-x: hidden;
        overflow-y: hidden;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center
    }

    .category-home-card {
        width: 24%!important;
        min-height: unset;
    }

    .category-home-card:hover svg {
        transform: unset;
        margin-bottom: unset
    }

    [dir=rtl] .category-home-card .name-wrapper svg {
        margin-top: unset;
        margin-bottom: unset;
        width: 20px;
        height: 22.5px
    }

    .category-home-card>.name-wrapper {
        height: 25px;
        margin-bottom: 0;
        flex-direction: column
    }

    .gallery-high-left {
        margin-right: unset
    }

    .gallery .flex-wrap {
        width: 60%;
        margin: auto
    }

    .instagram-gallery {
        width: 50%;
        margin: auto
    }

    .about_us_desc {
        margin: auto
    }

    [dir=rtl] .footer .top-area .footer-links {
        margin-right: unset;
        margin-left: 0;
        width: 45%
    }

    .footer__col--newsletter {
        width: 55%
    }

    .custom-modal .close-section {
        background-size: 12%!important
    }

    .custom-modal {
        border-radius: 5px;
        position: fixed;
        left: 50%;
        top: 45%;
        transform: translate(-50%,0%);
        width: 600px;
        height: 700px;
        max-height: 700px;
        opacity: 0;
        visibility: hidden;
        transition: all .3s ease;
        z-index: 10000;
        overflow-y: scroll;
        padding: 0 20px 20px
    }

    .product-pg .product-slider__main {
        margin-bottom: 1rem
    }

    .gallery>div>.gallery-group {
        margin-top: unset;
        gap: 10px;
        width: 50%
    }

    .gallery-group div:first-child {
        flex-grow: 1!important
    }

    .name-wrapper>.name {
        line-height: 0
    }
}

@keyframes scrollAfterAds2 {
    0% {
        background-position: 0 50%
    }

    100% {
        background-position: -2146px 50%
    }
}

.sc-1au8ryl-0.dmopMx {
    display: none!important
}

#gb-widget-6673 {
    bottom: 3rem!important
}

.product__img-wrap, .categories-list .category-img-wrapper {
    height: 220px
}
.footer {
     border-top: 6px solid var(--1);
     box-shadow: 0 2px 12px -3px #c8c8c8;
}body > div > main > div.features-container.my-5 > div > div > div > img {
    animation: scale-in-out 1000ms cubic-bezier(0, 1, 1, 1) infinite alternate;
}

@keyframes scale-in-out {
    from {
        transform: scale(0.7);
        opacity: 0.5;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}
.products-catalog-home .product-wrapper:hover  {
    transform: translateY(-10px) !important;
    transition: all .3s ease !important;
} 
.category-home-card:hover  {
    transform: translateY(-10px) !important;
    transition: all .3s ease !important;
}
:root {
    --1: #284553;
    --logo: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 295.52 354.98'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: url(%23linear-gradient); %7D .cls-1, .cls-2, .cls-3, .cls-4, .cls-5, .cls-6, .cls-7, .cls-8, .cls-9, .cls-10, .cls-11, .cls-12 %7B stroke-width: 0px; %7D .cls-2 %7B fill: %2358595b; %7D .cls-13 %7B clip-path: url(%23clippath-2); %7D .cls-3 %7B fill: none; %7D .cls-14 %7B clip-path: url(%23clippath-1); %7D .cls-4 %7B fill: url(%23linear-gradient-2); %7D .cls-5 %7B fill: url(%23radial-gradient-2); %7D .cls-6 %7B fill: url(%23linear-gradient-3); %7D .cls-15 %7B clip-path: url(%23clippath); %7D .cls-7 %7B fill: url(%23radial-gradient-5); %7D .cls-8 %7B fill: url(%23radial-gradient); %7D .cls-16 %7B clip-path: url(%23clippath-3); %7D .cls-9 %7B fill: url(%23radial-gradient-6); %7D .cls-10 %7B fill: url(%23radial-gradient-3); %7D .cls-11 %7B fill: url(%23linear-gradient-4); %7D .cls-12 %7B fill: url(%23radial-gradient-4); %7D %3C/style%3E%3CradialGradient id='radial-gradient' cx='109.29' cy='150.27' fx='52.51' fy='150.27' r='140.31' gradientTransform='translate(43.48 -7.07) scale(.97 .94)' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='.36' stop-color='%23f2f2f3' stop-opacity='.5'/%3E%3Cstop offset='.42' stop-color='%23d6d8dc' stop-opacity='.58'/%3E%3Cstop offset='.7' stop-color='%2368737f' stop-opacity='.89'/%3E%3Cstop offset='.77' stop-color='%23566672' stop-opacity='.92'/%3E%3Cstop offset='.91' stop-color='%23344e5b' stop-opacity='.98'/%3E%3Cstop offset='1' stop-color='%23284553'/%3E%3C/radialGradient%3E%3CclipPath id='clippath'%3E%3Crect class='cls-3' x='249.69' y='70.49' width='34.42' height='130.77'/%3E%3C/clipPath%3E%3CradialGradient id='radial-gradient-2' cx='126' cy='158.15' fx='78.44' fy='158.15' r='117.51' gradientTransform='translate(43.48 -7.07) scale(.97 .94)' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='.7' stop-color='%2368737f' stop-opacity='.89'/%3E%3Cstop offset='.77' stop-color='%23606d7a' stop-opacity='.91'/%3E%3Cstop offset='.87' stop-color='%234c5f6c' stop-opacity='.94'/%3E%3Cstop offset='.99' stop-color='%232c4755' stop-opacity='.99'/%3E%3Cstop offset='1' stop-color='%23284553'/%3E%3C/radialGradient%3E%3CclipPath id='clippath-1'%3E%3Crect class='cls-3' x='87.01' y='71.92' width='34.42' height='130.77'/%3E%3C/clipPath%3E%3CradialGradient id='radial-gradient-3' cx='161.07' cy='159.03' fx='114.53' fy='159.03' r='114.99' gradientTransform='translate(43.48 -7.07) scale(.97 .94)' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='.7' stop-color='%2368737f' stop-opacity='.89'/%3E%3Cstop offset='.77' stop-color='%23566672' stop-opacity='.92'/%3E%3Cstop offset='.91' stop-color='%23344e5b' stop-opacity='.98'/%3E%3Cstop offset='1' stop-color='%23284553'/%3E%3C/radialGradient%3E%3ClinearGradient id='linear-gradient' x1='181.55' y1='192.21' x2='251.74' y2='111.48' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='.25' stop-color='%2368737f' stop-opacity='.89'/%3E%3Cstop offset='.42' stop-color='%23566672' stop-opacity='.92'/%3E%3Cstop offset='.79' stop-color='%23344e5b' stop-opacity='.98'/%3E%3Cstop offset='1' stop-color='%23284553'/%3E%3C/linearGradient%3E%3ClinearGradient id='linear-gradient-2' x1='93.84' y1='212.42' x2='175.35' y2='136.34' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2368737f' stop-opacity='.89'/%3E%3Cstop offset='.25' stop-color='%23606d7a' stop-opacity='.91'/%3E%3Cstop offset='.58' stop-color='%234c5f6c' stop-opacity='.94'/%3E%3Cstop offset='.96' stop-color='%232c4755' stop-opacity='.99'/%3E%3Cstop offset='1' stop-color='%23284553'/%3E%3C/linearGradient%3E%3CradialGradient id='radial-gradient-4' cx='109.9' cy='148.43' fx='53.12' fy='148.43' r='140.31' xlink:href='%23radial-gradient'/%3E%3CclipPath id='clippath-2'%3E%3Crect class='cls-3' x='250.29' y='68.76' width='34.42' height='130.77'/%3E%3C/clipPath%3E%3CradialGradient id='radial-gradient-5' cx='126.61' cy='156.31' fx='79.06' fy='156.31' r='117.51' xlink:href='%23radial-gradient-2'/%3E%3CclipPath id='clippath-3'%3E%3Crect class='cls-3' x='87.61' y='70.19' width='34.42' height='130.77'/%3E%3C/clipPath%3E%3CradialGradient id='radial-gradient-6' cx='161.68' cy='157.18' fx='115.15' fy='157.18' r='114.99' xlink:href='%23radial-gradient-3'/%3E%3ClinearGradient id='linear-gradient-3' x1='182.15' y1='190.48' x2='252.34' y2='109.75' xlink:href='%23linear-gradient'/%3E%3ClinearGradient id='linear-gradient-4' x1='94.44' y1='210.69' x2='175.95' y2='134.61' xlink:href='%23linear-gradient-2'/%3E%3C/defs%3E%3Cg%3E%3Cpath class='cls-8' d='m202.25,236.86c-2,2.42-5.02,3.83-8.23,3.83h-94.74c-3.2,0-6.23-1.41-8.23-3.83l-59.07-71.65c-2-2.42-2.74-5.59-2.03-8.61l21.08-89.34c.71-3.02,2.81-5.56,5.69-6.9l85.36-39.76c2.88-1.34,6.25-1.34,9.13,0l26.61,12.39h38.7L151.92,2.89c-3.33-1.55-7.21-1.55-10.54,0L42.86,48.79c-3.33,1.55-5.75,4.48-6.57,7.97l-24.33,103.12c-.82,3.49.04,7.14,2.35,9.94l68.18,82.7c2.3,2.79,5.8,4.42,9.49,4.42h109.35c3.7,0,7.19-1.63,9.49-4.42l23.01-27.91h-21.48l-10.11,12.26Z'/%3E%3Cg class='cls-15'%3E%3Crect class='cls-5' x='89.23' y='70.49' width='194.88' height='130.95'/%3E%3C/g%3E%3Cg class='cls-14'%3E%3Crect class='cls-10' x='86.64' y='71.56' width='194.88' height='130.95'/%3E%3C/g%3E%3Cpolygon class='cls-1' points='249.2 71.44 140.1 176.97 142.84 202.45 226.94 202.93 249.2 71.44'/%3E%3Cpolygon class='cls-4' points='121.43 71.92 142.84 202.45 226.94 202.93 231.12 182.47 121.43 71.92'/%3E%3Cpath class='cls-12' d='m202.85,235.13c-2,2.42-5.02,3.83-8.23,3.83h-94.74c-3.2,0-6.23-1.41-8.23-3.83l-59.07-71.65c-2-2.42-2.74-5.59-2.03-8.61l21.08-89.34c.71-3.02,2.81-5.56,5.69-6.9l85.36-39.76c2.88-1.34,6.25-1.34,9.13,0l26.61,12.39h38.7L152.52,1.16c-3.33-1.55-7.21-1.55-10.54,0L43.46,47.06c-3.33,1.55-5.75,4.48-6.57,7.97l-24.33,103.12c-.82,3.49.04,7.14,2.35,9.94l68.18,82.7c2.3,2.79,5.8,4.42,9.49,4.42h109.35c3.7,0,7.19-1.63,9.49-4.42l23.01-27.91h-21.48l-10.11,12.26Z'/%3E%3Cg class='cls-13'%3E%3Crect class='cls-7' x='89.82' y='68.76' width='194.88' height='130.95'/%3E%3C/g%3E%3Cg class='cls-16'%3E%3Crect class='cls-9' x='87.24' y='69.83' width='194.88' height='130.95'/%3E%3C/g%3E%3Cpolygon class='cls-6' points='249.8 69.71 140.7 175.24 143.43 200.72 227.54 201.2 249.8 69.71'/%3E%3Cpolygon class='cls-11' points='122.02 70.19 143.43 200.72 227.54 201.2 231.72 180.74 122.02 70.19'/%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath class='cls-2' d='m3.05,288.03h5.57v3.04c1.65-2.37,3.62-3.56,5.89-3.56,2.79,0,4.74,1.23,5.85,3.7,1.63-2.47,3.73-3.7,6.3-3.7,2.17,0,3.85.69,5.06,2.06,1.21,1.38,1.81,3.28,1.81,5.72v17.89h-5.57v-16.84c0-2.18-1.02-3.27-3.05-3.27-1.19,0-2.13.44-2.8,1.3-.68.87-1.02,2.08-1.02,3.63v15.18h-5.61v-16.84c0-2.18-1-3.27-3.01-3.27-1.19,0-2.13.44-2.8,1.3-.68.87-1.02,2.08-1.02,3.63v15.18H3.05v-25.15Z'/%3E%3Cpath class='cls-2' d='m48.2,287.51c3.55,0,6.27,1.33,8.17,3.99,1.65,2.28,2.48,5.31,2.48,9.11,0,4.37-1.07,7.72-3.21,10.06-1.87,2.02-4.35,3.04-7.44,3.04-3.55,0-6.27-1.31-8.17-3.94-1.65-2.31-2.48-5.36-2.48-9.16,0-4.33,1.07-7.67,3.21-10.01,1.87-2.06,4.35-3.08,7.44-3.08Zm0,5.27c-1.52,0-2.74.72-3.66,2.16-.92,1.44-1.38,3.33-1.38,5.67,0,2.53.51,4.52,1.54,5.98.92,1.23,2.09,1.85,3.5,1.85,1.52,0,2.74-.72,3.68-2.16.94-1.44,1.4-3.33,1.4-5.67,0-2.5-.53-4.48-1.58-5.93-.92-1.26-2.09-1.9-3.5-1.9Z'/%3E%3Cpath class='cls-2' d='m82.26,279.2v33.97h-5.61v-2.8c-1.3,2.21-3.27,3.32-5.89,3.32-2.85,0-5.13-1.39-6.87-4.17-1.49-2.37-2.24-5.33-2.24-8.87,0-4.21.95-7.53,2.85-9.96,1.65-2.12,3.73-3.18,6.22-3.18,2.63,0,4.61,1.17,5.93,3.51v-11.81h5.61Zm-10.28,13.67c-1.41,0-2.55.71-3.41,2.13-.87,1.42-1.3,3.29-1.3,5.6s.43,4.12,1.28,5.53c.85,1.41,2,2.11,3.43,2.11s2.58-.7,3.43-2.09c.85-1.39,1.28-3.24,1.28-5.55s-.43-4.21-1.3-5.62c-.87-1.41-2.01-2.11-3.41-2.11Z'/%3E%3Cpath class='cls-2' d='m106.28,302.31h-14.47c.08,2.02.35,3.46.81,4.32.79,1.39,2.02,2.09,3.7,2.09,2.09,0,3.48-1.01,4.19-3.04h5.53c-.62,2.47-1.84,4.42-3.64,5.86-1.8,1.44-3.91,2.16-6.32,2.16-3.28,0-5.8-1.28-7.56-3.84-1.54-2.25-2.32-5.2-2.32-8.87,0-4.46,1-7.91,3.01-10.34,1.76-2.09,4.08-3.13,6.95-3.13,2.19,0,4.12.63,5.77,1.9,1.65,1.27,2.83,3.04,3.54,5.31.57,1.77.85,3.91.85,6.41,0,.32-.01.71-.04,1.19Zm-5.81-4.32c-.27-3.67-1.72-5.5-4.35-5.5-2.47,0-3.88,1.83-4.23,5.5h8.58Z'/%3E%3Cpath class='cls-2' d='m110.27,288.03h5.61v4.79c.7-3.54,2.71-5.31,6.02-5.31h1.1l.04,6.45c-.68-.16-1.38-.24-2.11-.24-1.84,0-3.12.4-3.82,1.19-.81.89-1.22,2.48-1.22,4.79v13.48h-5.61v-25.15Z'/%3E%3Cpath class='cls-2' d='m125.79,288.03h5.61v3.56c1.52-2.72,3.66-4.08,6.42-4.08,2.47,0,4.33.85,5.61,2.56,1.08,1.52,1.63,3.58,1.63,6.17v16.94h-5.57v-15.61c0-3-1.21-4.51-3.62-4.51-1.36,0-2.44.45-3.25,1.35-.81.9-1.22,2.1-1.22,3.58v15.18h-5.61v-25.15Z'/%3E%3Cpath class='cls-2' d='m175.91,297.23h-5.32c-.33-1.64-.79-2.8-1.4-3.46-.61-.66-1.47-1-2.58-1-1.68,0-2.85.7-3.5,2.09-.7,1.61-1.06,3.59-1.06,5.93s.4,4.25,1.2,5.62c.8,1.38,1.9,2.06,3.31,2.06,1.11,0,1.97-.34,2.58-1.02.61-.68,1.09-1.81,1.44-3.39h5.32c-.27,3.16-1.35,5.62-3.25,7.35-1.65,1.55-3.7,2.33-6.14,2.33-3.41,0-6-1.28-7.76-3.84-1.54-2.21-2.32-5.2-2.32-8.97,0-4.56,1.02-8,3.05-10.34,1.76-2.06,4.15-3.08,7.15-3.08s5.15.96,6.83,2.89c1.44,1.71,2.25,3.99,2.44,6.83Z'/%3E%3Cpath class='cls-2' d='m185.5,279.2v33.97h-5.61v-33.97h5.61Z'/%3E%3Cpath class='cls-2' d='m200.41,287.51c3.55,0,6.27,1.33,8.17,3.99,1.65,2.28,2.48,5.31,2.48,9.11,0,4.37-1.07,7.72-3.21,10.06-1.87,2.02-4.35,3.04-7.44,3.04-3.55,0-6.27-1.31-8.17-3.94-1.65-2.31-2.48-5.36-2.48-9.16,0-4.33,1.07-7.67,3.21-10.01,1.87-2.06,4.35-3.08,7.44-3.08Zm0,5.27c-1.52,0-2.74.72-3.66,2.16-.92,1.44-1.38,3.33-1.38,5.67,0,2.53.51,4.52,1.54,5.98.92,1.23,2.09,1.85,3.5,1.85,1.52,0,2.74-.72,3.68-2.16.94-1.44,1.4-3.33,1.4-5.67,0-2.5-.53-4.48-1.58-5.93-.92-1.26-2.09-1.9-3.5-1.9Z'/%3E%3Cpath class='cls-2' d='m225.41,288.03v4.32h-3.78v14c0,.92.14,1.55.43,1.9.28.35.81.52,1.56.52.62,0,1.42-.28,2.4-.85.08-.06.15-.11.2-.14l.65,4.46c-1.71.98-3.5,1.47-5.36,1.47-3.66,0-5.49-1.96-5.49-5.88v-15.47h-2.76v-4.32h2.76v-4.18l5.61-3.75v7.92h3.78Z'/%3E%3Cpath class='cls-2' d='m230.49,279.2h5.61v12.38c1.52-2.72,3.62-4.08,6.3-4.08,1.9,0,3.5.65,4.8,1.95,1.49,1.42,2.24,3.69,2.24,6.79v16.94h-5.61v-15.61c0-3-1.14-4.51-3.41-4.51-1.27,0-2.31.46-3.11,1.38-.8.92-1.2,2.1-1.2,3.56v15.18h-5.61v-33.97Z'/%3E%3Cpath class='cls-2' d='m273.29,302.31h-14.47c.08,2.02.35,3.46.81,4.32.79,1.39,2.02,2.09,3.7,2.09,2.09,0,3.48-1.01,4.19-3.04h5.53c-.62,2.47-1.84,4.42-3.64,5.86-1.8,1.44-3.91,2.16-6.32,2.16-3.28,0-5.8-1.28-7.56-3.84-1.54-2.25-2.32-5.2-2.32-8.87,0-4.46,1-7.91,3.01-10.34,1.76-2.09,4.08-3.13,6.95-3.13,2.19,0,4.12.63,5.77,1.9,1.65,1.27,2.83,3.04,3.54,5.31.57,1.77.85,3.91.85,6.41,0,.32-.01.71-.04,1.19Zm-5.81-4.32c-.27-3.67-1.72-5.5-4.35-5.5-2.47,0-3.88,1.83-4.23,5.5h8.58Z'/%3E%3Cpath class='cls-2' d='m295.19,295.43h-5.69c-.03-1.01-.34-1.73-.93-2.16-.6-.43-1.63-.64-3.09-.64-2.14,0-3.21.73-3.21,2.18,0,.85.65,1.49,1.95,1.9l7.07,2.33c2.82.92,4.23,3.01,4.23,6.26,0,2.56-.85,4.63-2.56,6.21-1.6,1.46-3.9,2.18-6.91,2.18-3.69,0-6.33-.63-7.93-1.9-1.57-1.2-2.41-3.15-2.52-5.84h5.57c.16,1.04.55,1.74,1.16,2.09.61.35,1.74.52,3.39.52,2.79,0,4.19-.77,4.19-2.33,0-.92-.62-1.6-1.87-2.04l-6.67-2.37c-1.71-.6-2.87-1.3-3.5-2.09-.81-.98-1.22-2.31-1.22-3.99,0-2.75.89-4.87,2.68-6.36,1.57-1.26,3.63-1.9,6.18-1.9,3.09,0,5.53.81,7.32,2.42,1.54,1.42,2.33,3.26,2.36,5.5Z'/%3E%3C/g%3E%3Cg%3E%3Cpath class='cls-2' d='m12.6,330.52v23.97h-5.08v-23.97H0v-4.97h19.79v4.97h-7.18Z'/%3E%3Cpath class='cls-2' d='m24.48,325.55h4.77v10.55c1.29-2.32,3.07-3.48,5.35-3.48,1.61,0,2.97.55,4.07,1.66,1.27,1.21,1.9,3.14,1.9,5.78v14.43h-4.77v-13.3c0-2.56-.97-3.84-2.9-3.84-1.08,0-1.96.39-2.64,1.17-.68.78-1.02,1.79-1.02,3.03v12.93h-4.77v-28.94Z'/%3E%3Cpath class='cls-2' d='m62.92,345.23h-12.29c.07,1.72.3,2.95.69,3.68.67,1.19,1.71,1.78,3.14,1.78,1.77,0,2.96-.86,3.56-2.59h4.7c-.53,2.1-1.56,3.77-3.09,4.99-1.53,1.23-3.32,1.84-5.37,1.84-2.79,0-4.93-1.09-6.42-3.27-1.31-1.91-1.97-4.43-1.97-7.56,0-3.8.85-6.74,2.56-8.81,1.5-1.78,3.46-2.67,5.9-2.67,1.86,0,3.5.54,4.9,1.62,1.4,1.08,2.41,2.59,3,4.53.48,1.51.73,3.33.73,5.46,0,.27-.01.61-.03,1.01Zm-4.94-3.68c-.23-3.12-1.46-4.69-3.69-4.69-2.09,0-3.29,1.56-3.59,4.69h7.29Z'/%3E%3Cpath class='cls-2' d='m76.8,325.55h4.77v9.94c1.13-1.91,2.8-2.87,5.01-2.87,2.46,0,4.41,1.16,5.84,3.48,1.27,2.05,1.9,4.61,1.9,7.68,0,3.5-.82,6.31-2.45,8.41-1.43,1.83-3.19,2.75-5.28,2.75-2.23,0-3.9-.94-5.01-2.83v2.38h-4.77v-28.94Zm8.74,11.72c-1.22,0-2.19.59-2.92,1.76-.73,1.17-1.09,2.77-1.09,4.79s.36,3.57,1.07,4.73c.71,1.16,1.69,1.74,2.94,1.74s2.19-.59,2.92-1.76c.73-1.17,1.09-2.74,1.09-4.71s-.36-3.58-1.09-4.77c-.73-1.19-1.7-1.78-2.92-1.78Z'/%3E%3Cpath class='cls-2' d='m115.64,345.23h-12.29c.07,1.72.3,2.95.69,3.68.67,1.19,1.71,1.78,3.14,1.78,1.77,0,2.96-.86,3.56-2.59h4.7c-.53,2.1-1.56,3.77-3.09,4.99-1.53,1.23-3.32,1.84-5.37,1.84-2.79,0-4.93-1.09-6.42-3.27-1.31-1.91-1.97-4.43-1.97-7.56,0-3.8.85-6.74,2.56-8.81,1.5-1.78,3.46-2.67,5.9-2.67,1.86,0,3.5.54,4.9,1.62,1.4,1.08,2.41,2.59,3,4.53.48,1.51.73,3.33.73,5.46,0,.27-.01.61-.03,1.01Zm-4.94-3.68c-.23-3.12-1.46-4.69-3.69-4.69-2.09,0-3.29,1.56-3.59,4.69h7.29Z'/%3E%3Cpath class='cls-2' d='m136.33,339.37h-4.83c-.02-.86-.29-1.47-.79-1.84-.51-.36-1.38-.55-2.62-.55-1.82,0-2.73.62-2.73,1.86,0,.73.55,1.27,1.66,1.62l6.01,1.98c2.39.78,3.59,2.56,3.59,5.33,0,2.18-.73,3.95-2.18,5.29-1.36,1.24-3.31,1.86-5.87,1.86-3.13,0-5.38-.54-6.73-1.62-1.34-1.02-2.05-2.68-2.14-4.97h4.73c.14.89.47,1.48.98,1.78.52.3,1.48.44,2.88.44,2.37,0,3.56-.66,3.56-1.98,0-.78-.53-1.36-1.59-1.74l-5.66-2.02c-1.45-.51-2.44-1.11-2.97-1.78-.69-.83-1.04-1.97-1.04-3.39,0-2.34.76-4.15,2.28-5.42,1.33-1.08,3.08-1.62,5.25-1.62,2.62,0,4.7.69,6.22,2.06,1.31,1.21,1.98,2.78,2,4.69Z'/%3E%3Cpath class='cls-2' d='m150.69,333.07v3.68h-3.21v11.92c0,.78.12,1.32.36,1.62s.68.44,1.33.44c.53,0,1.21-.24,2.04-.73.07-.05.13-.09.17-.12l.55,3.8c-1.45.83-2.97,1.25-4.56,1.25-3.11,0-4.66-1.67-4.66-5.01v-13.18h-2.35v-3.68h2.35v-3.56l4.77-3.19v6.75h3.21Z'/%3E%3Cpath class='cls-2' d='m180.98,340.91h-4.52c-.28-1.4-.67-2.38-1.19-2.95-.52-.57-1.25-.85-2.19-.85-1.43,0-2.42.59-2.97,1.78-.6,1.37-.9,3.06-.9,5.05s.34,3.62,1.02,4.79c.68,1.17,1.62,1.76,2.81,1.76.94,0,1.67-.29,2.19-.87.52-.58.93-1.54,1.23-2.89h4.52c-.23,2.69-1.15,4.78-2.76,6.26-1.4,1.32-3.14,1.98-5.21,1.98-2.9,0-5.1-1.09-6.6-3.27-1.31-1.89-1.97-4.43-1.97-7.64,0-3.88.86-6.82,2.59-8.81,1.5-1.75,3.52-2.63,6.08-2.63s4.37.82,5.8,2.46c1.22,1.46,1.91,3.4,2.07,5.82Z'/%3E%3Cpath class='cls-2' d='m191.2,325.55v28.94h-4.77v-28.94h4.77Z'/%3E%3Cpath class='cls-2' d='m205.94,332.62c3.02,0,5.33,1.13,6.94,3.39,1.4,1.94,2.11,4.53,2.11,7.76,0,3.72-.91,6.58-2.73,8.57-1.59,1.73-3.69,2.59-6.32,2.59-3.02,0-5.33-1.12-6.94-3.35-1.4-1.97-2.11-4.57-2.11-7.8,0-3.69.91-6.53,2.73-8.53,1.59-1.75,3.69-2.63,6.32-2.63Zm0,4.49c-1.29,0-2.33.61-3.11,1.84-.78,1.23-1.17,2.84-1.17,4.83,0,2.16.44,3.85,1.31,5.09.78,1.05,1.77,1.58,2.97,1.58,1.29,0,2.33-.61,3.12-1.84.79-1.23,1.19-2.83,1.19-4.83,0-2.13-.45-3.81-1.35-5.05-.78-1.08-1.77-1.62-2.97-1.62Z'/%3E%3Cpath class='cls-2' d='m229.25,333.07v3.68h-3.21v11.92c0,.78.12,1.32.36,1.62s.68.44,1.33.44c.53,0,1.21-.24,2.04-.73.07-.05.13-.09.17-.12l.55,3.8c-1.45.83-2.97,1.25-4.56,1.25-3.11,0-4.66-1.67-4.66-5.01v-13.18h-2.35v-3.68h2.35v-3.56l4.77-3.19v6.75h3.21Z'/%3E%3Cpath class='cls-2' d='m235.64,325.55h4.77v10.55c1.29-2.32,3.07-3.48,5.35-3.48,1.61,0,2.97.55,4.07,1.66,1.27,1.21,1.9,3.14,1.9,5.78v14.43h-4.77v-13.3c0-2.56-.97-3.84-2.9-3.84-1.08,0-1.96.39-2.64,1.17-.68.78-1.02,1.79-1.02,3.03v12.93h-4.77v-28.94Z'/%3E%3Cpath class='cls-2' d='m274.07,345.23h-12.29c.07,1.72.3,2.95.69,3.68.67,1.19,1.71,1.78,3.14,1.78,1.77,0,2.96-.86,3.56-2.59h4.7c-.53,2.1-1.56,3.77-3.09,4.99-1.53,1.23-3.32,1.84-5.37,1.84-2.79,0-4.93-1.09-6.42-3.27-1.31-1.91-1.97-4.43-1.97-7.56,0-3.8.85-6.74,2.56-8.81,1.5-1.78,3.46-2.67,5.9-2.67,1.86,0,3.5.54,4.9,1.62,1.4,1.08,2.41,2.59,3,4.53.48,1.51.73,3.33.73,5.46,0,.27-.01.61-.03,1.01Zm-4.94-3.68c-.23-3.12-1.46-4.69-3.69-4.69-2.09,0-3.29,1.56-3.59,4.69h7.29Z'/%3E%3Cpath class='cls-2' d='m294.75,339.37h-4.83c-.02-.86-.29-1.47-.79-1.84-.51-.36-1.38-.55-2.62-.55-1.82,0-2.73.62-2.73,1.86,0,.73.55,1.27,1.66,1.62l6.01,1.98c2.39.78,3.59,2.56,3.59,5.33,0,2.18-.73,3.95-2.18,5.29-1.36,1.24-3.31,1.86-5.87,1.86-3.13,0-5.38-.54-6.73-1.62-1.34-1.02-2.05-2.68-2.14-4.97h4.73c.14.89.47,1.48.98,1.78.52.3,1.48.44,2.88.44,2.37,0,3.56-.66,3.56-1.98,0-.78-.53-1.36-1.59-1.74l-5.66-2.02c-1.45-.51-2.44-1.11-2.97-1.78-.69-.83-1.04-1.97-1.04-3.39,0-2.34.76-4.15,2.28-5.42,1.33-1.08,3.08-1.62,5.25-1.62,2.62,0,4.7.69,6.22,2.06,1.31,1.21,1.98,2.78,2,4.69Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
