/* develope By Package +201002241591  3lwaaa@gmail.com - https://wa.me/201002241591 */
section .card-buttons, .products-container .row.products-list .card-buttons, .block-product .mt-3.has-options {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px
}

.product-box .thumb a>div, .block-product .thumb a>div {
    border-radius: 0;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px
}

.footer-links {
    display: flex!important;
    flex-direction: row!important
}

.btn-add-cart {
    border-radius: 10px
}

.product-info-block .sold-counter {
    display: flex;
    background-color: #fff;
    border-radius: 5px;
    padding: 4px 6px;
    color: #34084f;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    border: 1px dashed
}

.svg-icon.fire-icon {
    background-color: red
}

.shop-categories {
    display: block;
    margin-bottom: 0;
    margin: -130px;
    visibility: hidden
}

.product-info-block .sold-counter-block {
    display: none
}

.footer-logo img {
    width: 270px;
}

:root {
    --1: #d2b87f;
    --2: #b89e77;
    --color-primary: var(--1);
    --sh: -8px 10px 15px -3px rgba(0,0,0,0.1);
    --bg-f: linear-gradient(134deg,transparent -183%,var(--1) 83%,#fff 200%),url(https://cdn.salla.sa/form-builder/kW2IG8yY17w9F8vq50CMfMdhWBcbQhSoDRWGaK99.jpg)0rem 0rem/545%no-repeat ;
    --logo: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 309.85 78.19'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23231f20; stroke-width: 0px; %7D %3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M270.83,77.77c-1.82-.68-3.62-1.42-5.36-2.3-1.58-.8-3.07-1.75-4.5-2.78-1.65-1.18-3.16-2.52-4.6-3.96-1.41-1.41-2.63-2.98-3.75-4.61-1.09-1.6-1.98-3.32-2.82-5.08-1.07-2.24-1.75-4.62-2.47-6.98-.44-1.43-.48-3.01-.58-4.52-.24-3.64,0-7.24.99-10.78.4-1.41.86-2.79,1.41-4.14.84-2.05,1.92-3.96,3.18-5.78.85-1.23,1.81-2.39,2.83-3.48,1.37-1.46,2.86-2.79,4.47-4,1.29-.97,2.66-1.81,4.05-2.59,1.49-.84,3.09-1.5,4.72-2.02,2.69-.85,5.43-1.49,8.26-1.62,3.12-.14,6.21.04,9.26.81,1.61.41,3.19.88,4.74,1.49,1.38.54,2.69,1.21,3.99,1.92.49.27.94.3,1.22-.3.31-.66.24-.89-.42-1.25-.27-.15-.56-.27-.83-.42-2.2-1.2-4.51-2.15-6.92-2.78-1.77-.46-3.58-.8-5.39-1.02-2.3-.29-4.62-.33-6.93-.09-1.36.14-2.7.44-4.1.68-.16-.71-.28-1.39-.19-2.07.14-1.02,1-1.87,1.99-1.93,2.8-.17,5.61-.33,8.4.03,1.02.13,2.22.19,2.63,1.52.07.22.25.5.53.42.29-.08.43-.35.45-.67.09-1.32-.86-2.38-2.55-2.61-1.14-.16-2.3-.22-3.46-.24-1.68-.04-3.37-.01-5.13-.01,0-1.18,0-2.29,0-3.4,0-1,.55-1.63,1.54-1.74,1.13-.12,2.27-.13,3.4,0,.91.1,1.39.67,1.42,1.59.01.44.09.87.14,1.34.53.02,1.01.06,1.52-.04.05-.79.09-1.53-.03-2.29-.19-1.21-1.03-2.09-2.54-2.06-1.45.03-2.89.01-4.34,0-.36,0-.7.06-1.02.23-1.12.6-1.57,1.64-1.74,2.8-.19,1.28-.03,2.57.09,3.92-3.17.73-2.99,3.05-2.48,5.51-8.48,2.66-15.31,7.37-19.95,14.95-4.64,7.59-6.13,15.75-4.4,24.52,2.79,14.18,14.77,24.24,25.94,26.25-.11-.31-.41-.33-.65-.42Z'/%3E%3Cpath class='cls-1' d='M282.61,53.99c-.28,0-.61-.05-.58.45h11.85c.01-.45-.29-.42-.55-.43-.53,0-1.07,0-1.6.01-.43.02-.77-.15-.88-.55-.36-1.26-.94-2.43-1.33-3.67-.53-1.68-1.25-3.3-1.82-4.97-.82-2.43-1.85-4.8-2.76-7.2-.52-1.38-.96-2.8-1.49-4.18-1.12-2.95-2.25-5.89-3.3-8.87-.19-.53-.36-1.11-.76-1.62-.11.15-.2.23-.24.32-.68,1.78-1.35,3.57-2.02,5.35-.56,1.48-1.13,2.96-1.69,4.45-.1.28-.3.59.07.95.6-.99.77-2.1,1.32-3.14,2.81,7.74,5.59,15.37,8.38,23.04-.92.11-1.76.05-2.6.05Z'/%3E%3Cpath class='cls-1' d='M309.12,38.41c-.02-.14-.07-.26-.38-.22,0,1.76.04,3.51-.01,5.27-.06,2.17-.05,4.34-.47,6.51-.47,2.48-1.2,4.84-2.24,7.13-.99,2.17-2.28,4.12-3.74,5.98-1.88,2.37-4.05,4.42-6.56,6.12-2.34,1.59-4.86,2.75-7.55,3.58-1.06.33-2.16.5-3.24.73-2.22.48-4.46.57-6.71.48-2.7-.11-5.3-.69-7.84-1.6-2.5-.9-4.81-2.13-6.98-3.63-2.15-1.48-4.02-3.27-5.66-5.3-.98-1.22-1.89-2.5-2.63-3.86-.96-1.76-1.69-3.64-2.34-5.54-.19-.57-.46-.78-1.02-.6-.61.2-.78.53-.54,1.19.8,2.25,1.72,4.43,2.96,6.49,1.26,2.08,2.76,3.93,4.45,5.66,1.83,1.88,3.87,3.48,6.11,4.81,2.55,1.52,5.3,2.62,8.21,3.27,4.71,1.06,9.43,1.1,14.14-.04,2.54-.62,4.96-1.57,7.27-2.81,1.95-1.05,3.75-2.34,5.38-3.82,1.54-1.4,2.91-2.98,4.18-4.68,1.4-1.86,2.56-3.83,3.53-5.92,1.04-2.23,1.68-4.62,2.07-7.05.66-4.07.31-8.12-.38-12.16Z'/%3E%3Cpath class='cls-1' d='M284.1,69.41c-3.11.45-6.22.5-9.34-.2-2.25-.5-4.37-1.23-6.38-2.34-2.26-1.25-4.25-2.81-6.06-4.64-1.13-1.15-2.1-2.43-2.99-3.77-.46-.68-.84-1.42-1.23-2.14-.3-.54-.43-1.22-.67-1.83-.71-1.83-1.24-3.71-1.45-5.66-.35-3.25-.29-6.48.63-9.66.37-1.28.9-2.5,1.38-3.73.26-.67-.21-.91-.61-1.14-.41-.23-.68.09-.89.44-.76,1.26-1.2,2.66-1.56,4.06-.67,2.59-.93,5.25-.84,7.94.11,3.11.76,6.11,1.98,8.96.91,2.12,2.06,4.11,3.52,5.94,1.75,2.19,3.77,4.04,6.06,5.61,1.89,1.29,3.96,2.22,6.14,2.95,2.79.94,5.68,1.34,8.58,1.3,2.56-.04,5.12-.42,7.57-1.3,2-.72,3.94-1.54,5.73-2.69,1.34-.86,2.59-1.82,3.75-2.92,1.34-1.25,2.49-2.65,3.56-4.12.68-.93,1.24-1.93,1.77-2.96,1.04-2.02,1.77-4.14,2-6.4-.33.65-.68,1.28-.98,1.94-.97,2.16-2.04,4.24-3.44,6.17-1.61,2.22-3.45,4.19-5.62,5.83-3.16,2.38-6.75,3.79-10.63,4.36Z'/%3E%3Cpath class='cls-1' d='M269.84,46.31c-.69,1.77-1.23,3.59-1.84,5.38-.47,1.38-1.24,2.25-2.71,2.59.45.64,1.05.46,1.54.5,2.4.19,4.5-.42,6.08-2.39,1.13-1.41,1.57-3.13,2.15-4.79.44-1.25.83-2.51,1.27-3.76.41-1.17,1.12-2.02,2.45-2.15-.05-.39-.3-.44-.58-.47-.38-.03-.75-.08-1.13-.1-1.33-.07-2.65.08-3.79.77-1.69,1.02-2.72,2.6-3.43,4.41Z'/%3E%3Cpath class='cls-1' d='M276.39,3.87c0,.52.36.86.89.87.49,0,.97-.45.96-.91,0-.4-.58-.96-.97-.95-.46.02-.89.5-.89.99Z'/%3E%3Cpath class='cls-1' d='M5.22,26.59c-.32.38-.48.95-.48,1.7v11.92c0,1.09-.14,1.86-.43,2.31s-.78.67-1.48.67c-.5,0-1.18-.11-2.06-.33l-.78,3.31c1.19.32,2.28.48,3.25.48,1.73,0,3.01-.53,3.84-1.58.83-1.05,1.25-2.67,1.25-4.86v-14.01c-.6-.12-1.1-.18-1.52-.18-.75,0-1.29.19-1.61.57Z'/%3E%3Cpath class='cls-1' d='M98.42,37.47c1.09,1.83,3.07,2.74,5.93,2.74h7.78v-21.88c-.6-.12-1.1-.18-1.52-.18-.75,0-1.29.19-1.61.57-.32.38-.48.94-.48,1.7v16.28h-4.17c-1.57,0-2.7-.34-3.4-1.01s-1.04-1.76-1.04-3.25v-14.1c-.6-.12-1.1-.18-1.52-.18-.75,0-1.29.19-1.61.57-.32.38-.48.94-.48,1.7v12.01c0,1.47-.34,2.55-1.01,3.23s-1.73,1.03-3.16,1.03h-5.87l3.61-3.25.03-1.01c0-1.57-.37-2.98-1.12-4.25s-1.77-2.25-3.07-2.97c-1.3-.71-2.74-1.07-4.31-1.07s-3,.36-4.29,1.07c-1.29.72-2.31,1.71-3.05,2.97s-1.12,2.68-1.12,4.25v1.01l3.61,3.25h-5.87c-1.45,0-2.52-.29-3.22-.87s-1.09-1.49-1.19-2.74v-.36c0-1.61-.43-3.06-1.3-4.37-.86-1.3-2.03-2.32-3.49-3.07-1.46-.75-3.07-1.12-4.81-1.12-2.11,0-3.93.47-5.47,1.4-1.54.94-2.74,2.25-3.59,3.94l.03-11.18c-.6-.12-1.1-.18-1.52-.18-.74,0-1.26.19-1.58.57-.32.38-.48.94-.48,1.7v16.28h-16.9v-3.64c0-1.81-.33-3.38-.98-4.72-.66-1.34-1.56-2.38-2.7-3.1-1.14-.72-2.44-1.09-3.89-1.09-1.59,0-2.97.39-4.14,1.16s-2.06,1.79-2.67,3.04c-.61,1.25-.91,2.57-.91,3.96s.29,2.66.88,3.86c.59,1.2,1.46,2.18,2.62,2.92,1.16.74,2.55,1.12,4.16,1.12h3.84c-.66,2.48-2.55,3.73-5.69,3.73-.87,0-1.76-.07-2.65-.21v3.46c1.25.24,2.4.36,3.46.36,2.4,0,4.35-.62,5.83-1.88s2.39-3.07,2.73-5.46h31.44c1.39,0,2.62-.23,3.7-.7,1.07-.47,1.95-1.13,2.62-1.98,1.07,1.79,3.03,2.68,5.87,2.68h7.69c.79,0,1.41-.17,1.83-.51.43-.34.83-.79,1.21-1.34.38.56.78,1,1.21,1.34.43.34,1.04.51,1.83.51h7.69c1.39,0,2.62-.23,3.7-.7,1.07-.47,1.94-1.15,2.59-2.04ZM23.61,36.7h-4.02c-.89,0-1.67-.21-2.31-.64-.65-.43-1.14-.98-1.47-1.65-.34-.68-.51-1.4-.51-2.18s.17-1.48.51-2.16c.34-.69.82-1.24,1.46-1.67.64-.43,1.39-.64,2.27-.64,1.17,0,2.15.45,2.92,1.36.77.9,1.16,2.19,1.16,3.86v3.73ZM61.64,35.71c-.68.66-1.73.98-3.16.98h-10.88v-.69c.04-1.51.48-2.9,1.33-4.16s1.95-2.26,3.32-2.98c1.37-.73,2.84-1.09,4.41-1.09,1.15,0,2.18.2,3.08.61.9.41,1.61.99,2.13,1.74.52.76.78,1.62.78,2.59,0,1.33-.34,2.32-1.01,2.98ZM81.4,36.88l-4.92-4.53h.03c.08-1.37.58-2.48,1.49-3.32.91-.84,2.05-1.27,3.4-1.27s2.48.42,3.4,1.27c.91.85,1.41,1.95,1.49,3.32h.03l-4.92,4.53Z'/%3E%3Cpath class='cls-1' d='M141.99,27.7c-.54-.1-.96-.15-1.28-.15-.83,0-1.43.21-1.79.64-.36.43-.54.96-.54,1.59v7.24c0,2.5-.54,4.31-1.62,5.41-1.08,1.1-2.65,1.65-4.69,1.65-4.29,0-6.44-2.13-6.44-6.38,0-1.49.24-3.13.72-4.92-.42-.1-.85-.15-1.31-.15-1.37,0-2.2.66-2.47,1.97-.28,1.27-.42,2.52-.42,3.76,0,2.17.47,3.94,1.4,5.32.93,1.38,2.15,2.38,3.65,2.98,1.5.61,3.12.91,4.87.91,3.08,0,5.5-.88,7.27-2.65s2.65-4.4,2.65-7.9v-9.33Z'/%3E%3Cpath class='cls-1' d='M132.07,29.51c.58,0,1.06-.2,1.46-.61.4-.41.6-.89.6-1.45s-.2-1.06-.6-1.46c-.4-.4-.88-.6-1.46-.6s-1.04.2-1.45.6c-.41.4-.61.88-.61,1.46s.2,1.04.61,1.45c.41.41.89.61,1.45.61Z'/%3E%3Cpath class='cls-1' d='M174.36,42.87c-.56,0-1.04.2-1.45.6-.41.4-.61.88-.61,1.46s.2,1.04.61,1.45c.41.41.89.61,1.45.61s1.06-.2,1.46-.61c.4-.41.6-.89.6-1.45s-.2-1.06-.6-1.46c-.4-.4-.88-.6-1.46-.6Z'/%3E%3Cpath class='cls-1' d='M171.05,44.92c0-.58-.2-1.06-.6-1.46-.4-.4-.88-.6-1.46-.6s-1.04.2-1.45.6c-.41.4-.61.88-.61,1.46s.2,1.04.61,1.45c.41.41.89.61,1.45.61s1.06-.2,1.46-.61c.4-.41.6-.89.6-1.45Z'/%3E%3Cpath class='cls-1' d='M216.27,18.73c-.32.38-.48.94-.48,1.7v16.28h-10.04l3.61-3.25.03-1.01c0-1.57-.37-2.98-1.12-4.25s-1.77-2.25-3.07-2.97c-1.3-.71-2.74-1.07-4.31-1.07s-3,.36-4.29,1.07c-1.29.72-2.31,1.71-3.05,2.97s-1.12,2.68-1.12,4.25v1.01l3.61,3.25h-5.87c-1.57,0-2.7-.34-3.4-1.01s-1.04-1.76-1.04-3.25v-14.1c-.6-.12-1.1-.18-1.52-.18-.75,0-1.29.19-1.61.57-.32.38-.48.94-.48,1.7v12.01c0,1.47-.34,2.55-1.01,3.23s-1.73,1.03-3.16,1.03c-1.57,0-2.7-.34-3.4-1.01s-1.04-1.76-1.04-3.25v-6.23c-.6-.12-1.1-.18-1.52-.18-.75,0-1.29.19-1.61.57-.32.38-.48.95-.48,1.7v4.14c0,1.47-.34,2.55-1.01,3.23s-1.73,1.03-3.16,1.03h-16.07v-18.36c-.6-.12-1.1-.18-1.52-.18-.76,0-1.29.19-1.61.57-.32.38-.48.94-.48,1.7v19.79h19.67c1.39,0,2.62-.23,3.7-.7,1.07-.47,1.94-1.15,2.59-2.04,1.09,1.83,3.07,2.74,5.93,2.74,1.39,0,2.62-.23,3.7-.7,1.07-.47,1.94-1.15,2.59-2.04,1.09,1.83,3.07,2.74,5.93,2.74h7.69c.79,0,1.41-.17,1.83-.51.43-.34.83-.79,1.21-1.34.38.56.78,1,1.21,1.34.43.34,1.04.51,1.83.51h15.47v-21.88c-.6-.12-1.1-.18-1.52-.18-.75,0-1.29.19-1.61.57ZM200.89,36.88l-4.92-4.53h.03c.08-1.37.58-2.48,1.49-3.32.91-.84,2.05-1.27,3.4-1.27s2.48.42,3.4,1.27c.91.85,1.41,1.95,1.49,3.32h.03l-4.92,4.53Z'/%3E%3Cpath class='cls-1' d='M223.93,18.73c-.32.38-.48.94-.48,1.7v19.79h3.61v-21.88c-.6-.12-1.1-.18-1.52-.18-.76,0-1.29.19-1.61.57Z'/%3E%3Cpath class='cls-1' d='M41.36,57.39l-3.02,12.58h1.55l.86-3.84h3.2l.87,3.84h1.64l-3.09-12.58h-2.01ZM41.04,64.77c.59-2.63,1.08-4.82,1.25-5.93h.04c.17,1.04.63,2.97,1.31,5.93h-2.6Z'/%3E%3Cpolygon class='cls-1' points='56.13 57.39 54.59 57.39 54.59 69.97 60.39 69.97 60.59 68.62 56.13 68.62 56.13 57.39'/%3E%3Cpath class='cls-1' d='M71.64,57.2c-2.49,0-3.8,2.04-3.8,6.38s1.12,6.58,3.73,6.58c2.76,0,3.82-2.24,3.82-6.59s-1.12-6.37-3.75-6.37ZM71.62,68.83c-1.51,0-2.19-1.8-2.19-5.28s.68-5.01,2.18-5.01,2.19,1.51,2.19,5.03-.62,5.26-2.18,5.26Z'/%3E%3Cpolygon class='cls-1' points='85.71 57.39 84.17 57.39 84.17 69.97 89.97 69.97 90.17 68.62 85.71 68.62 85.71 57.39'/%3E%3Cpath class='cls-1' d='M100.78,57.39l-3.02,12.58h1.55l.86-3.84h3.2l.87,3.84h1.64l-3.09-12.58h-2.01ZM100.47,64.77c.59-2.63,1.08-4.82,1.25-5.93h.04c.17,1.04.63,2.97,1.31,5.93h-2.6Z'/%3E%3Cpath class='cls-1' d='M115.73,63.53c-.38-1.18-1.52-4.04-2.35-6.14h-1.73l3.19,7.52c.04.1.07.21.07.34v4.73h1.55v-4.71c0-.15.03-.27.06-.34l3.23-7.52h-1.64c-.78,2-1.94,4.86-2.38,6.14Z'/%3E%3Cpath class='cls-1' d='M128.54,57.39l-3.02,12.58h1.55l.86-3.84h3.2l.87,3.84h1.64l-3.09-12.58h-2.01ZM128.23,64.77c.59-2.63,1.08-4.82,1.25-5.93h.04c.17,1.04.63,2.97,1.31,5.93h-2.6Z'/%3E%3Cpath class='cls-1' d='M147.5,61.94c0,2.05.02,3.93.11,5.59h-.02c-.16-.56-.65-1.77-3.96-10.15h-1.86v12.58h1.43v-4.67c0-2.26,0-4.29-.1-5.85h.02c.15.51.6,1.7,4.04,10.52h1.78v-12.58h-1.43v4.56Z'/%3E%3Crect class='cls-1' x='157.29' y='62.81' width='3.84' height='1.35'/%3E%3Cpath class='cls-1' d='M172.86,57.39h-3.35v12.58h1.55v-5.38h1.6c2.33,0,3.59-1.38,3.59-3.66s-1.4-3.55-3.4-3.55ZM172.5,63.3h-1.44v-4.62h1.59c1.33,0,2.04.87,2.04,2.23,0,1.62-.73,2.38-2.19,2.38Z'/%3E%3Cpolygon class='cls-1' points='184.7 69.97 186.24 69.97 186.24 64.13 190.36 64.13 190.36 62.77 186.24 62.77 186.24 58.76 190.63 58.76 190.63 57.39 184.7 57.39 184.7 69.97'/%3E%3C/svg%3E");
}

.categories-slider-item {
    /* width: 215px !important; */
    max-width: 10.333333%;
}

@media (max-width: 767px) {
    .categories-slider-item {
        /* width: 310px !important; */ max-width: unset;
        /* flex: 0 0 50.333333%; */
    }

    .row.align-items-center.justify-content-center.categories-grid {
        display: grid;
        grid-template-columns: repeat(4,minmax(0,1fr));
    }

    .header .logo img {
        height: auto;
        width: 141px;
        max-width: unset;
    }
}

.categories-grid .categories-slider-item a {
    display: none;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track-piece {
    background-color: #00000033;
    -webkit-border-radius: 0px;
}

::-webkit-scrollbar-thumb:vertical {
    height: 200px;
    background-color: #585858;
    -webkit-border-radius: 0px;
}

::-webkit-scrollbar-thumb:vertical:hover {
    background-color: #282727;
}

::-webkit-scrollbar-thumb:horizontal {
    width: 200px;
    background-color: #7d7d7db3;
    -webkit-border-radius: 0px;
}

.footer,.home section .section-title {
    border-radius: 20px 20px 0 0;
    background-color: var(--1);
    background: var(--bg-f)!important;
    background-color: #4ac5e538!important;
    color: #fff;
    border-top-left-radius: 5rem;
    border-top-right-radius: 5rem;
    box-shadow: 0 2px 5px 1px rgba(64,60,67,.16)
}

.footer:before {
    content: "";
    background-size: cover;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSc1MDAnIGhlaWdodD0nMzAwJz48cGF0aCBkPSdNMCAxNzhjMzMuNC0xOS4yIDEwMC4yLTExMS4yIDE2Ny05NiA2Ni44IDE1LjIgMTAwLjQgMTY2LjggMTY3IDE3MiA2Ni42IDUuMiAxMzIuOC0xMTYuOCAxNjYtMTQ2djE5MkgweicgZmlsbD0nI2ZmZmJmMicvPjwvc3ZnPg==);
    display: block;
    background-repeat: round;
    transform: rotate(180deg);
    height: 104px;
    margin: -46px -32px -25px 1px;
    filter: grayscale(1);
}

@media(max-width: 750px) {
    .footer:before {
        height:0;
        margin: 0;
        background: no-repeat
    }
}

.card-buttons.mt-3 {
    animation: 1.2s linear infinite signal
}

@keyframes signal {
    0% {
        box-shadow: 0 0 0 0 var(--1)
    }

    100% {
        box-shadow: 0 0 0 5px #fff
    }
}

.col-md-3.col-lg-2.product-item-slide.col-6:hover {
    --c: var(--color-primary);
    --b: 3px;
    --g: 5px;
    padding: calc(var(--g) + var(--b));
    --_g: #0000 25%,var(--c) 0;
    background: conic-gradient(from 180deg at top var(--b) right var(--b),var(--_g)) var(--_i,200%) 0/200% var(--_i,var(--b)) no-repeat,conic-gradient(at bottom var(--b) left var(--b),var(--_g)) 0 var(--_i,200%)/var(--_i,var(--b)) 200% no-repeat;
    transition: .3s,background-position .3s .3s;
    cursor: pointer
}

.col-md-3.col-lg-2.product-item-slide.col-6:hover,.col-md-3.col-lg-2.product-item-slide.col-6:hover {
    --_i: 100%;
    transition: .3s,background-size .3s .3s
}

.col-md-3.col-lg-2.product-item-slide.col-6 {
}

body.rtl.home-page.js-stickybit-parent:before {
    content: "";
    width: 100%;
    height: 100%;
    background: var(--1) var(--logo);
    position: fixed;
    top: 0;
    z-index: 99999999999999999 !important;
    background-size: 45% !important;
    background-repeat: no-repeat;
    background-position: center !important;
    animation-name: logobg;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    bottom: 0;
    left: 0;
    right: 0;
}

@keyframes logobg {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        visibility: hidden
    }
}

@media screen and (min-width: 800px) {
    .logo img {
        width: 214px;
        margin: 5px;
    }
}

.announcement-bar {
    /* --primary-color: #a58b52; */
    background-color: var(--primary-color);
}

.home section .section-title {
    background: var(--1);
    padding: 10px;
    border-radius: 15px;
}

.col-md-3.col-lg-2.product-item-slide.col-6 {
    --normal-box-shadow: -8px 10px 15px -3px rgba(0,0,0,0.1);
    border-radius: 15px !important;
    overflow: hidden;
    box-shadow: var(--normal-box-shadow);
}

.products-slider-home.small-slider {
    padding: 30px 0;
}

@media (min-width: 1200px) {
    section .container {
        max-width: 1140px;
    }
}

.categories-slider-item {
    transition: transform 0.3s ease;
}

.categories-slider-item:hover {
    transform: scale(1.1);
}
 

 
