/* develope By Package +201002241591  3lwaaa@gmail.com - https://wa.me/201002241591 */
body:not(.salla-theme_6) .category-featured a {
    border: var(--color-1) solid 1px;
}

.store-header, .header-bar, .store-header-min {
    background: var(--color-1);
}

.store-header h1 a, .store-header-min h1 {
    color: #fff;
}

.dropdown-store-header.open .dropdown-toggle, .dropdown-store-header.open .dropdown-toggle {
    background: var(--color-1);
    color: #fff;
}

/* .store-contact a { color: var(--color-1); } */
/*a.media-heading, a.product-link { color: var(--color-1); }*/
.pace-demo {
    background: var(--color-1) !important;
    /*darker*/
}

.pace .pace-progress {
    background: #000000 !important;
    /*darker*/
}

.add-cart {
    color: var(--color-1) ;
    /*darker*/
    border: 1px solid var(--color-2);
    /*darker*/
}

.add-cart:hover, .add-cart:focus, .add-cart-large:hover, .add-cart-large:focus, .order-btn:hover, .order-btn:focus {
    background: var(--color-1) ;
    /*darker*/
    border-color: var(--color-2);
}

.cart-nav-submit, .cart-nav-more, .cart-nav-solid {
    background: var(--color-2);
    /*darker*/
    border-color: var(--color-1) ;
    /*darker*/
}

.add-cart-large, .order-btn {
    background: var(--color-1) ;
    border-color: var(--color-2);
}

.cart-nav-light:hover, .cart-nav-light:active, .cart-nav-light:focus {
    color: var(--color-1) ;
}

.cart-nav-light {
    border-color: var(--color-1);
    /*darker*/
    color: var(--color-2);
    /*darker*/
}

.cart-line {
    border-color: var(--color-1);
    /*lighter*/
}

.cart-number {
    color: var(--color-1);
    /*lighter*/
    border-color: var(--color-1);
    /*lighter*/
}

.active-step .cart-number {
    background: var(--color-1);
    border-color: var(--color-1);
}

.cart-title {
    color: var(--color-1) !important;
    /*lighter*/
}

#salla_bar {
    border-top-color: var(--color-1);
}

#salla_bar .checkout-button {
    background: var(--color-2);
}

.choice.border-info-600.text-info-800 {
    color: var(--color-2) !important;
    border-color: var(--color-1) !important;
}

.payment-method.active {
    background: var(--color-2) !important;
}

.pagination>.active>span {
    background-color: var(--color-2) !important;
    border-color: var(--color-2) !important;
}

/*.order-num { color: var(--color-2); }*/
.product-side-container .product-order-container .panel-heading {
    background: var(--color-1) !important;
    border-bottom-color: var(--color-2) !important;
    color: #fff !important;
}

.testimonial-header, .owl-theme .owl-nav [class*=owl-] {
    background: var(--color-1) !important;
}

a:hover, a:focus {
    color: #000000;
}

.sub-nav__menu:hover svg {
    fill: var(--color-1);
}

.footer-main {
    background-color: var(--color-1);
}

.site-header {
    box-shadow: inset 0 3px 0 0 var(--color-1);
}

.site-header__cart .badge {
    background: var(--color-1);
}

.circle-action:hover {
    background: var(--color-2) ;
    border-color: var(--color-2);
}

.sub-nav .main-menu > li:hover > a, .sub-nav .main-menu > li:hover > a > i {
    color: var(--color-2);
}

.sub-nav li > ul a:hover {
    color: #000000;
}

.slick-active button {
    background-color: var(--color-2) !important;
}

.product:hover .product-title {
    color: var(--color-2);
}

.product-price, .product-details__price {
    color: var(--color-2);
}

.product-add:hover {
    background-color: var(--color-1) !important;
}

.social__item a:hover, .sub-nav__menu:hover {
    color: var(--color-1) !important;
}

.login-container .border-yellow-dark {
    border-color: var(--color-1);
}

.login-container .text-yellow-dark {
    color: var(--color-1) ;
}

.login-option, .btn-resend-option {
    color: var(--color-1) ;
    border-color: var(--color-1);
}

.login-option:hover, .btn-resend-option:hover {
    color: #fff;
    border-color: var(--color-1);
    background: var(--color-2);
}

/* .sub-nav__close:hover svg { fill: var(--color-1) ; } */
.feature-item__icon {
    background: var(--color-1);
}

.landing-page-feature-item__icon {
    background: var(--color-1);
}

.sub-nav-header {
    background: var(--color-1);
}

.sub-nav-header a {
    color: var(--color-1);
}

.btn-primary {
    background: var(--color-1);
    border-color: var(--color-1);
}

.btn-primary:focus, .btn-primary.focus, .btn-primary:hover, .btn-primary.active, .btn-primary:active {
    background: #000000 !important;
    border-color: #000000 !important;
}

.page-box .panel-heading .product-title {
    color: var(--color-1) !important;
}

#ask_register_link {
    color: var(--color-1) !important;
}

.product-details__hot strong {
    color: var(--color-1) !important;
}

.checker span {
    border-color: var(--color-1) !important;
}

.btn-order-details {
    background: var(--color-1) !important;
}

@media (min-width: 992px) {
    .sub-nav li > ul a:hover {
        background: var(--color-1);
        color: #fff;
    }
}

.section-header .section--title {
    color: var(--color-1);
}

.circle-action {
    border: none;
    border-radius: 20%;
    background: var(--color-1);
    color: var(--color-2);
}

.circle-action:hover {
    background: var(--color-1);
    color: #fff;
}

.sub-nav__menu svg {
    background: var(--color-1);
    fill: var(--color-2);
    border-radius: 20%;
}

.sicon-user:before {
    color: var(--color-2);
}

.col-sm-4 {
    width: 25%;
    float: right;
    padding-right: 5px;
    padding-left: 5px;
}

.site-header {
    box-shadow: none;
    background: url(https://cdn.salla.sa/gpQAO/djHleu8xswOKW0qmwufiZxliroFhXgfxDtbaoQTM.jpg);
}

.site-header__cart .badge {
    background: var(--color-1);
}

.login-link {
    margin-top: 8px;
}

.section--title span {
    color: var(--color-1) ;
}

.product-add {
    border-right: 1px solid #ffffff;
    color: var(--color-2);
}

.product-add:hover {
    border-right: 1px solid var(--color-1);
    color: #ffffff;
    background: var(--color-2)!important;
}

.product-price, .product-details__price {
    color: var(--color-2);
    direction: inherit;
}

body.salla-theme_1 .product .product-footer {
    margin-top: .5rem;
    background: var(--color-1)!important;
    color: #fff;
    border: none;
}

@media (min-width: 992px) {
    .sub-nav {
        background: var(--color-1);
    }
}

.button-more, body.salla-theme_1 .section-header .btn.btn-primary.btn-rounded, body.salla-theme_2 .section-header .btn.btn-primary.btn-rounded, body.salla-theme_4 .section-header .btn.btn-primary.btn-rounded {
    color: var(--color-2);
    border: none;
    background-color: var(--color-1);
    border-radius: 8px !important;
}

.feature-item__icon {
    color: var(--color-2);
    border-radius: 20%;
}

.product {
    border-radius: 8px;
}

section.section {
    padding: 0;
}

/*footer*/
.footer-title {
    color: var(--color-1);
    background: var(--color-2);
    border-radius: 8px;
    font-weight: bold;
    padding-top: 0.3rem;
    padding-bottom: .3rem;
}

.footer-main, .store-contact {
    text-align: center;
}

.social__item a {
    color: var(--color-1);
    border-radius: 20%;
    border: var(--color-2)
}

.footer-links a {
    color: #fff;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.footer-links a:hover {
    color: var(--color-2);
}

.store-contact a {
    color: var(--color-2);
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.store-contact a:hover {
    color: #fff;
}

@media (min-width: 992px) {
    body .sub-nav .main-menu>li>a:hover {
        background:var(--color-1);
        color: var(--color-2);
    }

    body .sub-nav .main-menu>li>a {
        -webkit-transition: all .2s ease-out;
        transition: all .2s ease-out;
        border-radius: 5px;
        padding-left: 4px;
        padding-right: 4px;
    }
}

.testimonials-item p {
    background: var(--color-1) ;
    background-size: 10%;
    color: #fff;
    border: 3px solid var(--color-2);
    border-radius: 10px;
}

.testimonials-item p:after , .testimonials-item p:before {
    content: none;
}

/*footer*/
.footer-title {
    color: var(--color-1);
    background: var(--color-2);
    border-radius: 8px;
    font-weight: bold;
    padding-top: 0.3rem;
    padding-bottom: .3rem;
}

.footer-main, .store-contact {
    text-align: center;
}

.social__item a {
    color: var(--color-2);
    border-radius: 20%;
    border: 1px solid var(--color-2);
}

.footer-links a {
    color: #fff;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.footer-links a:hover {
    color: var(--color-2);
}

.cart-nav-solid {
    background: var(--color-1);
    border-color: #ffffff;
    color: #ffffff;
}

.active-step .cart-number {
    background: var(--color-1);
    border-color: var(--color-2);
}

footer-sub {
    color: var(--color-1);
    font-size: 14px;
    padding: 0.75rem
}

a {
    color: var(--color-1);
}

.add-cart-large, .order-btn {
    /* background: var(--color-1); */
    border-color: var(--color-2);
}

.product.contain {
    border-radius: 10px px !important;
}

.btn-primary {
    color: #ffffff;
    background-color: var(--color-1);
    border-color: var(--color-2);
}

.btn-primary {
    background: var(--color-1);
    border-color: var(--color-2);
}

body .sub-nav .main-menu>li>a {
    font-size: var(--font-size-medium)!important;
    color: var(--color-2);
}

.promotion-title {
    display: block;
    width: auto;
    position: absolute;
    top: 15px;
    left: 0;
    right: auto;
    background-color: var(--main-color);
    font-size: 13px;
    color: #ffffff;
    padding: 3px 8px;
    border-radius: 0 5px 5px 0;
    z-index: 9;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

p.product-price {
    float: left;
    margin-left: 10px !important;
}

.product-add {
    padding: .5rem 1rem;
    border-left: 1px solid #dfdfdf !important;
}

a {
    color: black;
}

.container.banner a img {
    border-radius: 25px !important;
}

.product.contain {
    border-radius: 10px !important;
}

.product-add {
    padding: 0rem 1rem !important;
    border-left: 1px solid #dfdfdf !important;
}

.product-price {
    color: var(--color-2);
    padding: .0rem .25rem .5rem 0 !important;
}

.product-footer {
    height: 43px !important;
}

p.product-price {
    margin-top: 6px !important;
}

.product-add {
    padding: .5rem 1rem;
    border-right: 0px solid var(--color-1);
    font-size: 27px !important;
}

h2.section--title span {
    color: #212121 !important;
}

@media only screen and (max-width: 600px) {
    .salla-theme_1 header.site-header .logo-wrapper .logo img {
        max-height: 57px !important;
    }

    .sicon-cart:before {
        content: "\e96a";
        padding-top: 23px !important;
        font-size: 15px !important;
    }
}

@media only screen and (max-width: 767px) {
    .product .product-footer .product-price * {
        font-size: 18px;
    }
}

a.product-add.add_to_cart_btn::before {
    content: 'اضافة للسلة';
    font-size: 17px !important;
    text-align: center !important;
    color: #f7f7f7;
    margin-left: 42px !important;
    z-index: 999999;
}

.product-add {
    font-size: 20px !important;
}

.sicon-cart:before {
    content: "\e96a";
    padding-top: 27px !important;
    font-size: 21px !important;
}

@media only screen and (max-width: 600px) {
    section.section:nth-of-type(2) .col-md-4, section.section:nth-of-type(3) .col-md-4 {
        max-width: none !important;
    }

    .salla-theme_1 header.site-header .logo-wrapper .logo img {
        max-height: 100px !important;
        margin: -35px 0;
    }

    .sicon-cart:before {
        content: "\e96a";
        padding-top: 23px !important;
        font-size: 15px !important;
    }

    a.product-add.add_to_cart_btn::before {
        content: 'اضافة للسلة';
        font-size: 12px !important;
        text-align: center !important;
        color: #ffffff;
        margin-left: 10px !important;
        z-index: 999999;
    }

    p.product-price {
        float: left;
        margin-left: -12px !important;
    }
}

.product .product-footer .product-price * {
    font-size: 12px;
}

.footer-title {
    color: #fff !important;
    background: var(--color-1) !important;
}

.footer-main, .store-contact {
    text-align: right !important;
}

:root {
    --main-color: #4f4f4f;
    --infinte-color: #4f4f4f;
    --main-text-color: #2f2f2f;
    --main-text-color2: #000000;
    --main-text-color-dark: #020202;
    --color-main: #4f4f4f;
    --color-main-d: #353535;
    --color-main-l: #757575;
    --color-main-reverse: #000000;
    --color-text: #5a5a5a;
    --color-text-reverse: #0f0f0f;
    --color-title: #020202;
    --color-2: #e8b276;
    --color-1: #4f4f4f;
}
