.gallery-section.container.section-padding-space .box-1-1:before {
    padding: 0!important
}

.gallery .gallery-item.bottom-row {
    margin-top: 10px
}

.gallery-section.container.section-padding-space .box-1-1 .content {
    position: inherit!important
}

.gallery-section.container.section-padding-space img {
    height: auto!important
}

.menu-header-theme-bg-primary {
    background: #f1f1f1;
    background: linear-gradient(145deg,var(--2) 0%,var(--1) 20%)
}

.category-item img {
    max-width: 100%!important
}

.product-item img {
    object-fit: cover!important
}

.product-crd-spec {
    min-height: auto!important;
    margin-bottom: 5px!important
}

.products-slider .prod-col div {
    text-align: initial!important
}

.product-item .product-title>span {
    height: auto!important;
    font-weight: 500!important
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    width: 100%!important
}

.container.container-slider {
    padding-left: 0;
    padding-right: 0
}

.footer-store-section.store-section.footer-theme-bg-primary.footer-theme-text-for-primary-bg .col-12.col-lg-5 {
    flex: 0 0 30%!important;
    padding-left: 0!important
}

.footer-store-section.store-section.footer-theme-bg-primary.footer-theme-text-for-primary-bg .col-lg-7 {
    flex: 0 0 70%!important;
    max-width: 70%!important
}

.store-section p {
    font-size: 14px!important;
    text-align: center
}

.d-flex.flex-column-reverse.flex-lg-row.flex-wrap.align-items-center.justify-content-between.footer-store-section-bars {
    background: transparent;
    color: #fff!important;
}

.footer-copyrights-vat-certificate span {
    font-size: 15px
}

.store-section h1 {
    font-size: 17px!important;
    font-weight: 500!important;
    text-align: center
}

.vat-crn-sections.py-4.d-flex.flex-row.flex-wrap.justify-content-end.align-items-center {
    padding-top: 10px!important;
    padding-bottom: 10px!important
}

.footer-copyrights-vat-certificate {
    background: var(--1);
}

.footer-store-section-bars {
    min-height: auto!important
}

.footer-store-section.store-section.footer-theme-bg-primary.footer-theme-text-for-primary-bg {
    padding-top: 36px;
    padding-bottom: 10px!important
}

.features-section-img {
    max-height: 79px!important;
    max-width: 79px!important;
}

.products-slider .prod-col {
    padding-left: 5px!important;
    padding-right: 5px!important;
    background: #fff
}

.product-card-rating-wrapper {
    height: auto!important
}

.home-categories-section.section-padding-space {
    padding-top: 0;
    padding-bottom: 0
}

.categories-slider {
    height: auto!important
}

.section-padding-space {
    padding-top: 5px!important;
    padding-bottom: 5px!important
}

#a2320cdf-08f5-4d52-8da2-3203c42b3ec6 {
    background: 0 0
}

#fixed-header {
    background-color: #fff!important
}

.account-lang-currency upper-bar header-theme-bg-primary header-theme-text-for-primary-bg {
    background-color: var(--2)!important
}

.dark d-none d-lg-block {
    background-color: var(--2)!important
}

.header-theme-bg-primary {
    background-color: #fff!important
}

@media(max-width: 768px) {
    .categories-slider .category-item {
        width:auto
    }

    .footer-store-section.store-section.footer-theme-bg-primary.footer-theme-text-for-primary-bg .col-12.col-lg-5 {
        flex: 0 0 100%!important
    }

    .footer-store-section.store-section.footer-theme-bg-primary.footer-theme-text-for-primary-bg .col-lg-7 {
        flex: 0 0 100%!important;
        max-width: 100%!important
    }

    p.px-2.theme-text-for-primary-bg.features-section-title {
        margin-top: 5px!important;
        margin-bottom: 5px!important
    }

    .features-section-img {
        max-height: 70px!important;
        max-width: 70px!important;
    }

    .category-item h3 {
        margin-top: 5px!important;
        font-size: 14px!important;
        margin-bottom: 0!important
    }

    .product-item .product-title>span {
        height: auto!important;
        font-size: 13px!important;
        font-weight: 500!important
    }

    .product-item div {
        text-align: initial!important
    }

    .product-item img {
        object-fit: cover
    }

    .product-card-rating-wrapper {
        height: auto!important
    }

    .product-crd-spec {
        min-height: auto!important;
        margin-bottom: 10px!important
    }

    .gallery-item.col-6 {
        padding-left: 5px!important;
        padding-right: 5px!important
    }

    .categories-slider.s-slider .cat-col {
        width: 26.5%!important;
    }

    .categories-slider.s-slider .cat-col {
        padding-left: 2px!important;
        padding-right: 2px!important
    }

    .categories-slider, .products-slider, .testimonials-slider, .partners-slider {
        margin-bottom: 0!important
    }
}

.menu-header-theme-bg-primary {
    background-color: var(--2)
}

.account-lang-currency.upper-bar.header-theme-bg-primary.header-theme-text-for-primary-bg {
    background-color: var(--1)!important
}

.footer-theme-text-for-primary-bg {
    background-color: #fff
}

.category-item img {
    margin: 0 auto;
    max-width: 60%;
    height: auto
}

@media(max-width: 768px) {
    .products-slider.s-slider .prod-col {
        padding-left:5px!important;
        padding-right: 5px!important
    }

    .gallery.row .gallery-item.col-6 {
        width: 100%;
        max-width: 100%!important;
        flex: 1 1 100%!important;
        margin-top: 5px
    }

    .categories-slider, .products-slider, .testimonials-slider, .partners-slider {
        overflow-y: hidden;
        overflow-x: scroll;
        white-space: nowrap;
        margin-bottom: -78px
    }

    .search-header .image-logo {
        padding: 2px 0!important
    }

    .search-header .image-logo {
        top: 0px!important
    }
}

@media(min-width: 768px) {
    .account-area {
        z-index:10000;
        margin-top: -35px
    }

    .search-header.header-theme-bg-primary {
        padding-top: 0;
        padding-bottom: 0
    }

    .language-currency.d-flex.justify-content-between {
        display: none!important
    }

    .account-lang-currency {
        padding: 0!important
    }

    .header-logo, .header-cart {
        width: auto!important
    }
}

@media(max-width: 550px) {
    .d-flex.align-items-center.bd-highlight.header-logo {
        justify-content:space-around!important
    }
}

.features-section {
    background: transparent;
    color: #000
}

.theme-text-for-primary-bg {
    color: #000000
}

.header .icon-shopping_cart_black_36dp-1-1 .path1 {
    display: none
}

#fixed-header:not(.sticky) .icon-shopping_cart_black_36dp-1-1 .path2::before {
    display: block;
    content: "\e914 ";
    width: 25px;
    color: #0d0c0c!important;
    margin: unset;
    font-family: icomoon
}

#fixed-header.sticky .icon-shopping_cart_black_36dp-1-1 .path2::before {
    display: block;
    content: "\e914 ";
    width: 25px;
    color: #0d0c0c!important;
    font-family: icomoon;
    margin: unset
}

.d-flex.flex-row.justify-content-center.align-items-center.flex-wrap.icons-wrapper.footer-store-section-bars::before {
    content: "خيارات دفع امنة ومتعددة";
    font-family: inherit;
    font-size: 15px;
    line-height: 2;
    color: #292929
}

.footer-icons::after {
    content: "تصميم "" ""3lwaaa@gmail.com";
    color: #292929;
    font-size: 10px;
    display: block;
    text-align: left
}

.footer-about-us-div h1 {
    display: none
}

.footer-about-us-div p:before {
    display: block;
    width: 14pc;
    margin: -10px auto 25px;
    content: "";
    height: 68px;
    display: block;
    background: transparent var(--logo)0rem 0rem/100%no-repeat!important;
    background-size: contain!important
}

@media(max-width: 991px) {
    .slide-menu__slider>ul>li:nth-child(1) {
        grid-column:1/3;
        border-bottom: 0;
        display: block;
        content: "";
        width: 20rem;
        margin: 6px auto 8px;
        height: 94px;
        background: transparent var(--logo)center 1rem/75%no-repeat;
        background-size: contain
    }
}

body>div>div.footer>footer>div.footer-store-section.store-section.footer-theme-bg-primary.footer-theme-text-for-primary-bg>div>div>div.col-12.col-lg-7>div>div:nth-child(3)>div>h1 {
    text-align: inherit
}

.footer-theme-bg-primary {
    background-position: inherit;
    margin-top: 30px;
    text-align: center;
    padding: 40px;
    margin: 20px;
    border-radius: 15px;
    background-color: #f7f7f7
}

@media(max-width: 767px) {
    .footer-theme-bg-primary {
        background-position:inherit;
        margin-top: 30px;
        text-align: center;
        padding: 40px;
        margin: 20px;
        border-radius: 15px;
        background-color: #f7f7f7
    }
}

body {
    background: #fff
}

* {
    font-weight: unset!important
}

h1 {
    font-weight: unset!important
}

h2, h3 {
    font-weight: unset!important
}

.store-section h1 {
    font-size: 15px;
    margin-top: 20px
}

.store-section .social-icons {
    justify-content: center
}

.footer .footer-store-section-bars .icons {
    width: 100%;
    justify-content: center
}

.footer-store-section-bars {
    border-bottom: 0
}

.footer .logistics-pay-icons:after {
    content: "";
    display: block;
    width: 100%;
    height: 28px!important;
    margin: 0;
    background-image: url("https://media.zid.store/2b3633ee-4b48-437e-ab35-64dd1a33272f/125d0228-80dc-4a85-b5f2-75f6b6f15f17.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center
}

.footer .logistics-pay-icons a {
    display: none
}

.vat-crn-sections {
    justify-content: center!important
}

.footer .vat-crn-sections .vat-number {
    width: 100%;
    text-align: center;
    margin-top: 10px
}

.store-section .social-icons span {
    height: 35px;
    width: 35px;
    color: #fff;
    font-size: 17px;
    border: 2px solid var(--1);
    padding: 5px;
    background-color: var(--1);
    border-radius: 50%
}

.search-header .image-logo {
    padding: 0;
    position: relative;
    top: 14px
}

.slick-slide img {
    border-radius: 25px
}

.container.container-slider {
    margin-top: 10px
}

@media only screen and (max-width: 768px) {
    .container-slider {
        max-width:95%
    }
}

.testimonials-customer-text {
    height: 151px;
    text-align: center;
    padding-top: 61px;
    padding-left: 10px;
    padding-right: 11px;
    margin: 0;
    font-size: 15px;
    color: #434343;
    background-image: url("https://media.zid.store/2b3633ee-4b48-437e-ab35-64dd1a33272f/2188cd7a-255e-4891-956d-6c7af6b3012e.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #f7f7f7;
    background-position: 0px 0px;
}

@media(max-width: 767px) {
    .testimonials-customer-text {
        height:131px
    }
}

@media(max-width: 767px) {
    .product-item {
        width:184px
    }
}

a.btn.btn-primary.product-card-add-to-cart, .btn:not(:disabled):not(.disabled) {
    margin-bottom: 10px;
    padding: 7px 14px;
    position: relative;
    z-index: 1;
    border: 1px solid var(--1);
    background-color: #fff;
    color: var(--1)
}

a.btn.btn-primary.product-card-add-to-cart:hover, .btn:not(:disabled):not(.disabled):hover {
    color: #fff!important;
    transition-delay: .5s
}

a.btn.btn-primary.product-card-add-to-cart::before, .btn:not(:disabled):not(.disabled)::before {
    content: "";
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--1);
    z-index: -1;
    transition: .5s
}

a.btn.btn-primary.product-card-add-to-cart:hover::before, .btn:not(:disabled):not(.disabled):hover::before {
    z-index: -1;
    animation-name: left-move;
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards
}

@keyframes left-move {
    50% {
        left: 0;
        width: 8px;
        height: 8px
    }

    100% {
        left: 0;
        border-radius: 0;
        width: 100%;
        height: 100%
    }
}

a.btn.btn-primary.product-card-add-to-cart::after, .btn:not(:disabled):not(.disabled)::after {
    content: "";
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--1);
    z-index: -1;
    transition: .5s
}

a.btn.btn-primary.product-card-add-to-cart:hover::after, .btn:not(:disabled):not(.disabled):hover::after {
    z-index: -1;
    animation-name: right-move;
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards
}

@keyframes right-move {
    50% {
        right: 0;
        width: 8px;
        height: 8px
    }

    100% {
        right: 0;
        border-radius: 0;
        width: 100%;
        height: 100%
    }
}

.product-item .product-price {
    color: #ffa601!important
}

a.btn.btn-primary.product-card-add-to-cart, .btn:not(:disabled):not(.disabled) {
    border: 1px solid var(--1);
    color: #000
}

a.btn.btn-primary.product-card-add-to-cart::after, .btn:not(:disabled):not(.disabled)::after {
    background-color: var(--1)
}

a.btn.btn-primary.product-card-add-to-cart::before, .btn:not(:disabled):not(.disabled)::before {
    background-color: var(--1)
}

.theme-border-primary, .btn:not(:disabled):not(.disabled) {
    border-color: var(--1)!important
}

.theme-text-primary {
    color: #000
}

.testimonials-customer-card .card-body:before {
    content: "\f005 ""\f005 ""\f005 ""\f005 ""\f005 ";
    display: block;
    font-family: icomoon!important;
    color: #ffd814;
    font-size: 16px;
    font-weight: 400;
    line-height: 3
}

.features-section {
    background: transparent;
    color: #fff
}

.main .features-section {
    padding-top: 0px;
    padding-bottom: 0px
}

.main .features-section {
    background-color: transparent;
    margin-bottom: 0px;
    margin-top: 0px
}

.main .features-section .feature p {
    line-height: 1.7;
    font-size: 13px!important;
    padding-left: 60px!important;
    padding-right: 60px!important
}

@media(max-width: 991px) {
    .main .features-section {
        background:0px center;
        display: flex;
        flex-wrap: wrap
    }
}

.main .features-section {
    margin: 34px auto
}

.main .features-section .feature p {
    text-align: center
}

.header-theme-bg-primary {
    padding-top: 10px;
    padding-bottom: 10px
}

.main .features-section .feature p {
    margin-bottom: 30px;
    color: var(--2)
}

.main .features-section .feature p {
    margin-bottom: 30px;
    color: #000000
}

.features-section-img {
    max-height: 63px;
    max-width: 63px
}

.features-section-img {
    margin-bottom: 0;
    border: none;
    position: relative;
    top: 0px;
    animation: float 4s ease-in-out infinite;
    transition: all .4s ease
}

@keyframes float {
    0% {
        transform: translatey(0px)
    }

    50% {
        transform: translatey(-20px)
    }

    100% {
        transform: translatey(0px)
    }
}

.features-section.section-padding-space::before {
    content: "بماذا نتميز؟";
    font-size: 21px;
    font-weight: 600;
    padding-right: 7px;
    margin: auto;
    color: #000000!important;
    width: 100%;
    text-align-last: center
}

@media(min-width: 768px) {
    .features-section.section-padding-space::before {
        position:absolute
    }
}

.features-section.section-padding-space {
    border-radius: 6px;
    padding: 10px 0 15px
}

.features-section.section-padding-space>div {
    background: unset
}

.feature .theme-text-for-primary-bg {
    text-align: center;
    font-weight: 700;
    border-radius: 0 5rem!important;
    font-size: 1.2rem
}

.feature .theme-text-for-primary-bg:after {
    white-space: pre;
    font-size: 1rem;
    font-weight: 700;
    color: #000000!important;
    white-space: pre-wrap
}

.feature:first-child .theme-text-for-primary-bg:after {
    content: "\a       خدمة عملاء على مدار الاسبوع  "
}

.feature:nth-child(2) .theme-text-for-primary-bg:after {
    content: "\a       مدى - بطاقة الائتمان - أبل باي   "
}

.feature:nth-child(3) .theme-text-for-primary-bg:after {
    content: "\a     تغطية كاملة لجميع مناطق المملكة   "
}

img.features-section-img {
    filter: none;
    mix-blend-mode: normal
}

body>div>div.footer>footer>div.footer-store-section.store-section.footer-theme-bg-primary.footer-theme-text-for-primary-bg>div>div>div.col-12.col-lg-7>div>div:nth-child(3)>div>div>a:nth-child(1)>span {
    color: #ffffff;
    background: #3a58a0
}

body>div>div.footer>footer>div.footer-store-section.store-section.footer-theme-bg-primary.footer-theme-text-for-primary-bg>div>div>div.col-12.col-lg-7>div>div:nth-child(3)>div>div>a:nth-child(1)>span {
    background: linear-gradient(to right,#fcaf45,#833ab4);
    color: #ffffff;
}

body>div>div.footer>footer>div.footer-store-section.store-section.footer-theme-bg-primary.footer-theme-text-for-primary-bg>div>div>div.col-12.col-lg-7>div>div:nth-child(3)>div>div>a:nth-child(2)>span {
    background: #1da1f2;
    color: #ffffff
}

body>div>div.footer>footer>div.footer-store-section.store-section.footer-theme-bg-primary.footer-theme-text-for-primary-bg>div>div>div.col-12.col-lg-7>div>div:nth-child(3)>div>div>a:nth-child(3)>span {
    background: #fffc00;
    color: #4e4e4e;
}

body>div>div.footer>footer>div.footer-store-section.store-section.footer-theme-bg-primary.footer-theme-text-for-primary-bg>div>div>div.col-12.col-lg-7>div>div:nth-child(3)>div>div>a:nth-child(4)>span {
    background: #000000;
    color: #ffffff
}

.icon-call:before {
    content: "\f232 "
}

body>div>div.footer>footer>div.footer-store-section.store-section.footer-theme-bg-primary.footer-theme-text-for-primary-bg>div>div>div.col-12.col-lg-7>div>div:nth-child(3)>div>div>a[href*="tel:+966"]>span {
    background: #46a51e;
    color: #ffffff
}

body>div>div.header>header>div.account-lang-currency.upper-bar.header-theme-bg-primary.header-theme-text-for-primary-bg>div>div.account-area>button {
    margin-bottom: unset;
    padding: unset
}

body {
    background-color: #fcfcfc
}

.footer-theme-text-for-primary-bg,.store-section a {
    color: #000;
}

.search-header .image-logo {
    display: none!important
}

#fixed-header:not(.sticky) .header-logo a[href="/"],#fixed-header.sticky .header-logo a[href="/"] {
    background: var(--logo);
    padding: 0;
    width: 215px!important;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    right: -11px;
}

.footer-about-us-links-div.footer-about-us-div h1 {
    width: 15rem;
    content: var(--logo);
    margin: auto;
    margin-bottom: .5rem
}

@media (max-width: 991px) {
    #fixed-header:not(.sticky) .header-logo a[href="/"] {
        margin-right: auto!important;
        padding: 8px 0 10px 15px!important;
    }

    #fixed-header.sticky .header-logo a[href="/"] {
        background-size: 85%;
    }
}

@media(max-width: 991px) {
    .slide-menu__slider>ul>li:nth-child(1) {
        grid-column:1/3;
        border-bottom: 0;
        display: block;
        content: '';
        width: 20rem;
        margin: 6px auto 8px;
        height: 94px;
        background: transparent var(--logo) center 0rem/ 50% no-repeat;
        background-size: contain;
    }
}

:root {
    --1: #006671;
    --2: #00b3aa;
    --3: #bbbdbf;
    --4: #e5f4ef;
    --logo: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 331.02 116.28'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %2300b3aa; %7D .cls-2 %7B fill: %23006671; %7D .cls-3 %7B fill: %23bbbdbf; %7D %3C/style%3E%3C/defs%3E%3Cpolygon class='cls-3' points='323.79 31.03 323.51 26.33 319.53 23.81 324.23 23.52 326.76 19.55 327.04 24.25 331.02 26.78 326.32 27.06 323.79 31.03'/%3E%3Cg%3E%3Cpath class='cls-1' d='m266.14,5.85s-55.54,24.87-55.54,55.54v42.88c0,6.63,5.38,12.01,12.01,12.01h10.26v-54.81c0-10.8,8.75-19.55,19.55-19.55h.59v29.82h12.61c4.9,0,9.52,1.18,13.64,3.23v-33.06h.59c10.8,0,19.55,8.75,19.55,19.55v54.81h10.26c6.63,0,12.01-5.38,12.01-12.01v-42.88c0-30.67-55.54-55.54-55.54-55.54Zm40.08,36.74l-1.68,2.65-.19-3.14-2.65-1.68,3.14-.19,1.68-2.65.19,3.14,2.65,1.68-3.14.19Z'/%3E%3Cpath class='cls-2' d='m265.62,88.79h-12.61v27.49h26.25v-14.73c-.48-7.11-6.41-12.76-13.64-12.76Z'/%3E%3C/g%3E%3Cpolygon class='cls-1' points='319.01 18.1 314.09 12.14 306.38 12.63 312.34 7.71 311.86 0 316.77 5.96 324.48 5.47 318.52 10.39 319.01 18.1'/%3E%3Cg%3E%3Cpath class='cls-3' d='m54.29,93.12v13.96h-3.9v-19.21h6.13l3.83,14.78,3.88-14.78h6.08v19.21h-3.9v-13.93l-3.76,13.93h-4.57l-3.79-13.96Z'/%3E%3Cpath class='cls-3' d='m74.32,108.11c.38.11.78.21,1.18.3s.8.16,1.18.21c.38.05.73.07,1.03.07.47,0,.9-.04,1.29-.12s.71-.19.98-.36c.27-.16.47-.35.61-.57l.21-.33.14-.41c-.75.15-1.55.23-2.41.23s-1.63-.08-2.35-.24-1.36-.46-1.89-.88-.95-1.01-1.24-1.73-.44-1.64-.44-2.74v-7.99h3.83v7.07c0,.57.05,1.03.14,1.39.09.36.22.64.39.84.17.2.39.34.68.42.28.08.63.13,1.04.13.34,0,.69-.02,1.07-.07.38-.05.72-.12,1.04-.21v-9.57h3.81v12.26c0,1.18-.12,2.18-.35,3-.23.82-.63,1.49-1.19,2.01-.57.52-1.29.89-2.18,1.11-.89.22-1.99.33-3.31.33-.28,0-.58-.02-.91-.05-.33-.03-.66-.07-1-.13s-.67-.12-1-.18c-.33-.07-.68-.17-1.07-.29l-.85-4.09c.66.29,1.18.49,1.56.6Z'/%3E%3Cpath class='cls-3' d='m93.22,87.87h3.9v7.51h8.33v-7.51h3.92v19.21h-3.92v-7.99h-8.33v7.99h-3.9v-19.21Z'/%3E%3Cpath class='cls-3' d='m115.34,106.8c-.88-.37-1.65-.87-2.31-1.49-.66-.63-1.17-1.38-1.55-2.25-.37-.87-.56-1.81-.56-2.82s.19-1.94.56-2.8c.38-.86.89-1.61,1.55-2.26.66-.65,1.43-1.16,2.31-1.53.88-.37,1.84-.55,2.88-.55s2,.18,2.88.55c.88.37,1.65.88,2.31,1.53s1.17,1.4,1.55,2.26c.38.86.56,1.79.56,2.8s-.19,1.95-.56,2.82c-.37.87-.89,1.62-1.55,2.25s-1.43,1.12-2.31,1.49c-.88.37-1.84.55-2.88.55s-2-.18-2.88-.55Zm4.27-3.45c.41-.18.75-.41,1.04-.71.29-.3.51-.65.67-1.07.15-.41.23-.86.23-1.33s-.08-.92-.23-1.33c-.15-.41-.37-.77-.67-1.07-.29-.3-.64-.54-1.04-.72-.4-.18-.87-.28-1.39-.28s-.98.09-1.39.28c-.4.18-.75.42-1.04.72-.29.3-.51.66-.67,1.07-.15.41-.23.86-.23,1.33s.08.92.23,1.33c.15.41.37.77.67,1.07.29.3.64.53,1.04.71.41.18.87.26,1.39.26s.98-.09,1.39-.26Z'/%3E%3Cpath class='cls-3' d='m141.89,97.39c-.35-.37-.93-.55-1.72-.55-.34,0-.71.04-1.12.13-.41.08-.76.19-1.03.33.14.26.21.4.22.44,0,.03.03.16.06.4s.05.48.07.72c.02.24.02.46.02.64v7.58h-3.81v-7.48c0-.57-.05-1.03-.14-1.39s-.23-.64-.4-.83c-.18-.19-.41-.33-.7-.41-.29-.09-.65-.13-1.08-.13-.34,0-.65.03-.94.09l-.87.14v10.01h-3.81v-13.22c1.19-.22,2.27-.39,3.23-.54.96-.15,1.77-.22,2.44-.22s1.4.07,2.1.22,1.23.37,1.6.68c.58-.23,1.28-.44,2.09-.62.81-.18,1.55-.28,2.2-.28.81,0,1.58.08,2.31.24.73.16,1.36.45,1.91.88.54.43.97,1.01,1.27,1.73.31.73.46,1.64.46,2.74v8.38h-3.81v-7.48c0-1.1-.18-1.84-.53-2.2Z'/%3E%3Cpath class='cls-3' d='m155.93,103.52c.36-.06.7-.14,1.03-.23s.63-.2.9-.33.58-.36.93-.7l1.72,3.49c-.87.49-1.77.88-2.7,1.17-.93.29-2.04.44-3.34.44-1.06,0-2.04-.18-2.94-.54-.9-.36-1.69-.86-2.35-1.49-.67-.64-1.18-1.39-1.55-2.26-.37-.87-.55-1.81-.55-2.82s.19-2,.56-2.87c.38-.87.89-1.63,1.54-2.26.65-.64,1.41-1.13,2.27-1.48.86-.35,1.79-.53,2.79-.53s2,.18,2.87.55,1.62.91,2.25,1.62c.63.71,1.1,1.58,1.43,2.59s.47,2.26.42,3.73h-10.15c.12.57.5,1.04,1.12,1.43.63.39,1.42.59,2.36.59h.34c.32,0,.66-.03,1.02-.09Zm-3.76-6.36c-.54.41-.87.8-.98,1.17h5.99c-.11-.47-.43-.89-.96-1.25-.54-.36-1.21-.54-2.02-.54s-1.49.21-2.03.62Z'/%3E%3C/g%3E%3Cg%3E%3Cpath class='cls-2' d='m79.28,32.65c-1.21-.5-2.54-.75-3.99-.75h-16.44v8.14h16.44c.5,0,.99.2,1.46.59.24.18.39.36.45.53.07.17.14.48.22.93,0,.55-.2,1.03-.59,1.42-.29.32-.8.51-1.54.59h-21.78c-.17-1.03-.44-2.02-.85-2.95-.69-1.58-1.65-2.98-2.86-4.18-1.22-1.2-2.64-2.14-4.26-2.82-1.63-.68-3.4-1.02-5.32-1.02s-3.7.34-5.32,1.02c-1.63.68-3.05,1.62-4.26,2.82s-2.17,2.59-2.86,4.18c-.41.93-.68,1.92-.85,2.95h-6.45v-20.35h-8.26v27.54c-.08.74-.28,1.25-.59,1.54-.39.39-.87.59-1.42.59-.45-.08-.76-.15-.93-.22-.17-.07-.35-.22-.53-.45-.39-.47-.59-.96-.59-1.46v-8.1H0v8.1c0,1.45.25,2.78.75,3.99.5,1.21,1.24,2.32,2.21,3.32,2.08,1.98,4.49,2.96,7.23,2.96s5.3-1,7.29-3c1.73-1.75,2.71-3.81,2.93-6.2h7.74c.65,1.27,1.46,2.39,2.47,3.35,1.22,1.16,2.64,2.08,4.26,2.76,1.63.68,3.4,1.02,5.32,1.02s3.7-.34,5.32-1.02c1.63-.68,3.05-1.6,4.26-2.76,1-.96,1.82-2.08,2.47-3.35h23.02c2.85,0,5.27-.99,7.27-2.98,2-1.99,3-4.42,3-7.29s-.99-5.15-2.96-7.23c-1-.97-2.11-1.71-3.32-2.21Zm-33.34,16.15c-.28.76-.69,1.42-1.23,1.97-.54.55-1.18.99-1.93,1.32-.75.33-1.61.49-2.57.49s-1.82-.16-2.57-.49-1.39-.76-1.93-1.32c-.54-.55-.95-1.21-1.23-1.97-.28-.76-.42-1.58-.42-2.46s.14-1.7.42-2.46c.28-.76.69-1.42,1.23-1.97.54-.55,1.18-1,1.93-1.34.75-.34,1.61-.51,2.57-.51s1.82.17,2.57.51c.75.34,1.39.78,1.93,1.34.54.55.95,1.21,1.23,1.97.28.76.42,1.58.42,2.46s-.14,1.7-.42,2.46Z'/%3E%3Cpath class='cls-2' d='m67.27,54.06c-1.05,0-1.94.36-2.67,1.09-.72.72-1.09,1.61-1.09,2.67s.36,1.94,1.09,2.67,1.61,1.09,2.67,1.09,1.86-.38,2.57-1.15c.71-.76,1.07-1.63,1.07-2.61,0-2.5-1.21-3.75-3.64-3.75Z'/%3E%3Cpath class='cls-2' d='m92.68,23.52c-.16-.16-.24-.34-.24-.55.03-.18.05-.31.08-.38.03-.07.09-.14.2-.22.18-.16.38-.24.59-.24h3.28v-3.32h-3.28c-.61,0-1.15.11-1.64.32-.49.21-.93.51-1.32.91-.82.84-1.22,1.82-1.22,2.92,0,.27.03.54.07.79h-2.09v3.36h5.96v-.02c.08,0,.16.02.24.02h3.87v-3.36h-3.87c-.32-.03-.53-.11-.63-.24Z'/%3E%3Crect class='cls-2' x='87.94' y='28.34' width='8.14' height='23.94'/%3E%3Cpath class='cls-2' d='m107.97,56.79c-2.45,0-3.67,1.25-3.67,3.75,0,.97.36,1.84,1.09,2.61.72.76,1.59,1.15,2.59,1.15,1.05,0,1.94-.36,2.67-1.09s1.09-1.61,1.09-2.67-.36-1.94-1.09-2.67c-.72-.73-1.61-1.09-2.67-1.09Z'/%3E%3Cpath class='cls-2' d='m116.54,56.79c-1.05,0-1.94.36-2.67,1.09-.73.72-1.09,1.61-1.09,2.67s.36,1.94,1.09,2.67,1.61,1.09,2.67,1.09,1.86-.38,2.57-1.15c.71-.76,1.07-1.63,1.07-2.61,0-2.5-1.21-3.75-3.63-3.75Z'/%3E%3Cpath class='cls-2' d='m146.57,28.42c1.05,0,1.94-.36,2.67-1.09.72-.72,1.09-1.61,1.09-2.67s-.36-1.94-1.09-2.67c-.73-.72-1.61-1.09-2.67-1.09-2.45,0-3.67,1.25-3.67,3.75,0,.98.36,1.84,1.09,2.61.73.76,1.59,1.15,2.59,1.15Z'/%3E%3Cpath class='cls-2' d='m155.26,28.42c1.05,0,1.94-.36,2.67-1.09.72-.72,1.09-1.61,1.09-2.67s-.36-1.94-1.09-2.67c-.73-.72-1.61-1.09-2.67-1.09-2.45,0-3.67,1.25-3.67,3.75,0,.98.36,1.84,1.09,2.61s1.59,1.15,2.59,1.15Z'/%3E%3Cpath class='cls-2' d='m175.93,54.54c-1.05,0-1.94.36-2.67,1.09-.73.72-1.09,1.61-1.09,2.67s.36,1.94,1.09,2.67c.72.72,1.61,1.09,2.67,1.09s1.86-.38,2.57-1.15c.71-.76,1.07-1.63,1.07-2.61,0-2.5-1.21-3.75-3.64-3.75Z'/%3E%3Cpath class='cls-2' d='m167.35,54.54c-2.45,0-3.68,1.25-3.68,3.75,0,.97.36,1.84,1.09,2.61.72.76,1.59,1.15,2.59,1.15,1.05,0,1.94-.36,2.67-1.09.72-.72,1.09-1.61,1.09-2.67s-.36-1.94-1.09-2.67c-.73-.72-1.61-1.09-2.67-1.09Z'/%3E%3Cpath class='cls-2' d='m187.7,31.86v9.68c0,1.74-.84,2.61-2.53,2.61h-2.53v-.04h-5.97v-12.25h-8.18v9.68c0,1.74-.86,2.61-2.57,2.61h-3.4v-.04h-5.97v-12.25h-8.18v9.68c0,1.74-.86,2.61-2.57,2.61h-2.77v-.04h-8.34v-8.1c0-1.45-.25-2.78-.75-3.99-.5-1.21-1.24-2.32-2.21-3.32-2.08-1.98-4.49-2.96-7.23-2.96s-5.3,1-7.29,3c-1.99,2-2.98,4.42-2.98,7.27v8.59l-.04.18c-.08.74-.28,1.25-.59,1.54-.4.39-.87.59-1.42.59-.45-.08-.76-.15-.93-.22-.17-.07-.35-.22-.53-.45-.4-.47-.59-.96-.59-1.46v-11.05h-8.14v11.05c0,1.45.25,2.78.75,3.99.5,1.21,1.24,2.32,2.21,3.32,2.08,1.98,4.49,2.96,7.23,2.96s5.3-1,7.29-3c1.99-2,2.98-4.42,2.98-7.27v-8.58l.04-.19c.08-.74.28-1.25.59-1.54.39-.39.87-.59,1.42-.59.45.08.76.15.93.22.17.07.35.22.53.45.39.47.59.96.59,1.46v8.1h-.04v8.26h21.85c2.15,0,4.05-.81,5.69-2.43v2.43h14.42c2.15,0,4.05-.81,5.69-2.43v2.43h13.51c2.16,0,4.06-.82,5.71-2.45,1.65-1.63,2.47-3.56,2.47-5.77v-12.29h-8.18Z'/%3E%3Cpath class='cls-2' d='m188.29,53.99c-2.45,0-3.67,1.25-3.67,3.75,0,.97.36,1.84,1.09,2.61.72.76,1.59,1.15,2.59,1.15,1.05,0,1.94-.36,2.67-1.09.72-.72,1.09-1.61,1.09-2.67s-.36-1.94-1.09-2.67c-.72-.72-1.61-1.09-2.67-1.09Z'/%3E%3C/g%3E%3C/svg%3E");
}

#fixed-header:not(.sticky) .icon-menu_open_black_24dp-1::before {
    display: block;
    content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 211.9 160.2'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23006671; %7D %3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M196.9,29.8H14.9C6.7,29.8,0,23.1,0,14.9H0C0,6.7,6.7,0,14.9,0H197c8.2,0,14.9,6.7,14.9,14.9h0c-.1,8.3-6.7,14.9-15,14.9Z'/%3E%3Cpath class='cls-1' d='M196.9,95H14.9c-8.2,0-14.9-6.7-14.9-14.9H0c0-8.2,6.7-14.9,14.9-14.9H197c8.2,0,14.9,6.7,14.9,14.9h0c-.1,8.3-6.7,14.9-15,14.9Z'/%3E%3Cpath class='cls-1' d='M196.9,160.2H14.9c-8.2,0-14.9-6.7-14.9-14.9H0c0-8.2,6.7-14.9,14.9-14.9H197c8.2,0,14.9,6.7,14.9,14.9h0c-.1,8.3-6.7,14.9-15,14.9Z'/%3E%3C/svg%3E");
    width: 24px
}

#fixed-header:not(.sticky) .icon-shopping_cart_black_36dp-1-1 .path2::before {
    display: block;
    content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 140.73 181.4'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23006671; %7D %3C/style%3E%3C/defs%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1-2'%3E%3Cg id='bag'%3E%3Cpath class='cls-1' d='M134.93,58.3c-.2-3.4-3-6.1-6.5-6.1h-25.8v-19.4C102.93,15,88.73,.3,70.93,0c-17.8-.3-32.6,13.9-32.9,31.7v20.5H12.23c-3.4,0-6.3,2.7-6.5,6.1L.03,160.9c-.6,10.7,7.6,19.8,18.3,20.5H121.33c10.7,0,19.4-8.6,19.4-19.4h0v-1.1l-5.8-102.6ZM51.03,32.8c-.2-10.7,8.3-19.6,19-19.8s19.6,8.3,19.8,19v20.2H51.03v-19.4Z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    width: 20px;
    margin: unset
}

.header .icon-shopping_cart_black_36dp-1-1 .path1 {
    display: none
}

#fixed-header:not(.sticky) .icon-search::before {
    display: block;
    content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100.61 99.31'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23006671; %7D %3C/style%3E%3C/defs%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1-2'%3E%3Cpath class='cls-1' d='M98.21,85.31l-23.1-23.1c11.9-19,6.2-44.1-12.9-56S18.11,0,6.21,19.11,0,63.21,19.11,75.11c13.8,8.6,31.4,8.2,44.7-1.1l22.9,22.9c3.2,3.2,8.3,3.2,11.5,0,3.2-3.3,3.2-8.4,0-11.6Zm-57.5-17.2c-15.2,0-27.5-12.3-27.5-27.5S25.51,13.11,40.71,13.11s27.5,12.3,27.5,27.5h0c-.1,15.2-12.4,27.5-27.5,27.5h0Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    width: 23px;
    margin: unset
}

#fixed-header.sticky .icon-menu_open_black_24dp-1::before {
    display: block;
    content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 211.9 160.2'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23006671; %7D %3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M196.9,29.8H14.9C6.7,29.8,0,23.1,0,14.9H0C0,6.7,6.7,0,14.9,0H197c8.2,0,14.9,6.7,14.9,14.9h0c-.1,8.3-6.7,14.9-15,14.9Z'/%3E%3Cpath class='cls-1' d='M196.9,95H14.9c-8.2,0-14.9-6.7-14.9-14.9H0c0-8.2,6.7-14.9,14.9-14.9H197c8.2,0,14.9,6.7,14.9,14.9h0c-.1,8.3-6.7,14.9-15,14.9Z'/%3E%3Cpath class='cls-1' d='M196.9,160.2H14.9c-8.2,0-14.9-6.7-14.9-14.9H0c0-8.2,6.7-14.9,14.9-14.9H197c8.2,0,14.9,6.7,14.9,14.9h0c-.1,8.3-6.7,14.9-15,14.9Z'/%3E%3C/svg%3E");
    width: 24px
}

#fixed-header.sticky .icon-shopping_cart_black_36dp-1-1 .path2::before {
    display: block;
    content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 140.73 181.4'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23006671; %7D %3C/style%3E%3C/defs%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1-2'%3E%3Cg id='bag'%3E%3Cpath class='cls-1' d='M134.93,58.3c-.2-3.4-3-6.1-6.5-6.1h-25.8v-19.4C102.93,15,88.73,.3,70.93,0c-17.8-.3-32.6,13.9-32.9,31.7v20.5H12.23c-3.4,0-6.3,2.7-6.5,6.1L.03,160.9c-.6,10.7,7.6,19.8,18.3,20.5H121.33c10.7,0,19.4-8.6,19.4-19.4h0v-1.1l-5.8-102.6ZM51.03,32.8c-.2-10.7,8.3-19.6,19-19.8s19.6,8.3,19.8,19v20.2H51.03v-19.4Z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    width: 20px;
    margin: unset
}

#fixed-header.sticky .icon-search::before {
    display: block;
    content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100.61 99.31'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23006671; %7D %3C/style%3E%3C/defs%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1-2'%3E%3Cpath class='cls-1' d='M98.21,85.31l-23.1-23.1c11.9-19,6.2-44.1-12.9-56S18.11,0,6.21,19.11,0,63.21,19.11,75.11c13.8,8.6,31.4,8.2,44.7-1.1l22.9,22.9c3.2,3.2,8.3,3.2,11.5,0,3.2-3.3,3.2-8.4,0-11.6Zm-57.5-17.2c-15.2,0-27.5-12.3-27.5-27.5S25.51,13.11,40.71,13.11s27.5,12.3,27.5,27.5h0c-.1,15.2-12.4,27.5-27.5,27.5h0Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    width: 23px;
}

.section-padding-space {
    padding-top: 0;
    padding-bottom: 13px
}

@media(max-width: 768px) {
    .categories-slider .category-item {
        width:92px
    }
}

.category-item img {
    border-radius: 118px!important;
    box-shadow: rgba(50,50,93,0.25)0px 6px 12px -2px,rgba(0,0,0,0.3)0px 3px 7px -3px
}

.category-item h3 {
    color: #2d7d74;
    font-weight: 600;
    font-size: 17px
}

.slider-container {
    text-align: center
}

section .main-slider img {
    object-fit: fill!important
}

.box-1-1.ratio21_9:before {
    padding-top: 53%!important
}

.home-categories-section.section-padding-space>div {
    background-color: var(--4)
}

.section-title {
    color: #000!important;
    background: 0 0!important;
    border: none!important;
    font-size: 2.5rem
}

@media(max-width: 767.98px) {
    .features-section-img {
        max-height:80px;
        max-width: 80px
    }

    .feature p.px-2.theme-text-for-primary-bg {
        font-size: 1.3rem!important
    }

    .section-title, .home>div:nth-of-type(4) .section-title:before {
        font-size: 2.2rem!important
    }

    .home>div:nth-of-type(4) .section-title {
        font-size: 1.6rem!important
    }

    .features-section .features-section div:nth-of-type(3)::after, .features-section .features-section div:nth-of-type(2)::after, .features-section .features-section div:nth-of-type(1)::after {
        font-size: 1.1rem
    }

    .col-product-info h1 {
        font-size: 2rem!important
    }

    .col-product-info p, #product-description-a {
        font-size: 1.2rem!important
    }
}

 
