/* develope By Package +201002241591  3lwaaa@gmail.com - https://wa.me/201002241591 */
@import "https://site-assets.fontawesome.com/releases/v6.2.0/css/all.css"; @media(max-width: 767px) {
    .products-slider.s-slider {
        display:flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap
    }
}

.products-slider.s-slider>div {
    margin: 18px 6px;
}

a.d-flex.flex-column.justify-content-start+div {
    display: flex;
    justify-content: space-between;
    align-items: center
}

a.d-flex.flex-column.justify-content-start+div::before {
    /* content: "\f00e "!important; */
    font-family: fontawesome!important;
    order: 2;
    font-weight: 400;
}

.product-item {
    position: relative;
    box-shadow: 0 0 10px #ddd!important;
    text-align: center;
    padding-bottom: 7px;
    overflow: hidden;
    border-radius: 15px;
    background: #fff
}

a.btn.btn-primary.product-card-add-to-cart,.product-item .btn-primary {
    position: absolute!important;
    /* border-radius: 15px 0 15px 0!important; */
    background: var(--1)!important;
    border: none!important;
    font-size: 16px!important;
    font-weight: 400!important;
    width: 100%;
}

@media(min-width: 992px) {
    a.btn.btn-primary.product-card-add-to-cart {
        /* padding:16px 24px!important; */ font-size: 16px!important;
        padding-bottom: 28px!important;
    }

    a.d-flex.flex-column.justify-content-start+div::before {
        position: relative;
        left: 20px;
        font-size: 18px;
        bottom: 5px
    }

    .products-slider.s-slider.slick-initialized.slick-slider .slick-track {
        padding: 15px 0;
        display: flex;
        justify-content: center
    }
}

.products-slider .prod-col {
    padding-left: 4px!important;
    padding-right: 2px!important
}

a.btn.btn-primary.product-card-add-to-cart,.btn-primary {
    /* padding: 17px 19px!important; */
    padding-bottom: 24px!important;
}

a.btn.btn-primary.product-card-add-to-cart,.btn-primary {
    /* padding: 17px 19px!important; */
    /* padding-bottom: 24px!important; */
}

.product-price.section-product-price.theme-title-primary+small {
    position: relative;
    top: -10px
}

.search-header {
    background: var(--1-1);
    border-bottom: 4px solid var(--1);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px
}

.icon-shopping_cart_black_36dp-1-1:not(.theme-title-primary), .sm-search-icon>span, .icon-menu-top>span {
    font-size: 26px;
    background: #fff;
    border-radius: 50px;
    padding: 6px;
    color: var(--1-1)
}

.box-1-1.ratio21_9 div {
    margin: 10px
}

.slick-dotted.slick-slider {
    margin-bottom: 0
}

div.slick-slide:not(.prod-col) div:not(.category-item):not(.product-item) img:not(.carousel-img) {
    border-radius: 10px
}

.slide-menu-ul-li {
    border-top: .5px solid #e6e6e6!important
}

.category-item h3 {
    font-weight: 600;
    font-size: 17px;
    color: var(--1)
}

.section-padding-space {
    padding-top: 0;
    padding-bottom: 13px
}

@media(max-width: 768px) {
    .categories-slider {
        height:100%!important
    }
}

@media(max-width: 768px) {
    .categories-slider .category-item {
        width:92px
    }
}

.category-item img {
    border-radius: 118px!important
}

.product-item {
    max-width: unset
}

.row.products-list {
    display: flex;
    justify-content: space-around
}

@media(max-width: 768px) {
    .products-list .prod-col {
        width:45%
    }
}

.product-title span, .product-crd-spec {
    padding: 0 7px
}

a.more-button.btn.btn-outline-primary.theme-text-primary.theme-border-primary {
    border: 0;
    text-decoration: underline;
    color: var(--1);
    font-weight: 600
}

.text-center.mt-5.category-products-display-more-section {
    margin: 0!important
}

.slider-container {
    text-align: center
}

@media(max-width: 768px) {
    .product-item {
        width: 174px;
    }
}

.section-title {
    text-align: center;
    display: inline-block;
    font-size: 18px;
    color: #fff!important;
    padding: 5px 20px!important;
    border-radius: 10px;
    background: var(--1)!important;
    font-weight: 600
}

.product-item img {
    border-radius: 8px 8px 0 0!important;
    box-shadow: none!important
}

.products-slider .prod-col, .products-list .prod-col {
    padding: 0!important;
    margin: 5px;
    border: 1px solid var(--1-1);
    border-radius: 10px
}

a.btn.btn-primary.product-card-add-to-cart {
    border-radius: 10px;
    margin-bottom: 6px;
    font-size: 14px
}

.feature:nth-child(1) img {
    content: url(https://i.postimg.cc/rmQDtzBw/icon1-2.gif);
    width: 90px
}

.feature:nth-child(2) img {
    content: url(https://i.postimg.cc/N0X8T8Df/icon2-5.gif);
    width: 90px
}

.feature:nth-child(3) img {
    content: url(https://i.postimg.cc/9XZSVZj2/icon3-5.gif);
    width: 90px
}

p.px-2.theme-text-for-primary-bg {
    color: #fff
}

.feature.d-flex.flex-column.justify-content-center.align-items-center:nth-child(2) {
    background: var(--1)
}

.features-section {
    background: #fff;
    color: #000
}

.feature.d-flex.flex-column.justify-content-center.align-items-center {
    border-radius: 15px;
    height: 195px;
    width: 145px;
    padding: 5px;
    background: var(--1-1);
    margin: 8px
}

.footer .icons div {
    background: #fff;
    border-radius: 50px;
    padding: 5px
}

.footer-store-section-bars {
    border-bottom: 0!important
}

.store-section .social-icons {
    justify-content: center
}

.footer-companies, .footer-copyrights-vat-certificate {
    background: var(--1-1)
}

.footer-copyrights a {
    display: none
}

.store-section .social-icons span {
    border: none!important;
    background: #fff;
    border-radius: 126px!important;
    margin: 0 5px;
    color: var(--1-1)!important
}

.store-section p, .store-section a {
    color: #fff!important;
    font-size: 14px
}

.store-section h1 {
    font-weight: 600!important;
    font-size: 16px;
    color: #fff;
}

.footer-theme-bg-primary {
    text-align: center;
    border-top: 5px solid var(--1);
    margin-top: 30px!important;
    background-color: var(--1-1);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    color: var(--1);
    font-weight: 600
}

.menu-header-theme-bg-primary {
    background-color: var(--1);
}

ul.main-nav>li>a, .item-all-categories a {
    color: var(--2);
}

.search-header .image-logo {
    display: none!important
}

#fixed-header:not(.sticky) .header-logo a[href="/"],#fixed-header.sticky .header-logo a[href="/"] {
    background: var(--logo);
    padding: 0;
    width: 215px!important;
    background-repeat: no-repeat;
    background-position: center;
    filter: brightness(0.5);
}

.footer-about-us-links-div.footer-about-us-div h1 {
    width: 15rem;
    /* content: var(--logo); */
    margin: auto;
    margin-bottom: .5rem;
}

@media (max-width: 991px) {
    #fixed-header:not(.sticky) .header-logo a[href="/"] {
        margin-right: auto!important;
        padding: 8px 0 10px 15px!important;
    }

    #fixed-header.sticky .header-logo a[href="/"] {
        background-size: contain;
        width: 44px!important;
        position: relative;
        right: 39%;
    }
}

@media(max-width: 991px) {
    .slide-menu__slider>ul>li:nth-child(1) {
        grid-column:1/3;
        border-bottom: 0;
        display: block;
        content: '';
        width: 20rem;
        margin: 21px auto 24px;
        height: 92px;
        background: transparent var(--logo) center 0rem/ 50% no-repeat;
        background-size: contain;
        filter: brightness(0.5);
    }
}

/* شاشة البداية  */
body[data-template="home"]:before {
    content: '';
    width: 100%;
    height: 100%;
    background: #ffffff var(--logo);
    position: fixed;
    z-index: 99999999999999999 !important;
    transform: scale(0);
    background-size: 250px !important;
    background-repeat: no-repeat;
    background-position: center !important;
    animation-name: logobg;
    animation-duration: 3s
}

@keyframes logobg {
    0% {
        transform: scale(1);
    }

    20% {
        transform: scale(1);
    }

    78% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

/* شاشة البداية  */
.feature.d-flex.flex-column.justify-content-center.align-items-center {
    border-radius: 15px;
    height: 195px;
    width: 145px;
    padding: 5px;
    background: var(--1-1);
    margin: 8px
}

.features-section {
    background: transparent;
}

.features-section.section-padding-space::before {
    content: "ليش تختارنا؟";
    /*     font-size: 1.7rem;
    font-weight: 700;
    color: var(--1-1)!important;
    padding: 0;
    display: table;
    border-right: 7px solid #000000;
    border-radius: 5px;
    padding-right: 10px!important;
    margin-right: 20px */
    text-align: center;
    display: block;
    font-size: 18px;
    color: #fff!important;
    padding: 5px 20px!important;
    border-radius: 10px;
    background: var(--1)!important;
    font-weight: 600;
    width: 14%;
    position: relative;
    right: 42%;
}

@media (max-width: 700px) {
    .features-section.section-padding-space::before {
        width: 50%;
        right: 24%;
    }
}

.feature.d-flex.flex-column.justify-content-center.align-items-center:nth-child(2) {
    background: var(--1-1)
}

.icon-account_circle_black_24dp:before {
    color: var(--1);
}

footer:before {
    display: block;
    width: 100%!important;
    background: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 929.29 141.32'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23d39a8e; %7D .cls-2 %7B clip-path: url(%23clippath-2); %7D .cls-3 %7B clip-path: url(%23clippath-1); %7D .cls-4 %7B clip-path: url(%23clippath-4); %7D .cls-5 %7B clip-path: url(%23clippath); %7D .cls-6 %7B fill: none; %7D .cls-7 %7B clip-path: url(%23clippath-3); %7D .cls-8 %7B fill: %23231f20; %7D %3C/style%3E%3CclipPath id='clippath'%3E%3Crect class='cls-6' x='41.62' y='13.92' width='113.47' height='113.47'/%3E%3C/clipPath%3E%3CclipPath id='clippath-1'%3E%3Crect class='cls-6' x='224.77' y='13.92' width='113.47' height='113.47'/%3E%3C/clipPath%3E%3CclipPath id='clippath-2'%3E%3Crect class='cls-6' x='407.91' y='13.92' width='113.47' height='113.47'/%3E%3C/clipPath%3E%3CclipPath id='clippath-3'%3E%3Crect class='cls-6' x='591.05' y='13.92' width='113.47' height='113.47'/%3E%3C/clipPath%3E%3CclipPath id='clippath-4'%3E%3Crect class='cls-6' x='774.19' y='13.92' width='113.47' height='113.47'/%3E%3C/clipPath%3E%3C/defs%3E%3Crect class='cls-6' width='929.29' height='141.32'/%3E%3Cg%3E%3Cg%3E%3Cpath class='cls-1' d='m72.94,46.22c-1.29,1.07-2.43,2.49-3.41,4.26-.98,1.77-1.8,3.73-2.46,5.87-.66,2.14-1.09,4.32-1.31,6.53-.22,2.21-.2,4.29.07,6.23.26,1.95.8,3.58,1.61,4.92.81,1.33,1.93,2.2,3.38,2.59.87.22,1.81.21,2.82-.03,1.01-.24,2.03-.75,3.08-1.54,1.49-1.09,3.1-2.5,4.85-4.23,1.75-1.73,3.49-3.56,5.21-5.51,1.73-1.95,3.31-3.8,4.75-5.57s2.62-3.25,3.54-4.43c0-.17-.15-.26-.46-.26s-.52.07-.66.2c-.57.7-1.39,1.71-2.46,3.02-1.07,1.31-2.29,2.75-3.64,4.33-1.36,1.57-2.77,3.15-4.23,4.72-1.47,1.57-2.9,3.02-4.3,4.33-1.4,1.31-2.67,2.34-3.8,3.08-1.01.66-1.92,1.06-2.75,1.21-.83.15-1.49.08-1.97-.23-.83-.35-1.36-1.27-1.57-2.75-.22-1.49-.22-3.29,0-5.41.22-2.12.61-4.36,1.18-6.72.57-2.36,1.23-4.61,2-6.76.76-2.14,1.56-3.96,2.39-5.44.83-1.49,1.62-2.4,2.36-2.75.61-.26,1.23-.14,1.87.36.63.5,1.09,1.22,1.38,2.16.28.94.23,1.91-.16,2.92-.39,1.01-1.33,1.86-2.82,2.56h1.18c1.18-.44,2-1.16,2.46-2.16.46-1.01.58-2.05.36-3.15-.22-1.09-.69-2.02-1.41-2.79-.72-.76-1.67-1.15-2.85-1.15-1.53,0-2.94.54-4.23,1.61Z'/%3E%3Cpath class='cls-1' d='m110.29,54.68c-.13,1.07-.24,1.65-.33,1.74-1.88,3.15-3.57,5.59-5.08,7.31-1.51,1.73-2.82,2.91-3.94,3.54-1.11.63-2,.89-2.66.75-.66-.13-1.15-.7-1.48-1.71-.33-1.01-.48-2.26-.46-3.77.02-1.51.22-3.12.59-4.82.37-1.71.91-3.36,1.61-4.95.7-1.6,1.56-2.97,2.59-4.13,1.03-1.16,2.24-1.91,3.64-2.26.79-.22,1.61-.12,2.46.3.85.42,1.62.97,2.3,1.67.68.7,1.13,1.4,1.34,2.1-.26,1.75-.46,3.16-.59,4.23Zm-5.94,34.53c-.9,4.07-1.86,7.75-2.89,11.05-1.03,3.3-2.09,5.99-3.18,8.07-1.09,2.08-2.21,3.22-3.34,3.44-.96.17-1.77-.25-2.43-1.28-.66-1.03-1.08-2.49-1.28-4.39-.2-1.9-.08-4.08.36-6.53.44-2.45,1.25-5.02,2.43-7.71,1.18-2.69,2.81-5.33,4.89-7.94,2.08-2.6,4.69-5,7.84-7.18-.7,4.24-1.5,8.39-2.39,12.46Zm-5.84-6.49c-2.25,2.71-4.02,5.48-5.31,8.3s-2.16,5.52-2.62,8.1c-.46,2.58-.58,4.9-.36,6.95.22,2.05.71,3.68,1.48,4.89.77,1.2,1.74,1.8,2.92,1.8,2.58-.04,4.91-1.67,6.98-4.89,2.08-3.21,3.97-7.75,5.67-13.61,1.71-5.86,3.21-12.7,4.53-20.53,1.79-1.05,3.89-2.53,6.3-4.43,2.4-1.9,4.89-4.06,7.44-6.46,2.56-2.4,4.91-4.9,7.05-7.48,0-.17-.19-.26-.56-.26s-.6.07-.69.2c-1.84,2.14-3.91,4.31-6.23,6.49-2.32,2.19-4.64,4.22-6.95,6.1-2.32,1.88-4.42,3.41-6.3,4.59.44-2.32.9-4.99,1.38-8.03.48-3.04,1.01-6.14,1.57-9.31.57-3.17,1.14-6.04,1.71-8.62.09-.52-.07-.92-.46-1.18-.39-.26-.9-.4-1.51-.43-.61-.02-1.2.1-1.77.36-.57.26-.96.7-1.18,1.31l-.46,2.1c-1.92-2.71-4.42-3.87-7.48-3.48-1.97.26-3.68,1.02-5.15,2.26-1.47,1.25-2.67,2.75-3.61,4.53-.94,1.77-1.61,3.62-2,5.54-.39,1.92-.49,3.74-.3,5.44.2,1.71.72,3.11,1.57,4.2.85,1.09,2.02,1.68,3.51,1.77.48.04,1.07,0,1.77-.13.7-.13,1.54-.5,2.53-1.11.98-.61,2.12-1.63,3.41-3.05,1.29-1.42,2.74-3.4,4.36-5.94-.44,2.54-.8,4.66-1.08,6.36-.28,1.71-.55,3.33-.79,4.89-.24,1.55-.56,3.33-.95,5.35-3.37,2.23-6.18,4.7-8.43,7.41Z'/%3E%3Cg class='cls-5'%3E%3Crect class='cls-1' x='151.7' y='24.32' width='3.39' height='92.68'/%3E%3Crect class='cls-1' x='41.62' y='24.32' width='3.39' height='92.68'/%3E%3Crect class='cls-1' x='52.02' y='13.92' width='92.68' height='3.39'/%3E%3Crect class='cls-1' x='52.02' y='124' width='92.68' height='3.39'/%3E%3Cpolygon class='cls-1' points='151.7 17.31 151.7 24.32 155.1 24.32 155.1 13.92 144.7 13.92 144.7 17.31 151.7 17.31'/%3E%3Cpolygon class='cls-1' points='45.01 17.31 52.02 17.31 52.02 13.92 41.62 13.92 41.62 24.32 45.01 24.32 45.01 17.31'/%3E%3Cpolygon class='cls-1' points='151.7 124 144.7 124 144.7 127.4 155.1 127.4 155.1 117 151.7 117 151.7 124'/%3E%3Cpolygon class='cls-1' points='45.01 124 45.01 117 41.62 117 41.62 127.4 52.02 127.4 52.02 124 45.01 124'/%3E%3C/g%3E%3Cpath class='cls-8' d='m74.91,84.7l-.28-.58c-.32.25-.7.37-1.14.37-.35,0-.67-.08-.94-.24-.27-.16-.48-.38-.62-.66-.15-.28-.22-.6-.22-.95s.08-.65.24-.94c.16-.28.37-.51.64-.68.27-.17.56-.25.87-.25.38,0,.75.13,1.12.38l.26-.61c-.19-.12-.4-.21-.64-.28-.24-.07-.49-.11-.77-.11-.46,0-.87.11-1.24.33-.37.22-.65.52-.86.9-.21.38-.31.81-.31,1.29,0,.45.1.86.31,1.23.2.37.49.67.87.89.38.22.82.33,1.31.33.28,0,.54-.04.78-.13.24-.09.44-.18.59-.29Z'/%3E%3Cpolygon class='cls-8' points='77.74 80.21 77.74 85.07 80.86 85.07 80.86 84.43 78.39 84.43 78.39 80.21 77.74 80.21'/%3E%3Cpath class='cls-8' d='m84.56,83.22l.72-1.77.69,1.77h-1.41Zm2.14,1.84h.75l-2.12-5.06h-.04l-2.12,5.06h.65l.52-1.28h1.87l.5,1.28Z'/%3E%3Cpath class='cls-8' d='m92.59,81.07l.25-.5c-.45-.26-.93-.39-1.46-.39-.43.01-.77.14-1.04.37-.27.24-.4.54-.4.92,0,.26.06.48.19.65.13.17.29.31.47.41.18.1.41.2.68.3.3.12.53.24.69.37.16.13.25.31.25.53,0,.26-.1.46-.29.6-.19.13-.42.2-.68.2-.2,0-.42-.04-.65-.13-.23-.09-.43-.19-.6-.32l-.29.52c.21.15.45.27.73.37.28.1.57.14.87.14.32,0,.6-.06.84-.18.24-.12.42-.29.55-.5.13-.21.19-.45.19-.71,0-.29-.06-.52-.17-.71-.11-.19-.26-.33-.43-.44-.17-.11-.38-.2-.64-.29-.34-.13-.59-.25-.78-.38-.18-.13-.27-.29-.27-.49s.08-.37.23-.49c.15-.12.36-.18.63-.18.17,0,.36.03.56.09.2.06.38.13.56.23Z'/%3E%3Cpath class='cls-8' d='m98.23,81.07l.25-.5c-.45-.26-.93-.39-1.46-.39-.43.01-.77.14-1.04.37-.27.24-.4.54-.4.92,0,.26.06.48.19.65.13.17.29.31.47.41.18.1.41.2.68.3.3.12.53.24.69.37.16.13.25.31.25.53,0,.26-.1.46-.29.6-.19.13-.42.2-.68.2-.2,0-.42-.04-.65-.13-.23-.09-.43-.19-.6-.32l-.29.52c.21.15.45.27.73.37.28.1.57.14.87.14.32,0,.6-.06.84-.18.24-.12.42-.29.55-.5.13-.21.19-.45.19-.71,0-.29-.06-.52-.17-.71-.11-.19-.26-.33-.43-.44-.17-.11-.38-.2-.64-.29-.34-.13-.59-.25-.78-.38-.18-.13-.27-.29-.27-.49s.08-.37.23-.49c.15-.12.36-.18.63-.18.17,0,.36.03.56.09.2.06.38.13.56.23Z'/%3E%3Cpolygon class='cls-8' points='104.32 80.21 102.99 82.71 101.65 80.21 100.84 80.21 102.64 83.45 102.64 85.07 103.3 85.07 103.3 83.45 105.12 80.21 104.32 80.21'/%3E%3Cpath class='cls-8' d='m115.39,84.65v-1.96h-1.63v.62h.97v.96c-.11.06-.24.11-.4.14-.16.03-.33.05-.5.05-.37,0-.69-.07-.98-.23-.29-.15-.51-.36-.67-.64-.16-.27-.24-.58-.24-.93,0-.38.08-.71.24-.99.16-.28.38-.5.67-.65.29-.15.62-.23,1-.23.17,0,.37.03.59.09.22.06.4.13.54.21l.22-.6c-.19-.11-.41-.19-.65-.26-.24-.06-.5-.1-.77-.1-.45,0-.87.1-1.25.31-.38.21-.68.5-.91.89-.22.39-.34.85-.34,1.37,0,.45.1.86.31,1.22.21.36.51.65.89.86.39.21.83.31,1.34.31.27,0,.56-.05.88-.15.32-.1.55-.21.7-.32Z'/%3E%3Crect class='cls-8' x='118.36' y='80.21' width='.65' height='4.86'/%3E%3Cpolygon class='cls-8' points='122.14 80.21 122.14 85.07 122.79 85.07 122.79 83 124.74 83 124.74 82.38 122.79 82.38 122.79 80.83 125.02 80.83 125.02 80.21 122.14 80.21'/%3E%3Cpolygon class='cls-8' points='127.47 80.21 127.47 80.83 128.74 80.83 128.74 85.07 129.39 85.07 129.39 80.83 130.69 80.83 130.69 80.21 127.47 80.21'/%3E%3Cpath class='cls-8' d='m135.97,81.07l.25-.5c-.45-.26-.93-.39-1.46-.39-.43.01-.77.14-1.04.37-.27.24-.4.54-.4.92,0,.26.06.48.19.65.13.17.29.31.47.41.18.1.41.2.68.3.3.12.53.24.69.37.16.13.25.31.25.53,0,.26-.1.46-.29.6-.19.13-.42.2-.68.2-.2,0-.42-.04-.65-.13-.23-.09-.43-.19-.6-.32l-.29.52c.21.15.45.27.73.37.28.1.57.14.87.14.32,0,.6-.06.84-.18.24-.12.42-.29.55-.5.13-.21.19-.45.19-.71,0-.29-.06-.52-.17-.71-.11-.19-.26-.33-.43-.44-.17-.11-.38-.2-.64-.29-.34-.13-.59-.25-.78-.38-.18-.13-.27-.29-.27-.49s.08-.37.23-.49c.15-.12.36-.18.63-.18.17,0,.36.03.56.09.2.06.38.13.56.23Z'/%3E%3C/g%3E%3Cg%3E%3Cpath class='cls-1' d='m256.08,46.22c-1.29,1.07-2.43,2.49-3.41,4.26-.98,1.77-1.8,3.73-2.46,5.87-.66,2.14-1.09,4.32-1.31,6.53-.22,2.21-.2,4.29.07,6.23.26,1.95.8,3.58,1.61,4.92.81,1.33,1.93,2.2,3.38,2.59.87.22,1.81.21,2.82-.03,1.01-.24,2.03-.75,3.08-1.54,1.49-1.09,3.1-2.5,4.85-4.23,1.75-1.73,3.49-3.56,5.21-5.51,1.73-1.95,3.31-3.8,4.75-5.57s2.62-3.25,3.54-4.43c0-.17-.15-.26-.46-.26s-.52.07-.66.2c-.57.7-1.39,1.71-2.46,3.02-1.07,1.31-2.29,2.75-3.64,4.33-1.36,1.57-2.77,3.15-4.23,4.72-1.47,1.57-2.9,3.02-4.3,4.33-1.4,1.31-2.67,2.34-3.8,3.08-1.01.66-1.92,1.06-2.75,1.21-.83.15-1.49.08-1.97-.23-.83-.35-1.36-1.27-1.57-2.75-.22-1.49-.22-3.29,0-5.41.22-2.12.61-4.36,1.18-6.72.57-2.36,1.23-4.61,2-6.76.76-2.14,1.56-3.96,2.39-5.44.83-1.49,1.62-2.4,2.36-2.75.61-.26,1.23-.14,1.87.36.63.5,1.09,1.22,1.38,2.16.28.94.23,1.91-.16,2.92-.39,1.01-1.33,1.86-2.82,2.56h1.18c1.18-.44,2-1.16,2.46-2.16.46-1.01.58-2.05.36-3.15-.22-1.09-.69-2.02-1.41-2.79-.72-.76-1.67-1.15-2.85-1.15-1.53,0-2.94.54-4.23,1.61Z'/%3E%3Cpath class='cls-1' d='m293.43,54.68c-.13,1.07-.24,1.65-.33,1.74-1.88,3.15-3.57,5.59-5.08,7.31-1.51,1.73-2.82,2.91-3.94,3.54-1.11.63-2,.89-2.66.75-.66-.13-1.15-.7-1.48-1.71-.33-1.01-.48-2.26-.46-3.77.02-1.51.22-3.12.59-4.82.37-1.71.91-3.36,1.61-4.95.7-1.6,1.56-2.97,2.59-4.13,1.03-1.16,2.24-1.91,3.64-2.26.79-.22,1.61-.12,2.46.3.85.42,1.62.97,2.3,1.67.68.7,1.13,1.4,1.34,2.1-.26,1.75-.46,3.16-.59,4.23Zm-5.94,34.53c-.9,4.07-1.86,7.75-2.89,11.05-1.03,3.3-2.09,5.99-3.18,8.07-1.09,2.08-2.21,3.22-3.34,3.44-.96.17-1.77-.25-2.43-1.28-.66-1.03-1.08-2.49-1.28-4.39-.2-1.9-.08-4.08.36-6.53.44-2.45,1.25-5.02,2.43-7.71,1.18-2.69,2.81-5.33,4.89-7.94,2.08-2.6,4.69-5,7.84-7.18-.7,4.24-1.5,8.39-2.39,12.46Zm-5.84-6.49c-2.25,2.71-4.02,5.48-5.31,8.3s-2.16,5.52-2.62,8.1c-.46,2.58-.58,4.9-.36,6.95.22,2.05.71,3.68,1.48,4.89.77,1.2,1.74,1.8,2.92,1.8,2.58-.04,4.91-1.67,6.98-4.89,2.08-3.21,3.97-7.75,5.67-13.61,1.71-5.86,3.21-12.7,4.53-20.53,1.79-1.05,3.89-2.53,6.3-4.43,2.4-1.9,4.89-4.06,7.44-6.46,2.56-2.4,4.91-4.9,7.05-7.48,0-.17-.19-.26-.56-.26s-.6.07-.69.2c-1.84,2.14-3.91,4.31-6.23,6.49-2.32,2.19-4.64,4.22-6.95,6.1-2.32,1.88-4.42,3.41-6.3,4.59.44-2.32.9-4.99,1.38-8.03.48-3.04,1.01-6.14,1.57-9.31.57-3.17,1.14-6.04,1.71-8.62.09-.52-.07-.92-.46-1.18-.39-.26-.9-.4-1.51-.43-.61-.02-1.2.1-1.77.36-.57.26-.96.7-1.18,1.31l-.46,2.1c-1.92-2.71-4.42-3.87-7.48-3.48-1.97.26-3.68,1.02-5.15,2.26-1.47,1.25-2.67,2.75-3.61,4.53-.94,1.77-1.61,3.62-2,5.54-.39,1.92-.49,3.74-.3,5.44.2,1.71.72,3.11,1.57,4.2.85,1.09,2.02,1.68,3.51,1.77.48.04,1.07,0,1.77-.13.7-.13,1.54-.5,2.53-1.11.98-.61,2.12-1.63,3.41-3.05,1.29-1.42,2.74-3.4,4.36-5.94-.44,2.54-.8,4.66-1.08,6.36-.28,1.71-.55,3.33-.79,4.89-.24,1.55-.56,3.33-.95,5.35-3.37,2.23-6.18,4.7-8.43,7.41Z'/%3E%3Cg class='cls-3'%3E%3Crect class='cls-1' x='334.85' y='24.32' width='3.39' height='92.68'/%3E%3Crect class='cls-1' x='224.77' y='24.32' width='3.39' height='92.68'/%3E%3Crect class='cls-1' x='235.16' y='13.92' width='92.68' height='3.39'/%3E%3Crect class='cls-1' x='235.16' y='124' width='92.68' height='3.39'/%3E%3Cpolygon class='cls-1' points='334.85 17.31 334.85 24.32 338.24 24.32 338.24 13.92 327.84 13.92 327.84 17.31 334.85 17.31'/%3E%3Cpolygon class='cls-1' points='228.16 17.31 235.16 17.31 235.16 13.92 224.77 13.92 224.77 24.32 228.16 24.32 228.16 17.31'/%3E%3Cpolygon class='cls-1' points='334.85 124 327.84 124 327.84 127.4 338.24 127.4 338.24 117 334.85 117 334.85 124'/%3E%3Cpolygon class='cls-1' points='228.16 124 228.16 117 224.77 117 224.77 127.4 235.16 127.4 235.16 124 228.16 124'/%3E%3C/g%3E%3Cpath class='cls-8' d='m258.06,84.7l-.28-.58c-.32.25-.7.37-1.14.37-.35,0-.67-.08-.94-.24-.27-.16-.48-.38-.62-.66-.15-.28-.22-.6-.22-.95s.08-.65.24-.94c.16-.28.37-.51.64-.68.27-.17.56-.25.87-.25.38,0,.75.13,1.12.38l.26-.61c-.19-.12-.4-.21-.64-.28-.24-.07-.49-.11-.77-.11-.46,0-.87.11-1.24.33-.37.22-.65.52-.86.9-.21.38-.31.81-.31,1.29,0,.45.1.86.31,1.23.2.37.49.67.87.89.38.22.82.33,1.31.33.28,0,.54-.04.78-.13.24-.09.44-.18.59-.29Z'/%3E%3Cpolygon class='cls-8' points='260.88 80.21 260.88 85.07 264 85.07 264 84.43 261.53 84.43 261.53 80.21 260.88 80.21'/%3E%3Cpath class='cls-8' d='m267.7,83.22l.72-1.77.69,1.77h-1.41Zm2.14,1.84h.75l-2.12-5.06h-.04l-2.12,5.06h.65l.52-1.28h1.87l.5,1.28Z'/%3E%3Cpath class='cls-8' d='m275.74,81.07l.25-.5c-.45-.26-.93-.39-1.46-.39-.43.01-.77.14-1.04.37-.27.24-.4.54-.4.92,0,.26.06.48.19.65.13.17.29.31.47.41.18.1.41.2.68.3.3.12.53.24.69.37.16.13.25.31.25.53,0,.26-.1.46-.29.6-.19.13-.42.2-.68.2-.2,0-.42-.04-.65-.13-.23-.09-.43-.19-.6-.32l-.29.52c.21.15.45.27.73.37.28.1.57.14.87.14.32,0,.6-.06.84-.18.24-.12.42-.29.55-.5.13-.21.19-.45.19-.71,0-.29-.06-.52-.17-.71-.11-.19-.26-.33-.43-.44-.17-.11-.38-.2-.64-.29-.34-.13-.59-.25-.78-.38-.18-.13-.27-.29-.27-.49s.08-.37.23-.49c.15-.12.36-.18.63-.18.17,0,.36.03.56.09.2.06.38.13.56.23Z'/%3E%3Cpath class='cls-8' d='m281.37,81.07l.25-.5c-.45-.26-.93-.39-1.46-.39-.43.01-.77.14-1.04.37-.27.24-.4.54-.4.92,0,.26.06.48.19.65.13.17.29.31.47.41.18.1.41.2.68.3.3.12.53.24.69.37.16.13.25.31.25.53,0,.26-.1.46-.29.6-.19.13-.42.2-.68.2-.2,0-.42-.04-.65-.13-.23-.09-.43-.19-.6-.32l-.29.52c.21.15.45.27.73.37.28.1.57.14.87.14.32,0,.6-.06.84-.18.24-.12.42-.29.55-.5.13-.21.19-.45.19-.71,0-.29-.06-.52-.17-.71-.11-.19-.26-.33-.43-.44-.17-.11-.38-.2-.64-.29-.34-.13-.59-.25-.78-.38-.18-.13-.27-.29-.27-.49s.08-.37.23-.49c.15-.12.36-.18.63-.18.17,0,.36.03.56.09.2.06.38.13.56.23Z'/%3E%3Cpolygon class='cls-8' points='287.46 80.21 286.13 82.71 284.79 80.21 283.99 80.21 285.79 83.45 285.79 85.07 286.44 85.07 286.44 83.45 288.26 80.21 287.46 80.21'/%3E%3Cpath class='cls-8' d='m298.53,84.65v-1.96h-1.63v.62h.97v.96c-.11.06-.24.11-.4.14-.16.03-.33.05-.5.05-.37,0-.69-.07-.98-.23-.29-.15-.51-.36-.67-.64-.16-.27-.24-.58-.24-.93,0-.38.08-.71.24-.99.16-.28.38-.5.67-.65.29-.15.62-.23,1-.23.17,0,.37.03.59.09.22.06.4.13.54.21l.22-.6c-.19-.11-.41-.19-.65-.26-.24-.06-.5-.1-.77-.1-.45,0-.87.1-1.25.31-.38.21-.68.5-.91.89-.22.39-.34.85-.34,1.37,0,.45.1.86.31,1.22.21.36.51.65.89.86.39.21.83.31,1.34.31.27,0,.56-.05.88-.15.32-.1.55-.21.7-.32Z'/%3E%3Crect class='cls-8' x='301.5' y='80.21' width='.65' height='4.86'/%3E%3Cpolygon class='cls-8' points='305.28 80.21 305.28 85.07 305.93 85.07 305.93 83 307.89 83 307.89 82.38 305.93 82.38 305.93 80.83 308.16 80.83 308.16 80.21 305.28 80.21'/%3E%3Cpolygon class='cls-8' points='310.61 80.21 310.61 80.83 311.88 80.83 311.88 85.07 312.53 85.07 312.53 80.83 313.83 80.83 313.83 80.21 310.61 80.21'/%3E%3Cpath class='cls-8' d='m319.12,81.07l.25-.5c-.45-.26-.93-.39-1.46-.39-.43.01-.77.14-1.04.37-.27.24-.4.54-.4.92,0,.26.06.48.19.65.13.17.29.31.47.41.18.1.41.2.68.3.3.12.53.24.69.37.16.13.25.31.25.53,0,.26-.1.46-.29.6-.19.13-.42.2-.68.2-.2,0-.42-.04-.65-.13-.23-.09-.43-.19-.6-.32l-.29.52c.21.15.45.27.73.37.28.1.57.14.87.14.32,0,.6-.06.84-.18.24-.12.42-.29.55-.5.13-.21.19-.45.19-.71,0-.29-.06-.52-.17-.71-.11-.19-.26-.33-.43-.44-.17-.11-.38-.2-.64-.29-.34-.13-.59-.25-.78-.38-.18-.13-.27-.29-.27-.49s.08-.37.23-.49c.15-.12.36-.18.63-.18.17,0,.36.03.56.09.2.06.38.13.56.23Z'/%3E%3C/g%3E%3Cg%3E%3Cpath class='cls-1' d='m439.22,46.22c-1.29,1.07-2.43,2.49-3.41,4.26-.98,1.77-1.8,3.73-2.46,5.87-.66,2.14-1.09,4.32-1.31,6.53-.22,2.21-.2,4.29.07,6.23.26,1.95.8,3.58,1.61,4.92.81,1.33,1.93,2.2,3.38,2.59.87.22,1.81.21,2.82-.03,1.01-.24,2.03-.75,3.08-1.54,1.49-1.09,3.1-2.5,4.85-4.23,1.75-1.73,3.49-3.56,5.21-5.51,1.73-1.95,3.31-3.8,4.75-5.57s2.62-3.25,3.54-4.43c0-.17-.15-.26-.46-.26s-.52.07-.66.2c-.57.7-1.39,1.71-2.46,3.02-1.07,1.31-2.29,2.75-3.64,4.33-1.36,1.57-2.77,3.15-4.23,4.72-1.47,1.57-2.9,3.02-4.3,4.33-1.4,1.31-2.67,2.34-3.8,3.08-1.01.66-1.92,1.06-2.75,1.21-.83.15-1.49.08-1.97-.23-.83-.35-1.36-1.27-1.57-2.75-.22-1.49-.22-3.29,0-5.41.22-2.12.61-4.36,1.18-6.72.57-2.36,1.23-4.61,2-6.76.76-2.14,1.56-3.96,2.39-5.44.83-1.49,1.62-2.4,2.36-2.75.61-.26,1.23-.14,1.87.36.63.5,1.09,1.22,1.38,2.16.28.94.23,1.91-.16,2.92-.39,1.01-1.33,1.86-2.82,2.56h1.18c1.18-.44,2-1.16,2.46-2.16.46-1.01.58-2.05.36-3.15-.22-1.09-.69-2.02-1.41-2.79-.72-.76-1.67-1.15-2.85-1.15-1.53,0-2.94.54-4.23,1.61Z'/%3E%3Cpath class='cls-1' d='m476.57,54.68c-.13,1.07-.24,1.65-.33,1.74-1.88,3.15-3.57,5.59-5.08,7.31-1.51,1.73-2.82,2.91-3.94,3.54-1.11.63-2,.89-2.66.75-.66-.13-1.15-.7-1.48-1.71-.33-1.01-.48-2.26-.46-3.77.02-1.51.22-3.12.59-4.82.37-1.71.91-3.36,1.61-4.95.7-1.6,1.56-2.97,2.59-4.13,1.03-1.16,2.24-1.91,3.64-2.26.79-.22,1.61-.12,2.46.3.85.42,1.62.97,2.3,1.67.68.7,1.13,1.4,1.34,2.1-.26,1.75-.46,3.16-.59,4.23Zm-5.94,34.53c-.9,4.07-1.86,7.75-2.89,11.05-1.03,3.3-2.09,5.99-3.18,8.07-1.09,2.08-2.21,3.22-3.34,3.44-.96.17-1.77-.25-2.43-1.28-.66-1.03-1.08-2.49-1.28-4.39-.2-1.9-.08-4.08.36-6.53.44-2.45,1.25-5.02,2.43-7.71,1.18-2.69,2.81-5.33,4.89-7.94,2.08-2.6,4.69-5,7.84-7.18-.7,4.24-1.5,8.39-2.39,12.46Zm-5.84-6.49c-2.25,2.71-4.02,5.48-5.31,8.3s-2.16,5.52-2.62,8.1c-.46,2.58-.58,4.9-.36,6.95.22,2.05.71,3.68,1.48,4.89.77,1.2,1.74,1.8,2.92,1.8,2.58-.04,4.91-1.67,6.98-4.89,2.08-3.21,3.97-7.75,5.67-13.61,1.71-5.86,3.21-12.7,4.53-20.53,1.79-1.05,3.89-2.53,6.3-4.43,2.4-1.9,4.89-4.06,7.44-6.46,2.56-2.4,4.91-4.9,7.05-7.48,0-.17-.19-.26-.56-.26s-.6.07-.69.2c-1.84,2.14-3.91,4.31-6.23,6.49-2.32,2.19-4.64,4.22-6.95,6.1-2.32,1.88-4.42,3.41-6.3,4.59.44-2.32.9-4.99,1.38-8.03.48-3.04,1.01-6.14,1.57-9.31.57-3.17,1.14-6.04,1.71-8.62.09-.52-.07-.92-.46-1.18-.39-.26-.9-.4-1.51-.43-.61-.02-1.2.1-1.77.36-.57.26-.96.7-1.18,1.31l-.46,2.1c-1.92-2.71-4.42-3.87-7.48-3.48-1.97.26-3.68,1.02-5.15,2.26-1.47,1.25-2.67,2.75-3.61,4.53-.94,1.77-1.61,3.62-2,5.54-.39,1.92-.49,3.74-.3,5.44.2,1.71.72,3.11,1.57,4.2.85,1.09,2.02,1.68,3.51,1.77.48.04,1.07,0,1.77-.13.7-.13,1.54-.5,2.53-1.11.98-.61,2.12-1.63,3.41-3.05,1.29-1.42,2.74-3.4,4.36-5.94-.44,2.54-.8,4.66-1.08,6.36-.28,1.71-.55,3.33-.79,4.89-.24,1.55-.56,3.33-.95,5.35-3.37,2.23-6.18,4.7-8.43,7.41Z'/%3E%3Cg class='cls-2'%3E%3Crect class='cls-1' x='517.99' y='24.32' width='3.39' height='92.68'/%3E%3Crect class='cls-1' x='407.91' y='24.32' width='3.39' height='92.68'/%3E%3Crect class='cls-1' x='418.31' y='13.92' width='92.68' height='3.39'/%3E%3Crect class='cls-1' x='418.31' y='124' width='92.68' height='3.39'/%3E%3Cpolygon class='cls-1' points='517.99 17.31 517.99 24.32 521.38 24.32 521.38 13.92 510.98 13.92 510.98 17.31 517.99 17.31'/%3E%3Cpolygon class='cls-1' points='411.3 17.31 418.31 17.31 418.31 13.92 407.91 13.92 407.91 24.32 411.3 24.32 411.3 17.31'/%3E%3Cpolygon class='cls-1' points='517.99 124 510.98 124 510.98 127.4 521.38 127.4 521.38 117 517.99 117 517.99 124'/%3E%3Cpolygon class='cls-1' points='411.3 124 411.3 117 407.91 117 407.91 127.4 418.31 127.4 418.31 124 411.3 124'/%3E%3C/g%3E%3Cpath class='cls-8' d='m441.2,84.7l-.28-.58c-.32.25-.7.37-1.14.37-.35,0-.67-.08-.94-.24-.27-.16-.48-.38-.62-.66-.15-.28-.22-.6-.22-.95s.08-.65.24-.94c.16-.28.37-.51.64-.68.27-.17.56-.25.87-.25.38,0,.75.13,1.12.38l.26-.61c-.19-.12-.4-.21-.64-.28-.24-.07-.49-.11-.77-.11-.46,0-.87.11-1.24.33-.37.22-.65.52-.86.9-.21.38-.31.81-.31,1.29,0,.45.1.86.31,1.23.2.37.49.67.87.89.38.22.82.33,1.31.33.28,0,.54-.04.78-.13.24-.09.44-.18.59-.29Z'/%3E%3Cpolygon class='cls-8' points='444.02 80.21 444.02 85.07 447.15 85.07 447.15 84.43 444.67 84.43 444.67 80.21 444.02 80.21'/%3E%3Cpath class='cls-8' d='m450.84,83.22l.72-1.77.69,1.77h-1.41Zm2.14,1.84h.75l-2.12-5.06h-.04l-2.12,5.06h.65l.52-1.28h1.87l.5,1.28Z'/%3E%3Cpath class='cls-8' d='m458.88,81.07l.25-.5c-.45-.26-.93-.39-1.46-.39-.43.01-.77.14-1.04.37-.27.24-.4.54-.4.92,0,.26.06.48.19.65.13.17.29.31.47.41.18.1.41.2.68.3.3.12.53.24.69.37.16.13.25.31.25.53,0,.26-.1.46-.29.6-.19.13-.42.2-.68.2-.2,0-.42-.04-.65-.13-.23-.09-.43-.19-.6-.32l-.29.52c.21.15.45.27.73.37.28.1.57.14.87.14.32,0,.6-.06.84-.18.24-.12.42-.29.55-.5.13-.21.19-.45.19-.71,0-.29-.06-.52-.17-.71-.11-.19-.26-.33-.43-.44-.17-.11-.38-.2-.64-.29-.34-.13-.59-.25-.78-.38-.18-.13-.27-.29-.27-.49s.08-.37.23-.49c.15-.12.36-.18.63-.18.17,0,.36.03.56.09.2.06.38.13.56.23Z'/%3E%3Cpath class='cls-8' d='m464.52,81.07l.25-.5c-.45-.26-.93-.39-1.46-.39-.43.01-.77.14-1.04.37-.27.24-.4.54-.4.92,0,.26.06.48.19.65.13.17.29.31.47.41.18.1.41.2.68.3.3.12.53.24.69.37.16.13.25.31.25.53,0,.26-.1.46-.29.6-.19.13-.42.2-.68.2-.2,0-.42-.04-.65-.13-.23-.09-.43-.19-.6-.32l-.29.52c.21.15.45.27.73.37.28.1.57.14.87.14.32,0,.6-.06.84-.18.24-.12.42-.29.55-.5.13-.21.19-.45.19-.71,0-.29-.06-.52-.17-.71-.11-.19-.26-.33-.43-.44-.17-.11-.38-.2-.64-.29-.34-.13-.59-.25-.78-.38-.18-.13-.27-.29-.27-.49s.08-.37.23-.49c.15-.12.36-.18.63-.18.17,0,.36.03.56.09.2.06.38.13.56.23Z'/%3E%3Cpolygon class='cls-8' points='470.6 80.21 469.27 82.71 467.94 80.21 467.13 80.21 468.93 83.45 468.93 85.07 469.58 85.07 469.58 83.45 471.4 80.21 470.6 80.21'/%3E%3Cpath class='cls-8' d='m481.68,84.65v-1.96h-1.63v.62h.97v.96c-.11.06-.24.11-.4.14-.16.03-.33.05-.5.05-.37,0-.69-.07-.98-.23-.29-.15-.51-.36-.67-.64-.16-.27-.24-.58-.24-.93,0-.38.08-.71.24-.99.16-.28.38-.5.67-.65.29-.15.62-.23,1-.23.17,0,.37.03.59.09.22.06.4.13.54.21l.22-.6c-.19-.11-.41-.19-.65-.26-.24-.06-.5-.1-.77-.1-.45,0-.87.1-1.25.31-.38.21-.68.5-.91.89-.22.39-.34.85-.34,1.37,0,.45.1.86.31,1.22.21.36.51.65.89.86.39.21.83.31,1.34.31.27,0,.56-.05.88-.15.32-.1.55-.21.7-.32Z'/%3E%3Crect class='cls-8' x='484.65' y='80.21' width='.65' height='4.86'/%3E%3Cpolygon class='cls-8' points='488.42 80.21 488.42 85.07 489.07 85.07 489.07 83 491.03 83 491.03 82.38 489.07 82.38 489.07 80.83 491.31 80.83 491.31 80.21 488.42 80.21'/%3E%3Cpolygon class='cls-8' points='493.75 80.21 493.75 80.83 495.02 80.83 495.02 85.07 495.67 85.07 495.67 80.83 496.98 80.83 496.98 80.21 493.75 80.21'/%3E%3Cpath class='cls-8' d='m502.26,81.07l.25-.5c-.45-.26-.93-.39-1.46-.39-.43.01-.77.14-1.04.37-.27.24-.4.54-.4.92,0,.26.06.48.19.65.13.17.29.31.47.41.18.1.41.2.68.3.3.12.53.24.69.37.16.13.25.31.25.53,0,.26-.1.46-.29.6-.19.13-.42.2-.68.2-.2,0-.42-.04-.65-.13-.23-.09-.43-.19-.6-.32l-.29.52c.21.15.45.27.73.37.28.1.57.14.87.14.32,0,.6-.06.84-.18.24-.12.42-.29.55-.5.13-.21.19-.45.19-.71,0-.29-.06-.52-.17-.71-.11-.19-.26-.33-.43-.44-.17-.11-.38-.2-.64-.29-.34-.13-.59-.25-.78-.38-.18-.13-.27-.29-.27-.49s.08-.37.23-.49c.15-.12.36-.18.63-.18.17,0,.36.03.56.09.2.06.38.13.56.23Z'/%3E%3C/g%3E%3Cg%3E%3Cpath class='cls-1' d='m622.36,46.22c-1.29,1.07-2.43,2.49-3.41,4.26-.98,1.77-1.8,3.73-2.46,5.87-.66,2.14-1.09,4.32-1.31,6.53-.22,2.21-.2,4.29.07,6.23.26,1.95.8,3.58,1.61,4.92.81,1.33,1.93,2.2,3.38,2.59.87.22,1.81.21,2.82-.03,1.01-.24,2.03-.75,3.08-1.54,1.49-1.09,3.1-2.5,4.85-4.23,1.75-1.73,3.49-3.56,5.21-5.51,1.73-1.95,3.31-3.8,4.75-5.57s2.62-3.25,3.54-4.43c0-.17-.15-.26-.46-.26s-.52.07-.66.2c-.57.7-1.39,1.71-2.46,3.02-1.07,1.31-2.29,2.75-3.64,4.33-1.36,1.57-2.77,3.15-4.23,4.72-1.47,1.57-2.9,3.02-4.3,4.33-1.4,1.31-2.67,2.34-3.8,3.08-1.01.66-1.92,1.06-2.75,1.21-.83.15-1.49.08-1.97-.23-.83-.35-1.36-1.27-1.57-2.75-.22-1.49-.22-3.29,0-5.41.22-2.12.61-4.36,1.18-6.72.57-2.36,1.23-4.61,2-6.76.76-2.14,1.56-3.96,2.39-5.44.83-1.49,1.62-2.4,2.36-2.75.61-.26,1.23-.14,1.87.36.63.5,1.09,1.22,1.38,2.16.28.94.23,1.91-.16,2.92-.39,1.01-1.33,1.86-2.82,2.56h1.18c1.18-.44,2-1.16,2.46-2.16.46-1.01.58-2.05.36-3.15-.22-1.09-.69-2.02-1.41-2.79-.72-.76-1.67-1.15-2.85-1.15-1.53,0-2.94.54-4.23,1.61Z'/%3E%3Cpath class='cls-1' d='m659.71,54.68c-.13,1.07-.24,1.65-.33,1.74-1.88,3.15-3.57,5.59-5.08,7.31-1.51,1.73-2.82,2.91-3.94,3.54-1.11.63-2,.89-2.66.75-.66-.13-1.15-.7-1.48-1.71-.33-1.01-.48-2.26-.46-3.77.02-1.51.22-3.12.59-4.82.37-1.71.91-3.36,1.61-4.95.7-1.6,1.56-2.97,2.59-4.13,1.03-1.16,2.24-1.91,3.64-2.26.79-.22,1.61-.12,2.46.3.85.42,1.62.97,2.3,1.67.68.7,1.13,1.4,1.34,2.1-.26,1.75-.46,3.16-.59,4.23Zm-5.94,34.53c-.9,4.07-1.86,7.75-2.89,11.05-1.03,3.3-2.09,5.99-3.18,8.07-1.09,2.08-2.21,3.22-3.34,3.44-.96.17-1.77-.25-2.43-1.28-.66-1.03-1.08-2.49-1.28-4.39-.2-1.9-.08-4.08.36-6.53.44-2.45,1.25-5.02,2.43-7.71,1.18-2.69,2.81-5.33,4.89-7.94,2.08-2.6,4.69-5,7.84-7.18-.7,4.24-1.5,8.39-2.39,12.46Zm-5.84-6.49c-2.25,2.71-4.02,5.48-5.31,8.3s-2.16,5.52-2.62,8.1c-.46,2.58-.58,4.9-.36,6.95.22,2.05.71,3.68,1.48,4.89.77,1.2,1.74,1.8,2.92,1.8,2.58-.04,4.91-1.67,6.98-4.89,2.08-3.21,3.97-7.75,5.67-13.61,1.71-5.86,3.21-12.7,4.53-20.53,1.79-1.05,3.89-2.53,6.3-4.43,2.4-1.9,4.89-4.06,7.44-6.46,2.56-2.4,4.91-4.9,7.05-7.48,0-.17-.19-.26-.56-.26s-.6.07-.69.2c-1.84,2.14-3.91,4.31-6.23,6.49-2.32,2.19-4.64,4.22-6.95,6.1-2.32,1.88-4.42,3.41-6.3,4.59.44-2.32.9-4.99,1.38-8.03.48-3.04,1.01-6.14,1.57-9.31.57-3.17,1.14-6.04,1.71-8.62.09-.52-.07-.92-.46-1.18-.39-.26-.9-.4-1.51-.43-.61-.02-1.2.1-1.77.36-.57.26-.96.7-1.18,1.31l-.46,2.1c-1.92-2.71-4.42-3.87-7.48-3.48-1.97.26-3.68,1.02-5.15,2.26-1.47,1.25-2.67,2.75-3.61,4.53-.94,1.77-1.61,3.62-2,5.54-.39,1.92-.49,3.74-.3,5.44.2,1.71.72,3.11,1.57,4.2.85,1.09,2.02,1.68,3.51,1.77.48.04,1.07,0,1.77-.13.7-.13,1.54-.5,2.53-1.11.98-.61,2.12-1.63,3.41-3.05,1.29-1.42,2.74-3.4,4.36-5.94-.44,2.54-.8,4.66-1.08,6.36-.28,1.71-.55,3.33-.79,4.89-.24,1.55-.56,3.33-.95,5.35-3.37,2.23-6.18,4.7-8.43,7.41Z'/%3E%3Cg class='cls-7'%3E%3Crect class='cls-1' x='701.13' y='24.32' width='3.39' height='92.68'/%3E%3Crect class='cls-1' x='591.05' y='24.32' width='3.39' height='92.68'/%3E%3Crect class='cls-1' x='601.45' y='13.92' width='92.68' height='3.39'/%3E%3Crect class='cls-1' x='601.45' y='124' width='92.68' height='3.39'/%3E%3Cpolygon class='cls-1' points='701.13 17.31 701.13 24.32 704.52 24.32 704.52 13.92 694.13 13.92 694.13 17.31 701.13 17.31'/%3E%3Cpolygon class='cls-1' points='594.44 17.31 601.45 17.31 601.45 13.92 591.05 13.92 591.05 24.32 594.44 24.32 594.44 17.31'/%3E%3Cpolygon class='cls-1' points='701.13 124 694.13 124 694.13 127.4 704.52 127.4 704.52 117 701.13 117 701.13 124'/%3E%3Cpolygon class='cls-1' points='594.44 124 594.44 117 591.05 117 591.05 127.4 601.45 127.4 601.45 124 594.44 124'/%3E%3C/g%3E%3Cpath class='cls-8' d='m624.34,84.7l-.28-.58c-.32.25-.7.37-1.14.37-.35,0-.67-.08-.94-.24-.27-.16-.48-.38-.62-.66-.15-.28-.22-.6-.22-.95s.08-.65.24-.94c.16-.28.37-.51.64-.68.27-.17.56-.25.87-.25.38,0,.75.13,1.12.38l.26-.61c-.19-.12-.4-.21-.64-.28-.24-.07-.49-.11-.77-.11-.46,0-.87.11-1.24.33-.37.22-.65.52-.86.9-.21.38-.31.81-.31,1.29,0,.45.1.86.31,1.23.2.37.49.67.87.89.38.22.82.33,1.31.33.28,0,.54-.04.78-.13.24-.09.44-.18.59-.29Z'/%3E%3Cpolygon class='cls-8' points='627.16 80.21 627.16 85.07 630.29 85.07 630.29 84.43 627.82 84.43 627.82 80.21 627.16 80.21'/%3E%3Cpath class='cls-8' d='m633.98,83.22l.72-1.77.69,1.77h-1.41Zm2.14,1.84h.75l-2.12-5.06h-.04l-2.12,5.06h.65l.52-1.28h1.87l.5,1.28Z'/%3E%3Cpath class='cls-8' d='m642.02,81.07l.25-.5c-.45-.26-.93-.39-1.46-.39-.43.01-.77.14-1.04.37-.27.24-.4.54-.4.92,0,.26.06.48.19.65.13.17.29.31.47.41.18.1.41.2.68.3.3.12.53.24.69.37.16.13.25.31.25.53,0,.26-.1.46-.29.6-.19.13-.42.2-.68.2-.2,0-.42-.04-.65-.13-.23-.09-.43-.19-.6-.32l-.29.52c.21.15.45.27.73.37.28.1.57.14.87.14.32,0,.6-.06.84-.18.24-.12.42-.29.55-.5.13-.21.19-.45.19-.71,0-.29-.06-.52-.17-.71-.11-.19-.26-.33-.43-.44-.17-.11-.38-.2-.64-.29-.34-.13-.59-.25-.78-.38-.18-.13-.27-.29-.27-.49s.08-.37.23-.49c.15-.12.36-.18.63-.18.17,0,.36.03.56.09.2.06.38.13.56.23Z'/%3E%3Cpath class='cls-8' d='m647.66,81.07l.25-.5c-.45-.26-.93-.39-1.46-.39-.43.01-.77.14-1.04.37-.27.24-.4.54-.4.92,0,.26.06.48.19.65.13.17.29.31.47.41.18.1.41.2.68.3.3.12.53.24.69.37.16.13.25.31.25.53,0,.26-.1.46-.29.6-.19.13-.42.2-.68.2-.2,0-.42-.04-.65-.13-.23-.09-.43-.19-.6-.32l-.29.52c.21.15.45.27.73.37.28.1.57.14.87.14.32,0,.6-.06.84-.18.24-.12.42-.29.55-.5.13-.21.19-.45.19-.71,0-.29-.06-.52-.17-.71-.11-.19-.26-.33-.43-.44-.17-.11-.38-.2-.64-.29-.34-.13-.59-.25-.78-.38-.18-.13-.27-.29-.27-.49s.08-.37.23-.49c.15-.12.36-.18.63-.18.17,0,.36.03.56.09.2.06.38.13.56.23Z'/%3E%3Cpolygon class='cls-8' points='653.75 80.21 652.42 82.71 651.08 80.21 650.27 80.21 652.07 83.45 652.07 85.07 652.72 85.07 652.72 83.45 654.55 80.21 653.75 80.21'/%3E%3Cpath class='cls-8' d='m664.82,84.65v-1.96h-1.63v.62h.97v.96c-.11.06-.24.11-.4.14-.16.03-.33.05-.5.05-.37,0-.69-.07-.98-.23-.29-.15-.51-.36-.67-.64-.16-.27-.24-.58-.24-.93,0-.38.08-.71.24-.99.16-.28.38-.5.67-.65.29-.15.62-.23,1-.23.17,0,.37.03.59.09.22.06.4.13.54.21l.22-.6c-.19-.11-.41-.19-.65-.26-.24-.06-.5-.1-.77-.1-.45,0-.87.1-1.25.31-.38.21-.68.5-.91.89-.22.39-.34.85-.34,1.37,0,.45.1.86.31,1.22.21.36.51.65.89.86.39.21.83.31,1.34.31.27,0,.56-.05.88-.15.32-.1.55-.21.7-.32Z'/%3E%3Crect class='cls-8' x='667.79' y='80.21' width='.65' height='4.86'/%3E%3Cpolygon class='cls-8' points='671.57 80.21 671.57 85.07 672.22 85.07 672.22 83 674.17 83 674.17 82.38 672.22 82.38 672.22 80.83 674.45 80.83 674.45 80.21 671.57 80.21'/%3E%3Cpolygon class='cls-8' points='676.89 80.21 676.89 80.83 678.16 80.83 678.16 85.07 678.82 85.07 678.82 80.83 680.12 80.83 680.12 80.21 676.89 80.21'/%3E%3Cpath class='cls-8' d='m685.4,81.07l.25-.5c-.45-.26-.93-.39-1.46-.39-.43.01-.77.14-1.04.37-.27.24-.4.54-.4.92,0,.26.06.48.19.65.13.17.29.31.47.41.18.1.41.2.68.3.3.12.53.24.69.37.16.13.25.31.25.53,0,.26-.1.46-.29.6-.19.13-.42.2-.68.2-.2,0-.42-.04-.65-.13-.23-.09-.43-.19-.6-.32l-.29.52c.21.15.45.27.73.37.28.1.57.14.87.14.32,0,.6-.06.84-.18.24-.12.42-.29.55-.5.13-.21.19-.45.19-.71,0-.29-.06-.52-.17-.71-.11-.19-.26-.33-.43-.44-.17-.11-.38-.2-.64-.29-.34-.13-.59-.25-.78-.38-.18-.13-.27-.29-.27-.49s.08-.37.23-.49c.15-.12.36-.18.63-.18.17,0,.36.03.56.09.2.06.38.13.56.23Z'/%3E%3C/g%3E%3Cg%3E%3Cpath class='cls-1' d='m805.51,46.22c-1.29,1.07-2.43,2.49-3.41,4.26-.98,1.77-1.8,3.73-2.46,5.87-.66,2.14-1.09,4.32-1.31,6.53-.22,2.21-.2,4.29.07,6.23.26,1.95.8,3.58,1.61,4.92.81,1.33,1.93,2.2,3.38,2.59.87.22,1.81.21,2.82-.03,1.01-.24,2.03-.75,3.08-1.54,1.49-1.09,3.1-2.5,4.85-4.23,1.75-1.73,3.49-3.56,5.21-5.51,1.73-1.95,3.31-3.8,4.75-5.57s2.62-3.25,3.54-4.43c0-.17-.15-.26-.46-.26s-.52.07-.66.2c-.57.7-1.39,1.71-2.46,3.02-1.07,1.31-2.29,2.75-3.64,4.33-1.36,1.57-2.77,3.15-4.23,4.72-1.47,1.57-2.9,3.02-4.3,4.33-1.4,1.31-2.67,2.34-3.8,3.08-1.01.66-1.92,1.06-2.75,1.21-.83.15-1.49.08-1.97-.23-.83-.35-1.36-1.27-1.57-2.75-.22-1.49-.22-3.29,0-5.41.22-2.12.61-4.36,1.18-6.72.57-2.36,1.23-4.61,2-6.76.76-2.14,1.56-3.96,2.39-5.44.83-1.49,1.62-2.4,2.36-2.75.61-.26,1.23-.14,1.87.36.63.5,1.09,1.22,1.38,2.16.28.94.23,1.91-.16,2.92-.39,1.01-1.33,1.86-2.82,2.56h1.18c1.18-.44,2-1.16,2.46-2.16.46-1.01.58-2.05.36-3.15-.22-1.09-.69-2.02-1.41-2.79-.72-.76-1.67-1.15-2.85-1.15-1.53,0-2.94.54-4.23,1.61Z'/%3E%3Cpath class='cls-1' d='m842.86,54.68c-.13,1.07-.24,1.65-.33,1.74-1.88,3.15-3.57,5.59-5.08,7.31-1.51,1.73-2.82,2.91-3.94,3.54-1.11.63-2,.89-2.66.75-.66-.13-1.15-.7-1.48-1.71-.33-1.01-.48-2.26-.46-3.77.02-1.51.22-3.12.59-4.82.37-1.71.91-3.36,1.61-4.95.7-1.6,1.56-2.97,2.59-4.13,1.03-1.16,2.24-1.91,3.64-2.26.79-.22,1.61-.12,2.46.3.85.42,1.62.97,2.3,1.67.68.7,1.13,1.4,1.34,2.1-.26,1.75-.46,3.16-.59,4.23Zm-5.94,34.53c-.9,4.07-1.86,7.75-2.89,11.05-1.03,3.3-2.09,5.99-3.18,8.07-1.09,2.08-2.21,3.22-3.34,3.44-.96.17-1.77-.25-2.43-1.28-.66-1.03-1.08-2.49-1.28-4.39-.2-1.9-.08-4.08.36-6.53.44-2.45,1.25-5.02,2.43-7.71,1.18-2.69,2.81-5.33,4.89-7.94,2.08-2.6,4.69-5,7.84-7.18-.7,4.24-1.5,8.39-2.39,12.46Zm-5.84-6.49c-2.25,2.71-4.02,5.48-5.31,8.3s-2.16,5.52-2.62,8.1c-.46,2.58-.58,4.9-.36,6.95.22,2.05.71,3.68,1.48,4.89.77,1.2,1.74,1.8,2.92,1.8,2.58-.04,4.91-1.67,6.98-4.89,2.08-3.21,3.97-7.75,5.67-13.61,1.71-5.86,3.21-12.7,4.53-20.53,1.79-1.05,3.89-2.53,6.3-4.43,2.4-1.9,4.89-4.06,7.44-6.46,2.56-2.4,4.91-4.9,7.05-7.48,0-.17-.19-.26-.56-.26s-.6.07-.69.2c-1.84,2.14-3.91,4.31-6.23,6.49-2.32,2.19-4.64,4.22-6.95,6.1-2.32,1.88-4.42,3.41-6.3,4.59.44-2.32.9-4.99,1.38-8.03.48-3.04,1.01-6.14,1.57-9.31.57-3.17,1.14-6.04,1.71-8.62.09-.52-.07-.92-.46-1.18-.39-.26-.9-.4-1.51-.43-.61-.02-1.2.1-1.77.36-.57.26-.96.7-1.18,1.31l-.46,2.1c-1.92-2.71-4.42-3.87-7.48-3.48-1.97.26-3.68,1.02-5.15,2.26-1.47,1.25-2.67,2.75-3.61,4.53-.94,1.77-1.61,3.62-2,5.54-.39,1.92-.49,3.74-.3,5.44.2,1.71.72,3.11,1.57,4.2.85,1.09,2.02,1.68,3.51,1.77.48.04,1.07,0,1.77-.13.7-.13,1.54-.5,2.53-1.11.98-.61,2.12-1.63,3.41-3.05,1.29-1.42,2.74-3.4,4.36-5.94-.44,2.54-.8,4.66-1.08,6.36-.28,1.71-.55,3.33-.79,4.89-.24,1.55-.56,3.33-.95,5.35-3.37,2.23-6.18,4.7-8.43,7.41Z'/%3E%3Cg class='cls-4'%3E%3Crect class='cls-1' x='884.28' y='24.32' width='3.39' height='92.68'/%3E%3Crect class='cls-1' x='774.19' y='24.32' width='3.39' height='92.68'/%3E%3Crect class='cls-1' x='784.59' y='13.92' width='92.68' height='3.39'/%3E%3Crect class='cls-1' x='784.59' y='124' width='92.68' height='3.39'/%3E%3Cpolygon class='cls-1' points='884.28 17.31 884.28 24.32 887.67 24.32 887.67 13.92 877.27 13.92 877.27 17.31 884.28 17.31'/%3E%3Cpolygon class='cls-1' points='777.59 17.31 784.59 17.31 784.59 13.92 774.19 13.92 774.19 24.32 777.59 24.32 777.59 17.31'/%3E%3Cpolygon class='cls-1' points='884.28 124 877.27 124 877.27 127.4 887.67 127.4 887.67 117 884.28 117 884.28 124'/%3E%3Cpolygon class='cls-1' points='777.59 124 777.59 117 774.19 117 774.19 127.4 784.59 127.4 784.59 124 777.59 124'/%3E%3C/g%3E%3Cpath class='cls-8' d='m807.49,84.7l-.28-.58c-.32.25-.7.37-1.14.37-.35,0-.67-.08-.94-.24-.27-.16-.48-.38-.62-.66-.15-.28-.22-.6-.22-.95s.08-.65.24-.94c.16-.28.37-.51.64-.68.27-.17.56-.25.87-.25.38,0,.75.13,1.12.38l.26-.61c-.19-.12-.4-.21-.64-.28-.24-.07-.49-.11-.77-.11-.46,0-.87.11-1.24.33-.37.22-.65.52-.86.9-.21.38-.31.81-.31,1.29,0,.45.1.86.31,1.23.2.37.49.67.87.89.38.22.82.33,1.31.33.28,0,.54-.04.78-.13.24-.09.44-.18.59-.29Z'/%3E%3Cpolygon class='cls-8' points='810.31 80.21 810.31 85.07 813.43 85.07 813.43 84.43 810.96 84.43 810.96 80.21 810.31 80.21'/%3E%3Cpath class='cls-8' d='m817.13,83.22l.72-1.77.69,1.77h-1.41Zm2.14,1.84h.75l-2.12-5.06h-.04l-2.12,5.06h.65l.52-1.28h1.87l.5,1.28Z'/%3E%3Cpath class='cls-8' d='m825.16,81.07l.25-.5c-.45-.26-.93-.39-1.46-.39-.43.01-.77.14-1.04.37-.27.24-.4.54-.4.92,0,.26.06.48.19.65.13.17.29.31.47.41.18.1.41.2.68.3.3.12.53.24.69.37.16.13.25.31.25.53,0,.26-.1.46-.29.6-.19.13-.42.2-.68.2-.2,0-.42-.04-.65-.13-.23-.09-.43-.19-.6-.32l-.29.52c.21.15.45.27.73.37.28.1.57.14.87.14.32,0,.6-.06.84-.18.24-.12.42-.29.55-.5.13-.21.19-.45.19-.71,0-.29-.06-.52-.17-.71-.11-.19-.26-.33-.43-.44-.17-.11-.38-.2-.64-.29-.34-.13-.59-.25-.78-.38-.18-.13-.27-.29-.27-.49s.08-.37.23-.49c.15-.12.36-.18.63-.18.17,0,.36.03.56.09.2.06.38.13.56.23Z'/%3E%3Cpath class='cls-8' d='m830.8,81.07l.25-.5c-.45-.26-.93-.39-1.46-.39-.43.01-.77.14-1.04.37-.27.24-.4.54-.4.92,0,.26.06.48.19.65.13.17.29.31.47.41.18.1.41.2.68.3.3.12.53.24.69.37.16.13.25.31.25.53,0,.26-.1.46-.29.6-.19.13-.42.2-.68.2-.2,0-.42-.04-.65-.13-.23-.09-.43-.19-.6-.32l-.29.52c.21.15.45.27.73.37.28.1.57.14.87.14.32,0,.6-.06.84-.18.24-.12.42-.29.55-.5.13-.21.19-.45.19-.71,0-.29-.06-.52-.17-.71-.11-.19-.26-.33-.43-.44-.17-.11-.38-.2-.64-.29-.34-.13-.59-.25-.78-.38-.18-.13-.27-.29-.27-.49s.08-.37.23-.49c.15-.12.36-.18.63-.18.17,0,.36.03.56.09.2.06.38.13.56.23Z'/%3E%3Cpolygon class='cls-8' points='836.89 80.21 835.56 82.71 834.22 80.21 833.41 80.21 835.22 83.45 835.22 85.07 835.87 85.07 835.87 83.45 837.69 80.21 836.89 80.21'/%3E%3Cpath class='cls-8' d='m847.96,84.65v-1.96h-1.63v.62h.97v.96c-.11.06-.24.11-.4.14-.16.03-.33.05-.5.05-.37,0-.69-.07-.98-.23-.29-.15-.51-.36-.67-.64-.16-.27-.24-.58-.24-.93,0-.38.08-.71.24-.99.16-.28.38-.5.67-.65.29-.15.62-.23,1-.23.17,0,.37.03.59.09.22.06.4.13.54.21l.22-.6c-.19-.11-.41-.19-.65-.26-.24-.06-.5-.1-.77-.1-.45,0-.87.1-1.25.31-.38.21-.68.5-.91.89-.22.39-.34.85-.34,1.37,0,.45.1.86.31,1.22.21.36.51.65.89.86.39.21.83.31,1.34.31.27,0,.56-.05.88-.15.32-.1.55-.21.7-.32Z'/%3E%3Crect class='cls-8' x='850.93' y='80.21' width='.65' height='4.86'/%3E%3Cpolygon class='cls-8' points='854.71 80.21 854.71 85.07 855.36 85.07 855.36 83 857.32 83 857.32 82.38 855.36 82.38 855.36 80.83 857.59 80.83 857.59 80.21 854.71 80.21'/%3E%3Cpolygon class='cls-8' points='860.04 80.21 860.04 80.83 861.31 80.83 861.31 85.07 861.96 85.07 861.96 80.83 863.26 80.83 863.26 80.21 860.04 80.21'/%3E%3Cpath class='cls-8' d='m868.54,81.07l.25-.5c-.45-.26-.93-.39-1.46-.39-.43.01-.77.14-1.04.37-.27.24-.4.54-.4.92,0,.26.06.48.19.65.13.17.29.31.47.41.18.1.41.2.68.3.3.12.53.24.69.37.16.13.25.31.25.53,0,.26-.1.46-.29.6-.19.13-.42.2-.68.2-.2,0-.42-.04-.65-.13-.23-.09-.43-.19-.6-.32l-.29.52c.21.15.45.27.73.37.28.1.57.14.87.14.32,0,.6-.06.84-.18.24-.12.42-.29.55-.5.13-.21.19-.45.19-.71,0-.29-.06-.52-.17-.71-.11-.19-.26-.33-.43-.44-.17-.11-.38-.2-.64-.29-.34-.13-.59-.25-.78-.38-.18-.13-.27-.29-.27-.49s.08-.37.23-.49c.15-.12.36-.18.63-.18.17,0,.36.03.56.09.2.06.38.13.56.23Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    animation: scrollAli 80s infinite linear;
    content: "";
    height: 5vw;
    background-size: contain;
    background-repeat: repeat-x;
    font-size: 16px;
    position: relative;
    padding: 14px 0;
    top: 22px;
}

@media(min-width: 992px) {
    footer:before {
        height: 1vw;
        background-size: contain;
        font-size: 17px;
        margin: 13px auto;
    }
}

@keyframes scrollAli {
    0% {
        background-position: 0 0
    }

    100% {
        background-position: -2146px 0
    }
}

section[section-id="4432b670-9916-4eff-beed-6f184c2fc1c0"] .container.section-slider-padding-space.slider-container {
    background-color: var(--1);
}

.features-section.section-padding-space::before {
    content: "ليه أكثر من الف عميل اختارنا؟";
}

@media (max-width: 700px) {
    .features-section.section-padding-space::before {
        width: 74%;
        right: 13%;
    }
}

body[data-template="home"]:before {
    background-size: 25% !important;
}

.store-section h1 {
    color: #231F20;
}

footer:before {
    top: 14px;
}

:root {
    --1: #c08d82;
    --1: #D49D91;
    --1-1: #D49D91;
    --2: #231F20;
    --logo: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 270.75 270.75'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23d39a8e; %7D .cls-2 %7B clip-path: url(%23clippath); %7D .cls-3 %7B fill: none; %7D .cls-4 %7B fill: %23231f20; %7D %3C/style%3E%3CclipPath id='clippath'%3E%3Crect class='cls-3' y='0' width='270.75' height='270.75'/%3E%3C/clipPath%3E%3C/defs%3E%3Cpath class='cls-1' d='m74.71,77.06c-3.08,2.56-5.79,5.95-8.14,10.17-2.35,4.23-4.3,8.9-5.87,14.01-1.56,5.11-2.61,10.3-3.13,15.57-.52,5.27-.47,10.23.16,14.87.63,4.64,1.9,8.55,3.83,11.74,1.93,3.18,4.62,5.24,8.06,6.18,2.09.52,4.33.49,6.73-.08,2.4-.57,4.85-1.8,7.36-3.68,3.55-2.61,7.41-5.97,11.58-10.09,4.17-4.12,8.32-8.5,12.44-13.15,4.12-4.64,7.9-9.08,11.35-13.3s6.26-7.75,8.45-10.56c0-.42-.37-.63-1.1-.63s-1.25.16-1.56.47c-1.36,1.67-3.31,4.07-5.87,7.2-2.56,3.13-5.45,6.57-8.69,10.33-3.23,3.76-6.6,7.51-10.09,11.27-3.5,3.76-6.91,7.2-10.25,10.33-3.34,3.13-6.36,5.58-9.08,7.36-2.4,1.56-4.59,2.53-6.57,2.9-1.98.36-3.55.18-4.69-.55-1.98-.84-3.23-3.03-3.76-6.57-.52-3.55-.52-7.85,0-12.91.52-5.06,1.46-10.41,2.82-16.04,1.35-5.63,2.95-11.01,4.77-16.12,1.82-5.11,3.73-9.44,5.71-12.99,1.98-3.55,3.86-5.74,5.63-6.57,1.46-.63,2.95-.34,4.46.86,1.51,1.2,2.61,2.92,3.29,5.16.68,2.24.55,4.57-.39,6.96-.94,2.4-3.18,4.44-6.73,6.1h2.82c2.82-1.04,4.77-2.76,5.87-5.16,1.1-2.4,1.38-4.9.86-7.51-.52-2.61-1.64-4.82-3.36-6.65-1.72-1.82-3.99-2.74-6.81-2.74-3.65,0-7.02,1.28-10.09,3.83Z'/%3E%3Cpath class='cls-1' d='m163.83,97.24c-.31,2.56-.57,3.94-.78,4.15-4.49,7.51-8.53,13.33-12.13,17.45-3.6,4.12-6.73,6.94-9.39,8.45-2.66,1.51-4.77,2.11-6.34,1.8-1.56-.31-2.74-1.67-3.52-4.07-.78-2.4-1.15-5.4-1.1-9,.05-3.6.52-7.43,1.41-11.5.89-4.07,2.16-8.01,3.83-11.81,1.67-3.81,3.73-7.09,6.18-9.86,2.45-2.76,5.35-4.56,8.69-5.4,1.88-.52,3.83-.29,5.87.7,2.03.99,3.86,2.32,5.48,3.99,1.62,1.67,2.68,3.34,3.21,5.01-.63,4.17-1.1,7.54-1.41,10.09Zm-14.16,82.39c-2.14,9.7-4.44,18.49-6.89,26.37-2.45,7.88-4.98,14.29-7.59,19.25-2.61,4.95-5.27,7.69-7.98,8.22-2.3.42-4.23-.6-5.79-3.05-1.56-2.45-2.58-5.95-3.05-10.48-.47-4.54-.18-9.73.86-15.57,1.04-5.84,2.97-11.97,5.79-18.39,2.82-6.42,6.7-12.73,11.66-18.94,4.95-6.21,11.19-11.92,18.7-17.14-1.67,10.12-3.57,20.03-5.71,29.73Zm-13.93-15.49c-5.37,6.47-9.6,13.07-12.68,19.8s-5.16,13.17-6.26,19.33c-1.1,6.15-1.38,11.68-.86,16.59.52,4.9,1.7,8.79,3.52,11.66,1.83,2.87,4.15,4.3,6.96,4.3,6.15-.11,11.71-3.99,16.67-11.66,4.95-7.67,9.47-18.49,13.54-32.47,4.07-13.98,7.67-30.31,10.8-48.98,4.28-2.5,9.28-6.02,15.02-10.56,5.74-4.54,11.66-9.68,17.76-15.41,6.1-5.74,11.71-11.68,16.82-17.84,0-.42-.45-.63-1.33-.63s-1.44.16-1.64.47c-4.38,5.11-9.34,10.28-14.87,15.49-5.53,5.22-11.06,10.07-16.59,14.55-5.53,4.49-10.54,8.14-15.02,10.95,1.04-5.53,2.14-11.92,3.29-19.17,1.15-7.25,2.4-14.66,3.76-22.22,1.35-7.56,2.71-14.42,4.07-20.58.21-1.25-.16-2.19-1.1-2.82-.94-.63-2.14-.96-3.6-1.02-1.46-.05-2.87.23-4.23.86-1.36.63-2.3,1.67-2.82,3.13l-1.1,5.01c-4.59-6.47-10.54-9.23-17.84-8.29-4.69.63-8.79,2.43-12.28,5.4-3.5,2.97-6.36,6.57-8.61,10.8-2.24,4.23-3.83,8.63-4.77,13.22-.94,4.59-1.17,8.92-.7,12.99.47,4.07,1.72,7.41,3.76,10.02,2.03,2.61,4.82,4.02,8.37,4.23,1.15.11,2.56,0,4.23-.31,1.67-.31,3.68-1.2,6.02-2.66,2.35-1.46,5.06-3.89,8.14-7.28,3.08-3.39,6.55-8.11,10.41-14.16-1.04,6.05-1.9,11.11-2.58,15.18-.68,4.07-1.31,7.96-1.88,11.66-.57,3.7-1.33,7.95-2.27,12.75-8.03,5.32-14.74,11.21-20.11,17.68Z'/%3E%3Cg class='cls-2'%3E%3Crect class='cls-1' x='262.66' y='24.81' width='8.09' height='221.13'/%3E%3Crect class='cls-1' y='24.81' width='8.09' height='221.13'/%3E%3Crect class='cls-1' x='24.81' width='221.13' height='8.09'/%3E%3Crect class='cls-1' x='24.81' y='262.66' width='221.13' height='8.09'/%3E%3Cpolygon class='cls-1' points='262.66 8.09 262.66 24.81 270.75 24.81 270.75 0 245.94 0 245.94 8.09 262.66 8.09'/%3E%3Cpolygon class='cls-1' points='8.09 8.09 24.81 8.09 24.81 0 0 0 0 24.81 8.09 24.81 8.09 8.09'/%3E%3Cpolygon class='cls-1' points='262.66 262.66 245.94 262.66 245.94 270.75 270.75 270.75 270.75 245.94 262.66 245.94 262.66 262.66'/%3E%3Cpolygon class='cls-1' points='8.09 262.66 8.09 245.94 0 245.94 0 270.75 24.81 270.75 24.81 262.66 8.09 262.66'/%3E%3C/g%3E%3Cpath class='cls-4' d='m79.43,168.88l-.66-1.4c-.77.59-1.67.88-2.71.88-.84,0-1.59-.19-2.24-.57-.65-.38-1.14-.91-1.49-1.58-.35-.67-.52-1.43-.52-2.26s.19-1.56.57-2.24c.38-.68.89-1.22,1.52-1.61.64-.4,1.33-.59,2.08-.59.9,0,1.79.3,2.68.9l.63-1.46c-.45-.28-.96-.5-1.52-.67-.57-.17-1.18-.26-1.83-.26-1.1,0-2.09.26-2.96.78-.87.52-1.55,1.23-2.04,2.15-.49.91-.74,1.94-.74,3.09,0,1.07.24,2.05.73,2.93.49.89,1.18,1.59,2.08,2.12.9.52,1.95.79,3.13.79.67,0,1.3-.1,1.87-.31.57-.21,1.04-.44,1.42-.68Z'/%3E%3Cpolygon class='cls-4' points='86.17 158.15 86.17 169.75 93.62 169.75 93.62 168.24 87.72 168.24 87.72 158.15 86.17 158.15'/%3E%3Cpath class='cls-4' d='m102.44,165.35l1.72-4.23,1.65,4.23h-3.37Zm5.1,4.39h1.8l-5.07-12.07h-.1l-5.07,12.07h1.54l1.23-3.05h4.46l1.2,3.05Z'/%3E%3Cpath class='cls-4' d='m121.62,160.22l.59-1.2c-1.07-.62-2.23-.93-3.48-.93-1.02.03-1.84.33-2.48.89-.64.56-.95,1.3-.95,2.2,0,.62.15,1.14.47,1.55.31.41.68.74,1.11.97.43.24.98.48,1.63.72.71.28,1.25.57,1.64.89.39.32.59.74.59,1.27,0,.63-.23,1.11-.7,1.43-.47.32-1.01.48-1.63.48-.48,0-1-.1-1.56-.31-.56-.21-1.03-.46-1.43-.76l-.69,1.23c.5.35,1.08.64,1.75.87.66.23,1.35.34,2.07.34.77,0,1.44-.14,2.01-.43.57-.29,1.01-.68,1.32-1.19.31-.5.47-1.06.47-1.68,0-.68-.14-1.25-.41-1.69-.27-.44-.61-.79-1.03-1.04-.41-.25-.92-.48-1.52-.7-.8-.3-1.42-.6-1.85-.91-.43-.3-.65-.7-.65-1.18s.18-.88.55-1.16c.37-.28.87-.42,1.5-.42.42,0,.86.07,1.33.21.47.14.91.32,1.33.55Z'/%3E%3Cpath class='cls-4' d='m135.07,160.22l.59-1.2c-1.07-.62-2.23-.93-3.48-.93-1.02.03-1.84.33-2.48.89-.64.56-.95,1.3-.95,2.2,0,.62.15,1.14.47,1.55.31.41.68.74,1.11.97.43.24.98.48,1.63.72.71.28,1.25.57,1.64.89.39.32.59.74.59,1.27,0,.63-.23,1.11-.7,1.43-.47.32-1.01.48-1.63.48-.48,0-1-.1-1.56-.31-.56-.21-1.03-.46-1.43-.76l-.69,1.23c.5.35,1.08.64,1.75.87.66.23,1.35.34,2.07.34.77,0,1.44-.14,2.01-.43.57-.29,1.01-.68,1.32-1.19.31-.5.47-1.06.47-1.68,0-.68-.14-1.25-.41-1.69-.27-.44-.61-.79-1.03-1.04-.41-.25-.92-.48-1.52-.7-.8-.3-1.42-.6-1.85-.91-.43-.3-.65-.7-.65-1.18s.18-.88.55-1.16c.37-.28.87-.42,1.5-.42.42,0,.86.07,1.33.21.47.14.91.32,1.33.55Z'/%3E%3Cpolygon class='cls-4' points='149.59 158.15 146.42 164.12 143.23 158.15 141.3 158.15 145.6 165.88 145.6 169.75 147.16 169.75 147.16 165.88 151.5 158.15 149.59 158.15'/%3E%3Cpath class='cls-4' d='m176.02,168.75v-4.68h-3.88v1.49h2.31v2.29c-.26.15-.58.26-.96.34-.38.08-.78.12-1.19.12-.88,0-1.66-.18-2.34-.54-.68-.36-1.21-.86-1.59-1.52-.37-.65-.56-1.4-.56-2.23,0-.9.19-1.68.56-2.36.37-.67.91-1.19,1.6-1.56.69-.36,1.48-.55,2.38-.55.42,0,.88.07,1.4.22.52.14.95.31,1.29.51l.51-1.43c-.46-.26-.98-.46-1.56-.62-.58-.15-1.19-.23-1.84-.23-1.08,0-2.07.25-2.98.74-.91.49-1.63,1.2-2.16,2.12-.53.92-.8,2.02-.8,3.28,0,1.08.25,2.05.75,2.92.5.87,1.21,1.55,2.12,2.04.92.5,1.98.75,3.19.75.64,0,1.34-.12,2.09-.35.75-.24,1.31-.49,1.66-.77Z'/%3E%3Crect class='cls-4' x='183.1' y='158.15' width='1.56' height='11.59'/%3E%3Cpolygon class='cls-4' points='192.11 158.15 192.11 169.75 193.67 169.75 193.67 164.83 198.33 164.83 198.33 163.33 193.67 163.33 193.67 159.65 198.99 159.65 198.99 158.15 192.11 158.15'/%3E%3Cpolygon class='cls-4' points='204.82 158.15 204.82 159.65 207.86 159.65 207.86 169.75 209.41 169.75 209.41 159.65 212.52 159.65 212.52 158.15 204.82 158.15'/%3E%3Cpath class='cls-4' d='m225.12,160.22l.59-1.2c-1.07-.62-2.23-.93-3.48-.93-1.02.03-1.84.33-2.48.89-.64.56-.95,1.3-.95,2.2,0,.62.15,1.14.47,1.55.31.41.68.74,1.11.97.43.24.98.48,1.63.72.71.28,1.25.57,1.64.89.39.32.59.74.59,1.27,0,.63-.23,1.11-.7,1.43-.47.32-1.01.48-1.63.48-.48,0-1-.1-1.56-.31-.56-.21-1.03-.46-1.43-.76l-.69,1.23c.5.35,1.08.64,1.75.87.66.23,1.35.34,2.07.34.77,0,1.44-.14,2.01-.43.57-.29,1.01-.68,1.32-1.19.31-.5.47-1.06.47-1.68,0-.68-.14-1.25-.41-1.69-.27-.44-.61-.79-1.03-1.04-.41-.25-.92-.48-1.52-.7-.8-.3-1.42-.6-1.85-.91-.43-.3-.65-.7-.65-1.18s.18-.88.55-1.16c.37-.28.87-.42,1.5-.42.42,0,.86.07,1.33.21.47.14.91.32,1.33.55Z'/%3E%3C/svg%3E");
}
