/* develope By Package +201002241591  3lwaaa@gmail.com - https://wa.me/201002241591 */
.home>.section-padding-space:first-child {
    margin: 0 !important;
    width: 100%;
    max-width: 100%;
    padding: 0 !important;
}

.account-lang-currency.upper-bar {
    border: 0;
    padding-bottom: 0
}

.search-header.header-theme-bg-primary,.account-lang-currency.upper-bar {
    background: 0 0
}

.rtl .search-input-input {
    border-radius: 10px;
    box-shadow: 0 6px 10px -6px transparent;
    border: 0;
    border-bottom: 3px solid 00;
    background: transparent
}

section.ss .container.container-slider {
    max-width: 100%!important;
    padding: 0
}

.main-slider.slider.s-slider.slick-initialized.slick-slider {
    max-height: initial
}

.account-area *,.language-currency,.language-currency *,.icon-language_white:before {
    color: #fff!important;
    border-color: transparent!important
}

header {
    background: 0 0;
    position: relative;
    z-index: 20
}

.main-slider.slider.s-slider.slick-initialized.slick-slider .box-1-1.ratio21_9:before {
    padding-top: 55.85%
}

.home>.section-padding-space:first-child {
    margin-top: -155px !important;
    position: relative ;
    z-index: 10
}

.search-header.header-theme-bg-primary *,.account-lang-currency.upper-bar * {
    color: #fff!important;
}

.align-items-center.search-header-bar {
    height: 30px
}

ul.main-nav>li {
    margin-bottom: 10px
}

.footer-companies, body:not([data-template="home"]) .account-lang-currency .account-btn, .footer-copyrights-vat-certificate {
    background-color: #067A3E;
}

.search-header .image-logo {
    max-height: 84px!important;
    padding-top: 1px;
    height: 88px;
}

@media(max-width: 600px) {
    .home>.section-padding-space:first-child {
        margin-top: -50px !important;
    }

    div#fixed-header {
        padding: 27px 0px;
    }

    div#fixed-header.sticky {
        background: #ffffff;
        background: #ffffff21;
        backdrop-filter: blur(10px);
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
    }
}

.d-lg-block, .cart-header-total, .header-theme-bg-primary {
    background-color: transparent;
}

.section-padding-space:nth-child(5)>div>h2:after {
    content: "مجموعة DR الشاملة لتوفير أكبر";
    text-align: center;
    display: block;
    padding-top: 12px;
    font-size: 12px;
}

.section-padding-space:nth-child(2)>div>h2:after {
    content: "تسوّق حسب احتياجك";
    text-align: center;
    display: block;
    padding-top: 12px;
    font-size: 12px;
}

span.path1::before, span.path2::before {
    visibility: hidden !important;
}

.product-item>div, .product-item {
    background: #fff;
}

.product-item>div, product-item .product-title>span {
    box-shadow: 0 2px 8px -3px #ababab;
}

.product-item>div {
    margin-top: -5px;
}

.account-lang-currency {
    border-bottom: 0px
}

.slide-menu ul a {
    color: #000;
}

.slide-menu ul a[href="/"]:before {
    font-family: "Font Awesome 5 Free";
    content: "🏠";
    font-size: 20px;
    display: inline-block;
    height: 20px;
    width: 20px;
    padding-left: 34px;
}

.slide-menu ul a[href="/shipping-and-payment"]:before {
    font-family: "Font Awesome 5 Free";
    content: "🚚";
    font-size: 20px;
    display: inline-block;
    height: 20px;
    width: 20px;
    padding-left: 34px;
}

.slide-menu ul:before {
    text-align: center;
    content: "";
    display: block;
    height: 110px;
    width: 140px;
    margin: auto auto 20px;
    background-image: url(https://media.zid.store/cdn-cgi/image/h=175,q=100/https://media.zid.store/f4294bf8-4584-4bfe-8172-33beb8eaf240/6d15e487-1299-4044-a8c8-a62bac8a5d07.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.icon-menu_open_black_24dp-1:before {
    content: url(https://assets.zid.store/themes/27e1e88a-3dc4-4c9b-8720-913b20533f9a/Menu.svg);
    filter: invert(1) brightness(5.5);
}

div#fixed-header.sticky .icon-menu_open_black_24dp-1:before {
    filter: brightness(5.5);
}

.header-cart .header-theme-icon-primary:before {
    content: url(https://assets.zid.store/themes/27e1e88a-3dc4-4c9b-8720-913b20533f9a/Cart.svg);
    color: #fff;
    height: 0px;
    width: 30px !important;
    display: block;
    filter: invert(1) brightness(5.5);
}

div#fixed-header.sticky .header-theme-icon-primary:before {
    filter: brightness(5.5) ;
}

.menu-header-theme-bg-primary-brightness-100 {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.product-crd-spec {
    min-height: auto;
}

.product-item {
    background: linear-gradient(to bottom, #f2f2f2, #f2f2f2, #f2f2f2, #f2f2f2, #fff);
}

.products-slider .prod-col {
    margin: 10px auto;
}

/*

.col-12.col-lg-7 .row .col-12:nth-child(2) .footer-about-us-links-div,
.col-12.col-lg-7 .row .col-12:first-of-type .footer-about-us-links-div{
     display: flex;
    width: 50% !important;
}

.col-12.col-lg-4{
   display: block;
    width: 100% !important;
}
*/
.col-12.col-lg-7 .row .col-12:nth-child(3) .footer-about-us-links-div h2, .footer-about-us-links-div.mt-5, .slide-menu ul li:first-child, .rtl .footer-about-us-div h2.pb-2, .icon-search:before, .language-currency, .product-card-rating-wrapper, .rtl .search-input-input {
    display: none !important;
}

.section-title {
    text-align: center;
}

.home, .home>.section-padding-space:first-child {
    /* margin: 0px !important; */
    /* padding: 0px !important; */
    /* width: 100% !important; */
}

.footer .icons a, .footer .logistics-pay-icons a img {
    background: #fff;
    padding: 1px;
    margin: 4px;
    border-radius: 3px;
}

.footer .icons a {
    padding: 0px !important;
}

.box-1-1 {
    background-image: linear-gradient(to bottom, transparent, transparent, transparent, #fff);
    border-top-right-radius: 158px;
    border-top-left-radius: 158px;
}

.gallery-item.col-6 {
    padding: 8px;
}

.box-1-1 .content a img {
    background: #fff;
    object-fit: contain !important;
    width: 100% !important;
}

.box-1-1.ratio21_9 {
    border-radius: 20px;
}

.justify-content-start .align-items-center {
    background: #F2F2F2;
    border-radius: 20px;
    z-index: -1;
}

.footer-theme-text-for-primary-bg, .footer {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.footer-theme-text-for-primary-bg:before {
    text-align: center;
    content: "";
    display: block;
    height: 110px;
    width: 140px;
    margin: auto auto 20px;
    background-image: url(https://media.zid.store/cdn-cgi/image/h=175,q=100/https://media.zid.store/f4294bf8-4584-4bfe-8172-33beb8eaf240/6d15e487-1299-4044-a8c8-a62bac8a5d07.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.product-item .product-title>span {
    padding: 0px 10px 0px 10px;
}

.box-1-1.ratio21_9 .content a img {
    width: 95% !important;
    margin: 10px 10px 0px 10px !important;
}

.btn {
    width: 79%;
    position: relative;
    bottom: 0px;
    left: -16px;
    background: #067a3e;
    border-radius: 0 20px 0 10px;
    padding: 10px;
    font-size: 15px;
    font-weight: 400;
}

.footer-copyrights span, .vat-crn-sections>div, .store-section p, .store-section a {
    font-weight: 600;
}

.product-item {
    border-radius: 20px;
}

.partners-slider .slick-track .slick-slide {
    max-width: 74px;
    max-height: 74px;
    margin: auto auto 94px auto;
}

.partners-slider .slick-track .slick-slide img {
    /* box-shadow: 0 2px 8px -3px #ababab; */
}

body, html,.ss, section, .gallery-item.col-6 .box-1-1, .section-padding-space {
    background: #F2F2F2 !important;
}

.product-crd-spec,.product-item small,.product-card-rating-wrapper, .product-item .product-price, .product-item .product-title>span {
    background: #fff !important;
}

.product-item .product-price {
    padding-bottom: 12px !important;
}

.product-item .section-product-price {
    margin-top: 0px;
}

.product-item .product-title {
    background: #fff !important;
    padding: 0px !important;
    margin: 0px !important;
}

.footer-copyrights span, .vat-crn-sections>div {
    color: #fff;
}

.home>.container {
    /* max-width: 100% !important; */
}

.store-section .social-icons {
    justify-content: center;
}

.mt-3 .btn {
    width: 100%;
}

.rtl .cart-badge {
    display: block !important;
    background-color: #89B731;
}

.product-item .product-price, .product-item .product-title>span, h2, .store-section p {
    text-align: center;
}

.col-12.col-lg-4 .footer-about-us-links-div p {
    margin-top: 9px !important;
}

col-12.col-lg-4 .footer-about-us-links-div h2>p {
    margin-top: 31px !important;
}

.sticky>div .header-theme-bg-primary {
    border-bottom-left-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
}

.store-section p {
    font-size: larger;
}

@media only screen and (max-width: 600px) {
    .box-1-1 .content a img {
        min-height: 141px;
    }

    .product-item {
        width: 155px;
    }

    .col-12.col-lg-7 .row .col-12:nth-child(2), .col-12.col-lg-7 .row .col-12:first-of-type {
        flex: 0 0 50%;
        max-width: 50%;
    }

    ul.main-nav>li>a, .header-theme-icon-primary {
        color: #000;
    }
}

@media only screen and (min-width: 600px) {
    .menu-header-theme-bg-primary {
        background: 0 0
    }

    .account-lang-currency .account-btn {
        background-color: #067a3e0f;
    }
}

.theme-border-primary {
    border-color: transparent !important;
    visibility: hidden;
}

.section-padding-space:nth-child(7)>div>h2 {
    display: none !important;
}

.section-padding-space {
    padding-bottom: 0px !important;
}

.product-item .product-price+div {
    background: #fff !important;
    text-align: center !important;
    padding: 5px;
    font-size: 15px;
}

.box-1-1.ratio21_9 {
    background: #F2F2F2 !important;
}

.section-padding-space:nth-child(2) .s-slider.products-slider .prod-col {
    display: table;
}

.gallery-section.container.section-padding-space {
    /* background: transparent; */
}

.testimonials-customer-card .card-body:before {
    content: "\f005 ""\f005 ""\f005 ""\f005 ""\f005 ";
    display: block;
    font-family: icomoon!important;
    color: #ffd814;
    font-size: 16px;
    font-weight: 400;
    line-height: 3;
}

@media(min-width: 992px) {
    #fixed-header .search-header-bar>div {
        width: 33.33333%;
    }

    #fixed-header .search-header-bar>.header-logo {
        order: 2
    }

    #fixed-header .search-header-bar>.header-logo>a {
        margin: auto;
        background-size: contain!important
    }

    #fixed-header .search-header-bar>.header-cart {
        order: 3
    }
}

@media(max-width: 991px) {
    #fixed-header:not(.sticky) .header-logo a[href="/"],#fixed-header.sticky .header-logo a[href="/"] {
        display: flex!important;
        position: relative;
        justify-self: center;
        right: 31%;
        top: -19px;
    }
}

.testimonials-customer-text {
    height: 170px;
    text-align: center;
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
    font-size: 14px;
    color: #fff;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1680.55 873.04'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23067A3E; %7D %3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M1357.84,0c2.18,.93,3.71,1.44,5.12,2.19,53.17,28.13,86.14,71.06,95.76,131,.92,5.74,1.66,11.56,1.79,17.36,.09,4.21,1.55,5.28,5.59,5.26,29.16-.15,58.33-.08,87.5-.08,20.97,0,41.16,3.76,59.68,13.86,38.99,21.27,61.61,53.86,66.5,98.29,.56,5.12,.75,10.3,.75,15.45,.04,154.66,.04,309.32,.03,463.98,0,60.76-40.14,110.59-99.52,123.12-7.92,1.67-16.18,2.49-24.28,2.49-477.65,.12-955.29,.12-1432.94,.08-61.71,0-113.85-45.5-122.59-106.77-.84-5.92-1.16-11.95-1.16-17.93C0,592.48-.01,436.66,.02,280.83c.01-61.07,42.11-111.95,102.11-122.98,9.11-1.67,18.56-2.03,27.86-2.03,370.15-.1,740.3-.1,1110.46-.03,18.95,0,37.15-2.73,54-11.85,24.77-13.4,39.63-35,49.44-60.57,9.54-24.83,13.23-50.78,13.95-77.23,.05-1.79,0-3.57,0-6.14Z'/%3E%3C/svg%3E");
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat
}

.testimonials-customer-card {
    border: 0;
    box-shadow: none
}

.icon-account_circle_black_24dp:before {
    content: "\f007 ";
}

.product-crd-spec small {
    position: relative;
    top: -6px;
    right: 27px;
}

body[data-template="home"],body:not([data-template="home"]) {
}

body:not([data-template="home"]) ul.main-nav>li>a, .item-all-categories a, body:not([data-template="home"]) .search-header.header-theme-bg-primary * {
    color: #000 !important;
}

body:not([data-template="home"]) .header-cart .header-theme-icon-primary:before, body:not([data-template="home"]) .icon-menu_open_black_24dp-1:before, body:not([data-template="home"]) div#fixed-header.sticky .header-theme-icon-primary:before, body:not([data-template="home"]) div#fixed-header.sticky .header-theme-icon-primary:before {
    filter: unset;
}
