.s-block--tabs-produtcs .tab-trigger.is-active button {
    background-color: #6b3e98;
    color: #fff;
}

.s-button-primary-outline:hover {
    background-color: #08a981;
    fill: #fff;
    color: #fff;
}

footer .col-span-12.sm\:col-span-6.lg\:col-span-3:has(a[href="https://iblackstores.com/whatsapp/send"]):after {
    background: url(https://cdn.salla.sa/form-builder/QZfG9HyXCwK5Lgh6t6tzT2XfBegWe85S0wXanwAi.png);
    content: '';
    /* width: 50%; */
    height: 56px;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    position: relative;
    /* right: 33px; */
    top: 15px;
    background-position: right;
}
