/* .index .app-inner:before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #fff;
    background: #fff;
    position: fixed;
    z-index: 999999;
    transform: scale(0);
    animation-name: pupup;
    animation-duration: 2s;
    animation-duration: 2s
}

@keyframes pupup {
    0% {
        transform: scale(1)
    }

    18% {
        transform: scale(1)
    }

    80% {
        transform: scale(1)
    }

    100% {
        transform: scale(0)
    }
}

.index .app-inner:after {
    content: "";
    transition: all .5s ease;
    width: 100%;
    height: 100%;
    top: 0;
    position: fixed;
    z-index: 999999;
    background: var(--logo);
    left: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90px;
    background-size: 6rem;
    transform: scale(0);
    animation-name: pupup_logo;
    animation-duration: 2s;
    animation-duration: 2s
}

@keyframes pupup_logo {
    0% {
        transform: scale(0)
    }

    25% {
        transform: scale(1.8)
    }

    50% {
        transform: scale(1.8)
    }

    75% {
        transform: scale(1)
    }

    100% {
        transform: scale(0)
    }
} */
.topnav-is-dark .top-navbar {
    background-color: var(--1);
    color: #fff!important
}

.s-search-icon svg {
    fill: #fff
}

.header-btn__icon {
    border-color: var(--1);
    color: var(--1)
}

.s-cart-summary-count {
    background-color: var(--1)
}

.s-cart-summary-total {
    color: var(--1)
}

.grid-cols-\[repeat\(2\2c minmax\(0\2c 1fr\)\)\] {
    grid-template-columns: repeat(3,minmax(0,1fr))
}

.s-block--features__item:first-child {
    grid-column: span 1/span 1
}

.copyright-text p {
    color: rgb(255 255 255)
}

.store-footer {
    border-radius: 10px;
    margin: 10px;
    text-align: center
}

.store-footer__inner {
    border-radius: 10px
}

.leading-6 {
    margin: auto
}

.store-footer h3 {
    margin: auto
}

.s-contacts-list-vertical {
    align-items: center
}

.s-social-list {
    justify-content: center
}

.s-block--features__item {
    border: 1.5px solid var(--1)
}

features__item {
    padding-top: 1rem
}

.s-block {
    position: relative
}

.feature-icon {
    position: absolute;
    top: 2.8rem!important;
    overflow: initial!important
}

.s-block--features__item {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem
}

.responsive-video {
    max-width: 100%;
    height: auto
}

body>div.app-inner.flex.flex-col.min-h-full>div:nth-child(5) {
    display: none
}

@media(max-width: 767px) {
    body>div.app-inner.flex.flex-col.min-h-full>div:nth-child(5) {
        display:block
    }

    body>div.app-inner.flex.flex-col.min-h-full>div:nth-child(4) {
        display: none
    }
}

.home-video {
    margin: -11rem 0 0;
    z-index: -1
}

@media(max-width: 767px) {
    .home-video {
        margin:-5rem 0 0
    }

    .home-video video {
        height: 100%
    }
}

.inner.bg-inherit,.main-nav-container,.s-advertisement {
    background: 0 0!important
}

header.store-header * {
}

.banner--fixed img {
    background-color: rgb(249 250 251)
}

section.s-block.s-block--features.container {
    margin-top: 4rem;
    margin-bottom: 1rem
}

.store-footer li.s-social-link a[href*="https"] {
    width: 40px;
    height: 47px;
    display: block;
    border: 0;
}

.store-footer li.s-social-link a[href*="instagram"] {
    content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 40.38 40.4'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: url(%23linear-gradient); %7D .cls-1, .cls-2 %7B stroke-width: 0px; %7D .cls-2 %7B fill: %23fff; %7D %3C/style%3E%3ClinearGradient id='linear-gradient' x1='5.9' y1='7.51' x2='34.49' y2='36.09' gradientTransform='translate(0 42) scale(1 -1)' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23faad4f'/%3E%3Cstop offset='.35' stop-color='%23dd2a7b'/%3E%3Cstop offset='.62' stop-color='%239537b0'/%3E%3Cstop offset='1' stop-color='%23515bd4'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath class='cls-1' d='M20.24,0h-.09C9.02,0,0,9.02,0,20.15v.09c0,11.13,9.02,20.15,20.15,20.15h.09c11.13,0,20.15-9.02,20.15-20.15v-.09C40.38,9.02,31.36,0,20.24,0Z'/%3E%3Cpath class='cls-2' d='M26.44,8.22h-12.5c-3.45,0-6.26,2.81-6.26,6.26v11.44c0,3.45,2.81,6.26,6.26,6.26h12.5c3.45,0,6.26-2.81,6.26-6.26v-11.44c0-3.45-2.81-6.26-6.26-6.26ZM9.89,14.48c0-2.23,1.82-4.05,4.05-4.05h12.5c2.23,0,4.05,1.82,4.05,4.05v11.44c0,2.23-1.82,4.05-4.05,4.05h-12.5c-2.23,0-4.05-1.82-4.05-4.05v-11.44Z'/%3E%3Cpath class='cls-2' d='M20.19,26.02c3.21,0,5.82-2.61,5.82-5.83s-2.61-5.83-5.82-5.83-5.82,2.61-5.82,5.83,2.61,5.83,5.82,5.83ZM20.19,16.58c1.99,0,3.61,1.62,3.61,3.62s-1.62,3.62-3.61,3.62-3.61-1.62-3.61-3.62,1.62-3.62,3.61-3.62Z'/%3E%3Cpath class='cls-2' d='M26.55,15.31c.86,0,1.57-.7,1.57-1.57s-.7-1.57-1.57-1.57-1.57.7-1.57,1.57.7,1.57,1.57,1.57Z'/%3E%3C/svg%3E");
}

.store-footer li.s-social-link a[href*="twitter"] {
    content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 40.38 40.4'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %231c1c1b; stroke: %23fff; stroke-width: .5px; %7D .cls-2 %7B fill: %23fff; stroke-width: 0px; %7D %3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M40.13,19.95h0v.25c0,10.07-7.47,18.4-17.16,19.76-.91.13-1.83.19-2.78.19-1.09,0-2.16-.09-3.19-.25h0C7.5,38.36.25,30.13.25,20.2.25,9.18,9.18.25,20.19.25s19.81,8.8,19.94,19.7Z'/%3E%3Cpath class='cls-2' d='M8.19,8.91l9.31,12.45-9.37,10.13h2.11l8.2-8.87,6.63,8.87h7.18l-9.84-13.15,8.72-9.43h-2.11l-7.56,8.16-6.1-8.16h-7.18ZM11.29,10.46h3.3l14.56,19.47h-3.3L11.29,10.46Z'/%3E%3C/svg%3E");
}

.store-footer li.s-social-link a[href*="snapchat"] {
    content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 40.38 40.4'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %231d1d1b; %7D .cls-1, .cls-2, .cls-3 %7B stroke-width: 0px; %7D .cls-2 %7B fill: %23fffa00; %7D .cls-3 %7B fill: %23fff; %7D %3C/style%3E%3C/defs%3E%3Cpath class='cls-2' d='M20.15,0h.09c11.12,0,20.15,9.03,20.15,20.15v.09c0,11.12-9.03,20.15-20.15,20.15h-.09C9.03,40.4,0,31.37,0,20.24v-.09C0,9.03,9.03,0,20.15,0Z'/%3E%3Cpath class='cls-3' d='M26.51,16.5c0,.27-.03.54-.06.81,0,.09-.01.18-.01.27,0,.15.12.29.27.28.07,0,.15-.02.22-.05.24-.08.47-.17.7-.26.21-.08.43-.16.65-.22.24-.07.48-.11.72-.07.5.08.82.61.64,1.08-.05.13-.13.24-.22.35-.13.14-.27.26-.43.37-.19.13-.37.25-.56.37-.31.21-.63.41-.94.62-.13.09-.26.18-.38.27-.07.05-.13.11-.19.18-.11.12-.17.28-.16.44,0,.17.04.34.09.51.15.52.38,1,.65,1.47.74,1.24,1.79,2.2,3.04,2.99.34.22.71.39,1.07.58.05.03.1.05.15.08.05.03.09.07.13.12.05.07.06.15.01.23-.04.07-.09.12-.15.17-.07.05-.14.1-.21.14-.42.24-.87.42-1.34.54-.23.06-.45.12-.68.19-.14.04-.27.1-.4.17-.22.11-.34.29-.38.53-.03.13-.04.26-.07.39-.06.33-.18.45-.5.51-.11.02-.23.03-.34.04-.29.02-.58.02-.87.04h-.02c-1.15.07-2.27.44-3.26,1.03-.05.03-.1.06-.16.09-.4.24-.81.47-1.25.64-.49.19-.99.3-1.51.35-.44.04-.88.03-1.32-.02-.66-.07-1.28-.26-1.86-.56-.27-.14-.54-.3-.8-.46-.01,0-.03-.02-.04-.03-1.04-.63-2.22-1.02-3.44-1.07h-.03c-.25,0-.51-.02-.76-.04-.15,0-.3-.03-.44-.07-.19-.05-.32-.21-.36-.4-.02-.1-.04-.21-.05-.31,0-.02,0-.05,0-.07-.04-.3-.19-.52-.48-.65-.17-.08-.35-.14-.54-.19-.32-.09-.64-.17-.95-.28-.27-.1-.54-.21-.79-.35-.08-.04-.15-.09-.22-.14-.05-.03-.09-.07-.13-.11-.13-.13-.11-.31.03-.42.08-.07.18-.11.28-.16.66-.32,1.29-.7,1.87-1.15.88-.68,1.63-1.48,2.19-2.45.2-.35.37-.71.51-1.09.09-.25.16-.5.18-.76.01-.19-.05-.38-.18-.52-.09-.1-.21-.18-.32-.26-.17-.12-.34-.24-.51-.35-.36-.24-.73-.48-1.1-.72-.16-.1-.31-.22-.45-.35-.1-.1-.19-.2-.26-.32-.15-.25-.16-.51-.05-.78.07-.16.19-.29.35-.37.22-.1.45-.11.69-.08.25.04.49.12.73.21.24.09.49.18.73.28.11.04.23.08.35.1.03,0,.06.01.08.01.14,0,.26-.05.25-.24,0-.09,0-.18,0-.27-.02-.45-.05-.91-.06-1.36-.03-1.08-.02-2.16.26-3.21.17-.64.47-1.24.87-1.77.84-1.1,1.94-1.8,3.26-2.17.72-.2,1.46-.27,2.21-.25.71.02,1.41.14,2.08.37.79.28,1.51.68,2.13,1.25.7.65,1.23,1.41,1.52,2.32.13.41.22.84.27,1.27.11.89.08,1.79.07,2.68h0Z'/%3E%3Cpath class='cls-1' d='M20.18,32.39c-.27,0-.53-.02-.8-.05-.72-.08-1.41-.29-2.07-.63-.29-.15-.57-.32-.84-.48l-.04-.03c-.98-.6-2.07-.94-3.15-.98h-.03c-.22,0-.5-.02-.77-.04-.21-.01-.39-.04-.56-.09-.39-.11-.7-.45-.78-.86-.02-.08-.03-.16-.04-.23v-.09s-.02-.05-.02-.08c-.02-.13-.06-.17-.14-.2-.14-.07-.3-.12-.45-.16-.07-.02-.15-.04-.22-.06-.25-.07-.51-.14-.77-.23-.31-.11-.6-.24-.87-.39-.09-.05-.18-.1-.27-.17-.08-.06-.16-.12-.23-.19-.18-.19-.27-.42-.25-.67.02-.24.14-.47.34-.63.12-.1.25-.16.35-.21l.03-.02c.65-.32,1.24-.68,1.77-1.09.87-.67,1.54-1.42,2.04-2.28.17-.3.33-.63.46-.99.09-.25.14-.43.15-.6,0-.03,0-.06-.02-.08-.06-.06-.14-.12-.23-.19-.18-.13-.34-.24-.49-.34-.22-.15-.45-.29-.67-.44l-.42-.28c-.22-.14-.39-.27-.54-.41-.15-.14-.27-.29-.36-.45-.25-.41-.28-.86-.09-1.31.12-.3.36-.54.64-.67.31-.14.66-.18,1.03-.12.31.05.6.15.84.23.16.06.33.12.49.18.04.02.08.03.12.05v-.11c-.02-.33-.04-.68-.05-1.02-.03-1.08-.03-2.24.28-3.38.19-.71.52-1.37.97-1.97.88-1.16,2.08-1.96,3.57-2.38.74-.21,1.52-.3,2.38-.27.79.02,1.55.16,2.25.41.91.32,1.7.78,2.33,1.37.83.77,1.38,1.61,1.68,2.58.13.42.23.88.29,1.38.1.82.09,1.63.08,2.42v.34c0,.22-.02.43-.04.63.12-.05.25-.09.36-.14.26-.1.49-.17.7-.23.28-.08.61-.15.97-.09.42.07.78.32,1,.69.21.37.25.8.1,1.18-.07.19-.18.36-.33.53s-.33.32-.54.47c-.15.1-.29.2-.44.29l-.44.29c-.21.14-.42.28-.63.41-.11.08-.23.16-.35.25-.04.03-.08.06-.11.1,0,0-.01.02-.01.02,0,.12.03.25.07.38.13.44.32.87.59,1.33.65,1.08,1.58,1.99,2.84,2.79.25.16.51.29.79.43.08.04.16.08.24.12.06.03.12.07.18.1.12.07.23.17.31.29.18.26.2.57.05.85-.09.16-.21.27-.29.34-.11.09-.21.15-.29.2-.45.26-.95.46-1.48.6-.2.05-.41.11-.66.19-.1.03-.21.08-.29.13-.04.02-.06.04-.08.11-.01.06-.02.13-.03.19,0,.07-.02.13-.03.19-.1.57-.41.89-.98.98-.13.02-.27.04-.41.05-.14,0-.29.01-.43.02-.15,0-.29.01-.44.02h-.02c-1.03.06-2.06.39-2.99.95l-.16.09c-.4.24-.84.5-1.34.69-.52.2-1.09.33-1.67.39-.21.02-.42.03-.63.03h0ZM12.29,28.98c.08.02.16.03.26.03.27.02.53.03.75.03h.03c1.28.05,2.57.45,3.72,1.15l.05.03c.28.17.51.31.76.43.53.27,1.09.44,1.66.5.4.05.8.05,1.2.01.48-.04.93-.15,1.35-.31.41-.16.8-.38,1.15-.6l.16-.1c1.09-.66,2.31-1.05,3.53-1.12h.02c.15-.01.3-.02.46-.02.14,0,.28-.01.41-.02.1,0,.19-.02.28-.03,0,0,0,0,.02,0,0,0,0-.02,0-.03,0-.05.02-.11.03-.16.01-.08.02-.16.04-.24.08-.42.32-.74.69-.94.13-.07.31-.15.5-.21.26-.08.48-.14.69-.2.34-.09.66-.21.95-.35-.26-.13-.52-.27-.78-.43-1.43-.9-2.48-1.94-3.23-3.18-.33-.54-.56-1.07-.71-1.61-.06-.21-.1-.43-.11-.64-.02-.32.09-.63.31-.87.08-.09.17-.18.27-.25.14-.11.28-.21.41-.3.21-.14.42-.28.64-.42l.44-.29c.14-.09.28-.19.43-.28.13-.09.24-.18.33-.28.06-.06.09-.11.11-.17.03-.07,0-.14-.02-.17-.04-.06-.1-.11-.16-.12-.14-.02-.31.02-.47.06-.18.05-.37.11-.59.2-.23.09-.47.18-.72.27-.13.05-.26.07-.38.08-.23.01-.46-.07-.63-.23-.18-.17-.27-.41-.27-.65,0-.08,0-.2.02-.31v-.11c.03-.23.05-.44.05-.65v-.34c.01-.78.02-1.52-.06-2.26-.05-.43-.13-.81-.24-1.16-.24-.76-.69-1.44-1.36-2.07-.52-.49-1.15-.85-1.92-1.12-.59-.21-1.23-.32-1.9-.34-.74-.02-1.41.05-2.03.23-1.25.35-2.22.99-2.95,1.96-.36.48-.62,1-.77,1.56-.26.99-.26,2.04-.24,3.04,0,.33.02.67.04.99l.02.35c0,.1,0,.2,0,.3,0,.48-.33.82-.83.83-.09,0-.15-.01-.19-.02-.19-.03-.34-.09-.47-.13-.08-.03-.17-.07-.25-.1-.16-.06-.31-.12-.47-.18-.19-.07-.41-.14-.63-.18-.19-.03-.29,0-.35.03-.01,0-.04.03-.05.06-.05.11-.03.17.01.24.04.06.09.13.16.2.1.09.22.18.37.28l.42.27c.23.15.45.29.68.44.16.11.33.22.52.36.13.09.27.2.4.34.24.26.37.61.34.97-.02.36-.13.68-.22.92-.16.43-.34.83-.55,1.18-.57.98-1.36,1.86-2.34,2.62-.52.4-1.1.77-1.71,1.09.17.08.34.15.52.22.22.08.44.14.68.2.08.02.15.04.23.06.21.06.42.13.62.23.46.21.75.59.82,1.11,0,.02,0,.04,0,.05h0s.01.09.01.09c0,.06.02.11.03.16h0Z'/%3E%3C/svg%3E");
}

.store-footer li.s-social-link a[href*="tiktok"] {
    content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 40.38 40.4'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23000; stroke: %23fff; stroke-width: .5px; %7D .cls-2 %7B fill: %2300f7ef; %7D .cls-2, .cls-3, .cls-4 %7B stroke-width: 0px; %7D .cls-3 %7B fill: %23ff004f; %7D .cls-4 %7B fill: %23fff; %7D %3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M20.15.25h.09c10.99,0,19.9,8.91,19.9,19.9v.09c0,10.99-8.91,19.9-19.9,19.9h-.09C9.16,40.15.25,31.24.25,20.24v-.09C.25,9.16,9.16.25,20.15.25Z'/%3E%3Cpath class='cls-3' d='M30.43,16.04v3.81c-.67-.07-1.53-.22-2.49-.57-1.25-.46-2.18-1.09-2.79-1.57v7.71l-.02-.02c0,.15.02.31.02.47,0,3.83-3.11,6.94-6.94,6.94s-6.94-3.12-6.94-6.94,3.11-6.95,6.94-6.95c.37,0,.74.03,1.1.09v3.76c-.35-.12-.72-.19-1.1-.19-1.81,0-3.29,1.47-3.29,3.29s1.48,3.29,3.29,3.29,3.29-1.48,3.29-3.29c0-.07,0-.14,0-.2v-14.98h3.81c.01.32.03.65.04.97.03.64.25,1.25.65,1.74.46.59,1.15,1.27,2.11,1.81.9.51,1.74.73,2.34.83h0Z'/%3E%3Cpath class='cls-2' d='M29.12,12.95v3.81c-.67-.07-1.53-.22-2.49-.57-1.25-.46-2.18-1.09-2.79-1.57v7.71l-.02-.02c0,.15.02.31.02.47,0,3.83-3.11,6.94-6.94,6.94s-6.94-3.12-6.94-6.94,3.11-6.95,6.94-6.95c.38,0,.74.03,1.1.09v3.76c-.35-.12-.72-.19-1.1-.19-1.81,0-3.29,1.47-3.29,3.29s1.48,3.29,3.29,3.29,3.29-1.48,3.29-3.29c0-.07,0-.14,0-.2V7.59h3.81c.01.32.03.65.04.97.03.64.25,1.25.65,1.74.46.59,1.15,1.27,2.11,1.81.9.51,1.74.73,2.34.83Z'/%3E%3Cpath class='cls-4' d='M29.95,14.61v3.81c-.67-.07-1.53-.22-2.49-.57-1.25-.46-2.18-1.09-2.79-1.57v7.71l-.02-.02c0,.15.02.31.02.47,0,3.83-3.11,6.94-6.94,6.94s-6.94-3.12-6.94-6.94,3.11-6.95,6.94-6.95c.37,0,.74.03,1.1.09v3.76c-.35-.12-.72-.19-1.1-.19-1.81,0-3.29,1.47-3.29,3.29s1.48,3.29,3.29,3.29,3.29-1.48,3.29-3.29c0-.07,0-.14,0-.2v-14.98h3.81c.01.32.03.65.04.97.03.64.25,1.25.65,1.74.46.59,1.15,1.27,2.11,1.81.9.51,1.74.73,2.34.83h0Z'/%3E%3C/svg%3E");
}

@media (max-width: 767px) {
    footer.store-footer * {
        justify-content: center;
        text-align: center;
        align-items: center;
        align-self: center;
    }
}

.testimonials-slider .testimonial {
    --cam: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 383.34 139.4'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %231c1c1c; stroke-width: 0px; %7D %3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M0,118.71C0,83.16,0,47.61,0,12.05c.15-.45.28-.9.44-1.35C2.3,5.3,7.1,2.21,13.81.64,15,.36,16.24.21,17.46,0,133.59,0,249.71,0,365.84,0c.84.14,1.68.28,2.52.42,7.48,1.2,15.03,6.08,14.98,14.09-.2,34.04-.11,68.08-.09,102.11,0,6.09-3.83,10.16-10.75,12.71-4.15,1.53-8.47,1.52-12.97,1.05-8.11-.85-16.27-1.53-24.43-2.08-7.78-.52-15.58-.81-23.37-1.14-.68-.03-1.54.23-2.06.58-4.1,2.74-8.13,5.54-12.21,8.3-1.68,1.14-3.41,2.23-5.11,3.35h-1.3c-.67-.3-1.4-.54-2-.91-5.46-3.41-10.94-6.81-16.33-10.29-1.25-.81-2.51-1.11-4.12-1.1-23.79.23-47.58.37-71.36.63-22.79.26-45.57.64-68.36.97-9.68.14-19.36.3-29.03.48-16.27.3-32.54.61-48.82.93-8.33.17-16.66.4-24.99.53-3.42.05-6.88.14-10.26-.18-7.5-.72-13.72-5.08-15.35-10.43-.14-.45-.3-.89-.45-1.34Z'/%3E%3C/svg%3E");
    --mob: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 271.91 193.79'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %231c1c1c; stroke-width: 0px; %7D %3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M0,165.03C0,115.6,0,66.18,0,16.75c.1-.62.2-1.25.31-1.87C1.63,7.37,5.04,3.07,9.79.89,10.64.5,11.52.29,12.38,0,94.76,0,177.13,0,259.5,0c.6.19,1.19.39,1.79.58,5.3,1.66,10.66,8.45,10.63,19.59-.14,47.32-.08,94.63-.06,141.95,0,8.46-2.72,14.13-7.62,17.67-2.94,2.13-6.01,2.11-9.2,1.45-5.76-1.18-11.54-2.13-17.33-2.89-5.52-.73-11.05-1.12-16.58-1.58-.48-.04-1.09.32-1.46.81-2.91,3.81-5.77,7.7-8.66,11.54-1.19,1.58-2.42,3.11-3.63,4.66h-.92c-.47-.42-.99-.75-1.42-1.26-3.88-4.74-7.76-9.47-11.58-14.3-.89-1.12-1.78-1.54-2.92-1.52-16.87.32-33.75.51-50.62.88-16.16.36-32.32.89-48.49,1.35-6.86.2-13.73.41-20.59.66-11.54.41-23.08.85-34.63,1.3-5.91.23-11.82.56-17.73.74-2.43.07-4.88.2-7.28-.25-5.32-1-9.73-7.06-10.89-14.5-.1-.62-.21-1.24-.32-1.86Z'/%3E%3C/svg%3E");
    --mob2: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 271.93 275.11'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %231c1c1c; stroke-width: 0px; %7D %3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M0,234.29V23.78c.1-.88.2-1.77.31-2.65C1.64,10.46,5.05,4.36,9.8,1.26c.85-.55,1.73-.85,2.59-1.26h247.12c.6.27,1.19.55,1.79.82,5.3,2.36,10.66,12,10.63,27.81-.14,67.18-.08,134.35-.06,201.53,0,12.01-2.72,20.06-7.62,25.09-2.94,3.02-6.01,3-9.2,2.06-5.76-1.68-11.54-3.02-17.33-4.1-5.52-1.04-11.05-1.59-16.58-2.24-.48-.06-1.09.45-1.46,1.15-2.91,5.41-5.77,10.93-8.66,16.38-1.19,2.24-2.42,4.42-3.63,6.62h-.92c-.47-.6-.99-1.06-1.42-1.79-3.88-6.73-7.76-13.44-11.58-20.3-.89-1.59-1.78-2.19-2.92-2.16-16.87.45-33.75.72-50.62,1.25-16.16.51-32.32,1.26-48.49,1.92-6.86.28-13.73.58-20.59.94-11.54.58-23.08,1.21-34.63,1.85-5.91.33-11.82.8-17.73,1.05-2.43.1-4.88.28-7.28-.35-5.32-1.42-9.73-10.02-10.89-20.59-.1-.88-.21-1.76-.32-2.64h0Z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 292px;
    display: block;
    -webkit-mask-image: var(--cam);
    background-repeat: no-repeat no-repeat;
    mask-image: var(--cam);
    background-repeat: no-repeat no-repeat;
    mask-size: contain;
    margin-left: 5px;
    background: var(--g);
    padding: 5rem 3rem;
}

@media (max-width: 767px) {
    .testimonials-slider .testimonial {
        height: 257px;
        -webkit-mask-image: var(--mob);
        mask-image: var(--mob);
        padding: 20px 15px;
    }
}

@media (max-width: 450px) {
    .testimonials-slider .testimonial {
        height: 309px;
        -webkit-mask-image: var(--mob2);
        mask-image: var(--mob2);
        padding: 20px 15px;
    }
}

@media (max-width: 300px) {
    .testimonials-slider .testimonial {
        height: 309px;
        -webkit-mask-image: var(--mob3);
        mask-image: var(--mob3);
        padding: 20px 15px;
    }
}

.testimonial * {
    color: #fff;
}

.s-comments-product {
}

.mm-spn.mm-spn--light {
    background-color: #f5f1eb
}

.mm-spn li {
    font-size: 1rem;
    font-weight: 400;
    text-align: center
}

.mm-spn.mm-spn--navbar ul {
    top: 60px
}

.mm-spn.mm-spn--navbar:after {
    top: 10px;
    right: 0;
    height: 40px;
    line-height: 40px;
    padding-right: 1rem;
    text-align: center;
    background: var(--1);
    font-weight: 500;
    font-size: .9rem;
    width: 90%;
    color: #f5f1eb;
    border-radius: 10px;
    margin: auto;
}

.mm-ocd__content {
    position: absolute;
    top: 0;
    bottom: 10rem;
    height: 60%;
    right: 0;
    left: 0;
    width: 85%;
    margin: auto;
    border-radius: 10px !important;
    overflow: hidden;
}

.btn--close-sm {
    left: 0.8rem !important;
    top: 3.5rem;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    display: none
}

.s-product-card-content-title a,.s-product-card-content-subtitle {
    text-align: center!important;
    font-size: 1rem!important
}

.main-menu,.s-product-card-content-sub {
    justify-content: center!important
}

section#best-offers-6-slider .swiper-wrapper.s-slider-swiper-wrapper,[dir=rtl] .s-products-slider-wrapper .swiper-wrapper.s-slider-swiper-wrapper {
    margin: 30px 0!important;
}

.s-product-card-price,.s-product-card-sale-price * {
    font-size: 1rem!important
}

.s-product-card-entry,salla-products-list {
    padding: 10px!important
}

.s-product-card-entry {
    outline: var(--color-primary) solid 1px!important
}

@media (min-width: 640px) {
    .s-product-card-fit-height .s-product-card-image {
        flex:unset!important
    }

    #mainnav .container,.s-block.s-block--banners.container {
        width: 85%!important;
        max-width: 850%!important;
    }
}

.s-product-card-image {
    flex: unset!important
}

.s-product-card-fit-height .s-product-card-image {
    max-height: 21rem!important;
    height: 470px!important;
}

@media (max-width: 640px) {
    .s-product-card-fit-height .s-product-card-image {
        max-height: 11rem!important;
        height: 166px!important;
    }
}

button.undefined.s-button-element.s-button-btn.s-button-outline.s-button-wide.s-button-primary-outline.s-button-loader-center {
    padding-right: 0;
    padding-left: 0;
}

body.index div.app-inner.flex.flex-col.min-h-full > section.s-block--banners:nth-child(n) div div:hover {
    transform: translateY(-8px);
}

body.index div.app-inner.flex.flex-col.min-h-full > section.s-block--banners:nth-child(n) div {
    transition: transform 0.3s, box-shadow 0.3s;
}

button.undefined.s-button-element.s-button-btn.s-button-outline.s-button-wide.s-button-primary-outline.s-button-loader-center {
    font-size: 1rem;
    background-color: var(--color-primary);
    color: #ffffff;
    display: block;
    text-align: center;
    font-weight: bold;
    border-radius: 20px;
    box-shadow: rgb(0 0 0 / 15%) 0px 2px 4px, rgb(0 0 0 / 0%) 0px 7px 13px -3px, rgb(255 255 255 / 66%)0px -3px 0px inset;
    animation: signal 1200ms infinite;
}

@keyframes signal {
    0% {
        box-shadow: 0 0 0 0 var(--color-primary);
    }

    100% {
        box-shadow: 0 0 0 6px #ffffff21;
    }
}

section.s-block.s-block--fixed-banner.wide-placeholder .container {
    padding: 0;
    margin: 0;
    max-width: 100%;
}

section.s-block.s-block--fixed-banner.wide-placeholder .container:hover {
    transform: translateY(-8px);
}

section.s-block.s-block--fixed-banner.wide-placeholder .container {
    transition: transform 0.3s, box-shadow 0.3s;
}

@media (max-width: 991px) {
    section.s-block.s-block--fixed-banner.wide-placeholder .container {
        padding: 0;
    }
}

.s-block {
    margin-top: 0
}

section.s-block.s-block--fixed-banner.wide-placeholder .container {
    padding: 0;
    margin: 0;
    max-width: 100%
}

salla-slider.photos-slider .swiper-slide {
    position: relative;
    margin-left: 0rem;
    margin-right: 0rem;
    height: auto;
    width: 100%;
    overflow: hidden;
    border-radius: 0.375rem;
    padding: 0;
    border-radius: 0;
}

section:nth-of-type(1).s-block.s-block--photos-slider,section.s-block.s-block--fixed-banner.wide-placeholder {
    margin-top: 0rem;
    background: var(--main-color);
    background: transparent;
}

section:nth-of-type(1) .s-slider-has-notitle .s-slider-block__title {
    display: none;
}

.s-block--fixed-banner .container img {
    border-radius: 0;
    background: transparent;
}

salla-slider.photos-slider .swiper,salla-slider.photos-slider .swiper {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding: 0 !important;
}

img.w-full.object-contain.rounded-md {
    border-radius: 0;
}

@media (max-width: 991px) {
    salla-slider.photos-slider .swiper-slide {
        border-radius: 0px !important;
        width: 100%;
        margin: 0;
        padding: 0;
    }
}

body {
    background: #fff;
}

.topnav-is-dark .top-navbar .s-search-input::placeholder, .topnav-is-dark .top-navbar .s-search-input::-webkit-input-placeholder,.top-navbar .s-search-input::placeholder,.top-navbar .s-search-input::-webkit-input-placeholder {
    color: #fff !important;
}

.navbar-brand img {
    height: 0px;
}

.navbar-brand {
    background-image: var(--logo);
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-repeat: no-repeat no-repeat;
    background-size: contain;
    height: 66px;
    width: 7vw;
    display: block;
    animation: flash 5s ease infinite;
    animation: wiggle 4s infinite;
    animation-direction: alternate;
    /*     filter: brightness(18.5); */
}

footer.store-footer a.navbar-brand {
    filter: brightness(0.5);
}

@keyframes wiggle {
    0%, 7% {
        transform: rotateZ(0);
    }

    15% {
        transform: rotateZ(-10deg);
    }

    20% {
        transform: rotateZ(10deg);
    }

    25% {
        transform: rotateZ(-10deg);
    }

    30% {
        transform: rotateZ(6deg);
    }

    40%, 100% {
        transform: rotateZ(0);
    }
}

@keyframes flash {
    0%, 50%, 100% {
        opacity: 1;
    }

    25%, 75% {
        opacity: 0;
    }
}

@media only screen and (max-width: 700px) {
    .navbar-brand {
        width: 28vw;
        margin: auto;
    }
}

@media (min-width: 1024px) {
    .store-footer .lg\:grid-cols-6 {
        grid-template-columns: repeat(4,minmax(0,1fr));
    }
}

.sicon-whatsapp2::after,a[href*="whatsapp"].s-contacts-item::after {
    content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 31.84 32'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23fff; stroke-width: 0px; %7D %3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M27.2,4.65C24.21,1.65,20.22,0,15.98,0,7.24,0,.13,7.11.13,15.86c0,2.79.73,5.53,2.12,7.93l-2.25,8.22,8.41-2.21c2.32,1.26,4.93,1.93,7.58,1.93h0c8.74,0,15.86-7.11,15.86-15.86,0-4.24-1.65-8.22-4.64-11.22h0ZM15.99,29.05h0c-2.37,0-4.69-.64-6.71-1.84l-.48-.29-4.99,1.31,1.33-4.86-.31-.5c-1.33-2.09-2.02-4.52-2.02-7.01,0-7.27,5.91-13.18,13.19-13.18,3.52,0,6.83,1.38,9.32,3.86,2.49,2.49,3.86,5.8,3.86,9.32,0,7.27-5.92,13.19-13.18,13.19ZM23.21,19.17c-.39-.2-2.34-1.16-2.71-1.29s-.62-.2-.89.2c-.26.39-1.02,1.29-1.26,1.56-.23.26-.46.3-.86.1s-1.68-.62-3.19-1.97c-1.18-1.05-1.98-2.35-2.21-2.74s-.02-.61.18-.81c.18-.18.39-.46.59-.69s.26-.39.39-.66c.13-.26.07-.49-.03-.69s-.89-2.15-1.22-2.94c-.32-.77-.65-.67-.89-.68-.23-.01-.49-.01-.76-.01s-.69.1-1.06.49c-.36.39-1.39,1.36-1.39,3.31s1.42,3.83,1.62,4.1c.2.26,2.79,4.27,6.77,5.98.94.41,1.68.65,2.26.84.95.3,1.81.26,2.49.16.76-.11,2.34-.96,2.67-1.88s.33-1.72.23-1.88c-.09-.17-.36-.27-.76-.48h0Z'/%3E%3C/svg%3E");
    text-align: center;
    cursor: pointer;
    background: #46a51e;
    z-index: 999;
    display: flex;
    display: block;
    justify-content: center;
    align-items: center;
    font-size: 0px;
    color: #fff;
    box-shadow: #00000022 1.5px 1.5px 5px;
    width: 58px;
    height: 58px;
    border-radius: 27.5px;
    position: fixed;
    bottom: 19px;
    right: 17px;
    transform: rotate(360);
    transition: all .2s ease-in-out;
}

body[style] a[href*="whatsapp"].s-contacts-item::after, body[cz-shortcut-listen="true"] a[href*="whatsapp"].s-contacts-item::after, a[href*="whatsapp"].s-contacts-item::after, body[style] .sicon-whatsapp2::after, body[cz-shortcut-listen="true"] .sicon-whatsapp2::after,i.sicon-whatsapp2::after {
    width: 56px;
    height: 56px;
    border-radius: 32.5px;
    font-size: 32px;
    box-shadow: #0000006b 2px 2px 8px;
}

.sicon-whatsapp2:after:hover,a[href*="whatsapp"].s-contacts-item:after:hover {
    border-radius: 0;
    border: 0;
    width: 180px;
    height: 60px;
}

.sicon-whatsapp2:hover::after,a[href*="whatsapp"].s-contacts-item:hover::after {
    content: "حاب نساعدك 😃؟ ";
    content: "     في خدمتك ؟ ";
    font-family: var(--font-main)!important;
    width: 260px !important;
    animation: trns 1s;
    font-size: 20px !important;
    color: #ffffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes trns {
    0% {
        color: #ffffff00;
    }

    100% {
        color: #ffffff99;
    }
}

body,.s-comments-product {
    background: var(--bg);
    background-size: 100%;
    background-position: bottom;
}

.store-footer {
    border-top: 10px solid #18244a;
    border-radius: 20px;
    background: var(--bg2);
}

.store-footer,.store-footer__inner {
    background-color: var(--1);
    background: var(--bg2);
}

.container,salla-slider:not(.hydrated), .carousel-slider {
    -webkit-animation: bounce-in-top 2.5s linear;
    animation: bounce-in-top 2.5s linear
}

@keyframes bounce-in-top {
    0% {
        -webkit-transform: translateY(-500px);
        transform: translateY(-500px);
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        opacity: 0
    }

    38% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        opacity: 1
    }

    55% {
        -webkit-transform: translateY(-65px);
        transform: translateY(-65px);
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear
    }

    72% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear
    }

    81% {
        -webkit-transform: translateY(-28px);
        transform: translateY(-28px);
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear
    }

    90% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear
    }

    95% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear
    }
}

.product__description.p-2.px-5.sm\:p-1.leading-7.mb-3 {
padding: 0;
}


article.article--main.pb-1 img {
max-width: 105%;
}
