/* develope By Package +201002241591  3lwaaa@gmail.com - https://wa.me/201002241591 */
body,.home-block--bg {
    background: var(--bg) !important;
}

a {
    color: var(--1) !important;
}

@media (min-width: 992px) {
    section.home-block.home-block--main-slider .hero.no-p .container {
        max-width: 100%;
        width: 100%;
        padding: 0px!important;
        margin: -39px 0 !important;
    }
}

.splide--main-slider .splide__track, .splide--radial {
    border-radius: 0px !important;
}

.btn--add-to-cart {
    background: var(--1) !important;
}

.product-block__info .product-title p, .title--primary {
    color: var(--1) !important;
}

.sicon-shopping-bag:before {
    content: "\ef39";
}

header .site-header__cart a:hover {
    transform: none !important;
}

.sicon-whatsapp2::after {
    content: "\E916";
    text-align: center;
    cursor: pointer;
    background: #46a51e;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0px;
    color: #fff;
    box-shadow: #00000022 1.5px 1.5px 5px;
    width: 0px;
    height: 0px;
    border-radius: 27.5px;
    position: fixed;
    bottom: 19px;
    right: 17px;
    transform: rotate(360);
    transition: all .2s ease-in-out;
}

body[style] .sicon-whatsapp2::after, body[cz-shortcut-listen="true"] .sicon-whatsapp2::after {
    width: 56px;
    height: 56px;
    border-radius: 32.5px;
    font-size: 32px;
    box-shadow: #0000006b 2px 2px 8px;
}

.sicon-whatsapp2:after:hover {
    border-radius: 0;
    border: 0;
    width: 180px;
    height: 60px;
}

.sicon-whatsapp2:hover::after {
    content: "حاب نساعدك 😃؟ ";
    width: 260px !important;
    animation: trns 1s;
    font-size: 20px !important;
    color: #ffffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes trns {
    0% {
        color: #ffffff00;
    }

    100% {
        color: #ffffff99;
    }
}

.bg-grey {
    background: #c0b8b5 !important;
}

@media (max-width: 765px) {
    section.home-block.home-block--square-images .container .row {
        display:grid!important;
        grid-template-columns: 1fr 1fr 1fr!important;
        grid-template-rows: 0fr 0fr 0fr!important;
        grid-gap: 2px;
        padding: 0 9px;
    }

    .row > div .banner--square figure {
        width: 100% !important;
    }

    section.home-block.home-block--square-images .container .row .col-md-4 {
        display: grid!important;
        padding-left: 0!important;
        padding-right: 0!important;
        border: 0
    }

    section.home-block.home-block--square-images .banner--square {
        background-color: #fff;
        margin: 0;
        border-radius: 10px
    }

    section.home-block.home-block--square-images .col-md-4 {
        border-radius: 10px
    }

    .home-block--square-images {
        padding: 0!important
    }
}

/* القائمة الجانبية  */
@media (min-width: 291px) {
    .popup-modal-wrap .popup-modal__header .avatar-wrapper--primary {
        display: none
    }

    .popup-modal-wrap .popup-modal {
        background: repeating-linear-gradient( 45deg , var(--1), #f5f5f5 ) !important;
    }

    .popup-modal-wrap .popup-modal__header:before {
        display: block!important;
        content: "";
        width: 25%;
        margin: 0 auto 15px auto;
        background: var(--logo);
        height: 100px;
        background-size: 100%;
        background-repeat: no-repeat !IMPORTANT;
    }
}

@media (max-width: 991px) {
    .mm-ocd--open .mm-ocd__content::before {
        display: block;
        content: "";
        width: 43%;
        margin: 9px auto;
        background: var(--logo) var(--1);
        height: 55px;
        background-size: 84%;
        background-repeat: no-repeat !IMPORTANT;
        background-position: center;
    }

    .mm-ocd--open .mm-ocd__content {
        box-shadow: none;
        background: var(--1);
    }

    .mm-spn.mm-spn--light {
        color: var(--1)!important;
        background: var(--bg);
    }

    .nav-mobile .main-nav {
        border-radius: 20px 20px 0 0;
        border-top: 3px solid var(--1);
        box-shadow: none;
    }

    .nav-mobile .main-nav li a i,.nav-mobile .main-nav li a {
        color: var(--1)!important;
    }

    .popup-modal-wrap--small .popup-modal {
        height: max-content!important;
        border-radius: 20px
    }

    .popup-modal-wrap .popup-modal__header {
        padding: 20px 20px 0
    }

    .popup-modal-wrap .popup-modal__body {
        padding: 5 20px
    }

    .popup-modal-wrap .popup-modal__body .form--login-reg .login-methods {
        margin: 0 0 0;
        padding-top: 20px;
    }

    .popup-modal-wrap .popup-modal__body .form--login-reg .login-methods .login-method a {
        border-radius: 11px;
        border: 0
    }

    .mm-ocd--open .mm-ocd__content .close-mobile-menu {
        background-color: var(--1)
    }

    .mm-ocd--open .mm-ocd__content {
        height: 70%;
        font-size: 20px;
        border-radius: 15px 15px 0 0
    }

    .mm-ocd--open .mm-ocd__content ul li a:before {
        display: inline-block!important;
        width: 30px;
        vertical-align: middle;
        font-family: sallaicons, icomoon!important;
        font-size: 25px;
        margin-left: 9px
    }

    .mm-ocd--open .mm-ocd__content ul li:nth-child(1) a:before {
        content: "\ebf7" !important;
    }

    .mm-ocd--open .mm-ocd__content ul li:nth-child(2) a:before {
        content: "\e98b" !important;
    }

    .mm-ocd--open .mm-ocd__content ul li:nth-child(3) a:before {
        content: "\e972" !important;
    }

    .mm-ocd--open .mm-ocd__content ul li:nth-child(4) a:before {
        content: "\e963" !important;
    }
}

/* القائمة الجانبية  */
.title, .btn--tag:hover {
    color: var(--1) !important;
}

.btn--tag {
    color: var(--1) !important;
}

.popup-modal-wrap .popup-modal__header:before {
    display: block!important;
    content: "";
    width: 57%;
    margin: 0 auto 15px auto;
    background: var(--logo);
    height: 100px;
    background-size: 100%;
    background-repeat: no-repeat !IMPORTANT;
}

.btn--floated .s-button-element {
    color: var(--2) !important;
}

.s-cart-summary-icon svg {
    fill: var(--1);
}

body.index:before {
    content: "";
    width: 100%;
    height: 100%;
    background: var(--bg) var(--logo);
    position: fixed;
    z-index: 999999;
    transform: scale(0);
    animation: heartbeat 1s;
    animation-duration: 2s;
    background-size: 25%;
    background-repeat: no-repeat;
    background-position: center center
}

@keyframes heartbeat {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.2);
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}

:root {
    --1: #c8a072 ;
    --2: #f8f1e2 ;
    --3: #f6e8d2 ;
    --4: #262626 ;
    --bg: #faf3e5 ;
    --logo: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 805.16 562.19'%3E%3Cpath d='m805.16,402.44c-.16.41-.43.82-.46,1.25-.14,1.71-1.05,2.96-2.38,3.86-2.9,1.98-6.06,2.6-9.44,1.41-1.92-.68-3.24-2.06-4.09-3.89-.7-1.53-.99-3.16-1.08-4.82-.05-.83-.02-1.66-.02-2.48,0-50.35,0-100.7.01-151.05,0-1.56.07-3.13.28-4.67.35-2.46,1.76-4.25,3.98-5.29,2.38-1.12,4.87-1.64,7.5-.82,2.9.91,4.68,2.77,5.2,5.81.09.51.33,1,.51,1.5,0,53.07,0,106.13,0,159.2Z'/%3E%3Cpath d='m143.45,562.19c-.56-.45-1.11-.9-1.67-1.35-1.45-1.14-1.99-2.65-1.58-4.42.38-1.66,1.47-2.76,3.15-3.11,1.77-.37,3.29.09,4.41,1.57.33.43.6.91.95,1.44.41-.6.71-1.18,1.14-1.66,1.71-1.93,4.64-1.99,6.36-.16,1.67,1.77,1.52,4.5-.35,6.15-.61.54-1.27,1.02-1.9,1.52h-1.66c-1.21-1.19-2.89-1.89-3.59-3.95-.69,2.07-2.36,2.79-3.6,3.95-.55,0-1.11,0-1.66,0Z'/%3E%3Cpath d='m317.72,396.29c.17-.23.34-.55.58-.81,3.65-3.9,7.31-7.79,10.98-11.68.11-.11.33-.12.67-.23.52.51,1.1,1.07,1.66,1.65,1.21,1.26,2.39,2.56,3.61,3.81,1.62,1.67,3.52,2.44,5.93,2.38,8.1-.19,16.21-.3,24.31-.3,55.92-.02,111.84-.01,167.76-.01,2.95,0,5.88-.13,8.78-.78,9.23-2.08,20.5-11.62,20.53-25.7.02-9.18-3.44-16.66-10.59-22.38-5.69-4.55-12.32-6.02-19.47-5.37-5.16.47-9.84,2.29-13.94,5.48-4.51,3.5-7.55,8-9.2,13.46-.72,2.38-1.42,4.76-2.14,7.14-.13.43-.35.84-.5,1.21-1.05.5-2.08.29-3.07.3-6.73.02-13.45.01-20.18.01-27.27,0-54.54,0-81.81,0-2.4,0-4.78-.06-7.13-.63-3.96-.97-7.43-2.83-10.12-5.87-6.3-7.14-9.81-15.36-8.74-25.04.83-7.56,3.82-14.17,9.54-19.39,3.9-3.56,8.45-5.49,13.73-5.68,1.38-.05,2.76-.06,4.14-.06,24.6,0,49.2.01,73.79-.03,2.2,0,4.45-.12,6.59-.57,10.18-2.12,17.83-11.1,18.91-20.63,1.03-9.12-1.69-16.72-8.73-22.66-5.2-4.38-11.28-6-18.01-5.41-7.02.61-12.57,3.88-16.94,9.29-3.23,4-4.88,8.6-5.13,13.73-.07,1.46-.18,2.94-.44,4.38-.34,1.91-1.48,3.32-3.08,4.4-3.78,2.52-8.96,2.15-12.26-.93-1.73-1.61-2.35-3.69-2.4-5.98-.11-6.07.81-11.97,3.33-17.5,5.61-12.31,14.67-21.01,27.9-24.45,27.23-7.07,47.06,10.51,52.43,28.14,6.77,22.21-3.27,43.66-23.65,52.88-5.64,2.55-11.62,3.46-17.76,3.47-10.32.02-20.64,0-30.95,0-14.56,0-29.11,0-43.67,0-.83,0-1.66,0-2.49.02-1.89.03-3.42.83-4.41,2.42-2.38,3.86-3.28,7.98-1.77,12.4,1.22,3.54,3.99,5.51,7.71,5.6.64.02,1.29,0,1.93,0,28.56,0,57.12,0,85.68,0h3.09c1.08-.8,1.32-1.83,1.78-2.71,4.6-8.73,11.18-15.49,19.93-20.07,7.88-4.13,16.29-5.58,25.14-4.86,7.79.64,15,2.93,21.38,7.46,10.12,7.19,16.73,16.76,18.95,29.09,1.72,9.56,1.08,19-3.15,27.83-6.76,14.12-17.83,22.96-33.37,25.77-2.97.54-6.05.65-9.08.65-33.99.04-67.99.03-101.98.03-30.59,0-61.17,0-91.76-.02-2.02,0-4.04-.2-6.04-.49-2.59-.38-4.96-1.42-7.05-2.99-3.55-2.67-6.71-5.75-9.53-9.18-.11-.13-.13-.33-.23-.62Z'/%3E%3Cpath d='m156.07,399.26c-.72.83-1.25,1.46-1.79,2.08-4.65,5.23-10.49,8.06-17.48,8.2-6.72.13-13.45.09-20.17-.02-3.78-.07-7.51-.7-11.14-1.81-7.26-2.21-13.25-6.31-18.1-12.11-.64-.77-1.29-1.54-2.03-2.43-.89.48-1.4,1.24-2.01,1.87-5.89,6.07-12.81,10.49-21,12.73-6.46,1.77-13.03,2.21-19.71,1.45-8.73-1-16.59-4.08-23.5-9.49-8.92-7-15.01-15.87-17.45-27.06-.47-2.15-.55-4.39-1-6.54-.85-4.11-.74-8.26-.55-12.39.75-16.46,7.27-30.08,20.45-40.21,7.42-5.71,16-8.11,25.31-8.1,8.57,0,17.13,0,25.7,0,1.29,0,2.58-.03,3.86-.18,3.32-.4,4.71-1.92,4.89-5.21.01-.18,0-.37,0-.55.29-6,5.73-9.97,11.58-8.37,3.55.97,6.18,2.99,6.66,6.87.22,1.81.17,3.7-.08,5.51-.75,5.47-3.23,10.14-7.1,14.05-3.22,3.26-7.21,5.08-11.68,5.8-2.26.37-4.58.53-6.87.55-8.84.06-17.69.1-26.53,0-8.55-.09-15.3,3.37-20.57,9.97-4.78,5.98-7.27,12.75-7.16,20.42.05,3.86-.13,7.72.35,11.59,1.49,12.03,11.43,21.91,22.3,24.39,5.2,1.19,10.43,1.16,15.6-.15,10.7-2.71,21.83-13.03,21.95-27.9.06-6.82,0-13.63.04-20.45,0-1.37.22-2.75.46-4.09.22-1.2.85-2.25,1.76-3.07,2.62-2.36,5.64-3.42,9.16-2.56,4.34,1.06,6.61,3.79,6.75,8.25.09,2.76.03,5.53.03,8.29,0,7.18.01,14.37,0,21.55,0,2.6.3,5.14,1.05,7.63,1.43,4.76,4.37,8.24,8.79,10.48,3.85,1.94,7.99,2.8,12.27,2.87,5.25.08,10.5.03,15.75,0,.92,0,1.85-.07,2.74-.26,2.65-.56,4.33-2.32,5.44-4.68,1.26-2.68,2.07-5.51,2.62-8.41.98-5.27,1.27-10.6,1.27-15.95,0-38.23,0-76.45.01-114.68,0-1.29,0-2.59.19-3.86.78-5.37,6.21-8.86,11.44-7.41,4.3,1.19,6.66,4.12,6.87,8.59.04.92.01,1.84.01,2.76,0,37.95,0,75.9,0,113.85,0,5.44.29,10.86,1.2,16.23.46,2.73,1.22,5.39,2.3,7.94.46,1.09,1.06,2.15,1.77,3.1,1.14,1.54,2.72,2.46,4.67,2.64.92.08,1.84.14,2.76.14,29.2,0,58.4,0,87.6,0,2.68,0,5.33-.2,7.9-1.05,3.11-1.03,5.82-2.72,8.27-4.87,4.29-3.77,8.41-7.73,12.3-11.91,4.29-4.6,9.07-8.62,14.22-12.23,5.6-3.92,11.86-5.87,18.63-6.1,5.43-.18,10.87-.06,16.3-.07.18,0,.37,0,.55.02,4.08.23,6.47,2.13,7.57,6.05.72,2.58.5,5.1-.48,7.57-1.1,2.74-3.18,4.21-6.05,4.61-.91.13-1.84.11-2.76.11-3.96.01-7.92,0-11.88,0-2.59,0-5.15.33-7.63,1.07-3.22.96-6.05,2.64-8.61,4.83-4.49,3.84-8.69,7.96-12.69,12.31-4.19,4.56-8.85,8.59-13.9,12.17-4.38,3.1-9.25,4.91-14.56,5.51-2.28.26-4.59.44-6.88.44-29.48.03-58.96.01-88.43.03-2.59,0-5.15-.18-7.67-.79-4.72-1.15-8.51-3.84-11.82-7.3-.63-.66-1.24-1.34-2.07-2.25Z'/%3E%3Cpath d='m575.73,398.68c3.21-5.06,6.44-10.07,9.79-15.26.56.47.99.78,1.35,1.14,1.36,1.38,2.68,2.79,4.04,4.16,1.64,1.66,3.62,2.43,5.97,2.4,3.87-.05,7.74-.07,11.61,0,2.97.05,5.16-1.23,6.65-3.69.81-1.33,1.51-2.75,2.06-4.2,1.48-3.89,2.37-7.94,2.75-12.08.28-3.11.44-6.25.5-9.37.36-18.18,11.53-34.65,28.32-41.72,5.59-2.36,11.44-3.39,17.49-3.5,19.69-.35,37.95,12.21,44.56,30.71,1.75,4.9,2.63,9.96,2.6,15.17-.02,4.34.24,8.66,1.09,12.92.56,2.79,1.29,5.56,2.18,8.26.51,1.55,1.36,3.02,2.27,4.39,1.29,1.95,3.19,3.07,5.58,3.06,5.16,0,10.32-.04,15.47-.15,1.18-.03,2.37-.31,3.52-.64,2.98-.86,5.15-2.71,6.55-5.52,1.93-3.86,2.87-7.96,2.99-12.24.09-3.22.11-6.45.11-9.67,0-38.6,0-77.2,0-115.8,0-1.01-.03-2.03.04-3.04.37-5.65,5.86-9.63,11.35-8.23,4.44,1.12,6.85,4.13,7.01,8.73.02.64,0,1.29,0,1.93,0,38.87,0,77.75,0,116.62,0,7.4-.81,14.71-2.39,21.93-1.13,5.2-3.41,9.89-6.57,14.17-3.68,4.98-8.56,8-14.55,9.32-3.06.68-6.17,1.07-9.31,1.09-4.79.02-9.58.08-14.37-.03-2.2-.05-4.43-.28-6.57-.75-6.72-1.47-11.38-5.75-15-11.35-.54-.84-1.04-1.72-1.62-2.68-.91.27-1.36,1-1.91,1.54-4.2,4.08-8.9,7.44-14.32,9.71-7.37,3.09-15.04,4.08-22.99,3.31-11-1.06-20.29-5.63-28.07-13.4-.38-.38-.79-.74-1.13-1.06-.83.04-.88.7-1.17,1.11-1.16,1.66-2.18,3.42-3.46,4.98-4.46,5.42-10.26,8.34-17.27,8.54-5.71.17-11.42.14-17.13.02-4.06-.08-7.75-1.39-10.91-4.08-2.45-2.09-4.9-4.18-7.12-6.77Zm90.78-7.59c14.77.45,28.21-11.87,28.54-27.38.35-16.6-13.55-28.24-26.93-28.76-15.79-.61-28.95,11.95-29.29,27.42-.35,15.97,12.59,28.76,27.68,28.71Z'/%3E%3Cpath d='m366.2,55.63c.29-1.13.53-2.21.84-3.26,3.59-12.36,8.66-24.06,15.74-34.84,3.1-4.71,6.65-9.07,11-12.69,1.9-1.58,4.03-2.9,6.04-4.34,1.05-.75,2.01-.6,3.05.1,2.85,1.9,5.44,4.1,7.77,6.6,3.41,3.66,6.25,7.72,8.75,12.04,4.73,8.17,8.17,16.89,10.91,25.89.96,3.16,1.64,6.41,2.44,9.62.2.79.39,1.58.6,2.46.83,0,1.55.02,2.26,0,6.32-.24,12.5.53,18.49,2.55,5.84,1.97,11.07,4.97,15.39,9.43,5.49,5.68,8.37,12.45,8.54,20.37.14,6.68-1.48,12.94-4.36,18.92-2.66,5.53-6.26,10.4-10.42,14.87-5.11,5.48-10.88,10.19-17.02,14.46-9.47,6.6-19.58,12.07-30.03,16.91-6.34,2.94-12.79,5.64-19.11,8.41-.52-.16-.88-.23-1.21-.37-12.08-5.48-23.89-11.48-35.09-18.6-8.1-5.15-15.79-10.82-22.66-17.57-4.42-4.34-8.39-9.04-11.62-14.34-3.14-5.16-5.4-10.66-6.42-16.64-.87-5.14-.88-10.27.53-15.33,2.02-7.21,6.28-12.83,12.36-17.11,4.89-3.45,10.34-5.6,16.19-6.72,4.9-.94,9.85-1.33,14.84-.72.46.06.92.07,1.38.08.18,0,.35-.07.81-.16Zm30.78,104.15c3.7-2.16,7.46-4.31,11.16-6.53,8.53-5.13,16.75-10.73,24.36-17.18,6.35-5.38,12.16-11.26,16.9-18.14,3.47-5.04,6.17-10.45,7.8-16.38.94-3.42,1.3-6.86.81-10.39-.97-6.93-5.92-12.54-12.6-14.23-3.82-.97-7.63-.75-11.6,0-.98,7.86-2.87,15.41-6.08,22.61-3.25,7.28-7.46,13.95-12.65,20.01-5.54,6.47-13.3,13.13-17.75,15.24-.42-.29-.89-.58-1.32-.91-18.39-14.43-29.16-33.08-31.35-56.5-.07-.7-.2-1.4-.3-2.07-1.56-.23-2.92-.5-4.29-.62-1.37-.12-2.76-.15-4.14-.09-7.91.34-14.19,5.45-16.18,13.11-1.08,4.12-.73,8.21.24,12.3,1.75,7.38,5.15,13.96,9.54,20.07,4.21,5.86,9.14,11.07,14.49,15.91,9.81,8.87,20.65,16.32,31.86,23.27.31.19.66.32,1.12.54Zm3.63-135.06c-.75.87-1.37,1.53-1.93,2.24-3.01,3.84-5.8,7.84-8.34,12.01-5.02,8.23-8.7,17.02-11.08,26.35-2.43,9.49-3.04,19.08-1.23,28.73,2.57,13.72,8.76,25.68,18.06,36.06.46.52.84,1.21,1.7,1.35.5-.46.98-.88,1.43-1.33,7.52-7.52,13.26-16.22,17.17-26.11,2.49-6.28,4.05-12.8,4.5-19.55.48-7.21-.27-14.32-1.88-21.37-3.12-13.68-9.27-25.92-17.42-37.24-.21-.3-.47-.56-.97-1.14Z'/%3E%3Cpath d='m118.26,465.23c-.21-2.14-.16-4.12-.05-6.28.6-.13,1.1-.29,1.62-.33.83-.05,1.66-.02,2.49-.02,193.55,0,387.1,0,580.64,0,1.27,0,2.55-.1,3.86.17.3,2.26.39,4.34-.03,6.39-2.15.3-584.89.38-588.53.07Z'/%3E%3Cpath d='m384.28,539.15c.12-3.38.05-6.59.06-9.8.01-3.32,0-6.63,0-9.95v-19.25c1.98-.56,4.58-.63,8.23-.26.08.47.25.98.25,1.5.03,2.39,0,4.79.02,7.19,0,.82.06,1.64.09,2.38.8.62,1.52.23,2.21.15,7.48-.9,13.95,4.55,14.11,12.1.14,6.63.03,13.27.02,19.9,0,.44-.13.88-.22,1.43-.81.07-1.53.18-2.24.18-10.6.01-21.19,0-31.79.02-2.47,0-4.72-.65-6.79-1.97-.46-.29-.92-.58-1.52-.95-2.4,1.78-5.03,2.95-8.12,2.93-3-.02-5.54-1.17-7.84-2.82-.27.07-.48.06-.61.16-2.7,2-5.72,2.67-9.08,2.67-53.44-.05-106.87-.03-160.31-.03-.64,0-1.29,0-1.93,0-6.64-.12-11.5-5.86-11.74-11.1-.05-1.1-.12-2.21-.12-3.31-.02-3.68,0-7.37-.01-11.05,0-.9.13-1.83-.27-2.68-1.33-.49-2.43-.11-3.41.66-1,.78-1.49,1.85-1.51,3.12-.01,1.01-.01,2.03-.02,3.04,0,5.62-.01,11.24,0,16.86.01,5.7-4.4,10.53-9.27,11.69-9.23,2.19-15.5-4.88-15.62-11.31-.1-5.53-.02-11.05,0-16.58,0-.26.12-.52.22-.92,1.32-.39,2.7-.15,4.05-.19,1.28-.04,2.56,0,3.71,0,.74.88.54,1.74.55,2.54.02,5.25,0,10.5.02,15.75,0,.83,0,1.67.12,2.48.29,1.89,1.74,3.15,3.58,3.22,1.83.07,3.48-1.07,3.91-2.85.21-.88.22-1.82.23-2.74.02-5.44,0-10.87.01-16.31,0-.83.01-1.66.04-2.49.17-5.94,5.33-10.85,10.27-11.35,1.46-.15,2.94-.22,4.41-.23,2.38-.02,4.77-.07,7,.04.85.86.57,1.73.57,2.52.03,6.63.01,13.27.02,19.9,0,.74-.04,1.48.02,2.21.17,2.14,1.56,3.53,3.71,3.76.55.06,1.1.03,1.66.03,41.37,0,82.73,0,124.1,0,.8,0,1.61-.07,2.64-.12-.23-.68-.35-1.2-.56-1.67-.83-1.79-1.22-3.65-1.2-5.62.03-3.04-.02-6.08.03-9.12.05-3.19,1.3-5.9,3.5-8.18,3.51-3.61,8.81-4.81,13.49-2.86,4.85,2.02,7.59,5.74,7.88,11.02.16,2.93.03,5.88.03,8.76-1.89.63-4.3.72-8.22.33-.1-.54-.31-1.14-.31-1.74-.04-2.76-.01-5.53-.02-8.29,0-.74,0-1.48-.1-2.2-.29-1.94-1.89-3.36-3.77-3.4-1.86-.04-3.5,1.33-3.86,3.29-.12.63-.1,1.28-.11,1.93,0,4.24,0,8.48,0,12.71,0,.18,0,.37,0,.55.11,3.14,1.48,4.55,4.61,4.59,3.41.05,6.82.01,10.23.01,3.78,0,7.55,0,11.33,0,.64,0,1.3.03,1.93-.04,2.26-.25,3.63-1.73,3.76-4.02.04-.64.01-1.29.01-1.93,0-6.45,0-12.9,0-19.35,0-.91.02-1.82.04-2.68,1.99-.55,4.75-.63,8.09-.27.71.77.45,1.73.45,2.62.02,6.63,0,13.27.02,19.9,0,.83-.02,1.67.11,2.48.3,1.94,2.05,3.38,3.86,3.25,1.85-.13,3.41-1.68,3.57-3.6.06-.73.03-1.47.03-2.21,0-6.36,0-12.71,0-19.07v-3c1.39-.91,2.8-.5,4.13-.54,1.36-.04,2.75-.17,4.04.14.75.77.48,1.65.48,2.43.02,6.63.01,13.26.01,19.9,0,.64.05,1.29,0,1.93-.16,2.1,1.71,4.04,4,4.04,1.66,0,3.32.03,4.97,0,1.27-.03,2.56.17,4.17-.27Zm16.15.14c.08-.85.2-1.56.2-2.27.02-5.24,0-10.49,0-15.73,0-.46-.03-.92-.04-1.38,0-1.87-1.94-3.45-3.61-3.56-1.84-.12-3.61,1.19-4.03,3.08-.12.53-.12,1.1-.12,1.65,0,5.52,0,11.04,0,16.56,0,.52.14,1.04.23,1.63,2.51.25,4.85.23,7.35.02Z'/%3E%3Cpath d='m648.26,539.06c.6.18.85.33,1.11.33,9.12.02,18.24.02,27.36.02.25,0,.5-.12.93-.24-.21-.56-.37-1.06-.59-1.54-.84-1.88-1.25-3.83-1.23-5.9.04-3.32.01-6.63,0-9.95,0-.74.03-1.48-.08-2.21-.28-1.83-2.07-3.27-3.92-3.23-1.74.04-3.39,1.41-3.69,3.16-.12.72-.08,1.47-.09,2.2,0,3.59,0,7.17,0,10.71-1.74.65-4.74.76-8.23.34-.1-.15-.29-.3-.29-.46.02-3.59,0-7.18.14-10.76.09-2.17,1.07-4.09,2.43-5.77,3.43-4.23,7.89-5.61,13.09-4.36,5.17,1.24,8.64,5.96,9.06,10.09.11,1.1.2,2.2.21,3.3.03,3.41.02,6.82.01,10.22,0,1.24.17,2.45,1.2,3.24.63.49,1.42.82,2.18,1.08.58.2,1.24.19,1.9.28.28,1.64.31,3.17,0,4.7-1.03.58-2.06.37-3.05.37-11.7.02-23.4.01-35.1.01-4.51,0-9.03-.07-13.54.02-3.77.08-7.38-.27-10.2-2.84-.4.1-.61.09-.73.19-2.7,2-5.72,2.67-9.08,2.67-47.25-.05-94.51-.03-141.76-.03-.55,0-1.11,0-1.66,0-6.35.07-12.16-5.4-12.2-12.15-.02-3.41,0-6.82,0-10.22,0-6.54,0-13.08,0-19.62,0-.9.07-1.8.12-2.81,1.47-.4,2.85-.18,4.2-.22,1.28-.04,2.56,0,3.74,0,.81,1.07.52,2.12.53,3.1.02,10.13.01,20.26.02,30.4,0,.83.01,1.66.03,2.49.04,1.98,1.59,3.45,3.47,3.69,1,.13,2.02.07,3.03.07,37.21,0,74.43,0,111.64,0,9.3,0,18.61,0,27.91,0,.74,0,1.48.04,2.21-.02,2.43-.21,3.89-1.67,3.93-4.11.06-3.59,0-7.18.04-10.78.02-1.28.06-2.59.34-3.83,1.34-6.07,6.94-10.18,12.98-9.69,7.41.6,11.64,6.87,11.6,11.92-.03,4.33,0,8.66.01,12.99,0,1.01,0,2.01,0,3.16Zm-8.74.35c.11-.76.2-1.11.2-1.46.01-5.69.02-11.38,0-17.07,0-.63-.07-1.3-.28-1.89-.9-2.58-3.96-3.45-6.07-1.77-1.11.88-1.43,2.06-1.42,3.42.02,3.85,0,7.71,0,11.56,0,1.1.03,2.2,0,3.3-.06,2.36,1.99,3.89,3.81,3.91,1.18.01,2.36,0,3.74,0Z'/%3E%3Cpath d='m302.47,354.64c-1.72,1.72-12.13,9.68-14.54,11.15-.45-.55-.93-1.09-1.36-1.67-3.22-4.37-6.42-8.76-9.65-13.12-.82-1.11-1.7-2.17-2.58-3.24-1.11-1.34-2.57-2.09-4.28-2.26-1.55-.16-3.12-.26-4.68-.26-12.98-.02-25.96-.01-38.94-.01-5.27,0-10.47-.52-15.56-1.95-3.68-1.03-7.02-2.7-9.92-5.24-2.57-2.25-4.31-4.99-5.16-8.31-.62-2.42-.95-4.88-.87-7.37.13-4.14,2.11-6.93,6.04-8.35,3.79-1.37,7.25-.73,10.23,2.05,1.11,1.03,1.75,2.36,1.97,3.87.13.91.18,1.83.31,2.74.3,2.09,1.24,3.14,3.3,3.49,1.54.26,3.1.41,4.66.49,1.93.1,3.86.09,5.8.09,13.07,0,26.14-.02,39.21.03,2.2,0,4.42.2,6.59.53,3.5.53,6.72,1.86,9.6,3.96,2.99,2.18,5.71,4.68,7.97,7.6,3.99,5.17,7.86,10.43,11.87,15.76Z'/%3E%3Cpath d='m434.24,499.78h8.05c.63.97.38,2.01.38,2.98.02,9.48.01,18.96.01,28.44,0,1.2-.03,2.39.01,3.59.02.64.08,1.29.26,1.9.5,1.66,2.16,2.82,3.75,2.69,1.75-.14,3.33-1.58,3.55-3.32.1-.82.07-1.65.07-2.48,0-10.22,0-20.43.01-30.65,0-.99-.18-2.01.26-3.07.48-.06.92-.16,1.36-.16,2.2-.02,4.4,0,6.7,0,.12.69.29,1.22.29,1.74.02,10.22.06,20.43,0,30.65-.04,5.62-3.23,10.15-8.23,11.92-3.58,1.27-7.06.94-10.37-.94-.64-.36-1.24-.78-1.93-1.21-.54.33-1.08.65-1.62.99-7.66,4.76-18.23.31-18.99-9.65-.32-4.21-.04-8.46-.02-12.69,0-.16.14-.32.3-.66,1.23-.33,2.61-.11,3.96-.15,1.28-.04,2.57,0,4.01,0,.12.72.3,1.33.31,1.93.03,4.05.01,8.1.02,12.15,0,.64-.03,1.29.02,1.93.15,2.09,1.74,3.67,3.71,3.73,1.93.05,3.74-1.5,3.99-3.5.09-.73.05-1.47.05-2.21,0-10.22,0-20.43,0-30.65,0-1,.05-1.99.08-3.27Z'/%3E%3Cpath d='m384.55,169.76c-6.58.04-13.03-.98-19.4-2.49-3.04-.72-6.07-1.51-9.05-2.45-1.83-.58-3.62-1.37-5.31-2.29-1.52-.83-2.95-1.88-4.3-2.98-3.42-2.78-2.55-6.07-.18-8.32,2.13-2.03,4.67-2.96,7.6-2.22,1.78.45,3.53,1.01,5.25,1.65,1.2.45,2.38,1.02,3.47,1.69,8.84,5.37,18.38,9.3,27.75,13.58.92.42,1.87.8,2.73,1.32.32.19.64.76.59,1.1-.05.33-.53.76-.9.85-.79.21-1.63.29-2.46.33-1.93.1-3.86.16-5.8.23Z'/%3E%3Cpath d='m409.28,169.8c-2.26-.13-4.37-.23-6.48-.37-.55-.04-1.11-.09-1.63-.27-.3-.1-.71-.45-.72-.7,0-.4.16-.96.46-1.18.58-.43,1.3-.67,1.97-.97,5.35-2.44,10.73-4.82,16.05-7.34,2.99-1.41,5.88-3.03,8.81-4.57,1.95-1.03,3.86-2.13,5.83-3.14,2.14-1.1,4.4-1.87,6.76-2.32,3.41-.65,6.14.57,8.28,3.21,1.55,1.92,1.8,4.81-.51,6.95-2.05,1.9-4.32,3.46-6.91,4.48-2.56,1.01-5.17,1.95-7.83,2.62-5.7,1.45-11.44,2.78-17.33,3.21-2.29.17-4.59.26-6.75.38Z'/%3E%3Cpath d='m53.4,289.29c0-4.46,2.08-7.55,6.28-9.01,1.36-.47,2.86-.86,4.28-.81,3.73.13,6.4,2.02,7.87,5.49.94,2.23,1.6,4.52.89,6.95-.26.87-.58,1.75-1.05,2.52-2.01,3.27-7.41,5.28-11.14,4.22-4.3-1.22-7.12-4.92-7.12-9.36Z'/%3E%3Cpath d='m44.03,289.49c.04,4.04-1.87,6.82-5.54,8.36-2.49,1.05-5.08,1.71-7.74.64-1-.4-1.99-.95-2.83-1.63-2.33-1.88-4.52-7.25-2.79-11.37.38-.92.89-1.83,1.53-2.58,2.55-2.97,7.56-4.22,11.06-2.85,3.88,1.51,6.35,5.2,6.33,9.43Z'/%3E%3Cpath d='m396.81,241.59c-1.17-22.85-2.34-45.69-3.52-68.65.68-.14,1.19-.32,1.71-.33,1.74-.04,3.49-.01,5.39-.01.12.56.35,1.06.32,1.56-.36,7.44-.75,14.88-1.14,22.32-.21,4.04-.42,8.08-.62,12.13-.45,9.1-.87,18.19-1.34,27.29-.1,1.91-.34,3.81-.51,5.72-.1,0-.19-.01-.29-.02Z'/%3E%3Cpath d='m350.78,552.52c-.47.72-.81,1.35-1.26,1.89-1.29,1.53-3.19,1.95-4.97,1.16-1.72-.76-2.8-2.66-2.54-4.46.28-1.93,1.92-3.52,3.89-3.71,1.48-.14,2.7.43,3.64,1.56.45.54.79,1.16,1.26,1.87.48-.73.8-1.37,1.25-1.9,1.31-1.54,3.22-1.95,4.97-1.15,1.76.81,2.77,2.61,2.52,4.47-.26,1.84-1.72,3.37-3.61,3.66-1.57.24-2.9-.32-3.91-1.53-.44-.53-.77-1.16-1.23-1.86Z'/%3E%3Cpath d='m430.29,510.04c-.89.05-1.43.11-1.97.1-.35,0-.7-.09-1.18-.17-.11-1.24-.17-2.42-.35-3.57-.04-.23-.52-.46-.83-.53-.17-.04-.44.24-.62.42-.11.12-.17.34-.17.51-.04,1.37-.24,2.74.21,4.12,1.49.71,3.13-.04,4.6.52.5.58.44,1.15.07,1.74-2.1.38-6.74.41-9.29.06-.46-.56-.57-1.36-.04-1.71.97-.63.94-1.46.96-2.38.02-.82.01-1.67.19-2.46.49-2.16,2.27-3.42,4.47-3.27,1.97.13,3.65,1.64,3.92,3.64.12.89.02,1.81.02,2.98Z'/%3E%3Cpath d='m676.32,551.03c.01,2.27-1.85,4.23-4.11,4.32-2.37.1-4.42-1.88-4.44-4.27-.02-2.36,2.03-4.38,4.39-4.31,2.26.06,4.15,1.99,4.16,4.26Z'/%3E%3Cpath d='m371.11,551.68c-.01,2.24-1.94,4.22-4.17,4.3-2.33.08-4.43-1.97-4.43-4.32,0-2.33,2.13-4.38,4.45-4.3,2.22.08,4.16,2.1,4.15,4.32Z'/%3E%3Cpath d='m405.88,142.27c.02-.17-.02-.4.08-.49.27-.24.57-.46.89-.63,7.51-3.89,13.42-9.62,18.57-16.2,3.19-4.06,5.97-8.39,8.59-12.84,1.89-3.22,2.8-6.77,3.56-10.39.57-2.69,1.3-5.35,2.02-8.01.5-1.83,1.59-3.29,3.1-4.45,1.29-.99,2.66-1.23,4.12-.47.89.47,1.81.94,2.58,1.58,1.45,1.18,2.1,2.7,1.75,4.64-.69,3.83-1.85,7.49-3.53,11-2.98,6.21-7.05,11.63-11.84,16.53-8.29,8.45-17.86,15-28.93,19.29-.34.13-.66.31-.99.47l.02-.03Z'/%3E%3Cpath d='m389.12,141.27c-.53,0-1.11.16-1.59,0-.95-.32-1.86-.79-2.76-1.24-11.55-5.79-21.21-13.84-28.9-24.22-3.91-5.29-7.02-11.01-8.63-17.43-.49-1.95-.74-3.97-1.02-5.96-.27-1.95.66-3.38,2.21-4.43.68-.46,1.46-.77,2.18-1.17,1.58-.87,2.98-.6,4.31.56,1.2,1.05,2.2,2.25,2.61,3.81.54,2.04,1.04,4.09,1.45,6.16.31,1.53.42,3.1.67,4.64.46,2.82,1.16,5.58,2.46,8.15,2.95,5.83,6.26,11.45,10.27,16.64,3.56,4.61,7.58,8.77,12.42,12.05,1.36.92,2.84,1.68,4.26,2.51l.05-.06Z'/%3E%3Cpath d='m405.86,142.31c-.17-.02-.34-.04-.51-.05.17,0,.35.01.52.02,0,0-.01.03-.01.03Z'/%3E%3Cpath d='m389.07,141.33c.09.12.19.24.27.37.03.05.02.12.03.18-.12-.04-.35-.07-.36-.13-.02-.15.05-.31.1-.47,0,0-.04.05-.04.05Z'/%3E%3C/svg%3E");
}
