/* develope By Package +201002241591  3lwaaa@gmail.com - https://wa.me/201002241591 */
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap'); @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css"); .sicon-cart:before {
    content: "\f179";
    font-family: "Noto Kufi Arabic","bootstrap-icons"!important;
}

body,html,h1,h2,h3,h4,h5,h6,span,button,div,p {
    font-family: 'Almarai',sans-serif,sallaicons,icomoon!important
}

section.section {
    background-color: #fff!important
}

.product {
    background: #fff
}

body:not(.salla-theme_6) .main-menu li:not(.sub-menu-header) a {
    font-size: 12px;
    /* margin: 0 -14px 0 0; */
}

.product-title {
    color: var(--main-color)!important
}

.product-price,.product-details__price,.product-price {
    color: var(--main-text-color2)!important
}

.product-price,.product-details__price,.product-price:hover {
    color: #40321e!important;
    justify-content: center;
}

.sub-nav .main-menu li.sub-menu-header.categories-holder ul.store-categories>li a {
    border: var(--main-text-color2)solid 1px!important
}

.footer-header {
    background: #fff!important
}

.footer-main {
    background-color: var(--main-color)!important;
}

@media(max-width: 767px) {
    .footer-main {
        background-color: var(--main-color)!important;
    }
}

footer .store-certificate img {
    max-width: 54px;
    max-height: 38px;
    margin-left: 4px
}

.salla-theme_4 .footer-header .footer-payment .icons {
    padding: 6px 12px 0 20px;
    border-radius: 17px
}

.footer-sub {
    background: linear-gradient(90deg,var(--main-color),var(--main-color))!important;
    font-size: 18px
}

.sub-nav .main-menu li.sub-menu-header.categories-holder>span {
    border-top: 0 solid var(--main-text-color2)!important
}

@media(max-width: 991px) {
    .sub-nav .sub-nav-content .main-menu>li {
        border-bottom:0 solid var(--main-text-color2)!important
    }
}

section {
    background: #fff!important
}

.u-white .container {
    background-color: #fff!important
}

.section-products .container {
    background: #ffffff7a!important;
    border: 1px solid #fff!important
}

.feature-item__icon h3,.feature-item__icon i {
    color: var(--main-color) !important;
}

body.salla-theme_4 .section-header .btn.btn-primary.btn-rounded {
    height: 36px;
    line-height: 23px;
    border-radius: 7px 7px 7px 7px!important
}

.salla-theme_6 .site-header .header-top .sub-nav__menu {
    height: 30px
}

.row.header-wrapper {
    padding: 7px 0
}

.salla-theme_4 .feature-item__content p {
    padding: .5rem
}

.feature-item:not(:last-child) {
    margin-bottom: 1rem
}

.footer-payment {
    text-align: center
}

.not-available {
    color: #f00;
    animation: flash 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite
}

.sub-nav .sub-nav-content.is-active {
    border-radius: 1rem 0 0 1rem
}

.circle-action {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    text-align: center;
    width: 36px;
    height: 36px;
    line-height: 34px;
    border: 1px solid #fff;
    border-radius: 50%;
    background: 0;
    color: #fff;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out
}

.sub-nav__close svg {
    width: 35px;
    height: 35px;
    fill: #ffffff;
}

#sort #sort-toggle {
    border-radius: 7px;
    transition: all .35s cubic-bezier(0.2,1,0.3,1)
}

.product {
    border: #d9d0c4 solid 5.5px;
    border-radius: 10px!important
}

.feature-item:last-child>.feature-item__icon>i.sicon-calendar-check:before {
    content: "\E961"!important
}

.section--title.mb-4:before {
    content: "";
    visibility: visible;
    display: block
}

.circle-action.next,.circle-action.prev {
    color: #fff;
    border-color: #fff
}

.salla-theme_4 .feature-item__content .feature-item__icon i[class^="sicon-"] {
    font-size: 30px;
    margin: 0
}

.feature-item__icon::before {
    display: none!important
}

.feature-item h3,.feature-item p {
    margin-top: 0!important;
    visibility: visible!important;
    color: #8a8a8a!important;
    margin-bottom: 0!important
}

.pt-5,.py-5 {
    padding-top: 0!important
}

.pb-5,.py-5 {
    padding-bottom: 2rem!important
}

.feature-item h3 {
    padding-bottom: 5px!important
}

.mb-4,.my-4 {
    margin-bottom: .5rem!important
}

.pb-5,.py-5 {
    padding-bottom: 5px!important
}

.product {
    border: var(--main-color)solid 2.5px;
    border-radius: 16px!important
}

footer .footer-sub .footer-wrapper img,footer .footer-sub .fs-cont img {
    width: unset!important;
    max-width: unset!important;
    height: 25px;
    background: var(--main-color)!important;
    padding: 2px 7px!important;
    border-radius: 0
}

.sub-nav-header a {
    color: var(--main-text-color2)!important;
    background: transparent;
    border: #d9d0c4 solid 2px!important;
    border-radius: 8px 8px 8px 8px!important;
    box-shadow: 2.5px 2.5px 5px #00000029,-2.5px -2.5px 5px #ffffff14;
    padding-top: 3px;
    padding-bottom: 8px;
}

.sub-nav .main-menu li.sub-menu-header.categories-holder>span {
    display: block;
    width: 100%;
    font-weight: 400;
    padding: 5px 15px!important
}

.sub-nav-header a {
    color: #fff!important;
}

.sub-nav-header a:hover {
    color: #fff!important;
    background: var(--main-text-color2) !important;
    border: #fff solid 2px!important
}

.salla-theme_6 .site-header .header-top .sub-nav__menu {
    right: 10px;
    position: absolute
}

.site-header .header-wrapper .sub-nav__menu svg {
    fill: var(--main-color)!important;
    filter: brightness(84.5);
}

.circle-action:hover {
    background: #fff;
    color: #d9d0c4;
    border-radius: 8px 8px 8px 8px!important
}

.salla-theme_6 .site-header__mine-cart .badge {
    background-color: #d9d0c4
}

.badge {
    color: var(--main-color);
    border-radius: 6px 6px 6px 6px!important
}

.site-header__cart .badge {
    border: 2px solid #fff
}

.slick-active button {
    background-color: var(--main-text-color2)!important
}

.slick-dots li button {
    width: 20px;
    height: 4px;
    padding: 0;
    border-radius: 2px;
    background-color: #d9d0c4
}

.site-header,.main-slider img,body.salla-theme_4 .section-header .section--title span,body > section.u-white.py-4 > div > div:before,.a2a_kit.a2a_kit_size_32.a2a_default_style,body > section.py-5.text-center > div > div.section-header:before {
    background: linear-gradient(to left,var(--main-color),var(--main-color))!important
}

.salla-theme_1 footer .footer-sub .footer-wrapper {
    flex-direction: column;
    text-align: left
}

.footer-main * {
    text-align: center!important
}

.footer-sub {
    font-size: 18px
}

.salla-theme_6 .site-header .header-top .logo-wrapper {
    align-items: center
}

.salla-theme_6 .site-header .header-top .logo-wrapper {
    width: calc(60% - 0);
    align-content: center!important;
    text-align: center!important;
    justify-content: right!important
}

#search {
    position: relative;
    display: none
}

.login-link {
    display: none;
    right: auto;
    padding: 0;
    margin-left: 7px;
    max-height: auto;
    font-size: 16px
}

.salla-theme_4 .site-header .logo-wrapper .logo img {
    width: auto;
    height: auto;
    max-width: 190px;
    max-height: 65px;
    display: none;
}

@media(min-width: 992px) {
    .salla-theme_4 .site-header .logo-wrapper .logo img {
        width:auto;
        height: auto;
        max-width: 198px;
        max-height: 66px;
        margin: -15px 0 -15px 0;
        background: #fff;
        border-radius: 6px;
    }
}

.bg-brand {
    background: #f2f2f2!important
}

.footer-main {
    border-radius: 1rem 1rem 0 0!important
}

.footer-main a,.footer-main p,.footer-sub p:before,a.sub-nav__menu.ml-2::after {
    color: var(--color-bg);
    font-size: 11.5pt;
    /* filter: brightness(133.5); */
}

.footer-title span,.social__item a,.store-contact a {
    color: var(--color-bg);
}

.social__item a {
    border-color: #d9d0c4!important
}

.section--title {
    position: relative;
    color: var(--main-color);
    font-size: 18px;
    margin-right: -10px
}

.testimonials-item cite {
    color: #545454
}

body {
    color: #545454
}

.testimonials-item p:before {
    border-top-color: #fff
}

.testimonials-item img {
    border-radius: 50%!important
}

.category-featured::before,.feature-item::before {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    display: block;
    content: "";
    width: 0;
    height: 0;
    background: rgba(255,255,255,0.2);
    border-radius: 100%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    opacity: 0
}

.category-featured:hover::before,.feature-item:hover::before {
    -webkit-animation: circle .75s;
    animation: circle .75s
}

.product {
    border: #e6e6e6 solid 1px
}

.product .product-footer {
    display: block!important
}

.product .product-footer .sicon-cart:before {
    content: "اضافة للسلة ";
    font-family: 'Almarai',sans-serif,sallaicons,icomoon!important;
    font-weight: 100;
    font-size: 16px;
    vertical-align: inherit;
    color: #d9d0c4;
    margin-top: 12px!important;
    display: block;
    border-radius: 10px!important
}

.product .product-footer .product-add {
    display: block;
    border: 1px solid var(--color-main) !important;
    background: var(--color-bg);
    padding-bottom: 8px;
    padding-top: 0;
    margin: auto;
    margin-bottom: 10px;
    font-weight: 700;
    border-radius: 10px !important;
    text-align: center;
    color: #fff !important;
    border: transparent solid 1px;
    height: 35px !important;
    width: 80%;
}

.add_to_cart_btn {
    color: #fff!important
}

.product .product-footer .product-add:hover {
    background: linear-gradient(to left,var(--main-color),var(--main-text-color2))!important
}

.sub-nav .main-menu li.sub-menu-header.categories-holder ul.store-categories>li,.sub-nav .main-menu li.sub-menu-header.categories-holder>span,.sub-nav .sub-nav-content,.sub-nav-header {
    background: transparent!important
}

.sub-nav .main-menu li.sub-menu-header.categories-holder ul.store-categories>li {
    border: none!important
}

.sub-nav .main-menu li.sub-menu-header.categories-holder ul.store-categories>li a {
    color: #fff!important;
    margin: 5px;
    border: #d9d0c4 solid 1px;
    border-radius: 10px 10px 10px 10px!important
}

.sub-nav .main-menu li.sub-menu-header.categories-holder ul.store-categories>li>ul>li a {
    color: #171717!important;
    background: 0 0!important
}

.sub-nav-header img {
    display: none!important;
    padding-bottom: 2px!important;
    padding-top: 2px!important
}

.sub-nav-header::before {
    content: "";
    text-align: center!important;
    display: block;
    height: 70px!important;
    background-size: contain!important;
    background-repeat: no-repeat!important;
    background-position: top center!important
}

.salla-theme_4 .category-featured {
    margin-bottom: 10px!important
}

.product .product-footer .product-add {
    order: 2!important
}

body.salla-theme_4 .product .product-footer {
    display: flex!important;
    flex-direction: column!important
}

.lightener h2 {
    display: none!important
}

.mb-4,.my-4 {
    margin-bottom: .5rem!important
}

.sub-nav-header::before {
    content: "";
    text-align: center!important;
    display: block;
    height: 71px!important;
    background-image: var(--logo);
    background-size: contain!important;
    background-repeat: no-repeat!important;
    background-position: top center!important;
    margin: 4px 44px 10px;
    /* filter: invert(1) hue-rotate(178deg); */
    /* filter: brightness(99.5); */
}

.u-white .container {
    background-color: #fff!important;
    max-width: 1200px;
    margin: auto;
    padding-top: 0!important
}

.u-white .container {
    padding-top: 0!important
}

.feature-item {
    background: 0 0!important;
    box-shadow: unset!important
}

.u-white .container {
    background-color: #fff!important;
    max-width: 1200px;
    margin: auto;
    padding-top: 0!important
}

.u-white .container {
    padding-top: 0!important
}

.salla-theme_4 .feature-item__content p {
    padding: .5rem;
    padding-bottom: .5rem;
    width: 100%!important;
    margin: auto;
    margin-top: auto;
    margin-bottom: auto;
    min-height: 60px;
    border-radius: 0 5rem!important
}

.feature-item {
    background: 0 0!important;
    box-shadow: unset!important
}

.feature-item__content {
    background: 0 0!important;
    box-shadow: unset!important
}

.footer-main,.salla-theme_4 .feature-item__content .feature-item__icon,.salla-theme_4 .feature-item__content p,.site-header {
    padding-right: 0rem!important
}

.sub-nav .sub-nav-content {
    background: 0 0!important
}

.salla-theme_4 .feature-item__content .feature-item__icon {
    color: #1f1f1f!important
}

.category-featured:hover::before,.feature-item:hover::before,.product:hover::before {
    -webkit-animation: circle .75s;
    animation: circle .75s
}

@keyframes mvt {
    0% {
        transform: scale(0.8)
    }

    40% {
        transform: scale(1.1)
    }

    100% {
        transform: scale(1)
    }
}

@keyframes tournemoi {
    0% {
        transform: rotate(-2deg)
    }

    40% {
        transform: rotate(2deg)
    }

    100% {
        transform: rotate(0)
    }
}

.product:hover {
    animation: tournemoi ease 1s
}

.product,.product img {
    border: #e6e6e6 solid 1px;
    border-radius: 10px!important
}

section.section {
    padding: .5rem 0!important
}

.footer-sub p {
    max-height: 30px!important;
    line-height: 30px!important;
    overflow: hidden!important
}

.salla-theme_4 .footer-header .icons .store-certificate img {
    max-width: 60px!important;
    max-height: 40px!important
}

.footer-item:first-of-type .footer-title {
    /* display: none */
}

.main-slider {
    max-width: 100%!important;
    margin: auto;
    margin-bottom: auto
}

.sub-nav .main-menu li.sub-menu-header.categories-holder ul.store-categories>li>ul>li a {
    color: #fff!important;
    background: 0 0!important
}

@media screen and (max-width: 777px) {
    .footer-sub p {
        max-height:30px!important;
        line-height: 14px!important;
        overflow: hidden!important;
        font-size: 15px;
    }
}

@media screen and (max-width: 1020px) {
    footer .store-certificate * {
        font-size:13px;
        color: #fff
    }

    footer .store-certificate b {
        font-size: 13px;
        color: #fff
    }
}

a.circle-action.next.button-next,a.circle-action.prev.button-prev,a.circle-action.next.button-more {
    border: 0 solid #fff
}

.circle-action.next,.circle-action.prev {
    color: var(--main-color)!important;
    background: #fff
}

.login-link {
    display: unset!important
}

#search {
    position: relative;
    display: unset!important
}

.site-header {
    padding-right: 0rem!important
}

.product .product-footer .sicon-cart::before {
    content: " إضافة للسلة ";
    font-family: 'Almarai',sans-serif,sallaicons,icomoon!important;
    font-weight: 700;
    font-size: 18px;
    vertical-align: inherit;
    color: var(--main-color);
    margin-top: 5px!important;
    display: block;
    margin: -2px 0 0 0!important;
}

@media(max-width: 767px) {
    .product .product-footer .sicon-cart::before {
        /* margin: 20px 0 0 0!important; */
    }
}

.sub-nav .main-menu li.sub-menu-header.categories-holder>span {
    color: var(--color-bg);
}

.sub-nav .sub-nav-content.is-active {
    background: var(--main-color)!important ;
}

.sub-nav-content.is-active .main-menu>li>a {
    color: #fff!important
}

.sub-nav-content.is-active .main-menu>li>a>i {
    color: #eab368!important
}

.sub-nav .main-menu>li>a {
    color: var(--color-bg) !important;
}

p.mb-4.mb-md-0 {
    color: #fff!important
}

.social__item a:hover {
    background: #222228!important
}

section {
    background: #fff!important
}

span.sicon-instagram {
    color: #ff75c8!important;
    font-size: 100%
}

span.sicon-snapchat {
    color: var(--main-text-color2)!important;
    font-size: 100%
}

span.sicon-facebook {
    color: #8694fb!important;
    font-size: 100%
}

.footer-main .container:before {
    text-align: center;
    content: "";
    display: block;
    height: 152px;
    width: 216px;
    margin: auto auto 20px;
    background-image: var(--logo);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    /* filter: brightness(78.5); */
}

.add-cart-large,.order-btn {
    /* background: var(--main-text-color2)!important; */
    /* border-color: var(--main-text-color2)!important; */
}

.product .product-title {
    text-align: center;
    line-height: 1.4;
}

p.mb-4.mb-md-0 {
    color: #fff!important
}

.footer-sub a {
    color: transparent!important;
    text-decoration: underline
}

section {
    background: #fff!important
}

.u-white .container {
    background-color: #fff!important
}

.section-header .section--title span {
    color: var(--main-color);
    background: #fff
}

body.salla-theme_1 .section-header .btn.btn-primary.btn-rounded,body.salla-theme_2 .section-header .btn.btn-primary.btn-rounded,body.salla-theme_4 .section-header .btn.btn-primary.btn-rounded {
    height: 36px;
    font-size: 15px;
    color: #ffffff!important;
    border-color: var(--main-text-color2)!important;
    padding: 0 15px;
    background: linear-gradient(to left,var(--main-text-color2),var(--main-text-color2))!important;
    transition: all .35s cubic-bezier(0.2,1,0.3,1);
}

.login-link,.contact-link,.notification-link,.store-contact a,.store-header-min .back-icon,.circle-action,#cl_toggle {
    color: var(--color-bg) !important;
    border-color: var(--color-ff);
    margin: 5px 0 0 0;
}

button.circle-action.ml-md-2.toggle-search {
    margin: 6px 8px 1px 1px
}

.site-header__cart .badge {
    color: var(--color-bg) !important;
    border: 2px solid var(--main-color)!important;
    background: var(--color-ff);
}

.breadcrumb>.active {
    color: #fff!important
}

.slick-list.draggable {
    border-radius: 0 0 42px 42px
}

.product-form {
    padding: 1rem;
    background: #fff!important;
    border: 1px solid var(--main-text-color2)!important;
    border-radius: 4px
}

.product-form,.product-options {
    background-color: #fff!important;
    padding: 20px!important;
    border: 1px solid var(--main-text-color2)!important;
    border-radius: 3px
}

.product-option-name {
    color: #fff!important
}

.cart-fav .btn-rounded.add-to-wishlist i,.cart-fav .btn-rounded.remove-from-wishlist i {
    color: var(--main-color)!important;
}

.a2a_svg {
    -webkit-filter: none;
    filter: none;
    opacity: .9
}

.product-cart,.cart-total-box {
    width: 100%;
    border: 1px solid #cecece!important
}

.product-cart {
    position: relative;
    width: 95%;
    margin: 0 auto 30px;
    border-radius: 5px
}

.cart-total-box {
    position: relative;
    width: 95%;
    height: 62px;
    margin: 0 auto;
    padding: 10px 15px;
    border-radius: 4px
}

.cart-nav-submit,.cart-nav-more,.cart-nav-solid {
    background: #1b1829!important;
    border-color: #1b1829!important
}

#cart-content #cartTotal {
    color: var(--main-text-color2)!important
}

.delete-button {
    color: var(--main-text-color2)!important;
    border: 2px solid var(--main-text-color2)!important
}

.cart-number,.active-step .cart-number {
    color: var(--main-text-color2)!important;
    border-color: var(--main-text-color2)!important;
    background: #1b1829
}

@media only screen and (max-width: 767px) {
    body:not(.salla-default) .cart-fav {
        position:fixed!important;
        right: 0;
        left: 0;
        bottom: 0;
        box-shadow: 0 0 10px rgb(0 0 0 / 5%);
        padding: 10px;
        background-color: #1b1829!important;
        z-index: 9999
    }

    a.add-cart-large.add_to_cart_large_btn {
        font-size: 18px
    }
}

.circle-action:hover {
    background: var(--main-text-color2)!important;
    color: var(--main-color)!important
}

ul.list.brands-list li {
    background: #fff;
    border-radius: 12px
}

ul.list.brands-list li:hover {
    animation: tournemoi ease 1s
}

body:not(.salla-theme_6) .category-featured {
    border-radius: 26px
}

.breadcrumb>.active {
    color: #16414f!important
}

.product-details__title {
    color: #154755!important
}

.product-option-name {
    color: #164855!important
}

.login-form .panel-title::before {
    content: "";
    text-align: center!important;
    display: block;
    height: 124px!important;
    background-image: var(--logo);
    background-size: contain!important;
    background-repeat: no-repeat!important;
    background-position: top center!important;
    margin: 25px;
    /* filter: brightness(82.5); */
}

.login-form .panel-title .icon-object {
    display: none!important
}

.sub-nav .main-menu li.sub-menu-header.categories-holder ul.store-categories>li a {
    color: #fff!important;
    margin: 5px;
    border: #1f1a13 solid 0!important;
    border-radius: 10px 10px 10px 10px!important;
    background: #ffffff40;
    box-shadow: 2.5px 2.5px 5px #22232c94,-2.5px -2.5px 5px #21232e00;
    font-family: 'Almarai',sans-serif,sallaicons,icomoon!important;
}

.sub-nav .main-menu li.sub-menu-header.categories-holder ul.store-categories>li a:hover {
    background: linear-gradient(to left,var(--main-text-color2),transparent)!important
}

.sub-nav .main-menu li#ls_switcher_mobile a:before {
    color: var(--main-text-color2)
}

.cart-nav-submit,.cart-nav-more,.cart-nav-solid {
    background: linear-gradient(to left,var(--main-color),var(--main-text-color2))!important;
    border-color: aliceblue!important
}

.social__item a {
    display: block;
    width: 36px;
    height: 36px;
    color: var(--color-ff);
    text-align: center;
    line-height: 25px;
    border-radius: 5px;
    border: 0 solid rgba(0,0,0,.2);
    font-size: 18px;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    box-shadow: 2.5px 2.5px 5px #00000017, -2.5px -2.5px 5px #ffffff2b;
}

.cart-number,.active-step .cart-number {
    color: #fff!important;
    border-color: var(--main-text-color2)!important;
    background: linear-gradient(to left,var(--main-color),var(--main-text-color2))!important
}

.a2a_kit.a2a_kit_size_32.a2a_default_style {
    /* background: linear-gradient(to left,#632c5a,var(--main-text-color2))!important; */
    padding: 8px 0 8px 2px;
    border-radius: 30px;
}

.banner img {
    border-radius: 25px
}

.section[data-type="banner"] {
    padding: 0rem 0 0!important;
    margin-bottom: 0rem;
    margin-top: 0rem
}

.product,.product img {
    border: var(--main-text-color2)solid 0!important
}

.product {
    border: 0 solid #eee;
    box-shadow: 0 2px 10px -3px #c8c8c8;
    border-radius: 15px;
    margin-top: 10px;
    background-color: #fff
}

.social__item a {
    border-color: var(--main-color);
    border: 1px solid var(--main-color)!important;
    background: var(--color-bg);
}

.feature-item__content {
    background: #fff
}

.feature-item__icon {
    background: #fff!important;
    color: #000;
    border: none!important;
    min-height: 90px;
    width: 100%!important;
    height: 40px;
    margin-bottom: 0!important
}

.feature-item p {
    background: linear-gradient(to left,#fff,#e2e2e2)!important;
    padding-bottom: 10px!important
}

.salla-theme_4 .feature-item__content p {
    padding: .5rem;
    padding-bottom: .5rem;
    width: 100%!important;
    margin: auto;
    margin-top: auto;
    margin-bottom: auto;
    min-height: 60px;
    border-radius: 0 5rem!important
}

.salla-theme_4 .feature-item__content .feature-item__icon {
    width: 100%!important;
    margin: auto;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 5rem 0!important
}

.product {
    border-radius: 8px
}

section.section {
    padding: 0
}

html,body,div,span,object,h1,h2,h3,h4,h5,h6,p,blockquote,a,abbr,img,small,strong,ol,ul,li,dd,form,label,table,caption,article,aside,canvas,details,embed,figure,figcaption,footer,header {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: sub!important
}

a.next.button-more {
    vertical-align: bottom!important
}

p.mb-4.mb-md-0,body > footer > div.footer-sub.text-center > div > div > div > p {
    color: #fff!important;
}

body > footer > div.footer-sub.text-center::after {
    content: "تصميم وبرمجة " " | " "على احمد 3lwaaa@gmail.com ";
    display: block;
    max-height: 30px!important;
    color: #fefefe;
    font-size: 10px;
}

.salla-theme_6 .product .product-footer .product-add.add_to_cart_btn {
    border-radius: 10px;
    background-color: #eee
}

.salla-theme_6 .product .product-footer .product-add.add_to_cart_btn span:last-child {
    font-size: 18px
}

@keyframes signal {
    0% {
        box-shadow: 0 0 0 0 #f7da90
    }

    100% {
        box-shadow: 0 0 0 10px #fff
    }
}

.offers-link,.price-after {
    color: #444!important
}

.product-add {
    animation: signal 1200ms infinite
}

.salla-theme_4 footer ul.footer-links {
    -moz-columns: 2;
    columns: 1
}

.col-sm-4 {
    width: 25%;
    float: right;
    padding-right: 5px;
    padding-left: 5px
}

.product {
    border-radius: 8px
}

section.section {
    padding: 0
}

.salla-theme_4 .site-header #cl_switcher_wrapper #cl_switcher #cl_toggle:hover {
    background-color: var(--main-text-color2)!important
}

@media(max-width: 991px) {
    .sub-nav .sub-nav-content {
        right:0;
        width: 75%;
        height: 90%;
        text-align: right;
        overflow-y: scroll;
        -webkit-transition: all .7s ease;
        transition: all .7s ease;
        -webkit-transform: translateX(110%);
        transform: translateX(110%);
        border-radius: 8px 0 20% 5%;
        margin: 70px 20px 0 0
    }
}

.sub-nav .main-menu li.sub-menu-header.categories-holder ul.store-categories>li a:before,.sub-nav .main-menu li.sub-menu-logged-in a i,.sub-nav .main-menu li.sub-menu-header.categories-holder>span i {
    content: "";
    font-family: sallaicons,icomoon!important;
    font-size: 16px;
    margin-left: 5px;
    color: #ffffff!important;
    background: #ffffff24;
    padding: 5px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border: 1px solid #1c1b1b54;
    vertical-align: middle;
}

.sub-nav .main-menu li.sub-menu-header.categories-holder>ul.store-categories>li>a:before,.main-menu>li>a:before {
    content: "\ef39"!important;
}

.main-menu li:not(.sub-menu-logged-in)>a:before {
    content: "";
    font-family: sallaicons,icomoon!important;
    font-size: inherit;
    margin-left: 5px;
    padding: 0px 0 0 0;
    vertical-align: middle;
}

.sub-nav .main-menu li#ls_switcher_mobile a:before {
    content: "\E93D"!important;
    font-family: sallaicons;
    color: var(--main-text-color2)!important;
    display: initial;
    vertical-align: middle;
    font-size: 16px;
    margin-left: 5px!important
}

.sub-nav .main-menu li.sub-menu-header.categories-holder>ul.store-categories>li>a:hover:before,.sub-nav .main-menu li.sub-menu-header.categories-holder>ul.store-categories>li.has-children:hover>a:before {
    filter: brightness(0.81)!important
}

.salla-theme_6 .sub-nav .main-menu li.has-children:hover a {
    color: #eee!important
}

body > footer > div.footer-header > div > div > div > div > div.store-certificate > a:nth-child(1) > img {
    display: none!important
}

body > footer > div.footer-header > div > div > div > div > div.store-certificate > a:nth-child(1)::before {
    content: ""!important;
    height: 40px!important;
    background: url(https://maroof.sa/Content/Stamps/ImageCr.png)!important;
    background-size: contain!important;
    width: 100px!important;
    display: block;
    background-repeat: no-repeat!important;
    border: none!important;
    margin: auto
}

span.price-before {
    color: #f00!important
}

a.sub-nav__menu.ml-2::after {
    content: 'القائمة';
    position: absolute;
    width: 86px;
    height: 24px;
    color: var(--main-text-color2);
    font-size: 10px;
    top: 72%;
    left: 48%;
    color: #fff;
}

.store-notify {
    background: linear-gradient(to left,var(--main-text-color2),var(--main-text-color2))!important;
    color: #fde7c0!important
}

.promotion-title {
    background-color: var(--main-text-color2)!important;
    color: var(--color-ff);
}

.shipping-bar .free-shipping__label {
    font-size: 18px;
    font-weight: 800
}

.shipping-bar .free-shipping__bar>div>div,.shipping-bar .free-shipping__bar>div>span {
    background: linear-gradient(90deg,var(--main-color),var(--main-text-color2))!important
}

.shipping-bar .free-shipping__bar>div>span:after {
    border-top: 5px solid var(--main-text-color2)
}

.add-cart-large,.order-btn {
    color: #fff!important
}

li.sub-menu-header.categories-holder {
    font-size: 23pt!important
}

.modal-content {
    background-color: var(--main-color)!important;
}

.panel {
    background-color: transparent
}

footer {
    padding: 0 8px
}

.footer-item .store-contact {
    margin: 5px 0 0;
    border: 0;
    text-align: right;
    font-size: 14px
}

 

body.store-home:after {
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    position: fixed;
    z-index: 999999;
    background:var( --main-color) var(--logo);
    left: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    transform: scale(0);
    animation-name: pupup_logo;
    animation-duration: 1.5s
}

@keyframes pupup_logo {
    0% {
        transform: scale(0)
    }

    18% {
        transform: scale(1)
    }

    75% {
        transform: scale(1)
    }

    95% {
        transform: scale(0)
    }

    100% {
        transform: scale(0)
    }
}

@media(max-width: 768px) and (min-width:200px) {
    #modal_login {
        margin-top:10%;
        margin-left: 3%
    }
}

.text-muted {
    color: var(--color-bg);
}

.login-title {
    margin-top: -3px!important;
    margin-bottom: 30px!important;
    color: var(--color-bg);
}

.login-option,.btn-resend-option {
    color: var(--main-text-color2);
    border-color: var(--main-text-color2)
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px var(--main-text-color2);
    background-color: #f5f5f5
}

::-webkit-scrollbar {
    width: 3px;
    border-radius: 1rem 0 0 1rem;
    background-color: #f5f5f5
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-text-color2)
}

.form-group label {
    color: #fff
}

.store-contact a {
    /* display: block; */
    height: 38px;
    border-radius: 20px 20px 20px 20px!important;
    direction: ltr;
    /* border: var(--main-text-color2) solid 1px; */
    width: 24%;
    margin: auto;
    line-height: 2;
}

.sicon-brand:before, .sicon-social:before, .sicon-whatsapp2:before {
    color: #37ec09;
}

.feature-item__icon,.store-feature__icon,body > section.u-white.py-4 > div > div > div > div > div > i,.store-feature .title,.feature.d-flex.flex-column.justify-content-center.align-items-center {
    margin-bottom: 0;
    border: none;
    position: relative;
    top: 0px;
    animation: float 4s ease-in-out infinite;
    transition: all .4s ease;
    perspective: 1000px;
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-20px);
    }

    100% {
        transform: translatey(0px);
    }
}

footer {
    padding: 0 8px;
    display: grid;
}

.footer-header {
    background: transparent !important;
    order: 3;
    position: relative;
    top: -77px;
    margin: -2px 0px -78px 0px;
    /* right: 80px; */
}

@media(max-width: 767px) {
    .footer-header {
        top: unset;
        right: 0;
    }
}

footer .store-certificate img {
    max-width: 54px;
    max-height: 38px;
    margin-left: 4px
}

.salla-theme_4 .footer-header .footer-payment .icons {
    padding: 6px 12px 0 20px;
    border-radius: 17px
}

body > footer > div.footer-header > div > div > div > div > div:nth-child(3) > img:nth-child(n+1) {
    background-color: #fff;
    padding: 2px;
    border-radius: 5px;
    max-height: 28.5px !important;
}

@media only screen and (max-width: 767px) {
    body > footer > div.footer-header > div > div > div > div > div:nth-child(3) > img:nth-child(n+1) {
        max-height: 21.5px !important;
    }
}

body.salla-theme_4 .section-header .section--title span {
    position: relative;
    right: 3px;
    /* top: 15px; */
    color: var(--color-bg) !important;
    padding: 8px 10px 8px 10px;
    font-weight: 800!important;
    border-bottom: 1px solid #f1f1f1;
    box-shadow: 0 2px 5px -3px rgb(0 0 0 / 61%);
    font-size: .9rem!important;
    border-radius: 7px!important;
    padding: 11px 19px 11px 19px;
}

.feature-item__content {
    background: #ea2323;
    overflow: inherit;
}

body > section.py-5.text-center > div > div.section-header > h2 {
    display: none
}

body > section.py-5.text-center > div > div.section-header:before {
    position: relative;
    content: " آراء العملاء";
    display: block !important;
    width: 156px;
    height: 44px;
    margin: 1px 0 6px 0;
    top: -2px !important;
    position: relative;
    right: 3px;
    color: var(--color-bg) !important;
    font-weight: 800!important;
    border-bottom: 1px solid #f1f1f1;
    box-shadow: 0 2px 5px -3px rgb(0 0 0 / 61%);
    font-size: .9rem!important;
    border-radius: 7px!important;
    padding: 11px 19px 11px 19px;
}

body > section.u-white.py-4 > div > div:before {
    position: relative;
    content: "سبب اختيارك لنا";
    display: block;
    width: 156px;
    height: 44px;
    margin: 1px 0 6px 0;
    top: -12px !important;
    position: relative;
    right: 3px;
    /* top: 15px; */
    color: var(--color-bg) !important;
    padding: 8px 10px 8px 10px;
    font-weight: 800!important;
    border-bottom: 1px solid #f1f1f1;
    box-shadow: 0 2px 5px -3px rgb(0 0 0 / 61%);
    font-size: .9rem!important;
    border-radius: 7px!important;
    padding: 11px 19px 11px 19px;
}

.footer-main {
    background: linear-gradient(90deg,transparent,var(--main-color),var(--main-color)) ;
    background-color: var(--main-color)!important;
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    animation: gradient 11s ease infinite!important;
}

@keyframes gradient {
    0% {
        background-position: 0%50%
    }

    50% {
        background-position: 100%50%
    }

    100% {
        background-position: 0%50%
    }
}

p.mb-4.mb-md-0,body > footer > div.footer-sub.text-center > div > div > div > p,span.font-13 *,span.font-13 {
    color: #fff!important;
}

@media screen and (max-width: 777px) {
    body > footer > div.footer-sub.text-center > div > div > div > p {
        max-height: 22px!important;
        line-height: 14px!important;
        overflow: hidden!important;
        font-size: 0px;
    }
}

.footer-sub p:before {
    content: "  الحقوق محفوظة  لمتجر  ماي تايم     © 2023  ";
    display: block;
    max-height: 30px!important;
    color: var(--color-bg);
    text-align: center;
}

span.not-available::after {
    content: "\1F494";
    animation: beatHeart 1s;
    animation: .8s infinite beatHeart;
}

@keyframes beatHeart {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.1);
    }

    40% {
        transform: scale(1);
    }

    60% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.product-footer .not-available {
    display: flex!important;
    margin: 10px 0 0 15px;
    font-size: 14px;
    content: "/a";
    flex-direction: column;
}

.logo img {
    width: auto;
    height: 0 !important;
}

.logo a {
    background-image: var(--logo);
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-size: contain;
    height: 41px;
    width: 129px;
    display: block;
    max-width: 198px;
    max-height: 66px;
}

.sicon-whatsapp2::after {
    content: "\E916";
    content: "\e917";
    text-align: center;
    cursor: pointer;
    background: #46a51e;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0px;
    color: #fff;
    box-shadow: #00000022 1.5px 1.5px 5px;
    width: 0px;
    height: 0px;
    border-radius: 27.5px;
    position: fixed;
    bottom: 19px;
    right: 17px;
    transform: rotate(360);
    transition: all .2s ease-in-out;
}

body[style] .sicon-whatsapp2::after, body[cz-shortcut-listen="true"] .sicon-whatsapp2::after,i.sicon-whatsapp2::after {
    width: 56px;
    height: 56px;
    border-radius: 32.5px;
    font-size: 32px;
    box-shadow: #0000006b 2px 2px 8px;
}

.sicon-whatsapp2:after:hover {
    border-radius: 0;
    border: 0;
    width: 180px;
    height: 60px;
}

.sicon-whatsapp2:hover::after {
    content: "حاب نساعدك 😃؟ ";
    content: "     في خدمتك ؟ ";
    font-family: dinnextltarabic-regular!important;
    width: 260px !important;
    animation: trns 1s;
    font-size: 20px !important;
    color: #ffffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes trns {
    0% {
        color: #ffffff00;
    }

    100% {
        color: #ffffff99;
    }
}

h4.product-subtitle {
    text-align: center;
    text-align-last: center;
}

:root {
    --main-color: #522A70;
    --infinte-color: #522A70;
    --main-text-color: #331749;
    --main-text-color2: #fcdb04;
    --main-text-color-dark: #404040;
    --color-main: #522A70;
    --color-main-d: #fcdb04;
    --color-main-l: #fcdb04;
    --color-main-reverse: #fcdb04;
    --color-text: #5a5a5a;
    --color-text-reverse: #fcdb04;
    --color-title: #fcdb04;
    --color-bg: #fcdb04;
    --color-ff: #fff;
    --logo: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 359.84 119.02'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23fff; %7D %3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='m71.71,82.56c-1.93,0-3.57.7-4.93,2.09-1.36,1.39-2.04,3.05-2.04,4.98s.68,3.47,2.04,4.83c1.36,1.36,3,2.04,4.93,2.04s3.45-.68,4.78-2.04c1.33-1.36,1.99-2.97,1.99-4.83s-.66-3.59-1.99-4.98c-1.33-1.39-2.92-2.09-4.78-2.09Z'/%3E%3Cpath class='cls-1' d='m88.94,82.56c-1.93,0-3.57.7-4.93,2.09-1.36,1.39-2.04,3.05-2.04,4.98s.68,3.47,2.04,4.83c1.36,1.36,3,2.04,4.93,2.04s3.45-.68,4.78-2.04c1.33-1.36,1.99-2.97,1.99-4.83s-.67-3.59-1.99-4.98c-1.33-1.39-2.92-2.09-4.78-2.09Z'/%3E%3Cpath class='cls-1' d='m76.39,72.56c3.65-.56,6.79-1.61,9.41-3.14,2.62-1.53,4.66-3.7,6.12-6.52,1.46-2.82,2.19-6.49,2.19-11.01,0-2.92-.27-5.96-.8-9.11-.53-3.15-1.2-6.22-1.99-9.21s-1.63-5.61-2.49-7.87l-13.74,3.78c.86,2.33,1.68,4.88,2.44,7.67.76,2.79,1.39,5.48,1.89,8.07.5,2.59.75,4.81.75,6.67,0,2.06-.42,3.64-1.25,4.73-.83,1.1-2.31,1.84-4.43,2.24-2.13.4-5.18.6-9.16.6h0c-.07,0-.13,0-.2,0-1.66,0-3.15-.31-4.48-.95-1.33-.63-2.61-1.86-3.83-3.69-1.23-1.83-2.64-4.53-4.23-8.12-1.39-3.32-2.71-6.16-3.93-8.52-1.23-2.36-2.62-4.17-4.18-5.43-1.56-1.26-3.54-1.89-5.93-1.89s-5.13.53-8.42,1.59c-3.29,1.06-6.67,2.69-10.16,4.88-3.49,2.19-6.74,4.96-9.76,8.32-3.02,3.35-5.48,7.34-7.37,11.95-1.89,4.62-2.84,9.88-2.84,15.79,0,4.05.55,9.46,1.64,16.23,1.09,6.77,2.77,14.24,5.03,22.41l13.54-3.69c-1-3.52-1.98-7.39-2.94-11.6-.96-4.22-1.76-8.35-2.39-12.4-.63-4.05-.95-7.47-.95-10.26,0-2.06.2-4.17.6-6.32.4-2.16,1-4.2,1.79-6.12,6.71,8.7,14.31,13.05,22.81,13.05,2.85,0,5.16-.6,6.92-1.79,1.76-1.2,3.17-2.75,4.23-4.68,1.79,1.66,3.82,2.94,6.08,3.83,2.26.9,4.85,1.34,7.77,1.34.07,0,.13,0,.2,0h0c4.38,0,8.4-.28,12.05-.84Zm-33.41-13.15c-.76.83-2.11,1.24-4.03,1.24-2.52,0-5.06-.85-7.62-2.54-2.56-1.69-4.73-3.93-6.52-6.72.53-.73,1.49-1.59,2.89-2.59,1.39-1,2.87-1.88,4.43-2.64,1.56-.76,2.87-1.15,3.93-1.15,1.26,0,2.42.93,3.49,2.79,1.06,1.86,2.29,4.55,3.69,8.07.6,1.53.51,2.71-.25,3.54Z'/%3E%3Cpath class='cls-1' d='m141.53,17.53c1.86,0,3.45-.68,4.78-2.04,1.33-1.36,1.99-2.97,1.99-4.83s-.67-3.59-1.99-4.98c-1.33-1.39-2.92-2.09-4.78-2.09s-3.57.7-4.93,2.09c-1.36,1.39-2.04,3.05-2.04,4.98s.68,3.47,2.04,4.83c1.36,1.36,3,2.04,4.93,2.04Z'/%3E%3Cpath class='cls-1' d='m158.76,3.69c-1.93,0-3.57.7-4.93,2.09-1.36,1.39-2.04,3.05-2.04,4.98s.68,3.47,2.04,4.83c1.36,1.36,3,2.04,4.93,2.04s3.45-.68,4.78-2.04c1.33-1.36,1.99-2.97,1.99-4.83s-.66-3.59-1.99-4.98c-1.33-1.39-2.92-2.09-4.78-2.09Z'/%3E%3Cpath class='cls-1' d='m158.76,33.56c-.8-2.99-1.63-5.61-2.49-7.87l-13.74,3.78c.86,2.33,1.68,4.88,2.44,7.67.76,2.79,1.39,5.48,1.89,8.07.5,2.59.75,4.81.75,6.67,0,2.06-.42,3.64-1.25,4.73-.83,1.1-2.31,1.84-4.43,2.24-2.13.4-5.18.6-9.16.6h0s-.07,0-.1,0c-2.92,0-5.13-.26-6.62-.8-1.49-.53-2.51-1.56-3.04-3.09-.53-1.53-.86-3.82-1-6.87L119.91,0h-13.94l2.09,55.38c.13,4.18.88,7.6,2.24,10.26,1.36,2.66,3.72,4.62,7.07,5.88,3.35,1.26,8.12,1.89,14.29,1.89.03,0,.07,0,.1,0h0c4.38,0,8.4-.28,12.05-.84,3.65-.56,6.79-1.61,9.41-3.14,2.62-1.53,4.66-3.7,6.12-6.52,1.46-2.82,2.19-6.49,2.19-11.01,0-2.92-.27-5.96-.8-9.11-.53-3.15-1.2-6.22-1.99-9.21Z'/%3E%3Cpath class='cls-1' d='m220.7,105.07c-1.93,0-3.57.7-4.93,2.09-1.36,1.39-2.04,3.05-2.04,4.98s.68,3.47,2.04,4.83c1.36,1.36,3,2.04,4.93,2.04s3.45-.68,4.78-2.04c1.33-1.36,1.99-2.97,1.99-4.83s-.66-3.59-1.99-4.98c-1.33-1.39-2.92-2.09-4.78-2.09Z'/%3E%3Cpath class='cls-1' d='m252.18,40.59c2.12-1.23,4.42-1.84,6.87-1.84,3.05,0,6.08.96,9.06,2.89l5.18-11.65c-1.66-1.2-3.7-2.26-6.12-3.19-2.42-.93-5.1-1.39-8.02-1.39-4.12,0-7.89.88-11.3,2.64-3.42,1.76-6.36,4.02-8.81,6.77-2.46,2.76-4.35,5.64-5.68,8.66-1.33,3.02-1.99,5.79-1.99,8.32,0,2.99.78,5.43,2.34,7.32,1.56,1.89,3.49,3.44,5.78,4.63,2.29,1.19,4.56,2.19,6.82,2.99,2.26.8,4.17,1.56,5.73,2.29,1.56.73,2.34,1.56,2.34,2.49,0,1.26-.93,2.72-2.79,4.38-1.86,1.66-4.57,3.09-8.12,4.28-3.55,1.2-7.88,1.79-13,1.79-6.71,0-11.8-1.36-15.29-4.08-3.49-2.72-5.23-6.11-5.23-10.16,0-2.12.3-4.3.9-6.52.6-2.22,1.46-4.9,2.59-8.02l-12.25-4.28c-2.19,4.85-3.6,9.01-4.23,12.5-.63,3.49-.95,6.39-.95,8.71,0,5.64,1.41,10.39,4.23,14.24,2.82,3.85,6.72,6.74,11.7,8.66,4.98,1.93,10.62,2.89,16.93,2.89s12.37-.81,17.38-2.44c5.01-1.63,9.25-3.77,12.7-6.42,3.45-2.66,6.06-5.53,7.82-8.62,1.76-3.09,2.64-6.06,2.64-8.91,0-1.99-.58-3.69-1.74-5.08-1.16-1.39-2.67-2.59-4.53-3.59-1.86-1-3.82-1.89-5.88-2.69-2.06-.8-4.02-1.58-5.88-2.34-1.86-.76-3.37-1.59-4.53-2.49-1.16-.9-1.74-1.94-1.74-3.14,0-1.59.65-3.29,1.94-5.08,1.29-1.79,3-3.3,5.13-4.53Z'/%3E%3Cpath class='cls-1' d='m237.93,105.07c-1.93,0-3.57.7-4.93,2.09-1.36,1.39-2.04,3.05-2.04,4.98s.68,3.47,2.04,4.83c1.36,1.36,3,2.04,4.93,2.04s3.45-.68,4.78-2.04c1.33-1.36,1.99-2.97,1.99-4.83s-.67-3.59-1.99-4.98c-1.33-1.39-2.92-2.09-4.78-2.09Z'/%3E%3Cpath class='cls-1' d='m357.15,43.17c-1.79-3.49-4.25-6.32-7.37-8.52-3.12-2.19-6.64-3.29-10.56-3.29-3.45,0-6.87,1.11-10.26,3.34-3.39,2.23-6.57,6.32-9.56,12.3-1.66,3.19-3.07,5.68-4.23,7.47-1.16,1.79-2.29,3.07-3.39,3.83-1.1.76-2.41,1.15-3.93,1.15h0s-.07,0-.1,0c-2.92,0-5.13-.26-6.62-.8-1.49-.53-2.51-1.56-3.04-3.09-.53-1.53-.86-3.82-1-6.87l-2.09-48.7h-13.94l2.09,55.38c.13,4.18.88,7.6,2.24,10.26,1.36,2.66,3.72,4.62,7.07,5.88,3.35,1.26,8.12,1.89,14.29,1.89.03,0,.07,0,.1,0h0c3.98,0,7.24-.44,9.76-1.34,2.52-.9,4.81-2.51,6.87-4.83,3.58,2.32,7,3.85,10.26,4.58,3.25.73,6.14,1.1,8.67,1.1,3.39,0,6.39-.81,9.01-2.44,2.62-1.63,4.68-3.85,6.17-6.67,1.49-2.82,2.24-5.99,2.24-9.51,0-3.92-.9-7.62-2.69-11.1Zm-12.25,14.84c-.93.63-2.39.95-4.38.95-1.26,0-2.77-.25-4.53-.75-1.76-.5-3.67-1.28-5.73-2.34,1.53-3.19,2.85-5.74,3.98-7.67,1.13-1.93,2.66-2.89,4.58-2.89,1.46,0,2.74.52,3.83,1.54,1.1,1.03,1.97,2.28,2.64,3.73.66,1.46,1,2.89,1,4.28s-.47,2.51-1.39,3.14Z'/%3E%3C/svg%3E");
}
