/* develope By Package +201002241591  3lwaaa@gmail.com - https://wa.me/201002241591 */
span.text-center.footer-copyrights {
    display: none
}

.bread-title {
    color: var(--2-2);
    font-weight: 700
}

.subTitle-detail .container div {
    justify-content: center
}

.subTitle-detail {
    background-color: transparent
}

.section-padding-space {
    padding-bottom: 20px
}

@media(min-width: 770px) {
    .features-section-img {
        max-height:104px;
        max-width: 104px
    }
}

.category-item h3 {
    font-weight: 700
}

ul.main-nav>li>a, .item-all-categories a {
    color: var(--2-2);
    font-weight: 700
}

.description-text-clear * {
    color: var(--2-2)!important
}

.slide-menu ul li:first-child>div {
    background: var(--logo2)center top 2rem/11rem no-repeat transparent;
    padding-top: 14rem
}

.slide-menu__slider>ul>li:nth-child(2) a {
    text-align: center;
    background: #fff;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.3)!important;
    border-radius: 50px;
    margin: auto;
    width: 60%;
    color: var(--2-2);
    height: 35px!important;
    padding-top: 7px
}

.slide-menu ul a {
    color: var(--2-2);
    font-weight: 700
}

@media(max-width: 768px) {
    .account-lang-currency .account-btn {
        background-color:var(--2-2);
        border: 0;
        color: #fff
    }

    .account-lang-currency.upper-bar .container.d-flex.flex-wrap {
        justify-content: center
    }

    .language-currency.language-currency-menu.d-flex.justify-content-between {
        display: none!important
    }

    .menu-header-theme-bg-primary {
        background: linear-gradient(52deg,var(--1)0%,var(--1-1)100%)
    }
}

.menu-header-theme-bg-primary {
    background: linear-gradient(52deg,var(--1)0%,var(--1-1)100%)
}

.header-theme-bg-primary {
    background: linear-gradient(52deg,var(--1)0%,var(--1-1)100%)
}

.box-1-1.ratio21_9 div {
    margin: 10px;
    /* border-radius: 43px; */
}

.home section:nth-child(1) {
    padding-bottom: 12rem;
    clip-path: polygon(0 0,100%0%,100%73%,0%100%);
    background: linear-gradient(52deg,var(--1)0%,var(--1-1)100%)
}

@media(max-width: 768px) {
    .home section:nth-child(1) {
        padding-bottom:5rem
    }

    .categories-slider .category-item {
        width: 120px
    }

    .categories-slider {
        height: 199px
    }
}

.product-item .product-title>span, .product-item .product-price, .product-item .section-product-price {
    text-align: center
}

.product-card-rating-wrapper {
    text-align: center
}

a.btn.btn-primary.product-card-add-to-cart, a.btn.btn-primary.btn-product-card-select-variant {
    background: linear-gradient(52deg,var(--1)0%,var(--1-1)100%);
    color: #ffffff!important;
    border: 0!important;
    width: 100%;
    border-radius: 15px;
    font-size: 14px;
    font-weight: 600;
    box-shadow: 1px 3px 3px 1px #f1f1f1;
}

a.btn.btn-primary.btn-product-card-out-of-stock {
    border: 0!important;
    width: 100%;
    border-radius: 15px;
    font-size: 14px;
    font-weight: 600
}

.product-item {
    padding-bottom: 5px
}

.features-section {
    background: 0 0!important;
    text-align: center;
    margin-top: 1.5rem;
    padding-top: 0
}

.features-section.section-padding-space::before {
    content: "بماذا نتميز؟";
    font-size: 20px;
    font-weight: 600;
    margin-right: 10px;
    color: var(--1)!important
}

.feature p {
    color: #867568;
    font-weight: 700!important;
    font-size: 1.2rem
}

.feature:nth-child(1) .features-section-img {
    /* background: var(--1) */
}

.feature:nth-child(2) .features-section-img {
    /* background: var(--1) */
}

.feature:nth-child(3) .features-section-img {
    /* filter: invert(0%) sepia(100%) saturate(1%) hue-rotate(346deg) brightness(100%) contrast(100%); */
    filter: invert(0%)sepia(0%)saturate(100%)hue-rotate(201deg)brightness(100%)contrast(100%);
}

.features-section-img {
    /* box-shadow: 1px 3px 3px 1px #f1f1f1; */
    border-radius: 100%;
    padding: 10px;
}

.footer::before {
    content: var(--logo);
    position: absolute;
    z-index: 1;
    margin-right: -110px;
    height: 11px;
    width: 246px;
    background: #ffffff5c;
    height: 115px;
    padding: 12px;
    border-radius: 15px;
}

.footer {
    text-align: center
}

footer.d-flex.flex-column {
    background: linear-gradient(52deg,var(--1)0%,var(--1-1)100%);
    clip-path: polygon(0 0,100%27%,100%100%,0 100%);
    padding-top: 13rem
}

.footer-theme-bg-primary {
    background-color: transparent
}

.store-section {
    background-color: transparent
}

.social-icons.d-flex.flex-wrap {
    justify-content: center
}

.footer-store-section-bars {
    border-bottom: 0!important
}

.store-section h1 {
    font-size: 15px
}

.store-section p {
    font-size: 14px
}

/**social media **/
svg.x-icon-twitter.d-flex.align-items-center.justify-content-center g {
    filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(148deg) brightness(108%) contrast(101%);
}

.store-section .social-icons span {
    position: relative;
    z-index: 7;
}

.store-section .social-icons a {
    background: var(--2);
    border-radius: 20px;
    margin: 5px 5.5px 5px;
    position: relative;
    padding: 1px;
}

.store-section .social-icons a:after {
    content: "";
    width: 110%;
    height: 100%;
    background: transparent;
    position: absolute;
    left: -3px;
    border-radius: 50%;
    border: 1px solid var(--2);
    top: 0;
    animation: myAnim 14s ease-out 0s infinite normal forwards;
}

.store-section .social-icons a:before {
    content: "";
    width: 114%;
    height: 105%;
    background: transparent;
    position: absolute;
    left: -1px;
    border-radius: 50%;
    border: 1px solid var(--2);
    top: -1px;
    animation: myAnim1 7s linear 0s infinite normal forwards;
}

@keyframes myAnim1 {
    0% {
        transform: rotate(360deg)
    }

    100% {
        transform: rotate(0)
    }
}

@keyframes myAnim {
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(360deg)
    }
}

.store-section .social-icons span {
    color: #fff;
}

/**slide menu icons**/
.search-header .image-logo {
    display: none!important
}

#fixed-header:not(.sticky) .header-logo a[href="/"],#fixed-header.sticky .header-logo a[href="/"] {
    background: var(--logo2);
    padding: 0;
    width: 146px!important;
    background-repeat: no-repeat;
    background-position: center;
}

.footer-about-us-links-div.footer-about-us-div h1 {
    width: 15rem;
    content: var(--logo);
    margin: auto;
    margin-bottom: .5rem
}

@media (max-width: 991px) {
    #fixed-header:not(.sticky) .header-logo a[href="/"],#fixed-header.sticky .header-logo a[href="/"] {
        background-size: contain;
        /* margin-right: auto!important; */
        /* padding: 8px 0 10px 15px!important; */
        width: 101px !important;
    }
}

@media(max-width: 991px) {
    .slide-menu__slider>ul>li:nth-child(1) {
        grid-column:1/3;
        border-bottom: 0;
        display: block;
        content: '';
        width: 20rem;
        margin: 6px auto 8px;
        height: 94px;
        /* background: transparent var(--logo) center 0rem/ 50% no-repeat; */
        background-size: contain;
    }
}

.vat-number {
    color: #fff;
}

@media (max-width: 768px) {
    .account-lang-currency .account-btn {
        background-color: var(--3);
        border: 0;
        color: var(--1);
    }
}

#fixed-header:not(.sticky) .icon-menu_open_black_24dp-1::before,#fixed-header.sticky .icon-menu_open_black_24dp-1::before,.icon-arrow_drop_down1::before {
    display: inline-block;
    content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 176.28 122.88'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23da9028; %7D %3C/style%3E%3C/defs%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1-2'%3E%3Cg id='layer1'%3E%3Cpath id='path2109' class='cls-1' d='m9.31,0C4.47,0,.54,3.93.54,8.77c0,4.84,3.93,8.77,8.77,8.77h158c4.85.1,8.86-3.74,8.96-8.59S172.53.1,167.69,0h0s-158.37,0-158.37,0Zm0,52.65c-4.85,0-8.78,3.94-8.78,8.79,0,4.85,3.93,8.78,8.78,8.78h158c4.85,0,8.78-3.93,8.79-8.78,0-4.85-3.93-8.78-8.78-8.79H9.31Zm-.82,52.65C3.64,105.47-.16,109.54,0,114.39c.17,4.85,4.24,8.65,9.09,8.48.07,0,.14,0,.22-.01h158c4.85-.11,8.7-4.12,8.59-8.97-.1-4.7-3.89-8.49-8.59-8.59H9.31c-.28,0-.56,0-.84.02l.02-.02Z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    width: 25px;
    margin: auto
}

#fixed-header:not(.sticky) .icon-search::before,#fixed-header.sticky .icon-search::before {
    display: block;
    content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 106.57 106.56'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23da9028; %7D %3C/style%3E%3C/defs%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1-2'%3E%3Cpath class='cls-1' d='m42.9,85.75c9.53,0,18.78-3.18,26.29-9.03l28.35,28.35c2.12,2.04,5.5,1.97,7.54-.15,1.98-2.06,1.98-5.33,0-7.39l-28.35-28.35c14.53-18.7,11.15-45.63-7.55-60.16C50.49-5.51,23.55-2.13,9.02,16.57c-14.53,18.7-11.15,45.63,7.55,60.16,7.53,5.85,16.8,9.02,26.33,9.02h0ZM20.12,20.11c12.58-12.59,32.98-12.59,45.57-.01,12.59,12.58,12.59,32.98.01,45.57-12.58,12.59-32.98,12.59-45.57.01,0,0,0,0-.01-.01h0c-12.57-12.49-12.65-32.8-.17-45.38l.17-.17h0Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    width: 22px;
    margin: unset
}

#fixed-header:not(.sticky) .icon-shopping_cart_black_36dp-1-1 .path2::before,#fixed-header.sticky .icon-shopping_cart_black_36dp-1-1 .path2::before {
    display: block;
    content: var(--cart);
    width: 25px;
    margin: unset
}

@media(max-width: 991px) {
    .search-header-bar {
        height:70px
    }

    .rtl .ic.menu, .sm-search-icon {
        margin-left: 10px
    }

    .ltr .ic.menu, .sm-search-div {
        padding: 0;
        background-color: #fff
    }

    .sm-search-div input {
        border-radius: 0;
        border: 0;
    }

    #fixed-header:not(.sticky) .header-logo a[href="/"] {
        margin-right: auto!important;
        padding: 8px 0 10px 15px!important
    }

    #fixed-header.sticky .header-logo a[href="/"] {
        margin-right: auto!important;
        padding: 8px 0 10px 15px!important
    }

    #fixed-header:not(.sticky) .icon-arrow-right::before {
        content: "\f061 ";
        color: var(--1)
    }

    .header-theme-bg-primary:not(#sliding-menu) {
        /* background: 0 0 */
    }

    #fixed-header.sticky {
        background-position: center;
        background: var(--1);
        background-size: cover;
        box-shadow: 0 0 10px 0 #4c4c4c;
        background-repeat: no-repeat
    }
}

.header .icon-shopping_cart_black_36dp-1-1 .path1 {
    display: none
}

#fixed-header:not(.sticky) .icon-menu_open_black_24dp-1::before,#fixed-header.sticky .icon-menu_open_black_24dp-1::before,.icon-arrow_drop_down1::before {
    display: inline-block;
    content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 176.28 122.88'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23da9028; %7D %3C/style%3E%3C/defs%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1-2'%3E%3Cg id='layer1'%3E%3Cpath id='path2109' class='cls-1' d='m9.31,0C4.47,0,.54,3.93.54,8.77c0,4.84,3.93,8.77,8.77,8.77h158c4.85.1,8.86-3.74,8.96-8.59S172.53.1,167.69,0h0s-158.37,0-158.37,0Zm0,52.65c-4.85,0-8.78,3.94-8.78,8.79,0,4.85,3.93,8.78,8.78,8.78h158c4.85,0,8.78-3.93,8.79-8.78,0-4.85-3.93-8.78-8.78-8.79H9.31Zm-.82,52.65C3.64,105.47-.16,109.54,0,114.39c.17,4.85,4.24,8.65,9.09,8.48.07,0,.14,0,.22-.01h158c4.85-.11,8.7-4.12,8.59-8.97-.1-4.7-3.89-8.49-8.59-8.59H9.31c-.28,0-.56,0-.84.02l.02-.02Z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    width: 25px;
    margin: auto
}

#fixed-header:not(.sticky) .icon-search::before,#fixed-header.sticky .icon-search::before {
    display: block;
    content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 106.57 106.56'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23da9028; %7D %3C/style%3E%3C/defs%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1-2'%3E%3Cpath class='cls-1' d='m42.9,85.75c9.53,0,18.78-3.18,26.29-9.03l28.35,28.35c2.12,2.04,5.5,1.97,7.54-.15,1.98-2.06,1.98-5.33,0-7.39l-28.35-28.35c14.53-18.7,11.15-45.63-7.55-60.16C50.49-5.51,23.55-2.13,9.02,16.57c-14.53,18.7-11.15,45.63,7.55,60.16,7.53,5.85,16.8,9.02,26.33,9.02h0ZM20.12,20.11c12.58-12.59,32.98-12.59,45.57-.01,12.59,12.58,12.59,32.98.01,45.57-12.58,12.59-32.98,12.59-45.57.01,0,0,0,0-.01-.01h0c-12.57-12.49-12.65-32.8-.17-45.38l.17-.17h0Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    width: 22px;
    margin: unset
}

#fixed-header:not(.sticky) .icon-shopping_cart_black_36dp-1-1 .path2::before,#fixed-header.sticky .icon-shopping_cart_black_36dp-1-1 .path2::before {
    display: block;
    content: var(--cart);
    width: 25px;
    margin: unset
}

.icon-arrow_drop_down1::before ,#fixed-header.sticky .icon-menu_open_black_24dp-1::before, #fixed-header.sticky .icon-search::before,#fixed-header.sticky .icon-search::before, #fixed-header.sticky .icon-shopping_cart_black_36dp-1-1 .path2::before,#fixed-header.sticky .header-logo a[href="/"] {
    filter: brightness(25.5);
}

.testimonials-customer-text {
    height: 170px;
    text-align: center;
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
    font-size: 14px;
    color: #fff;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1680.55 873.04'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23da9028; %7D %3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M1357.84,0c2.18,.93,3.71,1.44,5.12,2.19,53.17,28.13,86.14,71.06,95.76,131,.92,5.74,1.66,11.56,1.79,17.36,.09,4.21,1.55,5.28,5.59,5.26,29.16-.15,58.33-.08,87.5-.08,20.97,0,41.16,3.76,59.68,13.86,38.99,21.27,61.61,53.86,66.5,98.29,.56,5.12,.75,10.3,.75,15.45,.04,154.66,.04,309.32,.03,463.98,0,60.76-40.14,110.59-99.52,123.12-7.92,1.67-16.18,2.49-24.28,2.49-477.65,.12-955.29,.12-1432.94,.08-61.71,0-113.85-45.5-122.59-106.77-.84-5.92-1.16-11.95-1.16-17.93C0,592.48-.01,436.66,.02,280.83c.01-61.07,42.11-111.95,102.11-122.98,9.11-1.67,18.56-2.03,27.86-2.03,370.15-.1,740.3-.1,1110.46-.03,18.95,0,37.15-2.73,54-11.85,24.77-13.4,39.63-35,49.44-60.57,9.54-24.83,13.23-50.78,13.95-77.23,.05-1.79,0-3.57,0-6.14Z'/%3E%3C/svg%3E");
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat
}

.testimonials-customer-card {
    border: 0;
    box-shadow: none
}

.icon-account_circle_black_24dp:before {
    content: "\f007 ";
    color: var(--1)
}

.features-section {
    background: transparent;
}

.main .features-section {
    padding-top: 0px;
    padding-bottom: 0px;
}

.main .features-section {
    background-color: transparent;
    margin-bottom: 0px;
    margin-top: 0px;
}

.main .features-section .feature p {
    line-height: 1.7;
    font-size: 13px !important;
    padding-left: 60px !important;
    padding-right: 60px !important;
}

@media(max-width: 991px) {
    .main .features-section {
        background: 0px center;
        display: flex;
        flex-wrap: wrap;
    }
}

.main .features-section {
    margin: 34px auto;
}

.features-section-img {
    margin-bottom: 0;
    border: none;
    position: relative;
    top: 0px;
    animation: float 4s ease-in-out infinite;
    transition: all .4s ease
}

@keyframes float {
    0% {
        transform: translatey(0px)
    }

    50% {
        transform: translatey(-20px)
    }

    100% {
        transform: translatey(0px)
    }
}

.feature .theme-text-for-primary-bg {
    text-align: center;
    font-weight: 700;
    border-radius: 0 5rem!important;
    font-size: 1.2rem
}

.feature .theme-text-for-primary-bg:after {
    white-space: pre;
    font-size: 1rem;
    font-weight: 700;
    color: #000000!important;
    white-space: pre-wrap
}

.feature:first-child .theme-text-for-primary-bg:after {
    content: var(--con1)
}

.feature:nth-child(2) .theme-text-for-primary-bg:after {
    content: var(--con2)
}

.feature:nth-child(3) .theme-text-for-primary-bg:after {
    content: var(--con3)
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track-piece {
    background-color: #00000033;
    -webkit-border-radius: 0px;
}

::-webkit-scrollbar-thumb:vertical {
    height: 200px;
    background-color: var(--1);
    -webkit-border-radius: 0px;
}

::-webkit-scrollbar-thumb:vertical:hover {
    background-color: var(--1);
}

::-webkit-scrollbar-thumb:horizontal {
    width: 200px;
    background-color: #7d7d7db3;
    -webkit-border-radius: 0px;
}
a.d-flex.flex-column.justify-content-start,a.d-flex.flex-column.justify-content-start img {
    background: transparent !important;
}

:root {
    --1: #513a4a;
    --1-1: #45313f;
    --1-1-h: #513a4a52;
    --2: #da9028;
    --2-2: #bf7915;
    --3: #edecef;
    --text-color-primary-bg: #ededed!important;
    --sub-primary-color: #ffffff!important;
    --header-primary-color: #fff!important;
    --menu-header-primary-color: #fff!important;
    --header-primary-brightness: brightness(100%)!important;
    --menu-header-text-color-primary-bg: #ffffff!important;
    --header-text-color-primary-bg: #ffffff!important;
    --footer-primary-color: #fff!important;
    --footer-text-color-primary-bg: #ffffff!important;
    --menu-header-text-color-primary-bg: #ffffff!important;
    --gr: linear-gradient(45deg,var(--1) 0,var(--1) 0,var(--2) 39%,var(--2) 100%);
    --logo2: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 364.1 132.18'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23da9028; stroke-width: 0px; %7D %3C/style%3E%3C/defs%3E%3Cpolygon class='cls-1' points='73.57 .04 73.48 0 61.01 7.71 79.57 16 73.57 .04'/%3E%3Cpolygon class='cls-1' points='82.35 16.33 83.5 16 97.29 10.63 76.76 1.46 81.99 15.37 82.35 16.33'/%3E%3Cpolygon class='cls-1' points='104.52 27.15 100.59 12.11 100.47 12.06 84.58 18.24 104.52 27.15'/%3E%3Cpolygon class='cls-1' points='86.54 41.61 103.74 29.51 59.88 9.93 62.14 30.72 86.54 41.61'/%3E%3Cpath class='cls-1' d='M103.65,42.1l-6.54,4.62c9.97,14.1,11.79,32.64,4.76,48.38-11.03,24.7-40.11,35.83-64.81,24.79C12.36,108.87,1.24,79.8,12.27,55.09c7.03-15.75,22.05-26.76,39.21-28.75l-.92-7.96c-9.67,1.12-18.96,4.72-26.86,10.4-8.15,5.86-14.63,13.83-18.74,23.04-12.83,28.74.1,62.56,28.84,75.39s62.56-.1,75.39-28.84c4.11-9.21,5.72-19.35,4.65-29.33-1.04-9.68-4.56-18.99-10.18-26.94Z'/%3E%3Cpolygon class='cls-1' points='39.21 9.62 41.01 9.62 41.01 3.76 43.07 3.76 43.07 2.35 37.14 2.35 37.14 3.76 39.21 3.76 39.21 9.62'/%3E%3Cpolygon class='cls-1' points='45.7 4.46 45.74 4.46 47.61 9.62 48.83 9.62 50.7 4.46 50.74 4.46 50.74 9.62 52.43 9.62 52.43 2.35 50.05 2.35 48.23 7.13 46.41 2.35 44.01 2.35 44.01 9.62 45.7 9.62 45.7 4.46'/%3E%3Cpath class='cls-1' d='M156.25,96.1c.3-.3.45-.66.45-1.08s-.15-.78-.45-1.08c-.3-.3-.66-.45-1.08-.45s-.79.15-1.08.45c-.3.3-.45.66-.45,1.08s.15.78.45,1.08c.3.3.66.45,1.08.45s.78-.15,1.08-.45Z'/%3E%3Cpath class='cls-1' d='M162.41,106.88h-13.94c-.92,0-1.68-.03-2.28-.09-.6-.06-1.07-.18-1.41-.36-.35-.18-.59-.45-.73-.81-.14-.36-.22-.83-.22-1.43v-3.61h-2.37v4.47c0,.77.1,1.42.29,1.95.19.53.52.96.97,1.3.45.34,1.05.58,1.79.74.74.16,1.67.23,2.78.23h17.49v-11.11h-2.37v8.72Z'/%3E%3Cpath class='cls-1' d='M152.5,96.1c.3-.3.45-.66.45-1.08s-.15-.78-.45-1.08-.66-.45-1.08-.45-.78.15-1.08.45c-.3.3-.45.66-.45,1.08s.15.78.45,1.08c.3.3.66.45,1.08.45s.78-.15,1.08-.45Z'/%3E%3Crect class='cls-1' x='168.82' y='88.67' width='2.37' height='20.6'/%3E%3Cpath class='cls-1' d='M196.3,99.07c-1.14-.8-2.55-1.35-4.21-1.66-1.67-.31-3.55-.4-5.64-.29v2.16c.4-.02.8-.03,1.18-.04.38,0,.77-.01,1.15-.01-.48.17-.9.42-1.26.74s-.65.68-.88,1.1c-.23.41-.4.87-.52,1.36-.12.49-.17.98-.17,1.46,0,.73.09,1.35.26,1.85.17.5.36.89.55,1.15h-4.59s0,0,0,0c-.96,0-1.62-.28-1.97-.85-.36-.57-.53-1.34-.53-2.32v-4.1h-2.34v7.73c0,1-.02,1.85-.07,2.55-.05.7-.2,1.28-.46,1.73-.26.45-.65.78-1.18.98-.53.2-1.26.3-2.21.3v2.4c1.29,0,2.34-.13,3.15-.39.81-.26,1.44-.68,1.89-1.27.45-.59.76-1.36.94-2.31.17-.95.26-2.12.26-3.51.21.38.53.72.95,1.01.42.29.95.43,1.59.43,0,0,0,0,0,0h17.66v-2.11c0-1.92-.3-3.55-.91-4.89-.61-1.34-1.48-2.41-2.62-3.2ZM192.25,104.84c-.06.36-.16.68-.32.98-.15.3-.36.55-.64.75-.27.2-.61.3-1.01.3h-.14c-.4-.02-.74-.12-1-.3-.26-.18-.47-.41-.63-.69-.16-.28-.28-.59-.35-.94-.07-.35-.1-.69-.1-1.04,0-.98.19-1.78.56-2.4.38-.62.9-.92,1.57-.92.38,0,.71.09.98.26.27.17.49.41.66.72.17.31.3.66.38,1.05.08.4.12.8.12,1.23,0,.31-.03.64-.09,1ZM193.75,106.88c.17-.33.33-.75.46-1.26.13-.51.2-1.13.2-1.86,0-.31-.02-.64-.07-1-.05-.36-.14-.71-.27-1.07-.13-.36-.31-.7-.52-1.04-.21-.34-.48-.63-.81-.88,1.44.44,2.58,1.22,3.42,2.34.84,1.12,1.26,2.7,1.26,4.76h-3.67Z'/%3E%3Cpath class='cls-1' d='M223.13,112.07c-.42,0-.78.15-1.08.45-.3.3-.45.66-.45,1.08s.15.78.45,1.08c.3.3.66.45,1.08.45s.78-.15,1.08-.45c.3-.3.45-.66.45-1.08s-.15-.78-.45-1.08c-.3-.3-.66-.45-1.08-.45Z'/%3E%3Cpath class='cls-1' d='M263.04,106.88h-4.5c-.86,0-1.5-.28-1.89-.85-.39-.57-.59-1.34-.59-2.32v-15.04h-2.37v16.1c0,.48-.05.86-.16,1.14-.11.28-.25.49-.43.64-.18.14-.41.24-.68.27-.27.04-.58.06-.92.06h-2.31s0,0,0,0c0,0-.01,0-.02,0-.79,0-1.37-.16-1.75-.48-.38-.32-.66-.79-.85-1.4,0-.11,0-.24.01-.36.01-.12.02-.26.02-.39,0-.87-.13-1.65-.39-2.36-.26-.7-.62-1.31-1.07-1.82-.45-.51-.99-.91-1.6-1.19-.62-.28-1.29-.42-2.02-.42-.52,0-1.04.07-1.57.2-.53.14-1.05.41-1.56.83-.51.41-1.01,1-1.5,1.77-.49.76-.96,1.76-1.4,2.99-.21.58-.44,1.04-.68,1.37-.24.34-.49.6-.74.8-.25.19-.5.32-.75.38-.25.06-.49.09-.72.09h-1.18s-.01,0-.02,0h-1.77c-.02-1.23-.19-2.39-.52-3.5-.33-1.1-.83-2.07-1.51-2.91-.68-.83-1.54-1.49-2.58-1.97-1.04-.48-2.28-.72-3.72-.72-.75,0-1.44.07-2.08.22-.63.14-1.14.27-1.53.38v2.29c.4-.11.92-.22,1.54-.33.63-.11,1.22-.16,1.77-.16.85,0,1.64.12,2.38.36.74.24,1.39.63,1.95,1.16.56.53,1,1.22,1.33,2.06.33.85.49,1.89.49,3.12h-11.57s0,0,0,0h-2.02v-1.36c0-1.14-.1-2.16-.29-3.09-.19-.92-.51-1.71-.94-2.37-.43-.65-.99-1.16-1.69-1.51-.69-.36-1.54-.54-2.54-.54-.9,0-1.71.18-2.41.54-.7.35-1.3.82-1.79,1.4-.49.58-.87,1.24-1.13,1.99-.26.75-.39,1.52-.39,2.31,0,.94.14,1.73.42,2.37.28.64.67,1.15,1.16,1.54.49.39,1.07.68,1.73.85.66.17,1.39.26,2.18.26h3.26c-.02.77-.19,1.39-.5,1.88-.32.48-.75.85-1.3,1.11-.55.26-1.2.43-1.95.52s-1.58.13-2.48.13h-.9v2.4h1.21c1.21,0,2.31-.1,3.3-.29.99-.19,1.84-.52,2.55-.98.71-.46,1.28-1.08,1.69-1.85.41-.77.66-1.74.73-2.91h2.08s0,0,0,0h0s15.84,0,15.84,0h1.24c.34,0,.67-.01.98-.04.31-.03.61-.1.9-.2.29-.11.56-.27.82-.49.26-.22.51-.52.76-.91.98.73,1.93,1.25,2.86,1.56.92.31,1.84.46,2.74.46,1.06,0,1.94-.21,2.64-.62.7-.41,1.24-.99,1.6-1.72v.06c.33.69.76,1.18,1.3,1.47.54.29,1.17.43,1.91.43,0,0,0,0,.01,0,0,0,0,0,.01,0h2.05c1.19,0,2.17-.12,2.93-.35.76-.23,1.31-.74,1.66-1.53.15.54.46.99.91,1.34.45.36,1.05.53,1.8.53,0,0,0,0,0,0h6.87v-20.6h-2.37v18.21ZM211.12,106.88h-3.09c-1.1,0-1.93-.23-2.5-.69-.57-.46-.85-1.18-.85-2.16,0-.44.07-.88.2-1.33.13-.44.33-.84.59-1.2.26-.36.59-.64,1-.87.4-.22.88-.33,1.44-.33,1.17,0,2,.42,2.48,1.27.48.85.72,1.98.72,3.41v1.9ZM243.49,106.5c-.49.46-1.14.69-1.95.69-.73,0-1.45-.14-2.15-.42-.7-.28-1.41-.65-2.12-1.11.6-1.79,1.23-3.04,1.9-3.75.67-.71,1.41-1.07,2.22-1.07.46,0,.86.09,1.21.27.35.18.64.43.88.74.24.31.42.66.55,1.07.13.41.19.82.19,1.24,0,1.1-.25,1.88-.74,2.34Z'/%3E%3Cpath class='cls-1' d='M278.51,100.14c-.42-.66-.99-1.18-1.69-1.56-.7-.38-1.56-.56-2.58-.56-.92,0-1.74.17-2.45.52-.71.35-1.31.81-1.79,1.39-.48.58-.85,1.24-1.1,1.98-.25.74-.38,1.5-.38,2.27,0,.96.14,1.77.42,2.42.28.65.65,1.18,1.12,1.57.47.39,1.03.68,1.67.85.64.17,1.34.26,2.09.26.83,0,1.52-.09,2.08-.26s1.01-.36,1.36-.58v.55c0,.88-.15,1.59-.46,2.11-.31.52-.74.91-1.29,1.18-.55.27-1.2.44-1.96.52-.76.08-1.6.11-2.52.11h-.89v2.4h1.21c1.29,0,2.45-.1,3.49-.29,1.04-.19,1.91-.55,2.63-1.08.71-.53,1.26-1.25,1.65-2.16.38-.91.58-2.09.58-3.54v-2.71c0-1.1-.09-2.1-.28-3.01-.18-.92-.48-1.7-.91-2.37ZM277.27,106.04c-.29.23-.71.44-1.27.63-.56.19-1.2.29-1.93.29-.96,0-1.74-.24-2.34-.71-.59-.47-.89-1.26-.89-2.35,0-.4.06-.82.19-1.24.12-.42.32-.81.58-1.15.26-.35.6-.63,1.01-.87.41-.23.92-.35,1.51-.35s1.07.12,1.47.36c.4.24.73.57.98.98.25.41.43.91.53,1.49.11.58.16,1.19.16,1.85v1.07Z'/%3E%3Cpath class='cls-1' d='M301.25,112.13c-.42,0-.79.15-1.08.45-.3.3-.45.66-.45,1.08s.15.78.45,1.08c.3.3.66.45,1.08.45s.78-.15,1.08-.45c.3-.3.45-.66.45-1.08s-.15-.78-.45-1.08c-.3-.3-.66-.45-1.08-.45Z'/%3E%3Cpath class='cls-1' d='M329.4,99.07c-1.14-.8-2.55-1.35-4.21-1.66-1.66-.31-3.54-.4-5.64-.29v2.16c.4-.02.8-.03,1.18-.04.38,0,.77-.01,1.15-.01-.48.17-.9.42-1.25.74-.36.32-.65.68-.88,1.1-.23.41-.4.87-.52,1.36-.12.49-.17.98-.17,1.46,0,.73.09,1.35.26,1.85.17.5.35.89.55,1.15h-4.59c-.5,0-.91-.08-1.24-.23-.33-.15-.59-.37-.78-.64-.19-.27-.32-.6-.39-.99-.07-.4-.1-.83-.1-1.31v-5.54h-2.37v6.61c0,.48-.06.86-.17,1.14-.12.28-.3.49-.56.63-.26.14-.61.24-1.06.27-.44.04-.98.06-1.61.06h-10.53c-.92,0-1.68-.03-2.28-.09-.59-.06-1.07-.18-1.41-.36-.35-.18-.59-.45-.74-.81-.14-.36-.22-.83-.22-1.43v-3.61h-2.37v4.47c0,.77.1,1.42.29,1.95.19.53.51.96.97,1.3.45.34,1.05.58,1.79.74.74.15,1.67.23,2.78.23h11.75c.83,0,1.55-.02,2.17-.07.61-.05,1.14-.14,1.57-.27.43-.13.79-.32,1.08-.56.29-.24.52-.56.69-.97.15.54.46.99.92,1.34.46.36,1.07.53,1.82.53,0,0,0,0,0,0h17.66v-2.11c0-1.92-.3-3.55-.91-4.89-.61-1.34-1.48-2.41-2.63-3.2ZM325.34,104.84c-.06.36-.16.68-.32.98-.16.3-.37.55-.64.75-.27.2-.61.3-1.01.3h-.15c-.4-.02-.74-.12-.99-.3-.26-.18-.47-.41-.64-.69-.16-.28-.28-.59-.35-.94-.07-.35-.1-.69-.1-1.04,0-.98.19-1.78.56-2.4.37-.62.9-.92,1.57-.92.38,0,.71.09.98.26.27.17.49.41.66.72.17.31.3.66.38,1.05.08.4.12.8.12,1.23,0,.31-.03.64-.09,1ZM326.84,106.88c.17-.33.33-.75.46-1.26.13-.51.2-1.13.2-1.86,0-.31-.02-.64-.07-1-.05-.36-.14-.71-.27-1.07-.13-.36-.31-.7-.52-1.04-.21-.34-.48-.63-.81-.88,1.44.44,2.58,1.22,3.42,2.34.84,1.12,1.25,2.7,1.25,4.76h-3.67Z'/%3E%3Cpath class='cls-1' d='M340.06,91.78c-.42,0-.79.15-1.08.45-.3.3-.45.66-.45,1.08s.15.78.45,1.08c.3.3.66.45,1.08.45s.78-.15,1.08-.45c.3-.3.45-.66.45-1.08s-.15-.78-.45-1.08c-.3-.3-.66-.45-1.08-.45Z'/%3E%3Cpath class='cls-1' d='M361.73,88.67v18.21h-4.5c-.86,0-1.5-.28-1.89-.85-.39-.57-.59-1.34-.59-2.32v-15.04h-2.37v16.1c0,.48-.05.86-.16,1.14-.11.28-.25.49-.43.64-.18.14-.41.24-.68.27-.27.04-.58.06-.92.06h-2.3s0,0,0,0c-.27,0-.52-.07-.76-.22-.24-.14-.49-.36-.75-.65-.26-.29-.53-.66-.82-1.12-.29-.46-.63-1.01-1.01-1.64l-3.46-5.74-2.22,1.38,3.06,4.53c.29.42.53.82.72,1.18.19.37.29.73.29,1.1,0,.39-.22.68-.65.88-.43.2-1.05.3-1.86.3h-5.17v2.4h4.39c.46,0,.92-.02,1.39-.06.46-.04.9-.13,1.31-.27s.79-.37,1.13-.68c.34-.31.61-.72.82-1.24.54.85,1.08,1.43,1.62,1.76.54.33,1.2.49,1.99.49h2.05c1.19,0,2.17-.12,2.93-.35.76-.23,1.31-.74,1.66-1.53.15.54.46.99.91,1.34.45.36,1.05.53,1.8.53h6.87v-20.6h-2.37Z'/%3E%3Cpath class='cls-1' d='M310.15,67.44c-1.18,1.18-1.77,2.58-1.77,4.2s.59,3.03,1.77,4.2c1.18,1.18,2.58,1.77,4.2,1.77s3.03-.59,4.2-1.77c1.18-1.18,1.77-2.58,1.77-4.2s-.59-3.03-1.77-4.2c-1.18-1.18-2.58-1.77-4.2-1.77s-3.03.59-4.2,1.77Z'/%3E%3Cpath class='cls-1' d='M295.18,57.69h66.75V24.23h-10.93v23.79h-9.57s0,0,0,0h-5.46c-.11-3.42-.6-6.68-1.47-9.79-.87-3.11-2.23-5.84-4.08-8.2-1.85-2.35-4.25-4.22-7.19-5.59-2.94-1.37-6.52-2.06-10.72-2.06-2.3,0-4.57.25-6.81.76-2.24.5-4.01.98-5.3,1.43v9.75c1.01-.28,2.02-.52,3.03-.72,1.01-.2,1.96-.36,2.86-.5.9-.14,1.71-.24,2.44-.29.73-.06,1.32-.08,1.77-.08,2.69,0,4.95.38,6.77,1.14,1.82.76,3.29,1.81,4.41,3.15,1.12,1.35,1.96,2.96,2.52,4.83.56,1.88.92,3.94,1.09,6.18h-142.07c-.62,0-1.21-.15-1.76-.46-.56-.31-1.16-.83-1.81-1.56-.65-.73-1.36-1.71-2.14-2.94-.79-1.23-1.71-2.75-2.77-4.54l-10.09-17.07-10.01,6.39,7.65,11.35c1.46,2.07,2.45,3.56,2.98,4.45.53.9.8,1.65.8,2.27,0,.56-.32,1.05-.97,1.47-.64.42-1.64.63-2.98.63h-16.64v9.67h14.63c2.19,0,4.22-.24,6.09-.71,1.88-.48,3.63-1.64,5.25-3.49.78.73,1.54,1.36,2.27,1.89.73.53,1.51.97,2.35,1.3.84.34,1.83.59,2.98.76,1.15.17,2.54.25,4.16.25h111.98Z'/%3E%3Cpath class='cls-1' d='M356.3,15.65c1.62,0,3.03-.59,4.2-1.77,1.18-1.18,1.77-2.58,1.77-4.2s-.59-3.03-1.77-4.2c-1.18-1.18-2.58-1.77-4.2-1.77s-3.03.59-4.2,1.77c-1.18,1.18-1.77,2.58-1.77,4.2s.59,3.03,1.77,4.2c1.18,1.18,2.58,1.77,4.2,1.77Z'/%3E%3C/svg%3E");
    --logo: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 364.1 132.18'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23513a4a; stroke-width: 0px; %7D %3C/style%3E%3C/defs%3E%3Cpolygon class='cls-1' points='73.57 .04 73.48 0 61.01 7.71 79.57 16 73.57 .04'/%3E%3Cpolygon class='cls-1' points='82.35 16.33 83.5 16 97.29 10.63 76.76 1.46 81.99 15.37 82.35 16.33'/%3E%3Cpolygon class='cls-1' points='104.52 27.15 100.59 12.11 100.47 12.06 84.58 18.24 104.52 27.15'/%3E%3Cpolygon class='cls-1' points='86.54 41.61 103.74 29.51 59.88 9.93 62.14 30.72 86.54 41.61'/%3E%3Cpath class='cls-1' d='M103.65,42.1l-6.54,4.62c9.97,14.1,11.79,32.64,4.76,48.38-11.03,24.7-40.11,35.83-64.81,24.79C12.36,108.87,1.24,79.8,12.27,55.09c7.03-15.75,22.05-26.76,39.21-28.75l-.92-7.96c-9.67,1.12-18.96,4.72-26.86,10.4-8.15,5.86-14.63,13.83-18.74,23.04-12.83,28.74.1,62.56,28.84,75.39,28.74,12.83,62.56-.1,75.39-28.84,4.11-9.21,5.72-19.35,4.65-29.33-1.04-9.68-4.56-18.99-10.18-26.94Z'/%3E%3Cpolygon class='cls-1' points='39.21 9.62 41.01 9.62 41.01 3.76 43.07 3.76 43.07 2.35 37.14 2.35 37.14 3.76 39.21 3.76 39.21 9.62'/%3E%3Cpolygon class='cls-1' points='45.7 4.46 45.74 4.46 47.61 9.62 48.83 9.62 50.7 4.46 50.74 4.46 50.74 9.62 52.43 9.62 52.43 2.35 50.05 2.35 48.23 7.13 46.41 2.35 44.01 2.35 44.01 9.62 45.7 9.62 45.7 4.46'/%3E%3Cpath class='cls-1' d='M156.25,96.1c.3-.3.45-.66.45-1.08s-.15-.78-.45-1.08c-.3-.3-.66-.45-1.08-.45s-.79.15-1.08.45c-.3.3-.45.66-.45,1.08s.15.78.45,1.08c.3.3.66.45,1.08.45s.78-.15,1.08-.45Z'/%3E%3Cpath class='cls-1' d='M162.41,106.88h-13.94c-.92,0-1.68-.03-2.28-.09-.6-.06-1.07-.18-1.41-.36-.35-.18-.59-.45-.73-.81-.14-.36-.22-.83-.22-1.43v-3.61h-2.37v4.47c0,.77.1,1.42.29,1.95.19.53.52.96.97,1.3.45.34,1.05.58,1.79.74.74.16,1.67.23,2.78.23h17.49v-11.11h-2.37v8.72Z'/%3E%3Cpath class='cls-1' d='M152.5,96.1c.3-.3.45-.66.45-1.08s-.15-.78-.45-1.08-.66-.45-1.08-.45-.78.15-1.08.45c-.3.3-.45.66-.45,1.08s.15.78.45,1.08c.3.3.66.45,1.08.45s.78-.15,1.08-.45Z'/%3E%3Crect class='cls-1' x='168.82' y='88.67' width='2.37' height='20.6'/%3E%3Cpath class='cls-1' d='M196.3,99.07c-1.14-.8-2.55-1.35-4.21-1.66-1.67-.31-3.55-.4-5.64-.29v2.16c.4-.02.8-.03,1.18-.04.38,0,.77-.01,1.15-.01-.48.17-.9.42-1.26.74s-.65.68-.88,1.1c-.23.41-.4.87-.52,1.36-.12.49-.17.98-.17,1.46,0,.73.09,1.35.26,1.85.17.5.36.89.55,1.15h-4.59s0,0,0,0c-.96,0-1.62-.28-1.97-.85-.36-.57-.53-1.34-.53-2.32v-4.1h-2.34v7.73c0,1-.02,1.85-.07,2.55-.05.7-.2,1.28-.46,1.73-.26.45-.65.78-1.18.98-.53.2-1.26.3-2.21.3v2.4c1.29,0,2.34-.13,3.15-.39.81-.26,1.44-.68,1.89-1.27.45-.59.76-1.36.94-2.31.17-.95.26-2.12.26-3.51.21.38.53.72.95,1.01.42.29.95.43,1.59.43,0,0,0,0,0,0h17.66v-2.11c0-1.92-.3-3.55-.91-4.89s-1.48-2.41-2.63-3.2ZM192.25,104.84c-.06.36-.16.68-.32.98-.15.3-.36.55-.64.75-.27.2-.61.3-1.01.3h-.14c-.4-.02-.74-.12-1-.3-.26-.18-.47-.41-.63-.69-.16-.28-.28-.59-.35-.94-.07-.35-.1-.69-.1-1.04,0-.98.19-1.78.56-2.39.38-.62.9-.92,1.57-.92.38,0,.71.09.98.26.27.17.49.41.66.72.17.31.3.66.38,1.05.08.4.12.8.12,1.23,0,.31-.03.64-.09,1ZM193.75,106.88c.17-.33.33-.75.46-1.26.13-.51.2-1.13.2-1.86,0-.31-.02-.64-.07-1-.05-.36-.14-.71-.27-1.07-.13-.36-.31-.7-.52-1.04-.21-.34-.48-.63-.81-.88,1.44.44,2.58,1.22,3.42,2.34.84,1.12,1.26,2.7,1.26,4.76h-3.67Z'/%3E%3Cpath class='cls-1' d='M223.13,112.07c-.42,0-.78.15-1.08.45-.3.3-.45.66-.45,1.08s.15.78.45,1.08c.3.3.66.45,1.08.45s.78-.15,1.08-.45c.3-.3.45-.66.45-1.08s-.15-.78-.45-1.08c-.3-.3-.66-.45-1.08-.45Z'/%3E%3Cpath class='cls-1' d='M263.04,106.88h-4.5c-.86,0-1.5-.28-1.89-.85s-.59-1.34-.59-2.32v-15.04h-2.37v16.1c0,.48-.05.86-.16,1.14-.11.28-.25.49-.43.64-.18.14-.41.24-.68.27-.27.04-.58.06-.92.06h-2.31s0,0,0,0c0,0-.01,0-.02,0-.79,0-1.37-.16-1.75-.48-.38-.32-.66-.79-.85-1.4,0-.11,0-.24.01-.36.01-.12.02-.26.02-.39,0-.87-.13-1.65-.39-2.36-.26-.7-.62-1.31-1.07-1.82-.45-.51-.99-.91-1.6-1.19-.62-.28-1.29-.42-2.02-.42-.52,0-1.04.07-1.57.2-.53.14-1.05.41-1.56.83-.51.41-1.01,1-1.5,1.77-.49.76-.96,1.76-1.4,2.99-.21.58-.44,1.04-.68,1.37-.24.34-.49.6-.74.8-.25.19-.5.32-.75.38-.25.06-.49.09-.72.09h-1.18s0,0-.02,0h-1.77c-.02-1.23-.19-2.39-.52-3.5s-.83-2.07-1.51-2.91c-.68-.83-1.54-1.49-2.58-1.97-1.04-.48-2.28-.72-3.72-.72-.75,0-1.44.07-2.08.22-.63.14-1.14.27-1.53.38v2.29c.4-.11.92-.22,1.54-.33s1.22-.16,1.77-.16c.85,0,1.64.12,2.38.36.74.24,1.39.63,1.95,1.16.56.53,1,1.22,1.33,2.06.33.85.49,1.89.49,3.12h-11.57s0,0,0,0h-2.02v-1.36c0-1.14-.1-2.16-.29-3.09-.19-.92-.51-1.71-.94-2.37-.43-.65-.99-1.16-1.69-1.51-.69-.36-1.54-.54-2.54-.54-.91,0-1.71.18-2.41.54-.7.35-1.3.82-1.79,1.4-.49.58-.87,1.24-1.13,1.99-.26.75-.39,1.52-.39,2.31,0,.94.14,1.73.42,2.37.28.64.67,1.15,1.16,1.54.49.39,1.07.68,1.73.85.66.17,1.39.26,2.18.26h3.26c-.02.77-.19,1.39-.5,1.88-.32.48-.75.85-1.3,1.11-.55.26-1.2.43-1.95.52s-1.58.13-2.48.13h-.9v2.4h1.21c1.21,0,2.31-.1,3.3-.29.99-.19,1.84-.52,2.55-.98.71-.46,1.28-1.08,1.69-1.85.41-.77.66-1.74.73-2.91h2.08s0,0,0,0h0s15.84,0,15.84,0h1.24c.35,0,.67-.01.98-.04.31-.03.61-.1.9-.2.29-.11.56-.27.82-.49.26-.22.51-.52.76-.91.98.73,1.93,1.25,2.86,1.56.92.31,1.84.46,2.74.46,1.06,0,1.94-.21,2.64-.62s1.24-.99,1.6-1.72v.06c.33.69.76,1.18,1.3,1.47.54.29,1.17.43,1.91.43,0,0,0,0,.01,0,0,0,0,0,.01,0h2.05c1.19,0,2.17-.12,2.93-.35.76-.23,1.31-.74,1.66-1.53.15.54.46.99.91,1.34.45.36,1.05.53,1.8.53,0,0,0,0,0,0h6.87v-20.6h-2.37v18.21ZM211.12,106.88h-3.09c-1.1,0-1.93-.23-2.5-.69-.57-.46-.85-1.18-.85-2.16,0-.44.07-.88.2-1.33.13-.44.33-.84.59-1.2.26-.36.59-.64,1-.87.4-.22.88-.33,1.44-.33,1.17,0,2,.42,2.48,1.27.48.85.72,1.98.72,3.41v1.9ZM243.49,106.5c-.49.46-1.14.69-1.95.69-.73,0-1.45-.14-2.15-.42-.7-.28-1.41-.65-2.12-1.11.6-1.79,1.23-3.04,1.9-3.75.67-.71,1.41-1.07,2.22-1.07.46,0,.86.09,1.21.27.35.18.64.43.88.74.24.31.42.66.55,1.07.13.41.19.82.19,1.24,0,1.1-.25,1.88-.74,2.34Z'/%3E%3Cpath class='cls-1' d='M278.51,100.14c-.42-.66-.99-1.18-1.69-1.56-.7-.38-1.56-.56-2.58-.56-.92,0-1.74.17-2.45.52-.71.35-1.31.81-1.79,1.39-.48.58-.85,1.24-1.1,1.98-.25.74-.38,1.5-.38,2.27,0,.96.14,1.77.42,2.42.28.65.65,1.18,1.12,1.57.47.39,1.03.68,1.67.85.64.17,1.34.26,2.09.26.83,0,1.52-.09,2.08-.26s1.01-.36,1.36-.58v.55c0,.88-.15,1.59-.46,2.11-.31.52-.74.91-1.29,1.18-.55.27-1.2.44-1.96.52-.76.08-1.6.11-2.52.11h-.89v2.4h1.21c1.29,0,2.45-.1,3.49-.29,1.04-.19,1.91-.55,2.63-1.08.71-.53,1.26-1.25,1.65-2.16.38-.91.58-2.09.58-3.54v-2.71c0-1.1-.09-2.1-.28-3.01-.18-.92-.48-1.7-.91-2.37ZM277.27,106.04c-.29.23-.71.44-1.27.63-.56.19-1.2.29-1.93.29-.96,0-1.74-.24-2.34-.71-.59-.47-.89-1.26-.89-2.35,0-.4.06-.82.19-1.24.13-.42.32-.81.58-1.15.26-.35.6-.63,1.01-.87.41-.23.92-.35,1.51-.35s1.07.12,1.47.36c.4.24.73.57.98.98.25.41.43.91.53,1.49.11.58.16,1.19.16,1.85v1.07Z'/%3E%3Cpath class='cls-1' d='M301.25,112.13c-.42,0-.79.15-1.08.45-.3.3-.45.66-.45,1.08s.15.78.45,1.08c.3.3.66.45,1.08.45s.78-.15,1.08-.45c.3-.3.45-.66.45-1.08s-.15-.78-.45-1.08c-.3-.3-.66-.45-1.08-.45Z'/%3E%3Cpath class='cls-1' d='M329.4,99.07c-1.14-.8-2.55-1.35-4.21-1.66-1.66-.31-3.54-.4-5.64-.29v2.16c.4-.02.8-.03,1.18-.04.38,0,.77-.01,1.15-.01-.48.17-.9.42-1.25.74-.36.32-.65.68-.88,1.1-.23.41-.4.87-.52,1.36-.12.49-.17.98-.17,1.46,0,.73.09,1.35.26,1.85.17.5.35.89.55,1.15h-4.59c-.5,0-.91-.08-1.24-.23-.33-.15-.59-.37-.78-.64-.19-.27-.32-.6-.39-.99-.07-.4-.1-.83-.1-1.31v-5.54h-2.37v6.61c0,.48-.06.86-.17,1.14s-.3.49-.56.63c-.26.14-.61.24-1.06.27-.44.04-.98.06-1.61.06h-10.53c-.92,0-1.68-.03-2.28-.09-.59-.06-1.07-.18-1.41-.36-.35-.18-.59-.45-.74-.81-.14-.36-.22-.83-.22-1.43v-3.61h-2.37v4.47c0,.77.1,1.42.29,1.95.19.53.51.96.97,1.3.45.34,1.05.58,1.79.74.74.15,1.67.23,2.78.23h11.75c.83,0,1.55-.02,2.16-.07.61-.05,1.14-.14,1.57-.27.43-.13.79-.32,1.08-.56.29-.24.52-.56.69-.97.15.54.46.99.92,1.34.46.36,1.07.53,1.82.53,0,0,0,0,0,0h17.66v-2.11c0-1.92-.3-3.55-.91-4.89s-1.48-2.41-2.63-3.2ZM325.34,104.84c-.06.36-.16.68-.32.98-.16.3-.37.55-.64.75-.27.2-.61.3-1.01.3h-.15c-.4-.02-.74-.12-.99-.3-.26-.18-.47-.41-.64-.69-.16-.28-.28-.59-.35-.94-.07-.35-.1-.69-.1-1.04,0-.98.19-1.78.56-2.39.37-.62.9-.92,1.57-.92.38,0,.71.09.98.26.27.17.49.41.66.72.17.31.3.66.38,1.05.08.4.12.8.12,1.23,0,.31-.03.64-.09,1ZM326.84,106.88c.17-.33.33-.75.46-1.26.13-.51.2-1.13.2-1.86,0-.31-.02-.64-.07-1s-.14-.71-.27-1.07c-.13-.36-.31-.7-.52-1.04-.21-.34-.48-.63-.81-.88,1.44.44,2.58,1.22,3.42,2.34.84,1.12,1.25,2.7,1.25,4.76h-3.67Z'/%3E%3Cpath class='cls-1' d='M340.06,91.78c-.42,0-.79.15-1.08.45-.3.3-.45.66-.45,1.08s.15.78.45,1.08c.3.3.66.45,1.08.45s.78-.15,1.08-.45c.3-.3.45-.66.45-1.08s-.15-.78-.45-1.08c-.3-.3-.66-.45-1.08-.45Z'/%3E%3Cpath class='cls-1' d='M361.73,88.67v18.21h-4.5c-.86,0-1.5-.28-1.89-.85-.39-.57-.59-1.34-.59-2.32v-15.04h-2.37v16.1c0,.48-.05.86-.16,1.14-.11.28-.25.49-.43.64-.18.14-.41.24-.68.27-.27.04-.58.06-.92.06h-2.3s0,0,0,0c-.27,0-.52-.07-.76-.22-.24-.14-.49-.36-.75-.65-.26-.29-.53-.66-.82-1.12s-.63-1.01-1.01-1.64l-3.46-5.74-2.22,1.38,3.06,4.53c.29.42.53.82.72,1.18.19.37.29.73.29,1.1,0,.39-.22.68-.65.88-.43.2-1.05.3-1.86.3h-5.17v2.4h4.39c.46,0,.92-.02,1.39-.06.46-.04.9-.13,1.31-.27s.79-.37,1.13-.68c.34-.31.61-.72.82-1.24.54.85,1.08,1.43,1.62,1.76.54.33,1.2.49,1.99.49h2.05c1.19,0,2.17-.12,2.93-.35.76-.23,1.31-.74,1.66-1.53.15.54.46.99.91,1.34.45.36,1.05.53,1.8.53h6.87v-20.6h-2.37Z'/%3E%3Cpath class='cls-1' d='M310.15,67.44c-1.18,1.18-1.77,2.58-1.77,4.2s.59,3.03,1.77,4.2c1.18,1.18,2.58,1.77,4.2,1.77s3.03-.59,4.2-1.77c1.18-1.18,1.77-2.58,1.77-4.2s-.59-3.03-1.77-4.2c-1.18-1.18-2.58-1.77-4.2-1.77s-3.03.59-4.2,1.77Z'/%3E%3Cpath class='cls-1' d='M295.18,57.69h66.75V24.23h-10.93v23.79h-9.57s0,0,0,0h-5.46c-.11-3.42-.6-6.68-1.47-9.79-.87-3.11-2.23-5.84-4.08-8.2-1.85-2.35-4.25-4.22-7.19-5.59-2.94-1.37-6.52-2.06-10.72-2.06-2.3,0-4.57.25-6.81.76-2.24.5-4.01.98-5.3,1.43v9.75c1.01-.28,2.02-.52,3.03-.72,1.01-.2,1.96-.36,2.86-.5.9-.14,1.71-.24,2.44-.29.73-.06,1.32-.08,1.77-.08,2.69,0,4.95.38,6.77,1.14,1.82.76,3.29,1.81,4.41,3.15,1.12,1.35,1.96,2.96,2.52,4.83.56,1.88.92,3.94,1.09,6.18h-142.07c-.62,0-1.21-.15-1.77-.46-.56-.31-1.16-.83-1.81-1.56-.65-.73-1.36-1.71-2.14-2.94-.79-1.23-1.71-2.75-2.77-4.54l-10.09-17.07-10.01,6.39,7.65,11.35c1.46,2.07,2.45,3.56,2.98,4.45.53.9.8,1.65.8,2.27,0,.56-.32,1.05-.97,1.47-.64.42-1.64.63-2.98.63h-16.64v9.67h14.63c2.19,0,4.22-.24,6.09-.71,1.88-.48,3.63-1.64,5.25-3.49.78.73,1.54,1.36,2.27,1.89.73.53,1.51.97,2.35,1.3.84.34,1.83.59,2.98.76,1.15.17,2.54.25,4.16.25h111.98Z'/%3E%3Cpath class='cls-1' d='M356.3,15.65c1.62,0,3.03-.59,4.2-1.77,1.18-1.18,1.77-2.58,1.77-4.2s-.59-3.03-1.77-4.2c-1.18-1.18-2.58-1.77-4.2-1.77s-3.03.59-4.2,1.77c-1.18,1.18-1.77,2.58-1.77,4.2s.59,3.03,1.77,4.2c1.18,1.18,2.58,1.77,4.2,1.77Z'/%3E%3C/svg%3E");
    --ico: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 55.03 120.27'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23ec455e; %7D .cls-2 %7B fill: %23da9028; %7D %3C/style%3E%3C/defs%3E%3Cpolygon class='cls-2' points='55.03 92.66 55.03 120.27 0 120.27 0 8.13 21.76 74.92 15.35 75.17 15.35 93.4 55.03 92.66'/%3E%3Cg%3E%3Cpolygon class='cls-1' points='13.38 .99 21.02 27.6 55.03 27.6 55.03 0 13.38 .99'/%3E%3Cpolygon class='cls-1' points='27.51 46.83 35.8 75.41 55.03 75.41 55.03 46.83 27.51 46.83'/%3E%3C/g%3E%3C/svg%3E");
    --pay: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1558.7 151.5'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23fff; %7D .cls-2 %7B fill: %23575756; %7D %3C/style%3E%3C/defs%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1-2'%3E%3Cpath class='cls-1' d='m12.8,0h270.3c7.05-.02,12.78,5.67,12.8,12.72,0,.03,0,.05,0,.08v125.9c.02,7.05-5.67,12.78-12.72,12.8-.03,0-.05,0-.08,0H12.8C5.75,151.52.02,145.83,0,138.78c0-.03,0-.05,0-.08V12.8C-.02,5.75,5.67.02,12.72,0c.03,0,.05,0,.08,0Z'/%3E%3Cpath class='cls-1' d='m328.9,0h270.3c7.05-.02,12.78,5.67,12.8,12.72,0,.03,0,.05,0,.08v125.9c.02,7.05-5.67,12.78-12.72,12.8-.03,0-.05,0-.08,0h-270.3c-7.05.02-12.78-5.67-12.8-12.72,0-.03,0-.05,0-.08V12.8C316.08,5.75,321.77.02,328.82,0c.03,0,.05,0,.08,0Z'/%3E%3Cpath class='cls-1' d='m645,0h270.3c7.05-.02,12.78,5.67,12.8,12.72,0,.03,0,.05,0,.08v125.9c.02,7.05-5.67,12.78-12.72,12.8-.03,0-.05,0-.08,0h-270.3c-7.05.02-12.78-5.67-12.8-12.72,0-.03,0-.05,0-.08V12.8c-.02-7.05,5.67-12.78,12.72-12.8.03,0,.05,0,.08,0Z'/%3E%3Cpath class='cls-1' d='m959.5,0h270.3c7.05-.02,12.78,5.67,12.8,12.72,0,.03,0,.05,0,.08v125.9c.02,7.05-5.67,12.78-12.72,12.8-.03,0-.05,0-.08,0h-270.3c-7.05.02-12.78-5.67-12.8-12.72,0-.03,0-.05,0-.08V12.8c-.02-7.05,5.67-12.78,12.72-12.8.03,0,.05,0,.08,0Z'/%3E%3Cpath class='cls-1' d='m1275.6,0h270.3c7.05-.02,12.78,5.67,12.8,12.72,0,.03,0,.05,0,.08v125.9c.02,7.05-5.67,12.78-12.72,12.8-.03,0-.05,0-.08,0h-270.3c-7.05.02-12.78-5.67-12.8-12.72,0-.03,0-.05,0-.08V12.8c-.02-7.05,5.67-12.78,12.72-12.8.03,0,.05,0,.08,0Z'/%3E%3Cpath class='cls-2' d='m71.9,45.5c-.9-4.9-4.2-6.5-8.2-6.5h-29.2l-.2,1.6c20.1,5.6,36.5,17.6,43.9,40.3l-6.3-35.4Zm8.2,46l-1.9-10.7c-3.8-11.1-13.1-21.4-23.6-26.1l14.7,61.1h19.1l28.5-76.8h-19.2l-17.6,52.5Zm50.9,24.4l11.3-76.9h-18.1l-11.3,76.9h18.1Zm49.4-78.2c-17.9,0-30.4,10.4-30.5,25.4-.1,11,8.9,17.1,15.8,20.8,7.1,3.7,9.4,6.2,9.4,9.6,0,5.1-5.7,7.4-10.8,7.4-7.3,0-11.2-1-17-4l-2.4-1.3-2.5,17.3c4.2,2.2,12,4.1,20.2,4.1,19,.1,31.3-10.3,31.5-26.2,0-8.8-4.9-15.3-15.3-20.9-6.3-3.5-10.1-6-10.1-9.6,0-3.2,3.3-6.6,10.4-6.6,4.67-.2,9.32.8,13.5,2.9l1.6.9,2.5-16.6c-5.18-2.11-10.71-3.19-16.3-3.2h0Zm48.6,1.3c-4.4,0-7.6,1.4-9.5,6.5l-26.8,70.4h19c3.1-9.5,3.8-11.5,3.8-11.5h23.1s.5,2.6,2.2,11.5h16.8l-14.6-76.9h-14Zm-8.4,49.6s1.5-4.4,7.2-21.4c-.1.1,1.5-4.4,2.4-7.3l1.3,6.6c3.4,18.3,4.1,22.2,4.1,22.2l-15-.1Z'/%3E%3Cpath class='cls-2' d='m729.6,68.9c.1,11.6,10.5,15.5,10.6,15.5-1.26,3.89-3.12,7.57-5.5,10.9-3.3,4.7-6.7,9.3-12.1,9.4s-7-3-13.1-3-8,3-13,3.1c-5.2.2-9.2-5.1-12.5-9.7-6.8-9.5-12-26.9-5-38.7,3.41-5.84,9.63-9.48,16.4-9.6,5.1-.1,10,3.3,13.1,3.3s9-4.1,15.2-3.5c5.74.18,11.09,2.98,14.5,7.6-.4.3-8.7,5-8.6,14.7h0Zm-10-28.5c3-3.36,4.49-7.81,4.1-12.3-4.5.42-8.68,2.53-11.7,5.9-2.6,2.9-4.8,7.5-4.2,11.9,4.55,0,8.87-2.01,11.8-5.5Zm40.1-5.6c2.25-.42,4.52-.72,6.8-.9,2.72-.29,5.46-.42,8.2-.4,3.72-.1,7.44.41,11,1.5,2.81.87,5.4,2.34,7.6,4.3,1.71,1.68,3.07,3.69,4,5.9,1.01,2.51,1.49,5.2,1.4,7.9.1,3.25-.58,6.47-2,9.4-1.28,2.64-3.12,4.96-5.4,6.8-2.39,1.91-5.15,3.31-8.1,4.1-3.32.92-6.75,1.39-10.2,1.4-2.82.02-5.63-.22-8.4-.7v29.8h-5s.1-69.1.1-69.1Zm5,34.8c1.3.39,2.64.62,4,.7,1.5.1,3.1.2,4.8.2,6.4,0,11.3-1.4,14.8-4.4s5.3-7.1,5.2-12.8c.04-2.41-.44-4.79-1.4-7-.89-1.92-2.23-3.6-3.9-4.9-1.81-1.32-3.84-2.3-6-2.9-2.54-.69-5.17-1.03-7.8-1-1.94,0-3.87.1-5.8.3-1.31.1-2.62.3-3.9.6v31.2h0Zm73.6,22.4c0,2,0,4,.1,6,.1,1.94.3,3.88.6,5.8h-4.7l-.7-7h-.2c-.69,1.05-1.49,2.03-2.4,2.9-1.02,1.01-2.16,1.88-3.4,2.6-1.41.84-2.92,1.48-4.5,1.9-1.79.48-3.64.72-5.5.7-2.22,0-4.42-.41-6.5-1.2-1.72-.72-3.28-1.78-4.6-3.1-1.18-1.28-2.09-2.77-2.7-4.4-.6-1.6-.9-3.29-.9-5-.2-5.6,2.73-10.84,7.6-13.6,5.1-3.2,12.7-4.7,22.9-4.6v-1.4c.02-1.51-.12-3.02-.4-4.5-.22-1.7-.8-3.34-1.7-4.8-.89-1.59-2.21-2.91-3.8-3.8-2.12-1.13-4.5-1.68-6.9-1.6-4.38.03-8.66,1.35-12.3,3.8l-1.6-3.6c2.13-1.5,4.49-2.61,7-3.3,2.44-.68,4.97-1.01,7.5-1,3-.11,5.99.51,8.7,1.8,2.1,1.06,3.89,2.64,5.2,4.6,1.31,1.89,2.2,4.04,2.6,6.3.48,2.27.71,4.58.7,6.9l-.1,19.6Zm-5-14.8c-2.8-.1-5.61,0-8.4.3-2.77.24-5.49.85-8.1,1.8-2.35.87-4.47,2.28-6.2,4.1-1.66,1.99-2.51,4.52-2.4,7.1,0,3.5,1,6.1,3.1,7.8,1.94,1.61,4.38,2.5,6.9,2.5,1.86.04,3.72-.23,5.5-.8,2.94-.94,5.48-2.84,7.2-5.4.79-1.11,1.43-2.32,1.9-3.6.31-.97.48-1.98.5-3v-10.8Zm14.7-23.1l13,32.3c.7,1.8,1.4,3.6,2,5.5s1.2,3.6,1.7,5.2h.2c.5-1.5,1.1-3.2,1.7-5.1s1.3-3.9,2.1-5.9l12.1-32.1h5.3l-14.7,36.5c-1.5,3.9-2.9,7.4-4.2,10.5-1.18,2.9-2.51,5.74-4,8.5-1.23,2.31-2.6,4.55-4.1,6.7-1.32,1.88-2.86,3.6-4.6,5.1-1.64,1.52-3.49,2.8-5.5,3.8-1.7.8-2.8,1.3-3.3,1.5l-1.7-4c1.46-.61,2.87-1.35,4.2-2.2,1.66-1,3.2-2.17,4.6-3.5,1.51-1.54,2.91-3.18,4.2-4.9,1.65-2.3,3.03-4.78,4.1-7.4.3-.7.51-1.44.6-2.2-.09-.76-.3-1.5-.6-2.2l-18.4-46.1h5.3Z'/%3E%3Cpath class='cls-2' d='m1057.3,45c.2-3.2-1.2-6-3.1-6.4h-68.7c-1.9.4-3.3,3.2-3.1,6.4h0c-.2,3.2,1.2,6,3.1,6.4h68.7c1.8-.4,3.2-3.2,3.1-6.4h0Zm-18.7,25.5c.2-3.2-1.2-6-3.1-6.4h-50c-1.9.4-3.3,3.2-3.1,6.4h0c-.2,3.2,1.2,6,3.1,6.4h50c1.8-.3,3.2-3.2,3.1-6.4h0Zm-18.8,25.6c.2-3.2-1.2-6-3.1-6.4h-31.2c-1.9.4-3.3,3.2-3.1,6.4h0c-.2,3.2,1.2,6,3.1,6.4h31.2c1.9-.4,3.3-3.2,3.1-6.4h0Z'/%3E%3Cpath class='cls-2' d='m502.3,25.2c-14.13-.09-27.87,4.59-39,13.3-11.13-8.71-24.87-13.39-39-13.3-32.3,0-58.5,23.4-58.5,52.2s26.2,52.2,58.5,52.2c14.13.09,27.87-4.59,39-13.3,11.13,8.71,24.87,13.39,39,13.3,32.3,0,58.5-23.4,58.5-52.2s-26.2-52.2-58.5-52.2Zm-112.3,64.6l3.4-18.9-7.7,18.9h-4.4v-18.9l-3.9,18.9h-5.8l4.8-25h8.7v15.5l6.3-15.5h9.2l-4.8,25h-5.8Zm27-5.1c-.24,1.32-.57,2.63-1,3.9v1.3h-4.8v-2.1c-1.3,1.7-3.4,2.6-6.3,2.6-1.39.09-2.76-.38-3.8-1.3-.99-1.21-1.52-2.73-1.5-4.3,0-2.6.8-4.4,2.4-5.6,2.47-1.48,5.32-2.21,8.2-2.1h2.4v-1.3c0-1.1-1.3-1.7-3.9-1.7-2.12.1-4.23.4-6.3.9.3-1.1.6-2.6,1-4.3,2.18-.79,4.48-1.23,6.8-1.3,5.5,0,8.2,2,8.2,6-.02,1.31-.19,2.62-.5,3.9-.2,1.81-.5,3.62-.9,5.4h0Zm17.4-10.4c-1.41-.33-2.86-.47-4.3-.4-1.9,0-2.9.6-2.9,1.7-.05.49.14.97.5,1.3l1.9.9c2.9,1.4,4.3,3.3,4.3,5.6,0,4.6-3.1,6.9-9.2,6.9-2.11.07-4.22-.07-6.3-.4.4-1.6.7-3.1,1-4.7,1.74.45,3.51.75,5.3.9,2.2,0,3.4-.6,3.4-1.7.03-.49-.15-.96-.5-1.3-.71-.59-1.52-1.03-2.4-1.3-2.9-1.1-4.3-3-4.3-5.6,0-4.6,2.9-6.9,8.7-6.9,1.94-.07,3.89.07,5.8.4l-1,4.6Zm12.5.5h-3.4c.03,1.32-.14,2.63-.5,3.9-.01.57-.08,1.14-.2,1.7-.08.62-.32,1.2-.7,1.7v1.7c0,1.1.6,1.7,1.9,1.7.65-.03,1.29-.16,1.9-.4l-1,4.7c-1.41.33-2.86.47-4.3.4-3.2,0-4.8-1.4-4.8-4.3.03-1.91.37-3.8,1-5.6l2.4-13.8h5.8l-.5,3h2.9l-.5,5.3Zm18.8,6.8h-12c-.09,1.09.27,2.18,1,3,1.24.92,2.76,1.38,4.3,1.3,2.2-.12,4.34-.69,6.3-1.7l-1,5.2c-2.04.61-4.17.91-6.3.9-6.8,0-10.1-3-10.1-9,0-3.7,1-6.6,2.9-8.6,3.41-4.01,9.39-4.59,13.5-1.3,1.4,1.35,2.1,3.27,1.9,5.2.08,1.68-.09,3.37-.5,5h0Zm9.7-3.8c-1.11,3.97-1.91,8.01-2.4,12.1h-6.3l.5-1.3c1.3-8,2.2-14.3,2.9-18.9h5.8l-.5,3c.63-1.18,1.66-2.1,2.9-2.6.74-.81,1.96-.98,2.9-.4-.3.3-1.1,2.3-2.4,6-1.3-.4-2.4.3-3.4,2.1Zm21.7,11.6c-1.7.6-3.5.9-5.3.9-2.87.11-5.66-.98-7.7-3-1.9-1.7-2.9-4.3-2.9-7.8-.12-3.95,1.24-7.8,3.8-10.8,2.3-2.9,5.5-4.3,9.7-4.3,2.31.13,4.6.57,6.8,1.3l-1,5.2c-1.67-.77-3.47-1.21-5.3-1.3-2.25-.17-4.43.81-5.8,2.6-1.3,1.4-1.9,3.7-1.9,6.9-.13,1.56.37,3.11,1.4,4.3.96,1.15,2.4,1.78,3.9,1.7,1.83-.09,3.63-.53,5.3-1.3l-1,5.6h0Zm21.5-12.5c-.12.69-.18,1.4-.2,2.1-.3,1.5-.7,3.4-1,5.8-.19,1.69-.52,3.37-1,5h-4.8v-2.1c-1.3,1.7-3.4,2.6-6.3,2.6-1.42.08-2.81-.39-3.9-1.3-.99-1.21-1.52-2.73-1.5-4.3,0-2.6.8-4.4,2.4-5.6,2.31-1.43,4.98-2.16,7.7-2.1h2.4c.33-.35.5-.82.5-1.3,0-1.1-1.3-1.7-3.8-1.7-2.12.1-4.23.4-6.3.9.08-1.48.42-2.94,1-4.3,2.18-.79,4.48-1.23,6.8-1.3,5.5,0,8.2,2,8.2,6-.02.54-.09,1.07-.2,1.6h0Zm9.4.9c-.7,1.7-1.4,5.7-2.4,12.1h-6.3l.5-1.3c1.3-6.3,2.2-12.6,2.9-18.9h5.8c.03,1.02-.14,2.04-.5,3,.63-1.18,1.66-2.1,2.9-2.6.87-.53,1.92-.67,2.9-.4-1.38,1.71-2.22,3.8-2.4,6-1.3-.4-2.4.4-3.4,2.1Zm16.4,12l.5-1.7c-1.34,1.5-3.3,2.28-5.3,2.1-2.6,0-4.3-.7-5.3-2.1-1.47-1.66-2.31-3.78-2.4-6-.11-3.33,1.11-6.57,3.4-9,1.51-2.25,4.09-3.55,6.8-3.4,2.19.1,4.27,1.03,5.8,2.6l1-7.3h6.3l-4.8,25-6-.2Zm-138.9-6c0,1.4.6,2.1,1.9,2.1,1.12.09,2.22-.4,2.9-1.3,1.04-1.02,1.59-2.44,1.5-3.9h-1.5c-3.2.1-4.8,1.1-4.8,3.1Zm54.5-9.5c-.37-.03-.72-.17-1-.4h-1c-1.9,0-3.2,1.1-3.9,3.4h6.8v-1.3l-.5-.9c-.07-.29-.21-.57-.4-.8Zm45.8,9.5c0,1.4.6,2.1,1.9,2.1,1.12.09,2.22-.4,2.9-1.3,1.04-1.02,1.59-2.44,1.5-3.9h-1.5c-3.2.1-4.8,1.1-4.8,3.1Zm37.2-9.5c-1.41.1-2.68.89-3.4,2.1-.7.9-1,2.4-1,4.7,0,2.6,1,3.9,2.9,3.9,1.33-.04,2.57-.66,3.4-1.7,1.11-1.49,1.61-3.35,1.4-5.2,0-2.5-1.1-3.8-3.3-3.8h0Z'/%3E%3Cpath class='cls-2' d='m1396.5,39.7v31.8h-90.2v-31.8h90.2Z'/%3E%3Cpath class='cls-2' d='m1519.6,55.5c-.39,1.66-.9,3.3-1.5,4.9-.8,1.78-2.08,3.3-3.7,4.4-1.55.98-3.29,1.63-5.1,1.9-2.86.41-5.78.1-8.5-.9-1-.17-2.02-.13-3,.1-1.1.1-2.2.3-3.3.3h-32.7l.8-5.5c4.4.1,8.7-.2,13.1.2v-8.6c.1-2.03-.62-4.01-2-5.5-.84-.78-1.95-1.21-3.1-1.2h-6.5l.8-5.5c.1,0,.2-.1.4-.1,2.6,0,5.2-.1,7.8.1,3.95.28,7.36,2.87,8.7,6.6.85,2.23,1.26,4.61,1.2,7v6.8h13c.19-.55.29-1.12.3-1.7v-11.1c0-3.7,1.6-5.9,5-6.9,1.4-.4,2.8-.7,4.3-1h3.2c1.2.3,2.4.6,3.6,1,2.22.88,4.06,2.5,5.2,4.6.99,1.8,1.63,3.77,1.9,5.8l.1,4.3Zm-16.4,4.6c1.66.16,3.33.23,5,.2,1.89-.03,3.5-1.36,3.9-3.2.83-2.56.87-5.32.1-7.9-.41-1.88-2.08-3.21-4-3.2h-1.7c-1.3.02-2.57.37-3.7,1,.6,4.4.2,8.6.4,13.1Z'/%3E%3Cpath class='cls-2' d='m1519.6,114.9c-1-.2-2.1-.3-3.1-.5-2.05-.58-4.2-.72-6.3-.4-1.74.39-3.52.52-5.3.4-3.95.03-7.17-3.15-7.2-7.1h0c-.01-.44.02-.87.1-1.3.3-4,3-6.1,6.9-6.6,2.5-.3,5-.2,7.5-.4h.5c.3-2.3,0-4.3-2.6-4.6-3.24-.2-6.48.31-9.5,1.5-.41.09-.82.22-1.2.4l-.8-5.5c.98-.24,1.95-.54,2.9-.9,2.82-1.01,5.8-1.49,8.8-1.4,1.36,0,2.7.2,4,.6,2.99.89,5.08,3.58,5.2,6.7-.03.17,0,.35.1.5v18.6Zm-6.8-11.3c-2.1-.2-4.22-.1-6.3.3-1.22.46-1.96,1.7-1.8,3-.01,1.27.94,2.35,2.2,2.5.73.1,1.47.1,2.2,0,1.3-.2,2.5-.5,3.8-.8l-.1-5Z'/%3E%3Cpath class='cls-2' d='m1306.2,114.8v-31.7h90.2v31.8s-90.2-.1-90.2-.1Z'/%3E%3Cpath class='cls-2' d='m1427.9,40.4c-.2,1.8-.5,3.6-.7,5.4h-.7c-2.3,0-4.5,0-6.8.1s-3.5,1.6-4.3,3.7c-.5,1.92-.7,3.91-.6,5.9-.13,1.65.04,3.31.5,4.9.37,1.06,1.07,1.97,2,2.6.95.61,2.07.92,3.2.9h27.3c.69.02,1.37-.11,2-.4,1.76-.95,2.43-3.13,1.5-4.9-.26-.49-.64-.9-1.1-1.2-.44-.31-.96-.49-1.5-.5-2.3-.1-4.6,0-6.8-.1-1.21-.03-2.41-.17-3.6-.4-3.07-.79-5.24-3.53-5.3-6.7-.24-2.13.25-4.29,1.4-6.1,1.12-1.57,2.8-2.65,4.7-3,1.68-.38,3.38-.61,5.1-.7,4.9-.1,9.9,0,14.8,0h.7c-.3,1.9-.5,3.7-.8,5.6h-15.6c-1.13-.13-2.25.37-2.9,1.3-.63,1.07-.67,2.39-.1,3.5.53,1.05,1.63,1.68,2.8,1.6h7.3c4.46-.13,8.17,3.38,8.3,7.83,0,.02,0,.04,0,.07v1.1c-.13,1.41-.47,2.79-1,4.1-.39.91-1.01,1.7-1.8,2.3-1.65,1.3-3.7,1.98-5.8,1.9-7.4.1-14.8.1-22.2.1-3.1,0-6.2.1-9.2,0-1.32,0-2.64-.21-3.9-.6-3.64-1.11-6.29-4.23-6.8-8-.8-3.69-.8-7.51,0-11.2.52-3.15,2.38-5.93,5.1-7.6,1.28-.76,2.72-1.24,4.2-1.4,3.5-.2,6.9-.2,10.4-.2-.1,0,.1.1.2.1Z'/%3E%3Cpath class='cls-2' d='m1441.8,114.1h-7v-15.7c-.02-.54-.09-1.07-.2-1.6-.15-1.07-1.02-1.9-2.1-2-1.54-.17-3.09.07-4.5.7.4,6,.1,11.9.2,17.8v.7h-7v-15.8c-.02-.51-.08-1.01-.2-1.5-.19-1.16-1.23-1.98-2.4-1.9-1.31.03-2.61.17-3.9.4v18.8h-7.2c0-.2-.1-.4-.1-.6v-19.4c-.19-1.93,1.1-3.69,3-4.1,3.84-1.41,8.01-1.69,12-.8.97.3,1.91.7,2.8,1.2,1.28-.47,2.58-.87,3.9-1.2,2.26-.58,4.62-.62,6.9-.1,3.25.56,5.66,3.31,5.8,6.6.1,1.6.1,3.2.1,4.8v13.1l-.1.6Z'/%3E%3Cpath class='cls-2' d='m1493.9,77.3v31.7c0,2.4-.8,3.6-3.1,4.2-1.64.44-3.31.77-5,1-1.02.18-2.07.22-3.1.1-1.81-.2-3.58-.6-5.3-1.2-3.4-1.5-5.2-4.5-5.8-8-.52-3.06-.38-6.2.4-9.2.99-4.23,4.76-7.21,9.1-7.2,1.68.08,3.36.31,5,.7.24.02.48.09.7.2v-11l7.1-1.3Zm-7.2,17.8l-3.2-.6c-2.09-.29-4.09.98-4.7,3-.58,1.98-.72,4.06-.4,6.1.12,1.34.6,2.62,1.4,3.7,1.7,2,4.4,1.7,6.8,1l.1-13.2h0Z'/%3E%3Cpath class='cls-2' d='m1460.9,99c-.08-1.09-.31-2.17-.7-3.2-.44-.6-1.08-1.02-1.8-1.2-1.6-.6-3.2-.2-4.8.1-1.9.4-3.8,1-5.8,1.5l-.6.2c-.3-1.9-.5-3.6-.8-5.5.7-.2,1.3-.4,1.9-.6,3.12-1.21,6.45-1.79,9.8-1.7,1.18.02,2.36.19,3.5.5,3.31.69,5.69,3.61,5.7,7,.1,6.2.1,12.4.1,18.6v.4c-1-.2-2.1-.3-3.1-.6-2.04-.63-4.2-.77-6.3-.4-1.74.39-3.52.52-5.3.4-3.92.06-7.14-3.06-7.2-6.98,0-.04,0-.08,0-.12-.02-.4.02-.81.1-1.2.3-4.2,3.2-6.3,7.4-6.8,2.3-.2,4.7-.2,7.1-.3l.8-.1Zm-.2,4.3c-2.2.2-4.2.3-6.2.6-1.28.28-2.11,1.51-1.9,2.8-.06,1.31.9,2.44,2.2,2.6.73.1,1.47.1,2.2,0,1.3-.2,2.6-.5,3.8-.8l-.1-5.2Z'/%3E%3Cpath class='cls-2' d='m1096.9,59.8h-2.5c-.7.02-1.4-.01-2.1-.1l.1.4c1.1,4.4-2.9,7-7.4,7s-9.7-2.5-10.7-6.9l-2.5-11.1h6l2.5,11c.4,1.6,2.5,2.3,3.6,2.3s2.8-.7,2.5-2.3l-5.9-25.4h6.1l4.6,19.9c.47.81,1.37,1.28,2.3,1.2h2.5l.9,4Z'/%3E%3Cpath class='cls-2' d='m1104.5,59.8h-8.5l-.9-4.1h8.5l.9,4.1Z'/%3E%3Cpath class='cls-2' d='m1112,59.8h-8.5l-.9-4.1h8.5l.9,4.1Z'/%3E%3Cpath class='cls-2' d='m1110.5,55.8h3.4c1.3,0,1.6-.8,1.4-1.7l-2.7-11.8h6.1l2.6,11.4c1.1,4.5-1.2,6.2-6.3,6.2h-3.6l-.9-4.1Zm6.9,9.1c-.43-1.34-1.69-2.24-3.1-2.2-1.4,0-2.3.9-2,2.2.41,1.31,1.63,2.2,3,2.2.98.19,1.93-.46,2.12-1.44.05-.25.04-.51-.02-.76Zm6.7,0c-.43-1.34-1.69-2.24-3.1-2.2-1.4,0-2.3.9-2,2.2.41,1.31,1.63,2.2,3,2.2,1.4,0,2.4-.9,2.1-2.2Z'/%3E%3Cpath class='cls-2' d='m1141.7,55.8h4.6l1,4.1h-4.6c1.2,5.4-2.5,7.3-7,7.3-2.27-.06-4.51-.53-6.6-1.4l.6-3.9c1.41.66,2.94,1,4.5,1,1.6,0,3.1-.9,2.7-2.6l-.1-.4h-2.8c-4.1,0-8-3-9.2-8.1-1.3-5.9,1-9.4,7.2-9.4,2.37-.08,4.72.36,6.9,1.3l2.8,12.1Zm-8.2-9.9c-.39-.13-.79-.2-1.2-.2-2.1,0-2.6,1.3-1.7,5.1s2,4.9,4,4.9h1.2l-2.3-9.8Z'/%3E%3Cpath class='cls-2' d='m1154.9,59.8h-8.5l-.9-4.1h8.5l.9,4.1Z'/%3E%3Cpath class='cls-2' d='m1162.3,59.8h-8.5l-.9-4.1h8.5l.9,4.1Z'/%3E%3Cpath class='cls-2' d='m1169.8,59.8h-8.5l-.9-4.1h8.5l.9,4.1Z'/%3E%3Cpath class='cls-2' d='m1179.4,55.8l-1.8-7.9c-.4-1.4-1.4-1.9-3.1-1.9-1.54,0-3.05.37-4.4,1.1l-2-3.4c2.22-.89,4.6-1.33,7-1.3,4.2,0,7.7,1.8,8.9,6.6l1.6,6.9h1.9l1,4.1h-19l-.9-4.1s10.8-.1,10.8-.1Z'/%3E%3Cpath class='cls-2' d='m1185.4,39.2c-1.39.05-2.63-.86-3-2.2-.26-.99.34-2,1.33-2.25.22-.06.45-.07.67-.05,1.43,0,2.69.93,3.1,2.3.3,1.2-.7,2.2-2.1,2.2Zm2.5,20.6h3.6c5.1,0,7.3-1.7,6.3-6.2l-2.6-11.4h-6.1l2.7,11.8c.2.9-.1,1.7-1.4,1.7h-3.4l.9,4.1Zm4.2-20.6c-1.39.05-2.63-.86-3-2.2-.26-.99.34-2,1.33-2.25.22-.06.45-.07.67-.05,1.43,0,2.69.93,3.1,2.3.3,1.2-.7,2.2-2.1,2.2Z'/%3E%3Cpath class='cls-2' d='m1044,90.8h7.3l3.1,13.3c.5,1.9,2.6,2.7,4,2.7h10.6c2.8,0,3.6-.9,3-3.7h-.8c-5.4,0-9.4-2.7-11.3-6.8l6.8-2.2c.6,2.8,1.4,4,3.3,4h11.1l1.2,4.9h-3.2c1.4,6.3-2.3,8.7-7.8,8.7h-12.4c-5.5,0-10.8-3.1-12-8.4l-2.9-12.5Zm18,29.8c-1.67.03-3.17-1.02-3.7-2.6-.27-1.2.48-2.39,1.67-2.66.24-.05.48-.07.73-.04,1.7-.02,3.21,1.08,3.7,2.7.5,1.5-.7,2.6-2.4,2.6Zm8.1,0c-1.66,0-3.14-1.04-3.7-2.6-.27-1.2.48-2.39,1.67-2.66.24-.05.48-.07.73-.04,1.7-.02,3.21,1.08,3.7,2.7.5,1.5-.7,2.6-2.4,2.6Z'/%3E%3Cpath class='cls-2' d='m1079.9,98.3h13.9l-1.6-7.2c-.4-1.7-1.7-2.3-3.7-2.3-1.75.07-3.48.44-5.1,1.1h0l-1.4,1.1-2.8-4.8,13.9-13.8,3.8,6.5-6.7,5.5c4.6.3,8.3,2.5,9.5,8l1.4,5.9h2.4l1.2,4.9h-23.7l-1.1-4.9Z'/%3E%3Cpath class='cls-2' d='m1113.9,103.2h-10.2l-1.1-4.9h10.2l1.1,4.9Z'/%3E%3Cpath class='cls-2' d='m1122.9,103.2h-10.2l-1.1-4.9h10.2l1.1,4.9Z'/%3E%3Cpath class='cls-2' d='m1131.9,103.2h-10.2l-1.1-4.9h10.2l1.1,4.9Z'/%3E%3Cpath class='cls-2' d='m1140.8,103.2h-10.2l-1.1-4.9h10.2l1.1,4.9Z'/%3E%3Cpath class='cls-2' d='m1149.8,103.2h-10.2l-1.1-4.9h10.2l1.1,4.9Z'/%3E%3Cpath class='cls-2' d='m1158.8,103.2h-10.2l-1.1-4.9h10.2l1.1,4.9Z'/%3E%3Cpath class='cls-2' d='m1167.8,103.2h-10.2l-1.1-4.9h10.2l1.1,4.9Z'/%3E%3Cpath class='cls-2' d='m1183.1,103.2c-2.49.11-4.96-.52-7.1-1.8-1,.9-2.9,1.8-6.6,1.8h-2.3l-1.1-4.9h4.2c.63.07,1.26-.15,1.7-.6l-3.6-15.7h7.3l3.2,14.1c.29,1.39,1.58,2.34,3,2.2h2.5l1.2,4.9h-2.4Zm-9.7-27.6c-.46-1.65-1.99-2.76-3.7-2.7-1.24-.11-2.33.81-2.44,2.04-.02.22,0,.44.04.66.49,1.57,1.95,2.63,3.6,2.6,1.7,0,2.9-1.1,2.5-2.6Z'/%3E%3Cpath class='cls-2' d='m1184.1,98.3h4.1c1.6,0,2-1,1.7-2l-3.3-14.2h7.3l3.1,13.7c1.3,5.4-1.5,7.4-7.6,7.4h-4.3l-1-4.9Zm12.8,11c-.56-1.62-2.09-2.71-3.8-2.7-1.7,0-2.8,1.2-2.4,2.7.49,1.62,2,2.72,3.7,2.7,1.7-.1,2.8-1.2,2.5-2.7Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    --cart: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 67.14 84.59'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23da9028; %7D %3C/style%3E%3C/defs%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1-2'%3E%3Cg id='Layer_2-2' data-name='Layer 2-2'%3E%3Cpath class='cls-1' d='m33.56,47.43c-8.07,0-15.02-5.68-16.61-13.59-.21-1.56.9-3,2.46-3.2,1.5-.2,2.9.81,3.18,2.3,1.28,6.1,7.26,10,13.35,8.73,4.38-.92,7.81-4.34,8.73-8.73.25-1.56,1.71-2.62,3.27-2.37s2.62,1.71,2.37,3.27c-1.6,7.96-8.63,13.67-16.75,13.59Z'/%3E%3Cpath class='cls-1' d='m58.66,84.59H8.47C3.8,84.6,0,80.81,0,76.14h0c0-.14,0-.29.01-.43L2.29,27.1c.2-4.53,3.93-8.1,8.46-8.09h45.63c4.53,0,8.26,3.56,8.46,8.09l2.29,48.61c.23,4.67-3.36,8.64-8.03,8.87h0c-.15,0-.3.01-.44.01ZM10.75,24.67c-1.56,0-2.82,1.26-2.82,2.82l-2.29,48.5c-.08,1.56,1.12,2.88,2.67,2.96,0,0,0,0,.01,0h50.33c1.56,0,2.82-1.26,2.82-2.82v-.14l-2.29-48.61c0-1.56-1.26-2.82-2.82-2.82l-45.62.12Z'/%3E%3Cpath class='cls-1' d='m50.48,21.85h-5.64v-4.93c0-6.23-5.05-11.28-11.28-11.28s-11.28,5.05-11.28,11.28v4.93h-5.64v-4.93C16.65,7.57,24.22,0,33.56,0s16.92,7.57,16.92,16.92v4.93Z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

:root {
    --con1: "\a       يتم تحديث أسعار الذهب بشكل لحظي ودقيق تلقائياً ";
    --con2: "\a        تقدم مجوهرات نجد توصيل مجاني لجميع مناطق المملكة  ";
    --con3: "\a     دعم فني على مدار 24 ساعة لخدمة عملائنا على أكمل وجه  ";
}



 
