/* Grid layout for mobile devices */
@media (max-width: 768px) {
    section[section-id="6862d57f-fd34-4360-9dfc-fc8cf5af0cdd"] .flickity-viewport {
        overflow: visible;
        /* Allow overflow for grid */
        height: auto;
        /* Adjust height for grid */
        /* height: 394px !important; */
        display: initial;
    }

    section[section-id="6862d57f-fd34-4360-9dfc-fc8cf5af0cdd"] .flickity-slider {
        display: grid !important;
        grid-template-columns: repeat(2, 1fr);
        /* Two items per row */
        gap: 10px;
        /* Space between grid items */
        transform: none !important;
        /* Remove transform */
        position: static !important;
        /* Reset position */
    }

    section[section-id="6862d57f-fd34-4360-9dfc-fc8cf5af0cdd"] .filickity-item {
        width: 100% !important;
        /* Full width for grid items */
        position: static !important;
        /* Reset position */
        transform: none !important;
        /* Reset transform */
        margin: 0 !important;
        /* Reset margin */
    }

/*     section[section-id="6862d57f-fd34-4360-9dfc-fc8cf5af0cdd"] .flickity-slider:before, .flickity-slider:after {
        display: none;
    }

    section[section-id="6862d57f-fd34-4360-9dfc-fc8cf5af0cdd"] .flickity-slider:before, .flickity-slider:after {
        display: none;
    }

    section[section-id="6862d57f-fd34-4360-9dfc-fc8cf5af0cdd"] .slick-slide.slick-cloned {
        display: none !important;
    } */

     
}
