@media(max-width: 992px) {
    body > header > div > div > div.col-lg-4.header-row.logo-wrapper > h1,body > header > div > div > div.col-lg-4.header-row.logo-wrapper > div > a {
        display: flex;
        justify-self: center;
        position: relative;
        right: 15vw;
    }
}

.product-add:before {
    content: 'أضفِ للسلة';
}

body.salla-theme_1 .product .product-footer {
    border-top: 0;
    margin-top: 0.5rem;
}

a.product-add.add_to_cart_btn {
    text-align: center;
    display: block;
    border: 1px solid var(--color-main);
    border-radius: 16px;
    margin: 0 15px;
    font-size: 18px;
    color: white;
    background: var(--color-main);
    margin-bottom: 15px;
    padding: 3px;
}

.product .product-footer {
    margin: 10px 0 0!important;
    display: block;
}
