body, .banner-entry ,.bg-white{
     background-color: #184c4a !important;
    color: var(--1);
}


حسبى الله ونعم الوكيل هذا العميل اكل حقى ف العمل ولم يدفع لى التكلفة ف منه لله وحسبى الله ونعم الوكيل 