body {
    line-height: 1.5;
    font-size: 17px;
    color: #4b4b4b;
    background-color: #ffffff;
}

body {
    background-color: #19302817;
}

.categories-grid .categories-slider-item.col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 8%;
    max-width: 50%;
}

.col-md-3.col-lg-2.block-logos-section {
    background: transparent !important;
}

.product-box .card-bottom .card-btn {
    font-size: 14px;
    font-weight: 700;
    width: 120px!important;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 5px;
    height: 33px;
}

.card-rating {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: -1px;
    margin-bottom: 14px;
}

.row.products-list .product-box.block-product .product-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.card-bottom.d-flex {
    display: flex !important;
    flex-direction: column;
    align-items: center;
}

i.svg-icon.card-add-icon,i.svg-icon.card-outstock-icon {
    display: none;
}

.products-list .block-product .mt-2.price, .product-box .mt-2.price {
    margin-top: 16px !important;
}

.product-box .card-bottom .card-btn.quick-cart span,.product-box .card-bottom .card-btn.out-stock span {
    font-size: 0;
}

.product-box .card-bottom .card-btn.quick-cart span:before {
    font-size: 0.875rem;
    content: ' أضف للسلة ';
}

.product-box .card-bottom .card-btn.out-stock span:before {
    font-size: 0.875rem;
    content: ' نفذت الكمية  ';
}

.product-box .card-bottom .card-btn.quick-cart span, .product-box .card-bottom .card-btn.out-stock span {
    width: 100%;
    text-align: center;
}

.product-box .label-block {
    direction: ltr;
    position: absolute;
    left: -7px;
    top: 11rem;
    margin: 0 8px;
    padding: 0;
    right: auto;
    color: #fff;
    border-radius: 3px;
    background-color: var(--label-color);
    height: 20px;
    width: 50px;
    font-weight: 400;
    font-size: 12px;
    overflow: hidden;
    box-sizing: content-box;
}

.col-md-6.mt-2.mt-md-4.text-start.p-0.product-info-block.in-stock {
    margin-bottom: 0px;
    padding: 40px 30px 50px;
    background: #fff;
    /* display: flex; */
}

h1.title-p-q.product-name {
    text-align: center;
    font-size: 2rem;
}

.product-main-block .product-info-block .short-description {
    margin: 15px 30px;
    font-size: 12px;
    text-align: center;
}

.product-info-block .block-price-w {
    margin: auto;
    justify-content: center !important;
}

.sbsi7l-0.bmZSoU,sbsi7l-0 evMtho,sc-1au8ryl-0 dmopMx,#gb-widget-1989 > div.sbsi7l-0.bmZSoU > div > span,.sc-1au8ryl-0.dmopMx {
    display: none !important;
}

[id*="gb-widget"] {
    bottom: 52px !important;
    position: relative;
}

div:nth-child(2n+1)>svg[xmlns="http://www.w3.org/2000/svg"]:nth-child(2n+1) {
    filter: brightness(0);
    display: none
}

[id*="gb-widget"] a[href="https://wa.me/966538361647"].jfKmYd {
    display: none;
}

[id*="gb-widget"] a[href="https://wa.me/966538361647"].hrNwue {
    display: block;
    flex-shrink: 0;
    opacity: 1;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-radius: 0;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    width: 60px;
    order: 2;
    padding: 5px;
    box-sizing: border-box;
    cursor: pointer;
    overflow: hidden;
    box-shadow: rgba(136, 136, 136, 0.4) 0px 1px 7px;
    transition: all 0.5s ease 0s;
    position: relative;
    z-index: 200;
    text-decoration: none !important;
    background-color: rgb(77, 194, 71) !important;
    background-color: #0ec12f !important;
    bottom: 25vh;
    right: -23px;
    left: auto;
}

.col-md-6.mt-2.mt-md-4.text-start.p-0.product-info-block.in-stock:after {
    background: url(https://media.zid.store/15c6b6ec-e71a-45d2-9f35-f65b7f2e1a56/eb1cb7ed-5c76-46c9-bd4c-5f51652302a1.svg);
    content: '';
    /* width: 100%; */
    height: 227px;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    /* position: relative; */
    /* right: 33px; */
    /* top: 15px; */
}

#side-menu > div > div.px-3.side-menu-links > ul > li:nth-child(n+2) {
    display: none;
}

.footer .block-vat {
    background-color: #ffffff1c;
}

.footer .block-vat p, .footer .block-vat a,.footer .block-vat .number, .footer .block-vat a {
    color: #fff!important;
}

:root {
    --primary-color: #464a62 !important;
    --second-color: #ffffff !important;
    --primary-transparent: #4a446612 !important;
    --body-color: #fafafa !important;
    --btn-color: #464a62 !important;
    --card-color: #fff !important;
    --header-color: #ffffff !important;
    --sticky-header-color: #464a62 !important;
    --header-icons: #464a62 !important;
    --sticky-header-icons: #ffffff !important;
    --font-weight: 500;
    --loadMore-font-weight: 700;
    --footer-bgcolor: #464a62 !important;
    --footer-txtcolor: #ffffff;
    --footer-boxbgcolor: #fff;
    --product-bgcolor: #fafafa;
    --desc-bgcolor: #fff;
    --reviews-bgcolor: #fff;
    --cart-bgcolor: #fafafa;
    --cart-boxbgcolor: #fff;
    --label-color: #464a62 !important;
    --card-image-size: contain;
}

@media (min-width: 767px) {
    body > div.home > section:nth-child(n+5) .swiper-wrapper {
        width: 43%;
    }
}
