/* develope By Package +201002241591  3lwaaa@gmail.com - https://wa.me/201002241591 */
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap'); @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css"); .sicon-cart:before {
    content: "\f179";
    font-family: "Noto Kufi Arabic","bootstrap-icons"!important;
}

:root {
    --main-color: #8661a3;
    --infinte-color: #8661a3;
    --main-text-color: #664183;
    --main-text-color2: #2c0749;
    --main-text-color-dark: #fed04b;
    --color-main: #8661a3;
    --color-main-d: #fed04b;
    --color-main-l: #fed04b;
    --color-main-reverse: #fed04b;
    --color-text: #5a5a5a;
    --color-text-reverse: #fed04b;
    --color-title: #fed04b;
    --color-bg: #8661a3;
    --color-ff: #fff;
    --bgimg: #fff;
    --logo: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 369.47 118.31'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23fff; %7D .cls-2 %7B fill: %23fed04b; %7D %3C/style%3E%3C/defs%3E%3Cg%3E%3Cpath class='cls-2' d='m259.66,118.31h-21.7V0c.27.13.52.22.75.35,21.29,12.29,42.59,24.57,63.87,36.89.85.49,1.44.48,2.29,0,21.15-12.03,42.32-24.02,63.49-36.03.3-.17.61-.33,1.04-.56.03.36.06.62.06.88,0,7.7,0,15.39.01,23.09,0,.64-.17,1.01-.75,1.34-19.48,11.03-38.95,22.07-58.43,33.12-1.91,1.08-3.84,2.13-5.73,3.26-.66.4-1.15.39-1.82,0-9.77-5.67-19.56-11.32-29.35-16.97-4.29-2.48-8.59-4.96-12.88-7.44-.24-.14-.49-.26-.86-.45v80.82Z'/%3E%3Cpath class='cls-2' d='m347.75,80.5c-1.18.67-2.18,1.24-3.18,1.82-3.62,2.09-7.23,4.19-10.87,6.25-.64.36-.87.76-.86,1.49.03,8.97.02,17.95.02,26.92,0,.42,0,.84,0,1.31h-58.25v-54.87c.5.28.98.53,1.44.8,6.41,3.7,12.82,7.41,19.24,11.09.68.39.98.8.98,1.65-.05,6.17-.03,12.34-.03,18.51,0,.35,0,.69,0,1.1h14.89c0-.37,0-.75,0-1.12,0-5.96.01-11.92-.02-17.87,0-.68.18-1.07.79-1.42,18.84-10.85,37.67-21.73,56.51-32.6.3-.17.6-.32,1.01-.54v75.27h-21.67v-37.77Z'/%3E%3C/g%3E%3Cg%3E%3Cpath class='cls-1' d='m89.77,100.43c-.53-.54-1.19-1.03-1.97-1.46-.78-.43-1.67-.86-2.67-1.29l-2.29-.95c-.49-.19-.92-.38-1.3-.57-.38-.19-.72-.4-1-.62-.29-.22-.5-.47-.65-.75s-.22-.59-.22-.95c0-.97.35-1.69,1.05-2.15.7-.46,1.56-.68,2.57-.68.89,0,1.82.23,2.8.7.97.47,1.84,1.09,2.61,1.88l2.35-3.02c-1.02-1-2.19-1.76-3.51-2.3-1.32-.54-2.74-.81-4.24-.81-1.14,0-2.22.14-3.23.43-1.01.29-1.88.72-2.62,1.29-.74.57-1.33,1.28-1.75,2.13-.42.85-.64,1.83-.64,2.96,0,.89.13,1.67.38,2.35.25.68.62,1.28,1.11,1.8.49.52,1.08.98,1.76,1.38.69.4,1.47.77,2.34,1.11l2.29.92c1.23.51,2.17,1.01,2.81,1.51.65.5.97,1.18.97,2.05,0,.53-.11.99-.33,1.37s-.51.69-.87.94c-.36.24-.78.42-1.26.54-.48.12-.97.17-1.48.17-.95,0-1.94-.24-2.97-.73-1.03-.49-2.02-1.19-2.97-2.1l-2.42,3.02c1.14,1.12,2.46,1.97,3.94,2.53,1.48.56,2.99.84,4.51.84,1.1,0,2.16-.14,3.18-.41,1.02-.27,1.92-.71,2.72-1.3.79-.59,1.43-1.33,1.91-2.23s.71-1.96.71-3.21c0-.95-.14-1.79-.41-2.5s-.68-1.33-1.21-1.88Z'/%3E%3Cpolygon class='cls-1' points='121.02 87.89 115.58 87.89 107.22 97.65 107.22 87.89 102.61 87.89 102.61 111.48 107.22 111.48 107.22 103.47 109.48 100.89 116.31 111.48 121.88 111.48 112.5 97.49 121.02 87.89'/%3E%3Crect class='cls-1' x='132.08' y='87.89' width='4.64' height='23.59'/%3E%3Cpolygon class='cls-1' points='160.12 102.77 154.04 87.89 149.37 87.89 149.37 111.48 153.73 111.48 153.73 96.63 158.56 108.33 161.48 108.33 166.54 96.47 166.54 111.48 170.86 111.48 170.86 87.89 166.35 87.89 160.12 102.77'/%3E%3Cpath class='cls-1' d='m202.6,94.64c-.5-1.52-1.21-2.81-2.13-3.88-.92-1.07-2.02-1.89-3.31-2.46-1.28-.57-2.7-.86-4.24-.86s-2.99.29-4.28.86c-1.28.57-2.38,1.39-3.31,2.46-.92,1.07-1.63,2.36-2.13,3.88s-.75,3.23-.75,5.13.25,3.52.76,5.02c.51,1.5,1.22,2.79,2.13,3.85.91,1.06,2.01,1.88,3.29,2.45s2.71.86,4.28.86,2.96-.29,4.24-.86c1.28-.57,2.38-1.39,3.29-2.45.91-1.06,1.62-2.34,2.13-3.85.51-1.5.76-3.19.76-5.05s-.25-3.59-.75-5.1Zm-4.37,8.58c-.25,1.05-.62,1.94-1.11,2.69-.49.74-1.09,1.32-1.8,1.73-.71.41-1.52.62-2.43.62s-1.69-.2-2.4-.6c-.71-.4-1.31-.97-1.8-1.72s-.86-1.64-1.11-2.69c-.25-1.05-.38-2.23-.38-3.54s.13-2.47.38-3.53c.25-1.06.62-1.96,1.11-2.7s1.09-1.32,1.8-1.73c.71-.41,1.51-.62,2.4-.62s1.72.21,2.43.62c.71.41,1.31,1,1.8,1.75.49.75.86,1.66,1.11,2.72.25,1.06.38,2.25.38,3.56s-.13,2.4-.38,3.45Z'/%3E%3Cpath class='cls-1' d='m78.83,70.31c1.12,0,2.07-.37,2.85-1.1.78-.73,1.17-1.66,1.17-2.79s-.39-2.01-1.17-2.79-1.73-1.17-2.85-1.17-2,.39-2.75,1.17c-.76.78-1.13,1.71-1.13,2.79s.38,2.05,1.13,2.79c.75.73,1.67,1.1,2.75,1.1Z'/%3E%3Cpath class='cls-1' d='m89.12,62.47c-1.08,0-2,.39-2.75,1.17-.76.78-1.13,1.71-1.13,2.79s.38,2.05,1.13,2.79c.75.73,1.67,1.1,2.75,1.1s2.07-.37,2.85-1.1c.78-.73,1.17-1.66,1.17-2.79s-.39-2.01-1.17-2.79-1.73-1.17-2.85-1.17Z'/%3E%3Cpath class='cls-1' d='m191.85,57.68c2.25-.65,4.04-1.65,5.38-3.01,1.34-1.36,2.3-3.09,2.88-5.18.58-2.09.87-4.57.87-7.42v-17.1h-7.25v17.94c0,2.5-.57,4.32-1.72,5.44-1.14,1.12-3.21,1.68-6.19,1.68h-4.73c.86-.73,1.46-1.73,1.78-2.98.32-1.25.49-2.91.49-4.99v-15.09h-7.25v15.93c0,2.5-.57,4.32-1.72,5.44-1.14,1.12-3.21,1.68-6.19,1.68h-6.93c.86-.73,1.46-1.73,1.78-2.98.32-1.25.49-2.91.49-4.99v-15.09h-7.25v15.93c0,1.25-.07,2.32-.19,3.21-.13.89-.42,1.62-.88,2.2-.45.58-1.12,1.02-2.01,1.3-.89.28-2.06.42-3.53.42h-3.3c-.91,0-1.54-.13-1.91-.39-.37-.26-.55-.67-.55-1.23,0-5.66-2.12-9.9-6.35-12.73-4.23-2.83-10.79-4.24-19.69-4.24h-8.55c2.07-3.07,4.96-5.97,8.68-8.71,3.71-2.74,8.12-4.93,13.21-6.57l-3.63-8.03c-3.02,1.04-5.93,2.4-8.71,4.08s-5.38,3.64-7.77,5.86c-2.4,2.22-4.57,4.7-6.51,7.42-1.94,2.72-3.58,5.63-4.92,8.74l4.08,5.51h15.48c5.79,0,10.14.76,13.05,2.27,2.91,1.51,4.37,4.19,4.37,8.03h-38.73l-.19.2-.2-.2h-9.39c.86-.73,1.46-1.73,1.78-2.98.32-1.25.49-2.91.49-4.99v-15.42h-7.25v16.26c0,2.5-.57,4.32-1.72,5.44-1.14,1.12-3.21,1.68-6.19,1.68h-1.81s0,0,0,0h-4.92l-1.3-3.95c-.86-2.63-1.7-4.9-2.49-6.8-.8-1.9-1.66-3.46-2.59-4.7-.93-1.23-1.96-2.15-3.08-2.75-1.12-.6-2.46-.91-4.02-.91-2.29,0-4.33.55-6.12,1.65s-3.33,2.5-4.6,4.21c-1.27,1.71-2.28,3.56-3.01,5.57-.73,2.01-1.19,3.92-1.36,5.73-.04.26-.09.51-.13.74-.04.24-.16.44-.36.62-.19.17-.46.31-.81.42-.35.11-.82.16-1.43.16h-8.81v-.91c0-2.63-.32-5.26-.97-7.87-.65-2.61-1.55-4.96-2.72-7.03-1.17-2.07-2.59-3.75-4.27-5.02-1.68-1.27-3.56-1.91-5.64-1.91-1.81,0-3.61.63-5.38,1.88-1.77,1.25-3.36,2.85-4.76,4.79s-2.54,4.1-3.4,6.48c-.86,2.38-1.29,4.66-1.29,6.87,0,1.6.26,3.09.78,4.47.52,1.38,1.4,2.58,2.66,3.59,1.25,1.02,2.94,1.81,5.05,2.4,2.12.58,4.79.87,8.03.87h2.98c-.99,1.77-2.59,3.05-4.79,3.85-2.2.8-5.2,1.2-9,1.2l1.04,8.61c5.22,0,9.61-1.08,13.15-3.24,3.54-2.16,6-5.64,7.38-10.43h7.64c1.12,0,2.21-.16,3.27-.49,1.06-.32,1.95-.79,2.69-1.39,1.25,1.99,2.77,3.45,4.57,4.4,1.79.95,4.31,1.43,7.55,1.43,1.81,0,3.8-.28,5.96-.84,2.16-.56,4.42-1.6,6.8-3.11h7.71s0,0,0,0h24.09l.19-.19.19.19h43.53c.3-.39.59-.91.87-1.55.28-.65.49-1.32.62-2.01.52.91,1.19,1.73,2.01,2.46.82.73,1.92,1.1,3.3,1.1h35.3c3.28,0,6.04-.32,8.29-.97Zm-174.1-7.64c-2.12,0-3.85-.09-5.21-.26-1.36-.17-2.43-.43-3.21-.78-.78-.35-1.32-.75-1.62-1.23-.3-.47-.45-1.04-.45-1.68,0-1.21.22-2.42.65-3.63.43-1.21.97-2.3,1.62-3.27.65-.97,1.38-1.76,2.2-2.36.82-.6,1.62-.91,2.4-.91.82,0,1.65.37,2.49,1.1.84.73,1.6,1.74,2.27,3.01.67,1.27,1.21,2.76,1.62,4.47.41,1.71.62,3.55.62,5.54h-3.37Zm42.29,2.95c-.61.19-1.24.37-1.91.52-.67.15-1.33.26-1.97.32-.65.06-1.23.1-1.75.1-2.72,0-4.67-.42-5.86-1.26-1.19-.84-1.78-1.95-1.78-3.34,0-1.3.21-2.54.62-3.72.41-1.19.95-2.24,1.62-3.17.67-.93,1.43-1.66,2.3-2.2.86-.54,1.75-.81,2.66-.81.73,0,1.38.15,1.94.45.56.3,1.1.82,1.62,1.55.52.73,1.01,1.72,1.49,2.95.47,1.23.99,2.78,1.55,4.63l.97,3.3c-.39.26-.89.49-1.49.68Z'/%3E%3C/g%3E%3C/svg%3E");
}

body,html,h1,h2,h3,h4,h5,h6,span,button,div,p {
    font-family: 'Almarai',sans-serif,sallaicons,icomoon!important
}

body,section.section {
    background-image: var(--bgimg)!important;
    background-size: 50%!important
}

section.section {
    background-color: #fff!important
}

.product {
    background: #fff
}

body:not(.salla-theme_6) .main-menu li:not(.sub-menu-header) a {
    font-size: 15px;
    /* margin: 0 -14px 0 0; */
}

.product-title {
    color: var(--main-color)!important
}

.product-price,.product-details__price,.product-price {
    color: var(--main-text-color2)!important
}

.product-price,.product-details__price,.product-price:hover {
    color: #40321e!important;
    justify-content: center;
}

.sub-nav .main-menu li.sub-menu-header.categories-holder ul.store-categories>li a {
    border: var(--main-text-color2)solid 1px!important
}

.footer-header {
    background: #fff!important
}

.footer-main {
    background-color: var(--main-color)!important;
}

@media(max-width: 767px) {
    .footer-main {
        background-color: var(--main-color)!important;
    }
}

footer .store-certificate img {
    max-width: 54px;
    max-height: 38px;
    margin-left: 4px
}

.salla-theme_4 .footer-header .footer-payment .icons {
    padding: 6px 12px 0 20px;
    border-radius: 17px
}

.footer-sub {
    background: linear-gradient(90deg,var(--main-color),var(--main-text-color2))!important;
    font-size: 18px
}

.sub-nav .main-menu li.sub-menu-header.categories-holder>span {
    border-top: 0 solid var(--main-text-color2)!important
}

@media(max-width: 991px) {
    .sub-nav .sub-nav-content .main-menu>li {
        border-bottom:0 solid var(--main-text-color2)!important
    }
}

section {
    background: #fff!important
}

.u-white .container {
    background-color: #fff!important
}

.section-products .container {
    background: #ffffff7a!important;
    border: 1px solid #fff!important
}

.feature-item__icon h3,.feature-item__icon i {
    color: var(--main-color) !important;
}

body.salla-theme_4 .section-header .btn.btn-primary.btn-rounded {
    height: 36px;
    line-height: 23px;
    border-radius: 7px 7px 7px 7px!important
}

.salla-theme_6 .site-header .header-top .sub-nav__menu {
    height: 30px
}

.row.header-wrapper {
    padding: 7px 0
}

.salla-theme_4 .feature-item__content p {
    padding: .5rem
}

.feature-item:not(:last-child) {
    margin-bottom: 1rem
}

.footer-payment {
    text-align: center
}

.not-available {
    color: #f00;
    animation: flash 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite
}

.sub-nav .sub-nav-content.is-active {
    border-radius: 1rem 0 0 1rem
}

.circle-action {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    text-align: center;
    width: 36px;
    height: 36px;
    line-height: 34px;
    border: 1px solid #fff;
    border-radius: 50%;
    background: 0;
    color: #fff;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out
}

.sub-nav__close svg {
    width: 35px;
    height: 35px;
    fill: #ffffff;
}

#sort #sort-toggle {
    border-radius: 7px;
    transition: all .35s cubic-bezier(0.2,1,0.3,1)
}

.product {
    border: #d9d0c4 solid 5.5px;
    border-radius: 10px!important
}

.feature-item:last-child>.feature-item__icon>i.sicon-calendar-check:before {
    content: "\E961"!important
}

.section--title.mb-4:before {
    content: "";
    visibility: visible;
    display: block
}

.circle-action.next,.circle-action.prev {
    color: #fff;
    border-color: #fff
}

.salla-theme_4 .feature-item__content .feature-item__icon i[class^="sicon-"] {
    font-size: 30px;
    margin: 0
}

.feature-item__icon::before {
    display: none!important
}

.feature-item h3,.feature-item p {
    margin-top: 0!important;
    visibility: visible!important;
    color: #8a8a8a!important;
    margin-bottom: 0!important
}

.pt-5,.py-5 {
    padding-top: 0!important
}

.pb-5,.py-5 {
    padding-bottom: 2rem!important
}

.feature-item h3 {
    padding-bottom: 5px!important
}

.mb-4,.my-4 {
    margin-bottom: .5rem!important
}

.pb-5,.py-5 {
    padding-bottom: 5px!important
}

.product {
    border: var(--main-color)solid 2.5px;
    border-radius: 16px!important
}

footer .footer-sub .footer-wrapper img,footer .footer-sub .fs-cont img {
    width: unset!important;
    max-width: unset!important;
    height: 25px;
    background: var(--main-color)!important;
    padding: 2px 7px!important;
    border-radius: 0
}

.sub-nav-header a {
    color: var(--main-text-color2)!important;
    background: var(--color-bg);
    border: #d9d0c4 solid 2px!important;
    border-radius: 8px 8px 8px 8px!important;
    box-shadow: 2.5px 2.5px 5px #00000029,-2.5px -2.5px 5px #ffffff14;
    padding-top: 3px;
    padding-bottom: 8px;
}

.sub-nav .main-menu li.sub-menu-header.categories-holder>span {
    display: block;
    width: 100%;
    font-weight: 400;
    padding: 5px 15px!important
}

.sub-nav-header a {
    color: #fff!important;
}

.sub-nav-header a:hover {
    color: #fff!important;
    background: var(--main-text-color2) !important;
    border: #fff solid 2px!important
}

.salla-theme_6 .site-header .header-top .sub-nav__menu {
    right: 10px;
    position: absolute
}

.site-header .header-wrapper .sub-nav__menu svg {
    fill: var(--main-color)!important;
    filter: brightness(84.5);
}

.circle-action:hover {
    background: #fff;
    color: #d9d0c4;
    border-radius: 8px 8px 8px 8px!important
}

.salla-theme_6 .site-header__mine-cart .badge {
    background-color: #d9d0c4
}

.badge {
    color: var(--main-color);
    border-radius: 6px 6px 6px 6px!important
}

.site-header__cart .badge {
    border: 2px solid #fff
}

.slick-active button {
    background-color: var(--main-text-color2)!important
}

.slick-dots li button {
    width: 20px;
    height: 4px;
    padding: 0;
    border-radius: 2px;
    background-color: #d9d0c4
}

.site-header,.main-slider img,body.salla-theme_4 .section-header .section--title span,body > section.u-white.py-4 > div > div:before,.a2a_kit.a2a_kit_size_32.a2a_default_style,body > section.py-5.text-center > div > div.section-header:before {
    background: linear-gradient(to left,var(--main-color),var(--main-text-color2))!important
}

.salla-theme_1 footer .footer-sub .footer-wrapper {
    flex-direction: column;
    text-align: left
}

.footer-main * {
    text-align: center!important
}

.footer-sub {
    font-size: 18px
}

.salla-theme_6 .site-header .header-top .logo-wrapper {
    align-items: center
}

.salla-theme_6 .site-header .header-top .logo-wrapper {
    width: calc(60% - 0);
    align-content: center!important;
    text-align: center!important;
    justify-content: right!important
}

#search {
    position: relative;
    display: none
}

.login-link {
    display: none;
    right: auto;
    padding: 0;
    margin-left: 7px;
    max-height: auto;
    font-size: 16px
}

.salla-theme_4 .site-header .logo-wrapper .logo img {
    width: auto;
    height: auto;
    max-width: 190px;
    max-height: 65px;
    display: none;
}

@media(min-width: 992px) {
    .salla-theme_4 .site-header .logo-wrapper .logo img {
        width:auto;
        height: auto;
        max-width: 198px;
        max-height: 66px;
        margin: -15px 0 -15px 0;
        background: #fff;
        border-radius: 6px;
    }
}

.bg-brand {
    background: #f2f2f2!important
}

.footer-main {
    border-radius: 1rem 1rem 0 0!important
}

.footer-main a,.footer-main p,.footer-sub p:before,a.sub-nav__menu.ml-2::after {
    color: #ffffff;
    font-size: 11.5pt;
    /* filter: brightness(133.5); */
}

.footer-title span,.social__item a,.store-contact a {
    color: var(--color-ff);
}

.social__item a {
    border-color: #d9d0c4!important
}

.section--title {
    position: relative;
    color: var(--main-color);
    font-size: 18px;
    margin-right: -10px
}

.testimonials-item cite {
    color: #545454
}

body {
    color: #545454
}

.testimonials-item p:before {
    border-top-color: #fff
}

.testimonials-item img {
    border-radius: 50%!important
}

.category-featured::before,.feature-item::before {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    display: block;
    content: "";
    width: 0;
    height: 0;
    background: rgba(255,255,255,0.2);
    border-radius: 100%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    opacity: 0
}

.category-featured:hover::before,.feature-item:hover::before {
    -webkit-animation: circle .75s;
    animation: circle .75s
}

.product {
    border: #e6e6e6 solid 1px
}

.product .product-footer {
    display: block!important
}

.product .product-footer .sicon-cart:before {
    content: "اضافة للسلة ";
    font-family: 'Almarai',sans-serif,sallaicons,icomoon!important;
    font-weight: 100;
    font-size: 16px;
    vertical-align: inherit;
    color: #d9d0c4;
    margin-top: 12px!important;
    display: block;
    border-radius: 10px!important
}

.product .product-footer .product-add {
    display: block;
    border: 1px solid var(--color-main) !important;
    background: var(--color-bg);
    padding-bottom: 8px;
    padding-top: 0;
    margin: auto;
    margin-bottom: 10px;
    font-weight: 700;
    border-radius: 10px !important;
    text-align: center;
    color: #fff !important;
    border: transparent solid 1px;
    height: 35px !important;
    width: 80%;
}

.add_to_cart_btn {
    color: #fff!important
}

.product .product-footer .product-add:hover {
    background: linear-gradient(to left,var(--main-color),var(--main-text-color2))!important
}

.sub-nav .main-menu li.sub-menu-header.categories-holder ul.store-categories>li,.sub-nav .main-menu li.sub-menu-header.categories-holder>span,.sub-nav .sub-nav-content,.sub-nav-header {
    background: transparent!important
}

.sub-nav .main-menu li.sub-menu-header.categories-holder ul.store-categories>li {
    border: none!important
}

.sub-nav .main-menu li.sub-menu-header.categories-holder ul.store-categories>li a {
    color: #fff!important;
    margin: 5px;
    border: #d9d0c4 solid 1px;
    border-radius: 10px 10px 10px 10px!important
}

.sub-nav .main-menu li.sub-menu-header.categories-holder ul.store-categories>li>ul>li a {
    color: #171717!important;
    background: 0 0!important
}

.sub-nav-header img {
    display: none!important;
    padding-bottom: 2px!important;
    padding-top: 2px!important
}

.sub-nav-header::before {
    content: "";
    text-align: center!important;
    display: block;
    height: 70px!important;
    background-size: contain!important;
    background-repeat: no-repeat!important;
    background-position: top center!important
}

.salla-theme_4 .category-featured {
    margin-bottom: 10px!important
}

.product .product-footer .product-add {
    order: 2!important
}

body.salla-theme_4 .product .product-footer {
    display: flex!important;
    flex-direction: column!important
}

.lightener h2 {
    display: none!important
}

.mb-4,.my-4 {
    margin-bottom: .5rem!important
}

.sub-nav-header::before {
    content: "";
    text-align: center!important;
    display: block;
    height: 71px!important;
    background-image: var(--logo);
    background-size: contain!important;
    background-repeat: no-repeat!important;
    background-position: top center!important;
    margin: 4px 44px 10px;
    /* filter: invert(1) hue-rotate(178deg); */
    /* filter: brightness(99.5); */
}

.u-white .container {
    background-color: #fff!important;
    max-width: 1200px;
    margin: auto;
    padding-top: 0!important
}

.u-white .container {
    padding-top: 0!important
}

.feature-item {
    background: 0 0!important;
    box-shadow: unset!important
}

.u-white .container {
    background-color: #fff!important;
    max-width: 1200px;
    margin: auto;
    padding-top: 0!important
}

.u-white .container {
    padding-top: 0!important
}

.salla-theme_4 .feature-item__content p {
    padding: .5rem;
    padding-bottom: .5rem;
    width: 100%!important;
    margin: auto;
    margin-top: auto;
    margin-bottom: auto;
    min-height: 60px;
    border-radius: 0 5rem!important
}

.feature-item {
    background: 0 0!important;
    box-shadow: unset!important
}

.feature-item__content {
    background: 0 0!important;
    box-shadow: unset!important
}

.footer-main,.salla-theme_4 .feature-item__content .feature-item__icon,.salla-theme_4 .feature-item__content p,.site-header {
    padding-right: 0rem!important
}

.sub-nav .sub-nav-content {
    background: 0 0!important
}

.salla-theme_4 .feature-item__content .feature-item__icon {
    color: #1f1f1f!important
}

.category-featured:hover::before,.feature-item:hover::before,.product:hover::before {
    -webkit-animation: circle .75s;
    animation: circle .75s
}

@keyframes mvt {
    0% {
        transform: scale(0.8)
    }

    40% {
        transform: scale(1.1)
    }

    100% {
        transform: scale(1)
    }
}

@keyframes tournemoi {
    0% {
        transform: rotate(-2deg)
    }

    40% {
        transform: rotate(2deg)
    }

    100% {
        transform: rotate(0)
    }
}

.product:hover {
    animation: tournemoi ease 1s
}

.product,.product img {
    border: #e6e6e6 solid 1px;
    border-radius: 10px!important
}

section.section {
    padding: .5rem 0!important
}

.footer-sub p {
    max-height: 30px!important;
    line-height: 30px!important;
    overflow: hidden!important
}

.salla-theme_4 .footer-header .icons .store-certificate img {
    max-width: 60px!important;
    max-height: 40px!important
}

.footer-item:first-of-type .footer-title {
    /* display: none */
}

.main-slider {
    max-width: 100%!important;
    margin: auto;
    margin-bottom: auto
}

.sub-nav .main-menu li.sub-menu-header.categories-holder ul.store-categories>li>ul>li a {
    color: #fff!important;
    background: 0 0!important
}

@media screen and (max-width: 777px) {
    .footer-sub p {
        max-height:30px!important;
        line-height: 14px!important;
        overflow: hidden!important;
        font-size: 15px;
    }
}

@media screen and (max-width: 1020px) {
    footer .store-certificate * {
        font-size:13px;
        color: #fff
    }

    footer .store-certificate b {
        font-size: 13px;
        color: #fff
    }
}

a.circle-action.next.button-next,a.circle-action.prev.button-prev,a.circle-action.next.button-more {
    border: 0 solid #fff
}

.circle-action.next,.circle-action.prev {
    color: var(--main-color)!important;
    background: #fff
}

.login-link {
    display: unset!important
}

#search {
    position: relative;
    display: unset!important
}

.site-header {
    padding-right: 0rem!important
}

.product .product-footer .sicon-cart::before {
    content: " إضافة للسلة ";
    font-family: 'Almarai',sans-serif,sallaicons,icomoon!important;
    font-weight: 700;
    font-size: 18px;
    vertical-align: inherit;
    color: #ffffff;
    margin-top: 5px!important;
    display: block;
    /* margin: 11px 0 0 0!important; */
}

@media(max-width: 767px) {
    .product .product-footer .sicon-cart::before {
        /* margin: 20px 0 0 0!important; */
    }
}

.sub-nav .main-menu li.sub-menu-header.categories-holder>span {
    color: var(--color-ff);
}

.sub-nav .sub-nav-content.is-active {
    background: var(--main-color)!important ;
}

.sub-nav-content.is-active .main-menu>li>a {
    color: #fff!important
}

.sub-nav-content.is-active .main-menu>li>a>i {
    color: #eab368!important
}

.sub-nav .main-menu>li>a {
    color: #fff!important
}

p.mb-4.mb-md-0 {
    color: #fff!important
}

.social__item a:hover {
    background: #222228!important
}

section {
    background: #fff!important
}

span.sicon-instagram {
    color: #ff75c8!important;
    font-size: 100%
}

span.sicon-snapchat {
    color: var(--main-text-color2)!important;
    font-size: 100%
}

span.sicon-facebook {
    color: #8694fb!important;
    font-size: 100%
}

.footer-main .container:before {
    text-align: center;
    content: "";
    display: block;
    height: 152px;
    width: 216px;
    margin: auto auto 20px;
    background-image: var(--logo);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    /* filter: brightness(78.5); */
}

.add-cart-large,.order-btn {
    /* background: var(--main-text-color2)!important; */
    /* border-color: var(--main-text-color2)!important; */
}

.product .product-title {
    text-align: center;
    line-height: 1.4;
}

p.mb-4.mb-md-0 {
    color: #fff!important
}

.footer-sub a {
    color: transparent!important;
    text-decoration: underline
}

section {
    background: #fff!important
}

.u-white .container {
    background-color: #fff!important
}

.section-header .section--title span {
    color: var(--main-color);
    background: #fff
}

body.salla-theme_1 .section-header .btn.btn-primary.btn-rounded,body.salla-theme_2 .section-header .btn.btn-primary.btn-rounded,body.salla-theme_4 .section-header .btn.btn-primary.btn-rounded {
    height: 36px;
    font-size: 15px;
    color: #ffffff!important;
    border-color: var(--main-text-color2)!important;
    padding: 0 15px;
    background: linear-gradient(to left,var(--main-text-color2),var(--main-text-color2))!important;
    transition: all .35s cubic-bezier(0.2,1,0.3,1);
}

.login-link,.contact-link,.notification-link,.store-contact a,.store-header-min .back-icon,.circle-action,#cl_toggle {
    color: #fff!important;
    border-color: var(--main-color)!important;
    margin: 5px 0 0 0;
}

button.circle-action.ml-md-2.toggle-search {
    margin: 6px 8px 1px 1px
}

.site-header__cart .badge {
    color: #fff!important;
    border: 2px solid var(--main-color)!important;
    background: var(--main-color);
}

.breadcrumb>.active {
    color: #fff!important
}

.slick-list.draggable {
    border-radius: 0 0 42px 42px
}

.product-form {
    padding: 1rem;
    background: #fff!important;
    border: 1px solid var(--main-text-color2)!important;
    border-radius: 4px
}

.product-form,.product-options {
    background-color: #fff!important;
    padding: 20px!important;
    border: 1px solid var(--main-text-color2)!important;
    border-radius: 3px
}

.product-option-name {
    color: #fff!important
}

.cart-fav .btn-rounded.add-to-wishlist i,.cart-fav .btn-rounded.remove-from-wishlist i {
    color: var(--main-color)!important;
}

.a2a_svg {
    -webkit-filter: none;
    filter: none;
    opacity: .9
}

.product-cart,.cart-total-box {
    width: 100%;
    border: 1px solid #cecece!important
}

.product-cart {
    position: relative;
    width: 95%;
    margin: 0 auto 30px;
    border-radius: 5px
}

.cart-total-box {
    position: relative;
    width: 95%;
    height: 62px;
    margin: 0 auto;
    padding: 10px 15px;
    border-radius: 4px
}

.cart-nav-submit,.cart-nav-more,.cart-nav-solid {
    background: #1b1829!important;
    border-color: #1b1829!important
}

#cart-content #cartTotal {
    color: var(--main-text-color2)!important
}

.delete-button {
    color: var(--main-text-color2)!important;
    border: 2px solid var(--main-text-color2)!important
}

.cart-number,.active-step .cart-number {
    color: var(--main-text-color2)!important;
    border-color: var(--main-text-color2)!important;
    background: #1b1829
}

@media only screen and (max-width: 767px) {
    body:not(.salla-default) .cart-fav {
        position:fixed!important;
        right: 0;
        left: 0;
        bottom: 0;
        box-shadow: 0 0 10px rgb(0 0 0 / 5%);
        padding: 10px;
        background-color: var(--color-main-d);
        z-index: 9999;
    }

    a.add-cart-large.add_to_cart_large_btn {
        font-size: 18px
    }
}

.circle-action:hover {
    background: var(--main-text-color2)!important;
    color: var(--main-color)!important
}

ul.list.brands-list li {
    background: #fff;
    border-radius: 12px
}

ul.list.brands-list li:hover {
    animation: tournemoi ease 1s
}

body:not(.salla-theme_6) .category-featured {
    border-radius: 26px
}

.breadcrumb>.active {
    color: #16414f!important
}

.product-details__title {
    color: #154755!important
}

.product-option-name {
    color: #164855!important
}

.login-form .panel-title::before {
    content: "";
    text-align: center!important;
    display: block;
    height: 124px!important;
    background-image: var(--logo);
    background-size: contain!important;
    background-repeat: no-repeat!important;
    background-position: top center!important;
    margin: 25px;
    /* filter: brightness(82.5); */
}

.login-form .panel-title .icon-object {
    display: none!important
}

.sub-nav .main-menu li.sub-menu-header.categories-holder ul.store-categories>li a {
    color: #fff!important;
    margin: 5px;
    border: #1f1a13 solid 0!important;
    border-radius: 10px 10px 10px 10px!important;
    background: var(--color-bg);
    box-shadow: 2.5px 2.5px 5px #22232c94,-2.5px -2.5px 5px #21232e00;
    font-family: 'Almarai',sans-serif,sallaicons,icomoon!important;
}

.sub-nav .main-menu li.sub-menu-header.categories-holder ul.store-categories>li a:hover {
    background: linear-gradient(to left,var(--main-text-color2),transparent)!important
}

.sub-nav .main-menu li#ls_switcher_mobile a:before {
    color: var(--main-text-color2)
}

.cart-nav-submit,.cart-nav-more,.cart-nav-solid {
    background: linear-gradient(to left,var(--main-color),var(--main-text-color2))!important;
    border-color: aliceblue!important
}

.social__item a {
    display: block;
    width: 36px;
    height: 36px;
    color: var(--color-ff);
    text-align: center;
    line-height: 25px;
    border-radius: 5px;
    border: 0 solid rgba(0,0,0,.2);
    font-size: 18px;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    box-shadow: 2.5px 2.5px 5px #00000017, -2.5px -2.5px 5px #ffffff2b;
}

.cart-number,.active-step .cart-number {
    color: #fff!important;
    border-color: var(--main-text-color2)!important;
    background: linear-gradient(to left,var(--main-color),var(--main-text-color2))!important
}

.a2a_kit.a2a_kit_size_32.a2a_default_style {
    /* background: linear-gradient(to left,#632c5a,var(--main-text-color2))!important; */
    padding: 8px 0 8px 2px;
    border-radius: 30px;
}

.banner img {
    border-radius: 25px
}

.section[data-type="banner"] {
    padding: 0rem 0 0!important;
    margin-bottom: 0rem;
    margin-top: 0rem
}

.product,.product img {
    border: var(--main-text-color2)solid 0!important
}

.product {
    border: 0 solid #eee;
    box-shadow: 0 2px 10px -3px #c8c8c8;
    border-radius: 15px;
    margin-top: 10px;
    background-color: #fff
}

.social__item a {
    border-color: var(--main-color);
    border: 1px solid var(--main-color)!important;
    background: var(--color-bg);
}

.feature-item__content {
    background: #fff
}

.feature-item__icon {
    background: #fff!important;
    color: #000;
    border: none!important;
    min-height: 90px;
    width: 100%!important;
    height: 40px;
    margin-bottom: 0!important
}

.feature-item p {
    background: linear-gradient(to left,#fff,#e2e2e2)!important;
    padding-bottom: 10px!important
}

.salla-theme_4 .feature-item__content p {
    padding: .5rem;
    padding-bottom: .5rem;
    width: 100%!important;
    margin: auto;
    margin-top: auto;
    margin-bottom: auto;
    min-height: 60px;
    border-radius: 0 5rem!important
}

.salla-theme_4 .feature-item__content .feature-item__icon {
    width: 100%!important;
    margin: auto;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 5rem 0!important
}

.product {
    border-radius: 8px
}

section.section {
    padding: 0
}

html,body,div,span,object,h1,h2,h3,h4,h5,h6,p,blockquote,a,abbr,img,small,strong,ol,ul,li,dd,form,label,table,caption,article,aside,canvas,details,embed,figure,figcaption,footer,header {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: sub!important
}

a.next.button-more {
    vertical-align: bottom!important
}

p.mb-4.mb-md-0,body > footer > div.footer-sub.text-center > div > div > div > p {
    color: #fff!important;
}

body > footer > div.footer-sub.text-center::after {
    content: "تصميم وبرمجة " " | " "على احمد 3lwaaa@gmail.com ";
    display: block;
    max-height: 30px!important;
    color: #fefefe;
    font-size: 10px;
}

.salla-theme_6 .product .product-footer .product-add.add_to_cart_btn {
    border-radius: 10px;
    background-color: #eee
}

.salla-theme_6 .product .product-footer .product-add.add_to_cart_btn span:last-child {
    font-size: 18px
}

@keyframes signal {
    0% {
        box-shadow: 0 0 0 0 #f7da90
    }

    100% {
        box-shadow: 0 0 0 10px #fff
    }
}

.offers-link,.price-after {
    color: #444!important
}

.product-add {
    animation: signal 1200ms infinite
}

.salla-theme_4 footer ul.footer-links {
    -moz-columns: 2;
    columns: 1
}

.col-sm-4 {
    width: 25%;
    float: right;
    padding-right: 5px;
    padding-left: 5px
}

.product {
    border-radius: 8px
}

section.section {
    padding: 0
}

.salla-theme_4 .site-header #cl_switcher_wrapper #cl_switcher #cl_toggle:hover {
    background-color: var(--main-text-color2)!important
}

@media(max-width: 991px) {
    .sub-nav .sub-nav-content {
        right:0;
        width: 75%;
        height: 90%;
        text-align: right;
        overflow-y: scroll;
        -webkit-transition: all .7s ease;
        transition: all .7s ease;
        -webkit-transform: translateX(110%);
        transform: translateX(110%);
        border-radius: 8px 0 20% 5%;
        margin: 70px 20px 0 0
    }
}

.sub-nav .main-menu li.sub-menu-header.categories-holder ul.store-categories>li a:before,.sub-nav .main-menu li.sub-menu-logged-in a i,.sub-nav .main-menu li.sub-menu-header.categories-holder>span i {
    content: "";
    font-family: sallaicons,icomoon!important;
    font-size: 16px;
    margin-left: 5px;
    color: #ffffff!important;
    background: var(--main-text-color2);
    padding: 5px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border: 1px solid #1c1b1b;
    vertical-align: middle;
}

.sub-nav .main-menu li.sub-menu-header.categories-holder>ul.store-categories>li>a:before,.main-menu>li:not(.sub-menu-logged-in)>a:before {
    content: "\ef39"!important;
}

.main-menu li:not(.sub-menu-logged-in)>a:before {
    content: "";
    font-family: sallaicons,icomoon!important;
    font-size: inherit;
    margin-left: 5px;
    padding: 0px 0 0 0;
    vertical-align: middle;
}

.sub-nav .main-menu li#ls_switcher_mobile a:before {
    content: "\E93D"!important;
    font-family: sallaicons;
    color: var(--main-text-color2)!important;
    display: initial;
    vertical-align: middle;
    font-size: 16px;
    margin-left: 5px!important
}

.sub-nav .main-menu li.sub-menu-header.categories-holder>ul.store-categories>li>a:hover:before,.sub-nav .main-menu li.sub-menu-header.categories-holder>ul.store-categories>li.has-children:hover>a:before {
    filter: brightness(0.81)!important
}

.salla-theme_6 .sub-nav .main-menu li.has-children:hover a {
    color: #eee!important
}

body > footer > div.footer-header > div > div > div > div > div.store-certificate > a:nth-child(1) > img {
    display: none!important
}

body > footer > div.footer-header > div > div > div > div > div.store-certificate > a:nth-child(1)::before {
    content: ""!important;
    height: 40px!important;
    background: url(https://maroof.sa/Content/Stamps/ImageCr.png)!important;
    background-size: contain!important;
    width: 100px!important;
    display: block;
    background-repeat: no-repeat!important;
    border: none!important;
    margin: auto
}

span.price-before {
    color: #f00!important
}

a.sub-nav__menu.ml-2::after {
    content: 'القائمة';
    position: absolute;
    width: 86px;
    height: 24px;
    color: var(--main-text-color2);
    font-size: 10px;
    top: 72%;
    left: 48%;
    color: #fff;
}

.store-notify {
    background: linear-gradient(to left,var(--main-text-color2),var(--main-text-color2))!important;
    color: #fde7c0!important
}

.promotion-title {
    background-color: var(--main-text-color2)!important;
    color: var(--color-ff);
    animation: pulse 5s infinite!important;
}

@keyframes pulse {
    0% {
        background-color: #fde7c0
    }

    50% {
        background-color: #ffe1ab
    }

    100% {
        background-color: #ffc45c
    }
}

.shipping-bar .free-shipping__label {
    font-size: 18px;
    font-weight: 800
}

.shipping-bar .free-shipping__bar>div>div,.shipping-bar .free-shipping__bar>div>span {
    background: linear-gradient(90deg,var(--main-color),var(--main-text-color2))!important
}

.shipping-bar .free-shipping__bar>div>span:after {
    border-top: 5px solid var(--main-text-color2)
}

.add-cart-large,.order-btn {
    color: #fff!important
}

li.sub-menu-header.categories-holder {
    font-size: 23pt!important
}

.modal-content {
    background-color: var(--main-color)!important;
}

.panel {
    background-color: transparent
}

footer {
    padding: 0 8px
}

.footer-item .store-contact {
    margin: 5px 0 0;
    border: 0;
    text-align: right;
    font-size: 14px
}

body.store-home:before {
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(to left,#300b4d,#8762a4)!important;
    position: fixed;
    z-index: 999999;
    transform: scale(0);
    animation-name: pupup;
    animation-duration: 1s
}

@keyframes pupup {
    0% {
        transform: scale(1)
    }

    18% {
        transform: scale(1)
    }

    80% {
        transform: scale(1)
    }

    100% {
        transform: scale(0)
    }
}

body.store-home:after {
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    position: fixed;
    z-index: 999999;
    background-image: var(--logo);
    left: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    transform: scale(0);
    animation-name: pupup_logo;
    animation-duration: 1s
}

@keyframes pupup_logo {
    0% {
        transform: scale(0)
    }

    18% {
        transform: scale(1)
    }

    75% {
        transform: scale(1)
    }

    95% {
        transform: scale(0)
    }

    100% {
        transform: scale(0)
    }
}

@media(max-width: 768px) and (min-width:200px) {
    #modal_login {
        margin-top:10%;
        margin-left: 3%
    }
}

.text-muted {
    color: #fff
}

.login-title {
    margin-top: -3px!important;
    margin-bottom: 30px!important;
    color: #fff
}

.login-option,.btn-resend-option {
    color: #ffffff;
    border-color: transparent;
    background: var(--main-text-color2);
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px var(--main-text-color2);
    background-color: #f5f5f5
}

::-webkit-scrollbar {
    width: 3px;
    border-radius: 1rem 0 0 1rem;
    background-color: #f5f5f5
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-text-color2)
}

.form-group label {
    color: #fff
}

.store-contact a {
    /* display: block; */
    height: 38px;
    border-radius: 20px 20px 20px 20px!important;
    direction: ltr;
    /* border: var(--main-text-color2) solid 1px; */
    width: 24%;
    margin: auto;
    line-height: 2;
}

.sicon-brand:before, .sicon-social:before, .sicon-whatsapp2:before {
    color: #37ec09;
}

.feature-item__icon,.store-feature__icon,body > section.u-white.py-4 > div > div > div > div > div > i,.store-feature .title,.feature.d-flex.flex-column.justify-content-center.align-items-center {
    margin-bottom: 0;
    border: none;
    position: relative;
    top: 0px;
    animation: float 4s ease-in-out infinite;
    transition: all .4s ease;
    perspective: 1000px;
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-20px);
    }

    100% {
        transform: translatey(0px);
    }
}

footer {
    padding: 0 8px;
    display: grid;
}

.footer-header {
    background: transparent !important;
    order: 3;
    position: relative;
    top: -70px;
    margin: -2px 0px -78px 0px;
    right: 134px;
}

@media(max-width: 767px) {
    .footer-header {
        top: unset;
        right: 0;
    }
}

footer .store-certificate img {
    max-width: 54px;
    max-height: 38px;
    margin-left: 4px
}

.salla-theme_4 .footer-header .footer-payment .icons {
    padding: 6px 12px 0 20px;
    border-radius: 17px
}

body > footer > div.footer-header > div > div > div > div > div:nth-child(3) > img:nth-child(n+1) {
    background-color: #fff;
    padding: 2px;
    border-radius: 5px;
    max-height: 36.5px !important;
}

body.salla-theme_4 .section-header .section--title span {
    position: relative;
    right: 3px;
    /* top: 15px; */
    color: #fff;
    padding: 8px 10px 8px 10px;
    font-weight: 800!important;
    border-bottom: 1px solid #f1f1f1;
    box-shadow: 0 2px 5px -3px rgb(0 0 0 / 61%);
    font-size: .9rem!important;
    border-radius: 7px!important;
    padding: 11px 19px 11px 19px;
}

.feature-item__content {
    background: #ea2323;
    overflow: inherit;
}

body > section.py-5.text-center > div > div.section-header > h2 {
    display: none
}

body > section.py-5.text-center > div > div.section-header:before {
    position: relative;
    content: " آراء العملاء";
    display: block !important;
    width: 156px;
    height: 44px;
    margin: 1px 0 6px 0;
    top: -2px !important;
    position: relative;
    right: 3px;
    color: #fff;
    font-weight: 800!important;
    border-bottom: 1px solid #f1f1f1;
    box-shadow: 0 2px 5px -3px rgb(0 0 0 / 61%);
    font-size: .9rem!important;
    border-radius: 7px!important;
    padding: 11px 19px 11px 19px;
}

body > section.u-white.py-4 > div > div:before {
    position: relative;
    content: "سبب اختيارك لنا";
    display: block;
    width: 156px;
    height: 44px;
    margin: 1px 0 6px 0;
    top: -12px !important;
    position: relative;
    right: 3px;
    /* top: 15px; */
    color: #fff;
    padding: 8px 10px 8px 10px;
    font-weight: 800!important;
    border-bottom: 1px solid #f1f1f1;
    box-shadow: 0 2px 5px -3px rgb(0 0 0 / 61%);
    font-size: .9rem!important;
    border-radius: 7px!important;
    padding: 11px 19px 11px 19px;
}

.footer-main {
    background: linear-gradient(90deg,transparent,var(--main-color),var(--main-text-color2)) ;
    background-color: var(--main-color)!important;
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    animation: gradient 11s ease infinite!important;
}

@keyframes gradient {
    0% {
        background-position: 0%50%
    }

    50% {
        background-position: 100%50%
    }

    100% {
        background-position: 0%50%
    }
}

p.mb-4.mb-md-0,body > footer > div.footer-sub.text-center > div > div > div > p,span.font-13 *,span.font-13 {
    color: #fff!important;
}

@media screen and (max-width: 777px) {
    body > footer > div.footer-sub.text-center > div > div > div > p {
        max-height: 22px!important;
        line-height: 14px!important;
        overflow: hidden!important;
        font-size: 0px;
    }
}

.footer-sub p:before {
    content: "  الحقوق محفوظة  لمتجر        skimo     © 2023  ";
    display: block;
    max-height: 30px!important;
    color: #fff;
    text-align: center;
}

span.not-available::after {
    content: "\1F494";
    animation: beatHeart 1s;
    animation: .8s infinite beatHeart;
}

@keyframes beatHeart {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.1);
    }

    40% {
        transform: scale(1);
    }

    60% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.product-footer .not-available {
    display: flex!important;
    margin: 10px 0 0 15px;
    font-size: 14px;
    content: "/a";
    flex-direction: column;
}

.logo img {
    width: auto;
    height: 0 !important;
}

.logo a {
    background-image: var(--logo);
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-size: contain;
    height: 41px;
    width: 129px;
    display: block;
    max-width: 198px;
    max-height: 66px;
}

.logo a:hover {
    filter: brightness(37.5);
}

.sicon-whatsapp2::after {
    content: "\E916";
    content: "\e917";
    text-align: center;
    cursor: pointer;
    background: #46a51e;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0px;
    color: #fff;
    box-shadow: #00000022 1.5px 1.5px 5px;
    width: 0px;
    height: 0px;
    border-radius: 27.5px;
    position: fixed;
    bottom: 19px;
    right: 17px;
    transform: rotate(360);
    transition: all .2s ease-in-out;
}

body[style] .sicon-whatsapp2::after, body[cz-shortcut-listen="true"] .sicon-whatsapp2::after,i.sicon-whatsapp2::after {
    width: 56px;
    height: 56px;
    border-radius: 32.5px;
    font-size: 32px;
    box-shadow: #0000006b 2px 2px 8px;
}

.sicon-whatsapp2:after:hover {
    border-radius: 0;
    border: 0;
    width: 180px;
    height: 60px;
}

.sicon-whatsapp2:hover::after {
    content: "حاب نساعدك 😃؟ ";
    content: "     في خدمتك ؟ ";
    font-family: dinnextltarabic-regular!important;
    width: 260px !important;
    animation: trns 1s;
    font-size: 20px !important;
    color: #ffffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes trns {
    0% {
        color: #ffffff00;
    }

    100% {
        color: #ffffff99;
    }
}

h4.product-subtitle {
    text-align: center;
    text-align-last: center;
}

.footer-main p {
    background: var(--color-main-d);
    padding: 10px;
    padding-top: 10px;
    padding-right: 5rem;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 5rem;
    position: relative;
    border-radius: 20px;
}

.footer-main p::before {
    content: "\f14a";
    font-family: fontawesome;
    font-size: 3rem;
    position: absolute;
    right: 0.8rem;
    top: 57px;
    top: calc(54% - 2.5rem);
}

@media screen and (max-width: 777px) {
    .footer-main p::before {
        top: calc(54% - 2.5rem);
    }
}

@media screen and (max-width: 777px) {
    body > header > div > div > div.sub-nav > div > ul {
        display: grid;
    }

    body > header > div > div > div.sub-nav > div > ul > li.sub-menu-header.categories-holder {
        grid-column: 1/2;
        grid-row: 1/1 ;
    }

    .sub-nav-header {
        /* background: #ffffffe8 !important; */
    }

    .sub-nav-header p {
        padding: 0 10px;
        color: var(--color-main);
    }

    .sub-nav__close svg {
        fill: var(--color-main-d);
    }

    .sub-nav__close:hover svg {
        fill: var(--color-main-d);
    }
}
