 /* develope By Package +201002241591  3lwaaa@gmail.com - https://wa.me/201002241591 */
.block-product .thumb img {
    max-height: 9rem;
    width: 100%;
    object-fit: cover;
}
.header {
    background: var(--3);
    padding: 10px 0;
    z-index: 999;
    margin-bottom: 20px;
}


body > div > div:nth-child(6) > footer > div > div > div.col-md-3.mt-4.mt-md-0.order-3.mt-4.mt-md-0 > div{
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    max-width: 186px;
}

body > div > div:nth-child(6) > footer > div > div > div.col-md-3.mt-4.mt-md-0.order-3.mt-4.mt-md-0  {
    position: relative;
    left: -148px;
}
.payment-method-list img {
    width: 45px;
    max-width: 29px;
    max-height: unset;
}


body:before {
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(134deg,transparent 0%,var(--2) 50%,#fefefe 200%),url("https://media.zid.store/5887f156-3006-48c6-9e39-eb8e2f80b3ca/40362722-a46a-4d97-8995-2a36081971e9.jpg")0rem 0rem/100%no-repeat;
    position: fixed;
    z-index: 999999;
    transform: scale(0);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150%;
    animation-name: pupup;
    animation-duration: 3s
}

@keyframes pupup {
    0% {
        transform: scale(1)
    }

    18% {
        transform: scale(1)
    }

    80% {
        transform: scale(1)
    }

    100% {
        transform: scale(0)
    }
}

body:after {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    position: fixed;
    z-index: 999999;
    background: var(--logo);
    left: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    transform: scale(0);
    animation-name: pupup_logo;
    animation-duration: 3s
}

@keyframes pupup_logo {
    0% {
        transform: scale(0)
    }

    18% {
        transform: scale(1)
    }

    75% {
        transform: scale(1)
    }

    95% {
        transform: scale(0)
    }

    100% {
        transform: scale(0)
    }
}



:root {
    --1: #612964;
    --2: #5dbabc;--3: #ecefbc;
    --2-2:#8ac9ca;
    --2-2-2:#e7f3f4;
    --logo:url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 61.94 33.61'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %2352b8b8; %7D .cls-2 %7B fill: %23bbcf4d; %7D .cls-3 %7B fill: %23612a64; %7D %3C/style%3E%3C/defs%3E%3Cg%3E%3Cpath class='cls-1' d='m8.63,23.62h0c-3.65,0-6.61-2.96-6.61-6.61v-.42c0-3.65,2.96-6.61,6.61-6.61h0c3.65,0,6.61,2.96,6.61,6.61v.42c0,3.65-2.96,6.61-6.61,6.61'/%3E%3Cpath class='cls-2' d='m20.57,26.63h0c-3.65,0-6.61-2.96-6.61-6.61v-.42c0-3.65,2.96-6.61,6.61-6.61s6.61,2.96,6.61,6.61v.42c0,3.65-2.96,6.61-6.61,6.61'/%3E%3Cpath class='cls-3' d='m16.4,26.02c-.53-1.16-1.03-2.33-1.47-3.52-.89-2.37-1.59-4.8-2.02-7.27l-.04-.23-.04-.23-.07-.46c-.04-.31-.07-.62-.11-.94l-.06-.47c0-.08-.02-.16-.03-.23l-.02-.23c-.03-.31-.05-.63-.08-.94l-.02-.24c0-.08,0-.16-.01-.24l-.02-.47-.02-.47v-.24s-.01-.24-.01-.24v-.94c0-.16,0-.31,0-.47l.02-.47c.05-1.26.16-2.52.35-3.78l.08-.47.04-.24.05-.23.09-.47c.03-.16.07-.31.1-.47,0,0,0-.01,0-.02.05-.23-.28-.34-.37-.12,0,0,0,.01,0,.02-.25.6-.46,1.22-.65,1.84-.34,1.13-.58,2.3-.72,3.47-.17,1.35-.52,2.66-1.45,3.7-.2.23-.42.44-.65.61-.23.17-.47.31-.73.4-.13.05-.26.08-.39.11l-.1.02h-.1c-.07.02-.14.03-.19.03-.24,0-.5-.04-.75-.13-.26-.09-.52-.22-.77-.38-.26-.16-.51-.35-.75-.55-.82-.67-1.65-1.45-2.11-2.42-.53-1.12-1.12-2.2-1.82-3.23-.37-.54-.75-1.06-1.18-1.56,0,0,0-.01-.01-.02-.15-.18-.43.02-.31.22,0,0,0,.01,0,.02.08.14.16.28.24.41l.23.42.11.21.11.21.22.42c.56,1.14,1.05,2.3,1.48,3.49l.16.45c.05.15.11.3.15.45l.28.9.07.22.06.23.12.46.13.45c.02.08.04.15.06.23l.05.23c.07.31.14.61.21.92l.05.23c.02.08.03.15.04.23l.09.46c.06.31.12.62.18.93l.07.46.04.23.03.23c.34,2.49.41,5.01.28,7.54-.06,1.26-.18,2.53-.34,3.8-.08.64-.17,1.28-.27,1.92-.04.23.3.32.38.1,0,0,0-.01,0-.02.21-.61.4-1.23.57-1.86.2-.74.31-1.5.59-2.22.27-.69.66-1.36,1.05-1.99.18-.29.37-.58.57-.85.2-.27.41-.52.63-.75.45-.45.95-.8,1.48-.93.57-.15,1.18-.14,1.77.03.3.08.6.2.88.35.29.15.57.33.85.52,0,0,.02.01.02.02.87.63,1.58,1.47,2.09,2.41.32.58.65,1.14,1.01,1.7.35.55.72,1.08,1.1,1.6,0,0,0,.01.01.02.14.19.43,0,.33-.2-.29-.58-.57-1.16-.84-1.74m-3.97-5.34c-.33-.22-.7-.41-1.09-.56-.39-.14-.81-.24-1.24-.26-.21-.01-.43-.01-.64,0-.11.01-.21.02-.32.04-.05,0-.1.02-.16.03-.05,0-.11.02-.16.03-.44.1-.85.29-1.2.53-.36.24-.67.52-.94.83-.37.42-.67.88-.93,1.36.17-2.09.13-4.2-.15-6.29l-.03-.24-.04-.24-.08-.49c-.06-.32-.13-.64-.19-.96-.12-.64-.3-1.28-.47-1.91-.05-.16-.09-.31-.14-.47.25.24.51.47.81.68.32.22.67.42,1.06.56.39.14.83.22,1.28.2.11,0,.22-.02.32-.03l.16-.03.15-.03c.21-.05.41-.11.6-.2.39-.17.74-.4,1.04-.67.3-.27.55-.57.77-.88.1-.15.2-.3.28-.46,0,.11,0,.22,0,.33.01.33.03.65.05.98v.25c.02.08.03.16.04.24l.05.49c.04.33.07.65.11.98l.07.49c.02.16.05.33.08.49.35,2,.92,3.94,1.67,5.81-.24-.22-.49-.42-.77-.6'/%3E%3Cpath class='cls-3' d='m3.59,4.92c.02.13.05.25.09.37.02.06.04.12.06.18.02.06.04.12.07.18.22.47.56.88.99,1.17.42.3.94.48,1.46.52.07,0,.13,0,.2,0,.07,0,.13,0,.2,0l.2-.02s.07,0,.1-.01l.09-.02.18-.04s.06-.01.09-.02l.09-.03c.12-.04.24-.07.36-.12.46-.19.89-.48,1.23-.85.34-.37.61-.8.77-1.27.16-.47.23-.97.18-1.46-.02-.12-.03-.24-.05-.36-.03-.11-.06-.23-.09-.34-.01-.06-.03-.11-.05-.17l-.06-.17c-.02-.05-.04-.11-.06-.16l-.08-.16-.08-.16c-.02-.05-.06-.1-.09-.15l-.09-.15s-.06-.1-.1-.14c-.07-.09-.14-.18-.22-.27-.08-.08-.16-.16-.24-.25-.33-.31-.72-.56-1.12-.74l-.15-.06c-.05-.02-.1-.04-.16-.06-.11-.03-.21-.06-.32-.09l-.32-.06c-.05-.01-.11-.01-.16-.02h-.16c-.43-.03-.86.03-1.25.17.41.02.81.09,1.18.21l.14.05s.09.03.13.05l.26.12.25.14s.08.05.12.08l.11.08c.3.22.56.48.78.76.22.28.37.6.49.93l.04.12s.02.08.03.13l.03.13s.02.08.02.13c.01.09.02.17.04.25v.24c0,.32-.05.64-.18.93-.12.29-.3.56-.52.77-.22.22-.48.4-.77.51-.14.06-.29.1-.44.13h-.06s-.04.02-.05.02h-.11s-.07.01-.11.01c-.04,0-.07,0-.11,0h-.11s-.07-.02-.11-.02c-.07,0-.14-.03-.21-.05-.14-.04-.27-.1-.4-.18-.26-.15-.46-.37-.62-.62-.02-.03-.03-.07-.05-.1-.02-.03-.04-.07-.05-.1-.03-.07-.06-.14-.08-.22-.01-.04-.02-.07-.03-.11l-.02-.1s0-.07-.01-.11c0-.04,0-.07,0-.11,0-.14.02-.29.07-.43.05-.14.12-.28.21-.4.09-.13.21-.24.33-.33.13-.1.28-.17.44-.22.3-.11.66-.09.98.07.32.16.6.45.74.84,0-.21-.03-.42-.12-.62-.09-.2-.22-.39-.39-.54-.17-.16-.38-.27-.61-.35-.23-.07-.48-.1-.72-.07-.48.04-.96.26-1.32.61-.18.17-.34.38-.46.61-.12.23-.2.48-.24.74-.01.06-.02.13-.02.2,0,.07,0,.13,0,.2v.2c.02.06.03.13.04.19'/%3E%3Cpath class='cls-3' d='m28.85,7.42c-.42.5-.81,1.02-1.18,1.56-1.22,1.76-1.78,4.22-3.46,5.62h-.01c-.25.21-.51.4-.77.56-.26.16-.53.29-.81.39-.27.09-.55.15-.81.16-.13,0-.27,0-.4-.01h-.1s-.1-.03-.1-.03c-.07-.01-.13-.03-.19-.05-.23-.07-.46-.19-.68-.35-.22-.16-.43-.37-.62-.6-.2-.23-.38-.48-.55-.75-.09-.13-.17-.27-.25-.41-.08-.14-.16-.28-.24-.43-.98-1.76-.97-3.82-1.54-5.73-.19-.62-.4-1.24-.65-1.84v-.02c-.1-.22-.43-.12-.38.12v.02c.04.16.07.31.11.47l.09.47.05.23.04.24.08.47c.19,1.25.31,2.52.35,3.78l.02.47c0,.16.01.31,0,.47v.94s0,.24,0,.24v.24s-.03.47-.03.47l-.02.47c0,.08,0,.16-.01.24l-.02.24c-.03.31-.05.63-.08.94l-.02.23c0,.08-.02.16-.03.23l-.06.47c-.04.31-.07.62-.11.94l-.07.46-.04.23-.04.23c-.43,2.47-1.13,4.9-2.02,7.27-.44,1.19-.94,2.36-1.47,3.52-.27.59-.55,1.17-.84,1.74-.11.21.19.4.33.2v-.02c.4-.52.77-1.06,1.12-1.6.84-1.31,1.66-2.48,2.84-3.51.26-.22.53-.44.8-.63.27-.2.55-.37.83-.52.56-.29,1.14-.47,1.7-.44.59.03,1.17.22,1.68.56.26.17.51.37.74.6.23.23.45.48.65.75,0,0,.01.02.02.02.64.87,1.05,1.88,1.26,2.93.13.65.28,1.29.44,1.92.17.63.35,1.25.57,1.86,0,0,0,.01,0,.02.08.22.41.14.37-.1-.1-.64-.19-1.28-.27-1.92-.16-1.27-.28-2.53-.34-3.8-.13-2.53-.06-5.06.28-7.54l.03-.23.04-.23.07-.46c.05-.31.12-.62.18-.93l.09-.46c.01-.08.03-.16.04-.23l.05-.23c.07-.31.15-.61.21-.92l.05-.23c.02-.08.04-.15.06-.23l.13-.45.12-.46.06-.23.07-.22.28-.9c.04-.15.1-.3.15-.45l.16-.45c.43-1.19.92-2.35,1.48-3.49l.21-.43.11-.21.11-.21.23-.42c.08-.14.16-.28.24-.42v-.02c.13-.21-.15-.41-.31-.22v.02Zm-6.83,16.9c-.33-.25-.7-.47-1.1-.63-.2-.08-.4-.14-.61-.19-.1-.02-.21-.04-.31-.06-.05,0-.11-.01-.16-.02-.05,0-.11-.01-.16-.02-.45-.04-.89.02-1.31.14-.41.12-.79.3-1.15.5-.49.29-.91.64-1.29,1.01.8-1.94,1.4-3.96,1.76-6.04l.04-.24.04-.24.07-.49c.04-.33.07-.65.11-.98.08-.65.1-1.31.13-1.96,0-.16,0-.32,0-.49.16.31.34.61.56.89.23.31.51.6.84.86.33.25.72.47,1.16.58.11.03.21.05.32.07l.16.02.16.02c.21.02.42.01.63,0,.42-.04.82-.16,1.19-.32.37-.16.7-.38,1-.61.14-.11.28-.23.41-.35-.03.11-.06.21-.09.32-.09.32-.17.63-.25.95l-.06.24c-.02.08-.03.16-.05.24l-.1.48c-.06.32-.13.64-.19.96l-.08.49c-.03.16-.05.32-.07.49-.27,2.01-.32,4.04-.17,6.04-.16-.28-.34-.55-.55-.81-.25-.31-.54-.6-.87-.86'/%3E%3Cpath class='cls-3' d='m20.21,12.05c.09.08.18.16.28.24l.15.11c.05.03.1.07.15.1l.16.09c.05.03.11.06.17.08l.18.07c.06.02.12.04.18.06.49.15,1.02.16,1.51.04.06-.01.12-.04.18-.05.06-.02.12-.04.18-.06l.17-.07c.06-.03.11-.06.17-.09l.08-.04.08-.05c.05-.03.1-.07.16-.11l.14-.12s.05-.04.07-.06l.07-.07s.09-.09.13-.13l.12-.15s.04-.05.06-.07l.05-.08c.03-.05.07-.1.1-.16l.08-.17.04-.08s.02-.06.04-.09c.02-.06.05-.12.07-.18l.05-.18c.05-.25.06-.51.03-.76-.03-.25-.1-.49-.21-.71-.11-.22-.25-.42-.43-.59-.17-.17-.37-.31-.59-.41-.21-.1-.46-.17-.69-.17-.24,0-.47.03-.68.12-.21.09-.4.22-.55.38-.15.16-.26.35-.32.55.24-.34.6-.55.96-.61.18-.03.36-.02.53.02.17.04.32.11.46.22.29.2.49.49.59.8.1.31.09.64,0,.94l-.04.11s-.04.07-.05.1c0,.02-.02.03-.03.05l-.03.05-.07.1s-.05.06-.08.1l-.04.05s-.03.03-.04.04l-.08.09-.09.08-.04.04s-.03.02-.05.03l-.1.07s-.07.04-.1.06l-.05.03-.05.02-.11.05-.11.04s-.07.02-.11.03c-.04,0-.08.02-.11.03-.08,0-.15.03-.23.03-.04,0-.08,0-.12,0h-.12s-.08-.01-.12-.02c-.04,0-.08,0-.11-.02-.07-.02-.15-.03-.22-.06-.04-.01-.07-.02-.11-.04l-.11-.05s-.07-.04-.11-.06l-.11-.06s-.07-.04-.1-.07l-.1-.07c-.07-.05-.12-.11-.19-.16-.24-.22-.43-.5-.56-.8-.13-.3-.2-.63-.2-.96,0-.33.06-.66.19-.98.06-.15.14-.29.24-.43.1-.14.22-.27.35-.39.13-.12.28-.24.43-.35l.12-.08s.07-.05.11-.07c.07-.04.15-.09.23-.13.32-.15.69-.24,1.09-.32.2-.04.4-.08.61-.12.2-.05.43-.1.63-.21.2-.11.37-.25.51-.4.14-.16.27-.32.39-.49-.33.25-.67.5-1.03.59-.18.05-.36.06-.56.06h-.61c-.41.01-.86.04-1.31.18-.11.03-.22.08-.33.12-.05.02-.11.05-.16.08l-.15.08c-.19.11-.38.22-.56.37-.18.14-.36.3-.52.48-.16.18-.3.39-.41.6-.22.43-.35.91-.37,1.39-.02.49.06.98.25,1.43.18.45.46.87.82,1.21'/%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath class='cls-3' d='m56.64,19.92v-4.45h-1.45v3.17h-.68c-.16,0-.28-.02-.38-.05-.1-.03-.18-.08-.23-.14-.06-.06-.1-.14-.12-.24-.02-.1-.03-.21-.03-.35v-1.9h-1.46v2.14c0,.11-.02.2-.05.27-.04.07-.08.12-.15.16-.06.04-.14.07-.23.08-.09.01-.19.02-.29.02-.29,0-.49-.07-.62-.21-.13-.14-.19-.33-.19-.57v-1.9h-1.46v2.14c0,.12-.01.22-.04.29-.03.07-.08.13-.14.16-.07.04-.16.06-.26.07-.11,0-.25.01-.41.01h-8.73c-.29,0-.52-.08-.68-.25-.16-.17-.28-.42-.37-.75-.05-.16-.11-.33-.2-.51-.09-.18-.21-.37-.37-.57-.16-.2-.37-.41-.64-.63-.26-.22-.6-.46-1-.71v-.04l2.18-1.05v-1.67l-3.83,2.03v1.56c.35.16.67.33.97.52.3.19.55.38.77.57.22.19.39.38.51.55.12.18.18.33.18.47,0,.16-.05.28-.16.37-.11.08-.27.12-.5.12h-2.73c-.09,0-.17,0-.23-.02-.07-.01-.12-.04-.17-.08-.04-.04-.08-.1-.1-.18-.02-.08-.03-.18-.03-.32v-5.69h-1.46v5.88c0,.33.04.6.13.81.08.22.2.39.36.52.15.13.34.22.55.28.21.05.44.08.7.08h3.17c.2,0,.38-.02.54-.05.16-.03.3-.07.43-.13.13-.05.24-.12.34-.19.1-.07.18-.15.26-.24.11.14.22.25.34.33.12.08.24.14.35.18.12.04.24.07.36.08.12.01.24.02.36.02h8.71c.25,0,.47,0,.68-.02.21-.01.39-.04.56-.08.17-.04.31-.1.45-.18.13-.08.24-.18.34-.31.31.39.85.59,1.62.59.13,0,.26,0,.39-.02.13-.01.26-.04.38-.08.12-.04.24-.1.35-.18.11-.08.21-.18.31-.3.07.09.15.17.23.25.08.07.18.13.3.19.11.05.25.09.4.12.15.03.33.04.53.04h1.69Z'/%3E%3Cpath class='cls-3' d='m60.98,19.8c.2-.07.36-.18.49-.3.13-.13.22-.28.29-.45.06-.17.09-.35.09-.54,0-.12-.02-.24-.05-.36-.03-.13-.08-.26-.15-.41-.06-.15-.15-.31-.25-.48-.1-.17-.21-.37-.34-.58l-.97-1.57-1.31.84.88,1.32c.14.21.26.38.34.5.08.13.15.23.19.3.04.08.07.14.08.18.01.05.02.09.02.14,0,.09-.05.15-.15.19-.1.04-.23.05-.4.05h-2.18v1.28h2.7c.28,0,.51-.04.71-.11'/%3E%3C/g%3E%3Cpath class='cls-3' d='m34.2,24.2h-2.16v4.93h2.16c.67,0,1.21-.22,1.61-.67.4-.45.6-1.06.6-1.82s-.2-1.37-.61-1.79c-.41-.43-.94-.64-1.59-.64m.78,3.65c-.23.25-.51.37-.86.37h-.99v-3.11h.8c.45,0,.8.13,1.04.39.24.25.36.67.36,1.24,0,.49-.11.86-.34,1.11'/%3E%3Cpath class='cls-3' d='m44.16,26.77c-.11-.12-.25-.22-.41-.3-.16-.08-.34-.15-.55-.2-.61-.14-1-.25-1.19-.31-.18-.07-.3-.13-.36-.19-.06-.06-.09-.15-.09-.28,0-.18.07-.32.21-.41.14-.1.32-.14.54-.14.32,0,.56.06.72.19.15.12.24.31.25.56h1.05c0-.51-.18-.9-.54-1.17-.36-.28-.84-.41-1.43-.41-.53,0-.97.14-1.32.41-.35.27-.53.63-.53,1.07,0,.33.1.61.3.83.2.21.46.37.77.47.15.05.32.09.49.14.17.04.35.09.54.13.29.07.51.16.64.26.13.1.2.23.2.39,0,.1-.02.19-.07.26-.04.07-.11.14-.19.19-.08.05-.19.09-.3.12-.12.03-.25.04-.4.04-.33,0-.59-.07-.79-.23-.2-.15-.3-.38-.31-.68h-1.05v.03c0,.54.2.96.59,1.27.39.31.89.46,1.52.46s1.15-.14,1.51-.43c.36-.29.54-.67.54-1.15,0-.18-.03-.35-.09-.5-.06-.15-.14-.28-.25-.4'/%3E%3Cpath class='cls-3' d='m52.09,28.05c-.19.19-.45.29-.76.29-.43,0-.76-.15-.99-.46-.23-.31-.35-.7-.35-1.19s.12-.92.35-1.23c.24-.31.56-.47.99-.47.25,0,.48.08.69.24.21.16.34.37.38.62h1.05c-.07-.55-.3-.98-.69-1.3-.4-.32-.87-.48-1.43-.48-.73,0-1.32.24-1.76.73-.44.49-.66,1.11-.66,1.87,0,.48.1.92.3,1.32.2.39.49.7.86.92.37.22.79.32,1.27.32.6,0,1.09-.18,1.48-.54.39-.36.62-.85.68-1.48h-1.05c-.04.35-.16.62-.36.82'/%3E%3Cpath class='cls-3' d='m60.1,24.2h-1.11l-1.87,4.93h1.1l.39-1.1h1.84l.37,1.1h1.13l-1.84-4.92Zm-1.21,3.02l.64-1.81h.02l.62,1.81h-1.28Z'/%3E%3C/g%3E%3C/svg%3E");
    
}
