/* develope By Package +201002241591  3lwaaa@gmail.com - https://wa.me/201002241591 */
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800&family=Changa:wght@200;300;400;500;600;700&display=swap"); html, body, div, object, h1, h2,h4, h3 {
    font-family: "Cairo", sans-serif;
}

h5, h6, p, blockquote, a, abbr, img, small, strong, ol, ul, li, dd, form, label, span, .section--title {
    font-family: "Changa", sans-serif;
}

@media (min-width: 1024px) {
    .s-block--default-home-slider .swiper-slide {
        height: 840px;
    }

    .loading-effect::before {
        display: none;
    }
}

body > div.app-inner.flex.flex-col.min-h-full > header > div.store-header.w-full.top-0.rtl\:left-0.ltr\:right-0.z-10 > div > div > div.flex.justify-start.items-center {
    order: 2;
    display: flex;
    justify-content: center;
    align-content: center;
    position: inherit;
}

body > div.app-inner.flex.flex-col.min-h-full > header > div.store-header.w-full.top-0.rtl\:left-0.ltr\:right-0.z-10 > div > div > div.hidden.lg\:flex.items-center {
    order: 1;
}

body > div.app-inner.flex.flex-col.min-h-full > header > div.store-header.w-full.top-0.rtl\:left-0.ltr\:right-0.z-10 > div > div > div.left-side {
    order: 3;
}

body > div.app-inner.flex.flex-col.min-h-full > header > div.store-header.w-full.top-0.rtl\:left-0.ltr\:right-0.z-10 > div > div > div.flex.justify-start.items-center > a.navbar-brand > img {
    content: var(--logo);
    height: 100%;
    width: 79px;
    max-height: unset !important;
    position: relative;
}

body:not(.page-single):not(.cart):not(.product-single):not(product-index) > div.app-inner.flex.flex-col.min-h-full > header > div.store-header> div > div > div.flex.justify-start.items-center > a.navbar-brand > img {
    content: var(--logo);
    height: unset;
    width: 111px;
    max-height: unset !important;
    position: relative;
    filter: brightness(9.5);
}

:lang (en) body:not(.index) > div.app-inner.flex.flex-col.min-h-full > header > div.store-header.w-full.top-0.rtl\:left-0.ltr\:right-0.z-10 > div > div > div.flex.justify-start.items-center > a.navbar-brand > img {
    content: var(--logo);
    height: unset;
    width: 111px;
    max-height: unset !important;
    position: relative;
    filter: brightness(9.5);
}

@media (min-width: 1021px) {
    body:not(.page-single):not(.cart):not(.product-single) > div.app-inner.flex.flex-col.min-h-full > header > div.store-header.w-full.top-0.rtl\:left-0.ltr\:right-0.z-10 > div > div > div.flex.justify-start.items-center > a.navbar-brand > img {
        top: -76px;
        margin: 81px 0 0 0;
        right: -22px;
    }
}

@media (max-width: 1021px) {
    body:not(.page-single) > div.app-inner.flex.flex-col.min-h-full > header > div.store-header.w-full.top-0.rtl\:left-0.ltr\:right-0.z-10 > div > div > div.flex.justify-start.items-center > a.navbar-brand > img {
        right: 16.5rem;
        top: -51px;
    }

    body:not(.page-single):not(.cart):not(.product-single):not(.product-index) > div.app-inner.flex.flex-col.min-h-full > header > div.store-header.w-full.top-0.rtl\:left-0.ltr\:right-0.z-10 > div > div > div.flex.justify-start.items-center > a.navbar-brand > img {
        width: 66px;
        max-height: unset !important;
        position: relative;
        filter: brightness(9.5);
        top: -28px;
    }

    body:not(.index) > div.app-inner.flex.flex-col.min-h-full > header > div.store-header.w-full.top-0.rtl\:left-0.ltr\:right-0.z-10 > div > div > div.flex.justify-start.items-center > a.navbar-brand > img {
        width: 66px;
        max-height: unset !important;
        position: relative;
        filter: brightness(9.5);
        top: -28px;
    }
}

@media (max-width: 850px) {
    body:not(.page-single) > div.app-inner.flex.flex-col.min-h-full > header > div.store-header.w-full.top-0.rtl\:left-0.ltr\:right-0.z-10 > div > div > div.flex.justify-start.items-center > a.navbar-brand > img {
        right: -21.5rem;
        top: -51px;
    }

    :LANG(ar) body:not(.page-single) > div.app-inner.flex.flex-col.min-h-full > header > div.store-header.w-full.top-0.rtl\:left-0.ltr\:right-0.z-10 > div > div > div.flex.justify-start.items-center > a.navbar-brand > img {
        right: 21.5rem;
        top: -51px;
    }
}

@media (max-width: 700px) {
    body:not(.page-single) > div.app-inner.flex.flex-col.min-h-full > header > div.store-header.w-full.top-0.rtl\:left-0.ltr\:right-0.z-10 > div > div > div.flex.justify-start.items-center > a.navbar-brand > img {
        right: -21.5rem;
        top: -51px;
    }

    :LANG(ar) body:not(.page-single) > div.app-inner.flex.flex-col.min-h-full > header > div.store-header.w-full.top-0.rtl\:left-0.ltr\:right-0.z-10 > div > div > div.flex.justify-start.items-center > a.navbar-brand > img {
        right: -3.5rem;
        top: -51px;
    }

    :LANG(ar) body:not(.index) > div.app-inner.flex.flex-col.min-h-full > header > div.store-header.w-full.top-0.rtl\:left-0.ltr\:right-0.z-10 > div > div > div.flex.justify-start.items-center > a.navbar-brand > img {
        right: -3.5rem;
        top: -32px;
        position: relative;
        width: 66px;
        margin: 0px 0 -24px -15px;
    }

  body:not(.index):not(.product-index) > div.app-inner.flex.flex-col.min-h-full > header > div.store-header.w-full.top-0.rtl\:left-0.ltr\:right-0.z-10 > div > div > div.flex.justify-start.items-center > a.navbar-brand > img {
       
        filter: none;
        
    }
    
}

@media (max-width: 700px) {
    body:not(.page-single) > div.app-inner.flex.flex-col.min-h-full > header > div.store-header.w-full.top-0.rtl\:left-0.ltr\:right-0.z-10 > div > div > div.flex.justify-start.items-center > a.navbar-brand > img {
        right: 1vw;
        top: -51px;
    }

    :lang(en) body:not(.page-single) > div.app-inner.flex.flex-col.min-h-full > header > div.store-header.w-full.top-0.rtl\:left-0.ltr\:right-0.z-10 > div > div > div.flex.justify-start.items-center > a.navbar-brand > img {
        left: 63vw;
        top: -51px;
    }

    :lang(en) body:not(.index) > div.app-inner.flex.flex-col.min-h-full > header > div.store-header.w-full.top-0.rtl\:left-0.ltr\:right-0.z-10 > div > div > div.flex.justify-start.items-center > a.navbar-brand > img {
        left: 63vw;
        top: -21px;
    }
}

@media (max-width: 500px) {
    body:not(.page-single) > div.app-inner.flex.flex-col.min-h-full > header > div.store-header.w-full.top-0.rtl\:left-0.ltr\:right-0.z-10 > div > div > div.flex.justify-start.items-center > a.navbar-brand > img {
        right: -15vw;
        top: -51px;
    }

    :lang(en) body:not(.page-single) > div.app-inner.flex.flex-col.min-h-full > header > div.store-header.w-full.top-0.rtl\:left-0.ltr\:right-0.z-10 > div > div > div.flex.justify-start.items-center > a.navbar-brand > img {
        left: 65vw;
        top: -51px;
    }
}

body.product-single > div.app-inner.flex.flex-col.min-h-full > header > div.store-header.w-full.top-0.rtl\:left-0.ltr\:right-0.z-10 > div > div > div.flex.justify-start.items-center > a.navbar-brand > img {
    filter: unset;
}

@media (max-width: 700px) {
    body > div.app-inner.flex.flex-col.min-h-full > header > div.store-header.w-full.top-0.rtl\:left-0.ltr\:right-0.z-10 > div > div > div.flex.justify-start.items-center > a.navbar-brand > img {
        width: 48px;
    }

    body > div.app-inner.flex.flex-col.min-h-full > header > div.store-header.w-full.top-0.rtl\:left-0.ltr\:right-0.z-10 > div > div > div.flex.justify-start.items-center > a.navbar-brand {
        align-content: center;
        justify-content: center;
        position: relative;
        right: 10rem;
    }

    body > div.relative.z-0.s-block > footer > div.store-footer__top > div > div > div.mb-2\.5.col-span-2 {
        align-content: center;
        justify-content: center;
        text-align: center;
    }

    body > div.relative.z-0.s-block > footer > div.store-footer__top > div > div > div.mb-2\.5.col-span-2 > a > img {
        position: relative;
        right: 8rem;
    }

    :lang(en) body > div.relative.z-0.s-block > footer > div.store-footer__top > div > div > div.mb-2\.5.col-span-2 > a > img {
        position: relative;
        left: 8rem;
    }
}

@media (max-width: 500px) {
    body > div.app-inner.flex.flex-col.min-h-full > header > div.store-header.w-full.top-0.rtl\:left-0.ltr\:right-0.z-10 > div > div > div.flex.justify-start.items-center > a.navbar-brand {
        right: 10rem;
    }
}

body.product-index .header-components .mburger--collapse, body.product-index .header-above-slider.header-is-light .header-components-top .header-btn {
    body.product-index color: var(--2);
}

button.header-btn.btn--gray.rounded,button.btn--gray.search-btn.w-\[40px\] ,body > div.app-inner.flex.flex-col.min-h-full > header > div.header-components-top.header-top-page > div > a {
    background-color: transparent;
}

.header-above-slider .header-op-page {
    background-color: transparent;
    border: 0;
    padding: 0 63px 0;
}

body > div.relative.z-0.s-block > footer > div.store-footer__top {
    background-color: var(--5);
    padding: 29px 0 0;
    border-radius: 15px 15px 0 0;
}

.s-block--fixed-banner .banner--fixed {
    border-radius: 0;
}

body > section.s-block.container.s-block--banners > div.gap-2\.5 .banner-entry {
    max-height: 640px;
    min-height: 246px;
}

.product-entry--fit-type .product-entry__image {
    height: 18rem;
    max-height: 19rem;
}

@media (max-width: 700px) {
    .product-entry--fit-type .product-entry__image {
        height: 11rem;
        max-height: 19rem;
    }
}

body.product-index.salla-349994915 > header {
    background-color: rgb(255 255 255) !important;
    background-image: var(--bghed) !important;
    height: 58rem;
}

body.product-index.salla-349994915 > header {
    height: 33rem;
    position: relative;
    top: -8rem;
    margin: 15px 0 -136px;
}

@media (max-width: 700px) {
    body.product-index.salla-349994915 > header {
        height: 33rem;
        position: relative;
        top: -8rem;
        margin: 15px 0 -136px;
    }
}

body.product-index .header-components-top.header-top-page .header-icon-button, body.product-index .header-components-top.header-top-page .sicon-search, body.product-index .header-components-top.header-top-page .header-btn,body.product-index a.s-cart-summary-wrapper,body.product-index .header-icon-button #s-cart-icon {
    color: var(--2);
}

.header-components,.header-is-light .header-components,.store-header.w-full.top-0.rtl\:left-0.ltr\:right-0.z-10,.header-components-top.header-top-page {
    border: 0 !important;
    border-color: transparent !important;
}

.product-entry__image {
    background-color: #fff;
}

.rtl .fix-align, [dir=rtl] .fix-align,body.product-index i.sicon-menu.text-2xl.rtl\:ml-3.ltr\:mr-3,body.product-index .header-is-light .header-components .s-cart-summary-wrapper li a, body.product-index > div.app-inner.flex.flex-col.min-h-full > header > div.store-header.w-full.top-0.rtl\:left-0.ltr\:right-0.z-10 > div > div > div.hidden.lg\:flex.items-center > ul > li > a > span,body.product-index .header-components .left-side .header-icon-button {
    color: var(--2) !important;
}

body.product-index.salla-349994915 > header:before {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.6);
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: 300ms;
    --tw-content: "";
    content: var(--tw-content);
}

.fixed-pinned.header-components, .fixed-pinned .inner {
    position: unset;
}

@media (max-width: 700px) {
    body > section.s-block.container.s-block--banners > div.gap-2\.5 {
        grid-template-columns: 1fr 1fr 1fr;
    }

    body > section.s-block.container.s-block--banners > div.gap-2\.5 .banner-entry {
        max-height: 68px;
        min-height: 58px;
        border-radius: 8px;
    }
}

@media (min-width: 700px) {
    body > div.page-container.relative.z-1.product-has-options .container {
        display: flex;
    }

    body.product-single .w-full.grid.grid-cols-1.md\:grid-cols-3.gap-5 {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .swiper-slide.relative.swiper-slide-active {
        width: 24rem !important;
        overflow: visible !important;
        position: relative;
        right: 8rem;
    }

    [dir=rtl] .details-slider-wrapper .details-slider, [dir=rtl] .details-slider-wrapper .s-slider-container {
        /* order: 2; */
        height: 69rem;
    }
}

@media (max-width: 700px) {
    body > div.page-container.relative.z-1.product-has-options > div.container > div > div > div > salla-slider {
        height: 28rem;
        min-height: 15rem;
    }

    .details-slider-wrapper .details-slider .swiper-slide {
        width: 23rem !important;
        height: 28rem !important;
        background: #fff !important;
    }
}

.details-slider-wrapper .s-slider-container {
    background-color: #fff !important;
}

body.index i.sicon-menu.text-2xl.rtl\:ml-3.ltr\:mr-3 {
    right: 0px;
    color: var(--2) !important;
}

:lang(en) body.index i.sicon-menu.text-2xl.rtl\:ml-3.ltr\:mr-3 {
    left: 15px;
    color: var(--2) !important;
}

@media (max-width: 900px) {
    body.index i.sicon-menu.text-2xl.rtl\:ml-3.ltr\:mr-3 ,.header-above-slider .header-components-home .header-icon-button,body.index i.sicon-menu.text-2xl.rtl\:ml-3.ltr\:mr-3,body.product-index .header-components .left-side .header-icon-button {
        position: relative;
        top: -10px;
    }

    body.index i.sicon-menu.text-2xl.rtl\:ml-3.ltr\:mr-3 {
        position: relative;
        top: -4px;
    }

    body.product-index .header-components .left-side .header-icon-button {
        top: -6px;
    }
}

.bg-zinc-100 {
    background-color: var(--3);
}

div > div > div.order-1.md\:order-2.block.md\:sticky.top-24.shrink-0.h-fit > div.product-fixed-bar > div > div.grow.sm\:grow-0.w-full > salla-add-product-button > salla-button > button {
    color: var(--2) !important;
    background-color: var(--3);
}

section.s-block.s-block--fixed-banner.wide-placeholder .container {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
}

.s-block {
    margin-top: 0rem;
}

section.s-block.s-block--fixed-banner.wide-placeholder .container {
    max-width: 100% ;
}

.s-block--fixed-banner .banner--fixed {
    max-height: unset;
    min-height: unset;
}

.s-block--features+.s-block--features, .s-block--fixed-banner+.s-block--fixed-banner, .s-block--banners+.s-block--banners {
    margin-top: 0;
}

.itme-categories .itme-cat-entry.slide--cat-entry {
    max-height: 122px;
}

.s-block__title {
    margin-bottom: 3rem;
}

.s-block--categories .swiper {
    padding-top: 0!important;
    padding-bottom: 2px!important;
}

@media (min-width: 768px) {
    body > section:nth-child(4) > div {
    }
}

#main-links-4 > div > div > div.swiper-slide.slide--one-five.itme-categories > a > div.main-links-title.break-all {
    display: none;
}

.banner-entry {
    max-height: 555px;
    min-height: 245px;
}

.product-entry {
    border-radius: 0;
    border-width: 0;
}

.s-modal-body {
    background: #fff;
}

.s-modal-close {
    background: #ffffff;
}

button.undefined.s-button-element.s-button-btn.s-button-solid.s-button-wide.s-button-primary.s-button-loader-center, [type=url], [type=password], [type=number], [type=date], [type=datetime-local], [type=month], [type=search], [type=tel], [type=time], [type=week], [multiple], textarea, select {
    background: #ffffff;
    color: #413f3f;
}

body > salla-modal.s-login-modal.salla-modal.s-modal.s-modal-container.hydrated > div.s-modal-wrapper > div > div.s-modal-header > div {
    content: var(--logo);
    height: 102px;
    /* width: 79px; */
    /* max-height: unset !important; */
    /* position: relative; */
    /* right: -4rem; */
    /* filter: brightness(9.5); */
    font-size: 0;
    border: 0;
    overflow: visible;
    margin: 15px auto 41px;
    padding: 15px;
}

.s-modal-close svg {
    fill: var(--3);
}

.text-red-200 {
    --tw-text-opacity: 1;
    color: var(--1);
}

@media (min-width: 640px) {
    .sm\:border {
        border-width: 0;
    }
}

#app > div.container.page-container > nav > ol > li.whitespace-nowrap > a,span.fix-align.opacity-70 {
    color: #333 !important;
}

span.fix-align.opacity-70 {
    color: var(--5) !important;
}

div#accordionOptions {
    max-height: 2109px !important;
}

:root {
    --color-primary: #dedee0;
    --color-primary-dark: #b7b7b9;
    --color-primary-light: #fefeff;
    --color-primary-reverse: #5e5e60;
    --1: #ab7f5c;
    --1-1: #ab7f5c40;
    --2: #fefeff;
    --3: #0b0042;
    --4: #453526;
    --5: #f9fafb;
    --bghed: url(https://cdn.salla.sa/form-builder/O3A8NmY0VrvKApdIwLdSvInfz5jMPdI4IAW51qXo.jpg);
    --logo: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 285.7 254.19'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23ab7f5c; %7D %3C/style%3E%3C/defs%3E%3Cpolygon class='cls-1' points='266.71 254.19 260.11 242.49 169.61 81.42 138.73 136.36 200.39 239.16 209.42 254.19 53.52 254.19 62.86 237.56 124.98 237.56 75.1 154.39 61.86 177.96 28.68 237 25.62 242.51 19.06 254.19 0 254.19 66.22 136.33 71.85 126.34 142.85 0 152.32 16.82 145.24 29.4 145.34 29.4 84.45 137.76 144.31 237.56 180.12 237.56 126.46 148.15 119.58 136.63 160.48 63.82 161 62.86 169.59 47.6 178.2 62.89 285.7 254.19 266.71 254.19'/%3E%3C/svg%3E");
}

@media (max-width: 700px) {
    #main-links-4 > div.mb-6 {
        margin-bottom: 0.5rem;
    }
}

body.product-index .app-inner.flex.flex-col.min-h-full:after {
    background: linear-gradient(134deg ,transparent -183%,#00000099 83% ,#00000099 200%), var(--bghed)0rem 0rem/100%no-repeat!important;
    height: 58rem;
    content: "";
    background-size: 100% !important;
}

body.product-index .app-inner.flex.flex-col.min-h-full:after {
    height: 51rem;
    position: relative;
    top: -17rem;
    margin: 0 0 -366px;
    background: #000;
    display: block;
    width: 100%;
}

@media (max-width: 700px) {
    body.product-index .app-inner.flex.flex-col.min-h-full:after {
        height: 32rem;
        position: relative;
        top: -9rem;
        margin: 0 0 -218px;
        background-size: 236% !important;
        background-position: -17rem 0rem !important;
    }
}

/* .rtl .fix-align, [dir=rtl] .fix-align,span.fix-align.opacity-70 {
    color: var(--3) !important;
} */
.s-product-card-image {
    background: #fff;
}

.banner-entry h3 {
    background: transparent !important;
    color: #fff !important;
    font-size: 53px !important;
    top: -6rem;
    position: relative;
}

:lang(en) .banner-entry h3 {
    font-size: 36px !important;
}

@media (max-width: 700px) {
    .banner-entry h3 {
        font-size: 14px !important;
        top: 0rem;
    }

    :lang(en) .banner-entry h3 {
        font-size: 11px !important;
    }
}

.banner-entry h3:hover,.banner-entry:hover,.banner-entry a:hover,.banner-entry:hover h3 {
    background: transparent !important;
    color: #fff !important;
}

.s-button-primary-outline {
    fill: var(--3);
    color: var(--3);
}

div.s-product-card-content > div.s-product-card-content-footer > salla-add-product-button > salla-button > button {
    fill: var(--3);
    color: #fff;
    background: var(--3) !important;
    border-radius: 4px;
}

#main-links-4 > div.mb-6.sm\:mb-8 > div > div > div > h2 {
    margin-top: 3rem;
}

[dir=rtl] .rtl\:pl-10,salla-button .s-button-btn,.s-modal-body {
    border-radius: 4px;
}

.s-product-card-content {
    text-align: center;
}

.s-product-card-content-sub {
    justify-content: center;
}

:lang(en) img[src*="https://cdn.salla.sa/form-builder/ITF1L4QTCgZ0Gf3VbguYhmKI5YZNes71FCi1l2Va.jpg"] {
    content: url(https://cdn.salla.sa/form-builder/Nh02JlDz4sk50cbLrFmoUhSGhK0qgFZW7Rm2abQV.jpg);
}

:lang(en) img[src*="https://cdn.salla.sa/form-builder/rzwem1duEizqHHQ8UsVjJUY5l1rrmHddcBLK1eCK.jpg"] {
    content: url(https://cdn.salla.sa/form-builder/K7h8lBoIAAjHqXqPdFeNZ5bnbtkYc5y0CdDgd41m.jpg);
}

:lang(en) img[src*="https://cdn.salla.sa/form-builder/E9b0TZkLT1r7ozYLpcDaDkPQzREDdlncCCfB0Yct.jpg"] {
    content: url(https://cdn.salla.sa/form-builder/TMTftQFI6A40bSVBTPiK5RM9g48pLrFOa0CcHaFs.jpg);
}

:lang(en) img[src*=""] {
    content: url();
}

button.s-button-disabled {
    color: var(--3);
}

.btn--gray {
    background: transparent;
}

button.undefined.s-button-element.s-button-btn.s-button-solid.s-button-wide.s-button-primary.s-button-loader-center {
    background: var(--3);
    color: var(--5);
}

body > div.app-inner.flex.flex-col.min-h-full > header > div.store-header.w-full.top-0.rtl\:left-0.ltr\:right-0.z-10 > div > div > div.left-side > salla-cart-summary > a > p > b,body.product-index .header-components-top.header-top-page .header-btn,body.index a.s-cart-summary-wrapper .s-cart-summary-total,body.index button.header-btn.btn--gray.rounded,#app > div.app-inner.flex.flex-col.min-h-full > header > div.store-header.w-full.top-0.rtl\:left-0.ltr\:right-0.z-10 > div > div > div.left-side > salla-cart-summary > a > p > b {
    display: none !important;
}

@media (max-width: 700px) {
    :lang(ar) .header-above-slider.header-is-light .header-components-top .header-icon-button, :lang(ar) .header-above-slider.header-is-light .header-components-top .s-user-menu-trigger, :lang(ar) .header-above-slider.header-is-light .header-components-top .search-btn {
        position: relative;
        right: 14rem;
        top: 6px;
        background: transparent;
        z-index: 100;
    }

    button.btn--gray.search-btn.w-\[40px\] {
        position: relative;
        right: 0rem;
        top: 0px;
        background: transparent;
        z-index: 100;
    }

    :lang(en) button.btn--gray.search-btn.w-\[40px\] {
        position: relative;
        left: 30rem;
        top: 33px;
        background: transparent;
        z-index: 100;
    }

    :lang(en) button.btn--gray.search-btn.w-\[40px\] {
        position: relative;
        left: 30rem;
        top: 33px;
        background: transparent;
        z-index: 100;
    }

    :lang(en) body:not(.index) button.btn--gray.search-btn.w-\[40px\] {
        position: relative;
        left: 20rem;
        top: 9px;
        background: transparent;
        z-index: 100;
    }

    body > div.app-inner.flex.flex-col.min-h-full > header > div.header-components-top.header-top-page > div > a {
        position: relative;
        top: 0px;
        background: transparent;
        z-index: 100;
        right: 281px;
    }
 body.page-single > div.app-inner.flex.flex-col.min-h-full > header > div.header-components-top.header-top-page > div > a {
        
    }


    

    :lang(en) body > div.app-inner.flex.flex-col.min-h-full > header > div.header-components-top.header-top-page > div > a {
        position: relative;
        top: 35px;
        background: transparent;
        z-index: 100;
        right: -45px;
    }

    :lang(en) body:not(.index) > div.app-inner.flex.flex-col.min-h-full > header > div.header-components-top.header-top-page > div > a {
        position: relative;
        top: 7px;
        background: transparent;
        z-index: 100;
        right: 47px;
    }

    :lang(ar) .header-above-slider.header-is-light .header-components-top .search-btn {
        position: relative;
        right: -3rem;
        top: 6px;
        z-index: 100;
    }

    :lang(en) .header-above-slider.header-is-light .header-components-top .header-icon-button, :lang(en) .header-above-slider.header-is-light .header-components-top .s-user-menu-trigger, :lang(en) .header-above-slider.header-is-light .header-components-top .search-btn {
        position: relative;
        top: 10px;
        left: 14rem;
        z-index: 100;
        background: transparent;
    }

    :lang(en) .header-above-slider.header-is-light .header-components-top .search-btn {
        position: relative;
        top: 10px;
        left: -2.5rem;
        z-index: 100;
    }
}

@media (max-width: 700px) {
    .s-block--default-home-slider .swiper-slide {
        height: 58rem;
        align-items: center;
        background-position: -33rem 1rem;
    }
}
