/*body { display: none; } body.show-content { display: block; } body.hide-content { display: none; }*/link[href*=".css"] {
    display: none !important;
}

 
.s-slider-wrapper,img.lazy.loaded {display: none !important;}
