/* develope By Package +201002241591  3lwaaa@gmail.com - https://wa.me/201002241591 */

body > div.app-inner.flex.flex-col.min-h-full.bg-storeBG > div.animated-text.animated-text--1 > div > ul > li a:before {
    
    display: none !important;
}


body > div.app-inner.flex.flex-col.min-h-full.bg-storeBG > div.animated-text.animated-text--1 > div > ul > li a {
    font-size: 0;
}

body > div.app-inner.flex.flex-col.min-h-full.bg-storeBG > div.animated-text.animated-text--1 > div > ul > li a {
    font-size: 0;
}

body > div.app-inner.flex.flex-col.min-h-full.bg-storeBG > div.animated-text.animated-text--1 > div > ul > li a:before {
    content: '';
    background: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 212.55 22.4'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23259bd6; %7D .cls-2 %7B fill: %2327292d; %7D .cls-3 %7B fill: none; %7D .cls-4 %7B fill: %23f8a600; %7D .cls-4, .cls-5 %7B fill-rule: evenodd; %7D .cls-6 %7B fill: %2384b740; %7D .cls-5 %7B fill: %23005198; %7D .cls-7 %7B fill: %23292929; %7D %3C/style%3E%3C/defs%3E%3Cg%3E%3Cg%3E%3Cpath d='M182.06,9.13c-.11,0-.28.12-.34.23-.18.35-.32.72-.49,1.07-.09.19-.05.3.08.45.36.4.73.8,1.03,1.24.36.53.31,1.1-.15,1.55-.34.34-.75.64-1.18.85-.63.3-1.31.49-1.96.74-.09.04-.23.15-.24.23-.04.24.1.31.19.35.75.33,1.51.63,2.3.95.25-.38.51-.74.74-1.12,1.21-2.04,1.48-4.13.36-6.3-.06-.11-.22-.24-.34-.24h0Z'/%3E%3Cpath d='M208.94,6.49l-.03-.03c-.36-.36-.95-.36-1.31,0s-.36.95,0,1.31l.03.03c.52.52,1.11.2,1.31,0,.36-.36.36-.95,0-1.31Z'/%3E%3Cpath d='M205.1,6.53c-.09.09-.17.2-.21.32l1.4,1.22c.07-.04.14-.09.2-.15l.03-.03c.55-.55.21-1.17,0-1.39-.38-.38-1-.38-1.39,0l-.03.03h0Z'/%3E%3Cpath d='M184.25,5.9s-.35.72-.5,1.09c-.06.15-.11.32-.1.48.06,1.28.11,2.56.2,3.84.1,1.3.74,2.25,1.94,2.8.84.38,1.74.56,2.65.61,1.15.07,2.31.1,3.46.11,1.92.02,3.82-.12,5.7-.5.58-.07,2.39-.54,2.7-.71.35-.19.33-.15.69-.06.86.22,3.14.17,3.8-.03.44-.13.84-.23.94-.54.4.64.63.96,1.32.9s.75-.1,1.43-.25c.57-.13.99-.49,1.16-1.05.11-.34.09-.51.12-.76.11-.91-.04-1.77-.56-2.53-.08-.12-.14-.24-.44-.22-.09,0-.23.14-.29.25-.17.34-.3.7-.47,1.04-.1.19-.05.33.1.47.32.29.61.58,1.01.99-.76.08-1.02.16-1.68.21-.66.05-1.86.04-2.2-.55-.25-.44-.41-.73-.81-1.03-.67-.49-1.75-.49-2.65-.03-.41.21-.84.62-.91,1.11-.03.22-.11.4-.35.46-3.74.96-8.13,1.41-11.81,1-.94-.11-1.87-.26-2.76-.61-.79-.31-1.15-.86-1.13-1.71.03-1.58,0-3.15,0-4.73,0,0,.03-.31-.29-.33-.12-.01-.29.29-.29.29h.02ZM204.49,12.45l-3.06-.04s.23-1.21,1.47-1.26c1.79-.07,1.59,1.29,1.59,1.29h0Z'/%3E%3Cpath d='M180.06,6.05s.03-.31-.29-.33c-.12-.01-.29.29-.29.29,0,0-.35.72-.5,1.09-.06.15-.11.32-.1.48.03.63.06,1.26.09,1.89h0c.04.89.08,1.79.13,2.68.03.55.06,1.1.08,1.66h.51c.12-.62.34-1.24.36-1.86.02-.83.02-4.76,0-5.89h0Z'/%3E%3C/g%3E%3Cg%3E%3Cpath class='cls-5' d='M130.14,18.37l2.45-14.31h3.91l-2.45,14.31h-3.91Z'/%3E%3Cpath class='cls-5' d='M148.2,4.42c-.77-.27-1.99-.59-3.49-.59-3.87,0-6.57,1.94-6.59,4.72-.02,2.05,1.93,3.2,3.41,3.89,1.52.71,2.03,1.14,2.01,1.78,0,.97-1.21,1.4-2.33,1.4-1.56,0-2.39-.22-3.67-.75l-.51-.24-.53,3.2c.91.42,2.59.75,4.34.77,4.1,0,6.75-1.91,6.79-4.89.02-1.62-1.03-2.86-3.28-3.89-1.36-.65-2.19-1.08-2.19-1.75,0-.61.71-1.25,2.23-1.25,1.28-.02,2.21.26,2.92.55l.36.16.53-3.1h0Z'/%3E%3Cpath class='cls-5' d='M158.2,4.08h-3.02c-.92,0-1.64.26-2.05,1.18l-5.78,13.12h4.09s.67-1.78.83-2.15h4.99c.12.5.48,2.15.48,2.15h3.61l-3.14-14.31h0ZM153.38,13.3c.32-.81,1.56-3.99,1.56-3.99-.04.04.32-.83.51-1.36l.26,1.22s.75,3.41.91,4.13h-3.24,0Z'/%3E%3Cpath class='cls-5' d='M126.88,4.08l-3.83,9.75-.39-1.98c-.71-2.29-2.94-4.75-5.41-6l3.49,12.51h4.12l6.14-14.29h-4.12Z'/%3E%3Cpath class='cls-4' d='M119.52,4.06h-6.29l-.04.32c4.87,1.18,8.13,4.04,9.47,7.48l-1.38-6.57c-.24-.91-.91-1.19-1.76-1.22h0Z'/%3E%3C/g%3E%3Cg%3E%3Crect class='cls-6' x='58.75' y='12.3' width='18.17' height='6.05'/%3E%3Crect class='cls-1' x='58.75' y='4.04' width='18.17' height='6.06'/%3E%3Cpath class='cls-2' d='M95.24,11.43l-.15.02v2.12l-.13-.04h-.04c-.14-.05-.48-.15-.8-.15-1.77,0-2.14,1.34-2.14,2.46,0,1.54.86,2.42,2.37,2.42.64,0,1.11-.06,1.58-.22.44-.14.6-.34.6-.77v-6.07c-.42.07-.86.15-1.28.22h-.01ZM95.09,17.13l-.08.02c-.28.05-.38.07-.59.07-.48,0-1.04-.24-1.04-1.39,0-.59.1-1.37.98-1.37h0c.15.01.32.02.65.12l.07.02v2.52h0Z'/%3E%3Cpath class='cls-2' d='M99.73,13.35c-.55,0-1.11.1-1.8.31l-.46.14.15,1.02.44-.14c.46-.15,1.04-.25,1.47-.25.19,0,.79,0,.79.64v.28h-.83c-1.5,0-2.2.48-2.2,1.51,0,.88.64,1.41,1.72,1.41.34,0,.8-.06,1.2-.16h.04l.13.02c.42.07.86.15,1.28.23v-3.37c0-1.09-.66-1.64-1.95-1.64h.02ZM100.35,17.17l-.08.02-.27.07c-.25.06-.48.1-.65.1-.42,0-.67-.2-.67-.56,0-.23.11-.61.78-.61h.88v.97h.01Z'/%3E%3Cpath class='cls-2' d='M89.25,13.35c-.55,0-1.11.1-1.8.31l-.46.14.15,1.02.44-.14c.46-.15,1.04-.25,1.47-.25.19,0,.79,0,.79.64v.28h-.83c-1.5,0-2.2.48-2.2,1.51,0,.88.64,1.41,1.73,1.41.34,0,.8-.06,1.2-.16h.04l.13.02c.43.07.86.15,1.28.24v-3.37c0-1.1-.65-1.65-1.95-1.65h.01ZM89.86,17.17l-.07.02-.27.07c-.25.06-.47.1-.65.1-.42,0-.66-.2-.66-.56,0-.23.1-.61.78-.61h.88v.97h0Z'/%3E%3Cpath class='cls-2' d='M84.19,13.36c-.69,0-1.25.23-1.46.32l-.05.03-.05-.04c-.29-.21-.72-.32-1.31-.32-.52,0-1.01.08-1.55.23-.46.14-.64.36-.64.78v3.85h1.44v-3.56l.07-.02c.29-.1.46-.11.63-.11.42,0,.63.22.63.65v3.04h1.41v-3.1c0-.18-.04-.29-.04-.31l-.05-.09.1-.04c.22-.1.45-.15.7-.15.29,0,.63.11.63.65v3.04h1.41v-3.18c0-1.13-.6-1.67-1.86-1.67h0Z'/%3E%3Cpath class='cls-2' d='M99.29,4.05h-.04c-.83,0-1.68.23-1.98.67-.16.22-.25.49-.26.8v2.14c0,.18-.04.25-.04.27l-.05.09h-2.6v-1.49h0c-.03-1.57-.96-2.43-2.3-2.43h-1.31c-.06.38-.1.65-.15,1.03h1.31c.68,0,1.04.59,1.04,1.48v1.5l-.09-.05s-.13-.04-.31-.04h-2.25c-.04.29-.1.66-.16,1.03h6.93c.24-.05.51-.09.75-.13.35.17,1.01.26,1.45.26,1.51,0,2.48-1.01,2.48-2.56s-.95-2.55-2.42-2.58h0ZM99.29,7.99c-.21,0-.56-.02-.84-.07l-.08-.02v-2.08c0-.17-.03-.28-.04-.3l-.04-.08.09-.04s.04-.02.07-.03h.01s.07-.03.1-.04c.01,0,.03-.01.04-.01.32-.09.61-.07.74-.09h0c.88,0,.98.78.98,1.37,0,1.14-.57,1.39-1.04,1.39h.01Z'/%3E%3Cpath class='cls-2' d='M87.13,9.68h.06c1.51,0,2.21-.5,2.21-1.72,0-.88-.64-1.58-1.72-1.58h-1.39c-.42,0-.66-.24-.66-.64,0-.27.1-.6.78-.6h3.03c.06-.39.1-.64.16-1.04h-3.15c-1.47,0-2.21.62-2.21,1.64s.64,1.54,1.72,1.54h1.39c.42,0,.66.33.66.67,0,.23-.1.7-.78.7h-5.48c-.69-.01-1.17-.4-1.17-1.3v-.62c0-.94.37-1.52,1.17-1.52h1.32c.06-.4.1-.65.15-1.03h-1.8c-1.34,0-2.27.9-2.3,2.47h0v.7c.03,1.57.96,2.32,2.3,2.32h5.71,0Z'/%3E%3C/g%3E%3Cpath class='cls-7' d='M13.23,9.56c-.02-1.88,1.59-2.8,1.67-2.85-.66-.9-1.71-1.44-2.82-1.48-1.2-.12-2.35.68-2.95.68s-1.55-.66-2.54-.64c-1.32.02-2.53.74-3.19,1.87-1.36,2.29-.35,5.67.97,7.52.64.9,1.42,1.92,2.43,1.88.97-.02,1.34-.6,2.52-.6s1.5.6,2.55.58,1.71-.91,2.35-1.82c.47-.64.82-1.36,1.07-2.12-.02,0-2.04-.76-2.06-3.01h0ZM12.08,1.64c-.88.08-1.69.48-2.27,1.14-.5.57-.93,1.46-.81,2.31.9,0,1.73-.39,2.29-1.07.59-.66.88-1.52.8-2.39h0ZM26.38,4.96c-.17-.43-.45-.82-.78-1.15-.43-.39-.94-.66-1.48-.83-.7-.22-1.42-.31-2.14-.29-.53,0-1.07.02-1.6.08-.45.04-.89.1-1.32.17l-.02,13.43h.97v-5.79c.54.09,1.09.13,1.63.13.66,0,1.34-.1,1.98-.27.59-.15,1.11-.43,1.57-.8.45-.35.8-.81,1.05-1.32.27-.57.41-1.2.39-1.83.02-.53-.08-1.05-.27-1.53h.02ZM24.63,9.02c-.68.58-1.63.85-2.88.85-.33,0-.64-.02-.93-.04-.27-.02-.53-.06-.78-.13V3.64c.25-.06.5-.1.76-.11.37-.04.76-.06,1.13-.06.5,0,1.03.06,1.52.2.43.12.81.31,1.16.57.33.25.58.58.76.95.2.43.27.9.27,1.36.02,1.11-.33,1.9-1.01,2.49v-.02ZM34.36,15.22c-.02-.39-.02-.77-.02-1.16l.02-3.81c0-.44-.04-.89-.14-1.34-.08-.45-.25-.85-.5-1.22-.25-.39-.6-.68-1.01-.89-.53-.25-1.11-.37-1.69-.35-.49,0-.99.06-1.46.19-.48.14-.95.35-1.36.64l.31.7c.7-.47,1.53-.74,2.39-.74.46-.02.93.1,1.34.31.31.17.57.43.74.74.18.29.29.6.33.93.06.29.08.59.08.87v.27c-1.98-.02-3.46.27-4.45.9-.95.54-1.52,1.55-1.48,2.64,0,.33.06.66.18.97s.29.6.53.85c.25.25.56.46.89.6.41.15.84.23,1.27.23.37,0,.72-.04,1.07-.14.31-.08.6-.21.87-.37.23-.14.47-.31.66-.5.17-.17.33-.35.47-.57h.04l.14,1.36h.91c-.06-.37-.1-.76-.11-1.13l-.02.02ZM33.37,13.27c0,.2-.04.39-.1.58-.1.25-.21.49-.37.7-.33.5-.84.87-1.4,1.05-.35.12-.7.15-1.07.15-.48,0-.97-.17-1.34-.48-.41-.33-.6-.83-.6-1.52-.02-.5.13-.99.46-1.38.33-.35.74-.62,1.2-.8.51-.2,1.03-.31,1.57-.35.55-.06,1.09-.08,1.63-.06v2.1h.02ZM42.6,6.67l-2.35,6.23c-.15.39-.29.78-.41,1.15-.12.37-.23.7-.33.99h-.04c-.1-.31-.21-.64-.33-1.01-.12-.37-.25-.72-.39-1.07l-2.52-6.28h-1.03l3.57,8.96c.06.13.1.27.12.43-.02.15-.06.29-.12.43-.21.5-.46.99-.79,1.44-.26.33-.53.66-.82.95-.27.25-.56.48-.9.68-.25.18-.52.31-.81.43l.33.78c.1-.04.31-.14.64-.29.39-.2.76-.45,1.07-.74.33-.29.64-.62.9-.99.29-.43.56-.85.8-1.3.29-.54.54-1.09.77-1.65.26-.6.52-1.28.82-2.04l2.86-7.09h-1.04Z'/%3E%3C/g%3E%3Crect class='cls-3' width='212.55' height='22.4'/%3E%3C/svg%3E");
    background-repeat-y: no-repeat;
    background-position-x: 0;
    background-size: contain;
    height: 63px;
    display: block;
    width: 59rem;
    background-color: #f5f5f5;
    background-position: center;
    margin-bottom: 16px;
    background-repeat: repeat-x;
 }

@media (max-width: 767px) {
    body > div.app-inner.flex.flex-col.min-h-full.bg-storeBG > div.animated-text.animated-text--1 > div > ul > li a:before {
        width: 19rem;
    }
}

.s-block--enhanced-features__item p {
    display: none;
}

.text-primary-reverse {
    color: #ffffff;
}

@media (min-width: 768px) {
    #about-4 .flex.flex-col-reverse.md\:flex-row.items-center.gap-5.md\:gap-10 .w-full.md\:w-5\/12 {
        order: 1;
    }

    #about-4 .flex.flex-col-reverse.md\:flex-row.items-center.gap-5.md\:gap-10 .md\:w-7\/12 {
        order: 2;
    }

    .s-block--full-bg+footer, .s-block--full-bg+.s-block--full-bg, .s-block--full-bg:first-of-type {
        margin-top: 0;
        padding: 0;
    }
}

@media (min-width: 768px) {
    section.s-block.s-block--about.s-block--full-bg .md\:w-5\/12 {
        width: 62.666667%;
    }
}

.animated-text.animated-text--1 {
    height: 34px;
    margin: -44px 0 0 0;
    background: transparent !important;
}

@media (max-width: 768px) {
    section.s-block.s-block--about.s-block--full-bg .w-full.md\:w-7\/12 {
        text-align: center;
    }

    a.btn.group.bg-primary.text-primary-reverse.h-12.\!px-6.mt-8.gap-2.\!rounded-none {
        margin: 0 0 33px 0;
    }

    .advanced-slider__caption__inner--right {
        position: relative;
        top: 15rem;
    }

    .advanced-slider .swiper .swiper-slide-active h2 {
        font-size: 1.9rem;
    }

    .animated-text.animated-text--1 {
        height: 34px;
        margin: -44px 0 12px 0;
        background: transparent !important;
    }

    .animated-text.animated-text--1 .animated-text__inner {
        height: 98px;
    }

    .s-block--full-bg+footer, .s-block--full-bg+.s-block--full-bg, .s-block--full-bg:first-of-type {
        margin-top: 0;
        padding: 0;
    }
}
